# 1) Datasets

Leemos el dataset

In [156]:
import pandas as pd
import numpy as np

In [157]:
df = pd.read_csv('sumario.csv')

In [158]:
df.head()

,#ID,DOCUMENTO,CUIL,APELLIDO,NOMBRE,SEXO,FECHA_NAC,DIFUNTO,PADRON_DOMICILIO,PADRON_LOCALIDAD,...,TELEFONO_FIJO1,TELEFONO_FIJO1_OPERADOR,TELEFONO_FIJO2,TELEFONO_FIJO2_OPERADOR,TELEFONO_FIJO3,TELEFONO_FIJO3_OPERADOR,TELEFONO_FIJO4,TELEFONO_FIJO4_OPERADOR,EMAIL,EMAIL2
0,DNI 10039621,10039621,27100396217,CANO,ANA MARIA,F,30/11/1951,SI,LA PAMPA 1721 3,MAR DEL PLATA,...,2.234747e+09,Telefonica Argentina,NaN,NaN,NaN,NaN,NaN,NaN,adriandario74@HOTMAIL.COM,cristiantejedo-ks@hotmail.com
1,DNI 10046071,10046071,27100460713,D'ANGELO,ROSA HILDA,F,19/02/1951,NO,PUEYRREDON 1161,OBSERVATORIO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dieperez@yahoo.com.ar,NaN
2,DNI 10083637,10083637,27100836373,ROMERO,MARTA ALICIA,F,18/10/1951,NO,SARMIENTO 3940,ALMAGRO,...,1.149839e+09,Telefonica Argentina,NaN,NaN,NaN,NaN,NaN,NaN,romeromartac@yahoo.com,csofiacarla@yahoo.com
3,DNI 10085866,10085866,20100858666,CHAVEZ,JUAN CRISOTOMO,M,27/01/1952,SI,CUYO 526,LLAVALLOL,...,1.142934e+09,Telefonica Argentina,NaN,NaN,NaN,NaN,NaN,NaN,Analia_vchavez@hotmail.com,NaN
4,DNI 10117117,10117117,20101171176,FILIPPAZZO,ERNESTO ROBERTO,M,02/01/1952,NO,DIAG.LACROZE 1783,BILLINGHURST,...,1.147346e+09,Telecom Argentina,1.147347e+09,Telecom Argentina,NaN,NaN,NaN,NaN,os-estudio@hotmail.com,yamisanlorenzo777@hotmail.com

In [159]:
df.head()

,#ID,DOCUMENTO,CUIL,APELLIDO,NOMBRE,SEXO,FECHA_NAC,DIFUNTO,PADRON_DOMICILIO,PADRON_LOCALIDAD,...,TELEFONO_FIJO1,TELEFONO_FIJO1_OPERADOR,TELEFONO_FIJO2,TELEFONO_FIJO2_OPERADOR,TELEFONO_FIJO3,TELEFONO_FIJO3_OPERADOR,TELEFONO_FIJO4,TELEFONO_FIJO4_OPERADOR,EMAIL,EMAIL2
0,DNI 10039621,10039621,27100396217,CANO,ANA MARIA,F,30/11/1951,SI,LA PAMPA 1721 3,MAR DEL PLATA,...,2.234747e+09,Telefonica Argentina,NaN,NaN,NaN,NaN,NaN,NaN,adriandario74@HOTMAIL.COM,cristiantejedo-ks@hotmail.com
1,DNI 10046071,10046071,27100460713,D'ANGELO,ROSA HILDA,F,19/02/1951,NO,PUEYRREDON 1161,OBSERVATORIO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dieperez@yahoo.com.ar,NaN
2,DNI 10083637,10083637,27100836373,ROMERO,MARTA ALICIA,F,18/10/1951,NO,SARMIENTO 3940,ALMAGRO,...,1.149839e+09,Telefonica Argentina,NaN,NaN,NaN,NaN,NaN,NaN,romeromartac@yahoo.com,csofiacarla@yahoo.com
3,DNI 10085866,10085866,20100858666,CHAVEZ,JUAN CRISOTOMO,M,27/01/1952,SI,CUYO 526,LLAVALLOL,...,1.142934e+09,Telefonica Argentina,NaN,NaN,NaN,NaN,NaN,NaN,Analia_vchavez@hotmail.com,NaN
4,DNI 10117117,10117117,20101171176,FILIPPAZZO,ERNESTO ROBERTO,M,02/01/1952,NO,DIAG.LACROZE 1783,BILLINGHURST,...,1.147346e+09,Telecom Argentina,1.147347e+09,Telecom Argentina,NaN,NaN,NaN,NaN,os-estudio@hotmail.com,yamisanlorenzo777@hotmail.com

In [160]:
df.shape

(21775, 33)

## 1.2) Data Cleaning: Datasets

Vamos a dropear aquellas columnas y filas que no tengan ningÃºn valor (es decir, que sean todos NaNs)

In [161]:
df = df.dropna(axis=0, how='all')

In [162]:
#df = df.dropna(axis=1, how='all')

In [163]:
df.shape

(21775, 33)

Ahora todas las columnas tienen al menos 1 dato.

# 2) Mails

In [164]:
df.head(1)

,#ID,DOCUMENTO,CUIL,APELLIDO,NOMBRE,SEXO,FECHA_NAC,DIFUNTO,PADRON_DOMICILIO,PADRON_LOCALIDAD,...,TELEFONO_FIJO1,TELEFONO_FIJO1_OPERADOR,TELEFONO_FIJO2,TELEFONO_FIJO2_OPERADOR,TELEFONO_FIJO3,TELEFONO_FIJO3_OPERADOR,TELEFONO_FIJO4,TELEFONO_FIJO4_OPERADOR,EMAIL,EMAIL2
0,DNI 10039621,10039621,27100396217,CANO,ANA MARIA,F,30/11/1951,SI,LA PAMPA 1721 3,MAR DEL PLATA,...,2.234747e+09,Telefonica Argentina,NaN,NaN,NaN,NaN,NaN,NaN,adriandario74@HOTMAIL.COM,cristiantejedo-ks@hotmail.com

Vamos a obtener los mails de las columnas donde pueden aparecer, que son:

- Mail 1, 2 y 3.
- Email Empleador.
- Contactacion Opcional (Familiar) - Email.

In [165]:
df_reduced = df[["DOCUMENTO", "CUIL", "APELLIDO", "NOMBRE", "EMAIL","EMAIL2"]]
df_reduced.head()

,DOCUMENTO,CUIL,APELLIDO,NOMBRE,EMAIL,EMAIL2
0,10039621,27100396217,CANO,ANA MARIA,adriandario74@HOTMAIL.COM,cristiantejedo-ks@hotmail.com
1,10046071,27100460713,D'ANGELO,ROSA HILDA,dieperez@yahoo.com.ar,NaN
2,10083637,27100836373,ROMERO,MARTA ALICIA,romeromartac@yahoo.com,csofiacarla@yahoo.com
3,10085866,20100858666,CHAVEZ,JUAN CRISOTOMO,Analia_vchavez@hotmail.com,NaN
4,10117117,20101171176,FILIPPAZZO,ERNESTO ROBERTO,os-estudio@hotmail.com,yamisanlorenzo777@hotmail.com

In [166]:
df_reduced = df_reduced.rename(columns={"CUIL": "CUIT_CUIL", 'DOCUMENTO': 'NRO_DOC'})

In [167]:
df_reduced.head()

,NRO_DOC,CUIT_CUIL,APELLIDO,NOMBRE,EMAIL,EMAIL2
0,10039621,27100396217,CANO,ANA MARIA,adriandario74@HOTMAIL.COM,cristiantejedo-ks@hotmail.com
1,10046071,27100460713,D'ANGELO,ROSA HILDA,dieperez@yahoo.com.ar,NaN
2,10083637,27100836373,ROMERO,MARTA ALICIA,romeromartac@yahoo.com,csofiacarla@yahoo.com
3,10085866,20100858666,CHAVEZ,JUAN CRISOTOMO,Analia_vchavez@hotmail.com,NaN
4,10117117,20101171176,FILIPPAZZO,ERNESTO ROBERTO,os-estudio@hotmail.com,yamisanlorenzo777@hotmail.com

# 3) ConcatenaciÃ³n de Mails

Como PyP envÃ­a un mail por celda, tengo que concatenar las columnas Mail_propio y Mail_ajeno en una lista dentro de una nueva columna denominada "Dato"
y luego se ponen todos los mails en minÃºscula

In [168]:
df_melt = pd.melt(df_reduced, id_vars=['CUIT_CUIL', 'NRO_DOC', 'APELLIDO','NOMBRE'], 
                 value_vars=['EMAIL','EMAIL2'],value_name='Dato')
df_melt["Dato"] = df_melt["Dato"].str.lower()

In [169]:
df_melt.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato
0,27100396217,10039621,CANO,ANA MARIA,EMAIL,adriandario74@hotmail.com
1,27100460713,10046071,D'ANGELO,ROSA HILDA,EMAIL,dieperez@yahoo.com.ar
2,27100836373,10083637,ROMERO,MARTA ALICIA,EMAIL,romeromartac@yahoo.com
3,20100858666,10085866,CHAVEZ,JUAN CRISOTOMO,EMAIL,analia_vchavez@hotmail.com
4,20101171176,10117117,FILIPPAZZO,ERNESTO ROBERTO,EMAIL,os-estudio@hotmail.com

# 4) Drop NaNs

Dropeamos aquellas filas que tengan NaN en la columna Dato, ya que no nos aporta nada:

In [170]:
df_melt = df_melt.dropna(subset=['Dato'])

In [171]:
df_melt.shape

(18710, 6)

In [172]:
df_melt.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato
0,27100396217,10039621,CANO,ANA MARIA,EMAIL,adriandario74@hotmail.com
1,27100460713,10046071,D'ANGELO,ROSA HILDA,EMAIL,dieperez@yahoo.com.ar
2,27100836373,10083637,ROMERO,MARTA ALICIA,EMAIL,romeromartac@yahoo.com
3,20100858666,10085866,CHAVEZ,JUAN CRISOTOMO,EMAIL,analia_vchavez@hotmail.com
4,20101171176,10117117,FILIPPAZZO,ERNESTO ROBERTO,EMAIL,os-estudio@hotmail.com

# 5) Propietario del Dato

En funciÃ³n de la columna "variable" creamos una nueva columna PROPIETARIO_DATO

In [173]:
df_melt.loc[(df_melt['variable'] == 'EMAIL') , 'PROPIETARIO_DATO'] = 'Propio'

In [174]:
df_melt.loc[(df_melt['variable'] == 'EMAIL2') , 'PROPIETARIO_DATO'] = 'Propio'

In [175]:
#df_melt.loc[(df_melt['variable'] == 'Mail 3') , 'PROPIETARIO_DATO'] = 'Propio'

In [176]:
#df_melt.loc[(df_melt['variable'] == 'Mail_ajeno') , 'PROPIETARIO_DATO'] = 'Ajeno_familiar'

In [177]:
#df_melt.loc[(df_melt['variable'] == 'Mail_empleador') , 'PROPIETARIO_DATO'] = 'Ajeno_empleador'

In [178]:
#df_melt = df_melt.drop(columns=['variable'])

In [179]:
df_melt.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO
0,27100396217,10039621,CANO,ANA MARIA,EMAIL,adriandario74@hotmail.com,Propio
1,27100460713,10046071,D'ANGELO,ROSA HILDA,EMAIL,dieperez@yahoo.com.ar,Propio
2,27100836373,10083637,ROMERO,MARTA ALICIA,EMAIL,romeromartac@yahoo.com,Propio
3,20100858666,10085866,CHAVEZ,JUAN CRISOTOMO,EMAIL,analia_vchavez@hotmail.com,Propio
4,20101171176,10117117,FILIPPAZZO,ERNESTO ROBERTO,EMAIL,os-estudio@hotmail.com,Propio

# 6) Columna Proveedor

Agregamos la columna PROVEEDOR_DATO, con el cÃ³digo correspondiente.

In [180]:
cod_pyp = 'ZERT'

In [181]:
df_clean = df_melt.assign(PROVEEDOR_DATO=cod_pyp)

In [182]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO
0,27100396217,10039621,CANO,ANA MARIA,EMAIL,adriandario74@hotmail.com,Propio,ZERT
1,27100460713,10046071,D'ANGELO,ROSA HILDA,EMAIL,dieperez@yahoo.com.ar,Propio,ZERT
2,27100836373,10083637,ROMERO,MARTA ALICIA,EMAIL,romeromartac@yahoo.com,Propio,ZERT
3,20100858666,10085866,CHAVEZ,JUAN CRISOTOMO,EMAIL,analia_vchavez@hotmail.com,Propio,ZERT
4,20101171176,10117117,FILIPPAZZO,ERNESTO ROBERTO,EMAIL,os-estudio@hotmail.com,Propio,ZERT

# 7) Columna Tipo

Agregamos la columna TIPO, con el cÃ³digo correspondiente

In [183]:
tipo_dato = 'EMAIL'

In [184]:
df_clean = df_clean.assign(TIPO=tipo_dato)

In [185]:
df_clean.head ()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO
0,27100396217,10039621,CANO,ANA MARIA,EMAIL,adriandario74@hotmail.com,Propio,ZERT,EMAIL
1,27100460713,10046071,D'ANGELO,ROSA HILDA,EMAIL,dieperez@yahoo.com.ar,Propio,ZERT,EMAIL
2,27100836373,10083637,ROMERO,MARTA ALICIA,EMAIL,romeromartac@yahoo.com,Propio,ZERT,EMAIL
3,20100858666,10085866,CHAVEZ,JUAN CRISOTOMO,EMAIL,analia_vchavez@hotmail.com,Propio,ZERT,EMAIL
4,20101171176,10117117,FILIPPAZZO,ERNESTO ROBERTO,EMAIL,os-estudio@hotmail.com,Propio,ZERT,EMAIL

# 8) Columna Subtipo

Agregamos la columna SUBTIPO, que va a contener informaciÃ³n sobre el tipo de mail que se encuentra en el campo Dato.

- Personal: @yahoo, @gmail, @hotmail, @outlook, @live.
- Laboral: el resto.

Verificamos que la string contenga esos casos:

In [186]:
df_clean.loc[(df_clean['Dato'].str.contains('@yahoo', na=False)) | 
             (df_clean['Dato'].str.contains('@gmail', na=False)) |
             (df_clean['Dato'].str.contains('@outlook', na=False)) |
             (df_clean['Dato'].str.contains('@hotmail', na=False)) |
             (df_clean['Dato'].str.contains('@live', na=False)) , 'SUBTIPO'] = 'PERSONAL'

Para los mails laborales, evaluamos los casos contrarios:

In [187]:
df_clean.loc[~(df_clean['Dato'].str.contains('@yahoo', na=False)) & 
             ~(df_clean['Dato'].str.contains('@gmail', na=False)) &
             ~(df_clean['Dato'].str.contains('@outlook', na=False)) &
             ~(df_clean['Dato'].str.contains('@hotmail', na=False)) &
             ~(df_clean['Dato'].str.contains('@live', na=False)) , 'SUBTIPO'] = 'LABORAL'

In [188]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO
0,27100396217,10039621,CANO,ANA MARIA,EMAIL,adriandario74@hotmail.com,Propio,ZERT,EMAIL,PERSONAL
1,27100460713,10046071,D'ANGELO,ROSA HILDA,EMAIL,dieperez@yahoo.com.ar,Propio,ZERT,EMAIL,PERSONAL
2,27100836373,10083637,ROMERO,MARTA ALICIA,EMAIL,romeromartac@yahoo.com,Propio,ZERT,EMAIL,PERSONAL
3,20100858666,10085866,CHAVEZ,JUAN CRISOTOMO,EMAIL,analia_vchavez@hotmail.com,Propio,ZERT,EMAIL,PERSONAL
4,20101171176,10117117,FILIPPAZZO,ERNESTO ROBERTO,EMAIL,os-estudio@hotmail.com,Propio,ZERT,EMAIL,PERSONAL

# 9) Columna Score

El campo **Score** se construye en funciÃ³n de los datos obtenidos:

- Nivel 4: Dato que otorga la propia persona.
- Nivel 3: Dato que otorgan los clientes (los bancos).
- Nivel 2: Dato que otorga un proveedor externo (Informes Digitales en este caso), con subtipo "Personal".
- Nivel 1: Dato que otorga un proveedor externo, pero tiene como subtipo "Laboral".

In [189]:
# Nivel 1: Laboral, proveedor externo.

df_clean.loc[(df_clean['SUBTIPO'] == 'LABORAL') , 'SCORE_DATO'] = 1

In [190]:
# Nivel 2: Personal, proveedor externo.

df_clean.loc[(df_clean['SUBTIPO'] == 'PERSONAL') , 'SCORE_DATO'] = 2

In [191]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO
0,27100396217,10039621,CANO,ANA MARIA,EMAIL,adriandario74@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0
1,27100460713,10046071,D'ANGELO,ROSA HILDA,EMAIL,dieperez@yahoo.com.ar,Propio,ZERT,EMAIL,PERSONAL,2.0
2,27100836373,10083637,ROMERO,MARTA ALICIA,EMAIL,romeromartac@yahoo.com,Propio,ZERT,EMAIL,PERSONAL,2.0
3,20100858666,10085866,CHAVEZ,JUAN CRISOTOMO,EMAIL,analia_vchavez@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0
4,20101171176,10117117,FILIPPAZZO,ERNESTO ROBERTO,EMAIL,os-estudio@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0

# 10) Columna Fecha

Para el campo FECHA_INGRESO_DATO, usamos la fecha en la que se hace la inserciÃ³n de los datos:

In [192]:
fecha_ingreso = pd.to_datetime('today')

In [193]:
df_clean = df_clean.assign(FECHA_INGRESO_DATO=fecha_ingreso)

In [194]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO
0,27100396217,10039621,CANO,ANA MARIA,EMAIL,adriandario74@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-27 11:03:33.798355
1,27100460713,10046071,D'ANGELO,ROSA HILDA,EMAIL,dieperez@yahoo.com.ar,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-27 11:03:33.798355
2,27100836373,10083637,ROMERO,MARTA ALICIA,EMAIL,romeromartac@yahoo.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-27 11:03:33.798355
3,20100858666,10085866,CHAVEZ,JUAN CRISOTOMO,EMAIL,analia_vchavez@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-27 11:03:33.798355
4,20101171176,10117117,FILIPPAZZO,ERNESTO ROBERTO,EMAIL,os-estudio@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-27 11:03:33.798355

# 11) Campos adicionales

Creamos las columnas VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, que en principio van en nulls.

In [195]:
df_clean['VERIFICADO'] = 0

In [196]:
df_clean['FECHA_VERIFICACION'] = np.nan

In [197]:
df_clean['OPERADOR_VERIFICACION'] = np.nan

In [198]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION
0,27100396217,10039621,CANO,ANA MARIA,EMAIL,adriandario74@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-27 11:03:33.798355,0,NaN,NaN
1,27100460713,10046071,D'ANGELO,ROSA HILDA,EMAIL,dieperez@yahoo.com.ar,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-27 11:03:33.798355,0,NaN,NaN
2,27100836373,10083637,ROMERO,MARTA ALICIA,EMAIL,romeromartac@yahoo.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-27 11:03:33.798355,0,NaN,NaN
3,20100858666,10085866,CHAVEZ,JUAN CRISOTOMO,EMAIL,analia_vchavez@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-27 11:03:33.798355,0,NaN,NaN
4,20101171176,10117117,FILIPPAZZO,ERNESTO ROBERTO,EMAIL,os-estudio@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-27 11:03:33.798355,0,NaN,NaN

# 12) ConcatenaciÃ³n con .csv enviado

Vamos a concatenar nuestro dataframe con el dataframe enviado para enriquecer. Para esto, vamos a hacer una limpieza inicial de cÃ³mo se enviaron esos datos. Finalmente, se uniran ambos dataframes por __DNI__.

## 12.1) Dataset

Vamos a analizar y limpiar el dataset enviado para el enriquecimiento:

In [199]:
df_pyp = pd.read_csv('Datos_Enriquecimiento.csv')

In [200]:
df_pyp.shape

(20110, 8)

In [201]:
df_pyp=df_pyp.drop(["DOCUMENTO","TIPO"],axis=1)

df_pyp.head()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO,FILTROA,DATOADIC
0,CI 62933702,"JOSE LUIS,FERNANDEZ FERNANDEZ",BSR_TARDIA,EN GESTION_PORTAL,Campana Extrajud Emp,
1,CUIT30607032978,",MARCOS FERNANDEZ SRL",BSR_TARDIA,EN GESTION_PORTAL,Campana Extrajud Emp,30607032978
2,CUIT30698087648,",ITACUA CONSTRUCCIONES SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30698087648
3,CUIT30703557674,",IONES COMUNICACIONES SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30703557674
4,CUIT30707047085,",PATER SHOW SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30707047085

Creamos una columna que contenga IDMOROSO + DATOADIC segÃºn corresponda

In [202]:
df_pyp.loc[(df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['DATOADIC']

In [203]:
df_pyp.loc[(~df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['IDMOROSO']

In [204]:
#df_pyp ['NRO_DOC'] = df_pyp ['IDMOROSO']

In [205]:
#df_pyp = df_pyp [['IDMOROSO','NOMBRE','IDCLIENTE','NRO_DOC']]
df_pyp = df_pyp [['IDMOROSO','IDCLIENTE','NRO_DOC']]

In [206]:
df_pyp.head()

          IDMOROSO             IDCLIENTE          NRO_DOC
0     CI  62933702  BSR_TARDIA               CI  62933702
1  CUIT30607032978  BSR_TARDIA            CUIT30607032978
2  CUIT30698087648  BSR_TARDIA            CUIT30698087648
3  CUIT30703557674  BSR_TARDIA            CUIT30703557674
4  CUIT30707047085  BSR_TARDIA            CUIT30707047085

In [207]:
df_pyp = df_pyp.dropna(subset=['NRO_DOC'])

## 12.2) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurÃ­dica__ (TO DO)

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos. Esta funciÃ³n debe ejecutarse en primer lugar.
- __DNI Spaces__: Elimina los espacios.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: DecisiÃ³n sobre dejar un cuit o volverlo DNI

In [208]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [209]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [210]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
        
    else:
        dni = string_dni
        
    return dni

In [211]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [212]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [213]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [214]:
df_pyp['NRO_DOC'] = [(str(df_pyp['NRO_DOC'][i]).strip()) for i in range (df_pyp['NRO_DOC'].count())]

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [215]:
df_pyp['TIPO_DOC'] = [tipo_doc_1(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para la limpieza de DNIs:

In [216]:
df_pyp['NRO_DOC'] = [standard_dni(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [217]:
df_pyp['NRO_DOC'] = [dni_characters(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [218]:
df_pyp['NRO_DOC'] = [cuit(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [219]:
df_pyp['NRO_DOC'] = [dni_zero(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [220]:
df_pyp['TIPO_DOC'] = [tipo_doc_2(df_pyp['NRO_DOC'][i],df_pyp['TIPO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

# 13) Union de Dataframes

Se unen ambos dataframes en la columna NRO_DOC

Convertimos la columna NRO_DOC de objeto a INT para hacer la uniÃ³n

In [221]:
df_clean = df_clean.astype({'NRO_DOC': 'str'})

In [222]:
df_clean ['NRO_DOC'] = df_clean ['NRO_DOC'].str.split('.').str[0]

In [223]:
df_union = pd.merge(df_clean,df_pyp, on='NRO_DOC', how='inner')

In [224]:
df_union.shape

(18514, 18)

In [225]:
df_union.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,IDMOROSO,IDCLIENTE,TIPO_DOC
0,27100396217,10039621,CANO,ANA MARIA,EMAIL,adriandario74@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-27 11:03:33.798355,0,NaN,NaN,DNI 10039621,BSR_TARDIA,DNI
1,27100396217,10039621,CANO,ANA MARIA,EMAIL2,cristiantejedo-ks@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-27 11:03:33.798355,0,NaN,NaN,DNI 10039621,BSR_TARDIA,DNI
2,27100460713,10046071,D'ANGELO,ROSA HILDA,EMAIL,dieperez@yahoo.com.ar,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-27 11:03:33.798355,0,NaN,NaN,DNI 10046071,BSR_TARDIA,DNI
3,27100836373,10083637,ROMERO,MARTA ALICIA,EMAIL,romeromartac@yahoo.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-27 11:03:33.798355,0,NaN,NaN,DNI 10083637,BSR_TARDIA,DNI
4,27100836373,10083637,ROMERO,MARTA ALICIA,EMAIL2,csofiacarla@yahoo.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-27 11:03:33.798355,0,NaN,NaN,DNI 10083637,BSR_TARDIA,DNI

# 14) Export

Renombramos, dropeamos y reordenamos las columnas

In [226]:
df_union = df_union.rename(columns = {'Dato':'DATO'})

Dropeamos columnas que no nos sirven

In [227]:
df_export = df_union.drop(columns=['IDCLIENTE'], axis=0)

In [228]:
df_export = df_export[['IDMOROSO', 'TIPO_DOC','NRO_DOC','CUIT_CUIL','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO','PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO','FECHA_VERIFICACION','OPERADOR_VERIFICACION','SCORE_DATO']]

In [229]:
df_export.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 10039621,DNI,10039621,27100396217,EMAIL,PERSONAL,adriandario74@hotmail.com,Propio,ZERT,2021-08-27 11:03:33.798355,0,NaN,NaN,2.0
1,DNI 10039621,DNI,10039621,27100396217,EMAIL,PERSONAL,cristiantejedo-ks@hotmail.com,Propio,ZERT,2021-08-27 11:03:33.798355,0,NaN,NaN,2.0
2,DNI 10046071,DNI,10046071,27100460713,EMAIL,PERSONAL,dieperez@yahoo.com.ar,Propio,ZERT,2021-08-27 11:03:33.798355,0,NaN,NaN,2.0
3,DNI 10083637,DNI,10083637,27100836373,EMAIL,PERSONAL,romeromartac@yahoo.com,Propio,ZERT,2021-08-27 11:03:33.798355,0,NaN,NaN,2.0
4,DNI 10083637,DNI,10083637,27100836373,EMAIL,PERSONAL,csofiacarla@yahoo.com,Propio,ZERT,2021-08-27 11:03:33.798355,0,NaN,NaN,2.0

In [230]:
df_export.shape

(18514, 14)

NÃºmero a str para no tener problemas con la inserciÃ³n

In [231]:
df_export.tail()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
18509,LE 6434675,LE,6434675,27064346755,EMAIL,PERSONAL,janicolli@yahoo.com.ar,Propio,ZERT,2021-08-27 11:03:33.798355,0,NaN,NaN,2.0
18510,LE 6434675,LE,6434675,24064346756,EMAIL,PERSONAL,janicolli@yahoo.com.ar,Propio,ZERT,2021-08-27 11:03:33.798355,0,NaN,NaN,2.0
18511,LE 6434675,LE,6434675,20064346750,EMAIL,PERSONAL,janicolli@yahoo.com.ar,Propio,ZERT,2021-08-27 11:03:33.798355,0,NaN,NaN,2.0
18512,LE 6852994,LE,6852994,20068529949,EMAIL,PERSONAL,juansederino@gmail.com,Propio,ZERT,2021-08-27 11:03:33.798355,0,NaN,NaN,2.0
18513,LE 7007498,LE,7007498,20070074983,EMAIL,PERSONAL,elenacervan@hotmail.com,Propio,ZERT,2021-08-27 11:03:33.798355,0,NaN,NaN,2.0

Dropeamos filas duplicadas

In [232]:
df_export = df_export.drop_duplicates()

In [233]:
df_export.shape

(18486, 14)

### DNI
AcÃ¡ se les hace volar a los LE y LC porque hay muchos errores en lo que devolviÃ³ certero

In [234]:
df_export = df_export[[int(i)>10000000 for i in df_export["NRO_DOC"].tolist()]]

## Dato a str + strip()

In [235]:
df_export ['DATO'] = df_export['DATO'].str.strip()

# RevisiÃ³n de duplicados

In [236]:
#df_export[df_export.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]
df_export.loc[(df_export.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)) , 'CUIT_CUIL'] = None
df_export = df_export.drop_duplicates()

In [237]:
duplicated_subset = df_export[df_export.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]
duplicated_subset.head()

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO]
Index: []

<font size=4>Se eliminan los mails duplicados para un mismo NRO_DOC pero le quitamos el CUIL porque nos pasan varios</font>

In [274]:
df_export["CUIT_CUIL"]= df_export["CUIT_CUIL"].fillna(0.0)
df_export1 = df_export.copy()
df_export1["CUIT_CUIL"] = [int(i) for i in df_export1["CUIT_CUIL"].tolist()]
print(df_export1["CUIT_CUIL"][0])
df_export1.loc[(df_export1["CUIT_CUIL"]==0), 'CUIT_CUIL'] = None
print(df_export1["CUIT_CUIL"][0])
df_export1.head()

27100396217
27100396217.0

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 10039621,DNI,10039621,2.710040e+10,EMAIL,PERSONAL,adriandario74@hotmail.com,Propio,ZERT,2021-08-27 11:03:33.798355,0,NaN,NaN,2.0
1,DNI 10039621,DNI,10039621,2.710040e+10,EMAIL,PERSONAL,cristiantejedo-ks@hotmail.com,Propio,ZERT,2021-08-27 11:03:33.798355,0,NaN,NaN,2.0
2,DNI 10046071,DNI,10046071,2.710046e+10,EMAIL,PERSONAL,dieperez@yahoo.com.ar,Propio,ZERT,2021-08-27 11:03:33.798355,0,NaN,NaN,2.0
3,DNI 10083637,DNI,10083637,2.710084e+10,EMAIL,PERSONAL,romeromartac@yahoo.com,Propio,ZERT,2021-08-27 11:03:33.798355,0,NaN,NaN,2.0
4,DNI 10083637,DNI,10083637,2.710084e+10,EMAIL,PERSONAL,csofiacarla@yahoo.com,Propio,ZERT,2021-08-27 11:03:33.798355,0,NaN,NaN,2.0

In [275]:
df_export1.shape

(16368, 14)

# Filtrado de datos
se sacan los datos basura que nos inserta CERTERO

In [323]:
lista_filtrado = ["no_posee@hotmail.com", "1.1@hotmail.com","r@r.com","no_posee123@hotmail.com",
                  "no_posee29@gmail.com", "no_posee1@hotmail.com", "no@no.com", "no@yahoo.com.ar",
                  "no1@gmail.com", "nodispone@gmail.com", "nodispone@hotmail.com", "inexsistente@hotmail.com",
                  "nopose@gmail.com", "nopo@gmail.com", "noo@hotmail.com", "nombre@hotmail.com", "nolosabe@gmail.com",
                  "noinformaemail@hotmail.com", "nohaymail@hotmail.com", "nohaymail@gmail.com", "nohay@hotmail.com",
                  "nohay@email.com","noexiste@noexiste.com.ar", "noexiste@gmail.com", "noexiste@hotmail.com",
                  "noexistente@gmail.com","no_poseo@hotmail.com","no_posse@hotmail.com","no_tengo@hotmail.com",
                  "no_tieme@hotmail.com","no_utiliza@correo.com","no-mail@nomail.com","xx@hotmail.com",
                  "xxx@hotmail.com","xxx@yahoo.com","xxxx@gmail.com","xxxx@gmail.com","xxxx@hotmail.com",
                  "xxxx@hotmail.com","xxxx@hotmail.com","xxxxx@gmail.com","xxxxx@gmail.com","xxxxxx@hotmail.com",
                  "xxxxxxxxx@hotmail.com"
                 ]
df_export1 = df_export1[~df_export1.DATO.isin(lista_filtrado)]
df_export2 = df_export1.drop_duplicates(subset=["DATO"],keep=False)

In [324]:
duplicates_subset = df_export2[df_export2.duplicated(subset=['DATO','PROVEEDOR_DATO'],keep=False)]

In [325]:
duplicates_subset

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO]
Index: []

## 14.2) Insert a tabla DAM_CONTACTABILIDAD:

In [326]:
df_export1.to_csv('insider.csv',index=False)