In [7]:
import pandas as pd
import sys
import datetime
import numpy as np

# Preprocesamiento de los datos de Certero
Anexamos los datos que nos dió el proveedor para luego poder compararlos

In [241]:
df = pd.read_csv('Datos_para_análisis.csv')
df["IDMOROSO"] = df["IDMOROSO"].str.strip()
df["DATO"] = df["DATO"].str.upper()
df.head()

,IDMOROSO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,TIPO,DATO,SCORE_DATO_100
0,DNI 33004351,IX,2021-01-26 17:59:09.790,TEL.CELULAR,(11) 5755-8865,50.0
1,DNI 33154216,IX,2021-01-26 17:59:09.790,TEL.CELULAR,(11) 5112-4922,50.0
2,DNI 28719579,IX,2021-01-26 17:59:09.790,TEL.CELULAR,(11) 4031-3230,50.0
3,DNI 31824168,IX,2021-01-26 17:59:09.790,TEL.CELULAR,(11) 4031-2279,50.0
4,DNI 31824168,IX,2021-01-26 17:59:09.790,TEL.CELULAR,(11) 6464-9689,50.0

In [242]:
de = pd.read_csv('Datos_Enriquecimiento/Datos_Enriquecimiento_2021-08-25.csv')
de['PROVEEDOR'] = None
de['FECHA'] = '2021-09-03 00:00:00.000'
de.head()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO,FILTROA,DATOADIC,DOCUMENTO,TIPO,PROVEEDOR,FECHA
0,CI 62933702,"JOSE LUIS,FERNANDEZ FERNANDEZ",BSR_TARDIA,EN GESTION_PORTAL,Campana Extrajud Emp,,CI62933702,CUIT,None,2021-09-03 00:00:00.000
1,CUIT30607032978,",MARCOS FERNANDEZ SRL",BSR_TARDIA,EN GESTION_PORTAL,Campana Extrajud Emp,30607032978,30607032978,CUIT,None,2021-09-03 00:00:00.000
2,CUIT30698087648,",ITACUA CONSTRUCCIONES SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30698087648,30698087648,CUIT,None,2021-09-03 00:00:00.000
3,CUIT30703557674,",IONES COMUNICACIONES SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30703557674,30703557674,CUIT,None,2021-09-03 00:00:00.000
4,CUIT30707047085,",PATER SHOW SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30707047085,30707047085,CUIT,None,2021-09-03 00:00:00.000

In [278]:
dea = de.drop(0)
dea["DOCUMENTO"]=dea["DOCUMENTO"].str.replace("LC","")
dea["DOCUMENTO"]=dea["DOCUMENTO"].str.replace("LE","")
dea = dea.dropna(subset=["DOCUMENTO"])
dea["DOCUMENTO"] = dea["DOCUMENTO"].astype(int)
dea[dea["DOCUMENTO"]<8000000]

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO,FILTROA,DATOADIC,DOCUMENTO,TIPO,PROVEEDOR,FECHA
87,DNI 1035628,"DAVID NATALIO,MUCHENIK",BSR_TARDIA,FALLECIDO,Campana Extrajud Ind,,1035628,DNI,None,2021-09-03 00:00:00.000
504,DNI 1775574,"BERTA,AMAYA",BSR_TARDIA,FALLECIDO,Campana Extrajud Ind,,1775574,DNI,None,2021-09-03 00:00:00.000
999,DNI 1153524,PAREDES JULIA MARINA,COTO_TARDIA,NO VISTO,TRAMO3,,1153524,DNI,None,2021-09-03 00:00:00.000
1187,DNI 1539113,"ELDA ELSA MAGDALENA,ROSETTI",BSR_TARDIA,NO UBICADO,Campana Extrajud Ind,27015391133,1539113,DNI,None,2021-09-03 00:00:00.000
1625,LC 5212858,BERNERI ALODIA LUISA,BBVA_LEGALES_PREJU_5,EN GESTION,NaN,,5212858,LC,None,2021-09-03 00:00:00.000
...,...,...,...,...,...,...,...,...,...,...
20105,LE 6305211,ULLUA JUAN LUIS,FRANCES_2012,PLAN DE PAGOS,3 - Ag 3ra,,6305211,LE,None,2021-09-03 00:00:00.000
20106,LE 6305512,MARCOLINI ALFREDO LILIE,FRANCES_2012,ASIGNADO,1 - Ag 1ra,,6305512,LE,None,2021-09-03 00:00:00.000
20107,LE 6434675,NICOLLI JOSE AGUSTIN,FRANCES_2012,FALLECIDO,2 - Ag 2ra,,6434675,LE,None,2021-09-03 00:00:00.000
20108,LE 6852994,SEDERINO MANUEL ITALO,FRANCES_2012,FALLECIDO,1 - Ag 1ra,,6852994,LE,None,2021-09-03 00:00:00.000
20109,LE 7007498,ROMANO ANGEL EVANGELISTO,FRANCES_2012,FALLECIDO,1 - Ag 1ra,,7007498,LE,None,2021-09-03 00:00:00.000

In [197]:
"""
%%time
c = -1
lista1 = df["IDMOROSO"].tolist()
lista = [(i, lista1[i]) for i in range(len(lista1))]
for i in range(len(de)):
    lista_aux = np.where(df['IDMOROSO'] == de['IDMOROSO'][i])[0]
    for j in lista_aux:
        if de['FECHA'][i] > df['FECHA_INGRESO_DATO'][j]:
            de['FECHA'][i] = df['FECHA_INGRESO_DATO'][j]
            de['PROVEEDOR'][i] = df['PROVEEDOR_DATO'][j]
    if i%1000==0:
        print(i)
de.head()
"""

0
1000
2000
3000
4000
5000
6000
7000
8000
9000
10000
11000
12000
13000
14000
15000
16000
17000
18000
19000
20000

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO,FILTROA,DATOADIC,DOCUMENTO,TIPO,PROVEEDOR,FECHA
0,CI 62933702,"JOSE LUIS,FERNANDEZ FERNANDEZ",BSR_TARDIA,EN GESTION_PORTAL,Campana Extrajud Emp,,CI62933702,CUIT,C_SAN,2021-08-03 15:19:53.833
1,CUIT30607032978,",MARCOS FERNANDEZ SRL",BSR_TARDIA,EN GESTION_PORTAL,Campana Extrajud Emp,30607032978,30607032978,CUIT,C_SAN,2021-08-02 11:56:27.097
2,CUIT30698087648,",ITACUA CONSTRUCCIONES SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30698087648,30698087648,CUIT,C_SAN,2021-04-30 12:09:33.347
3,CUIT30703557674,",IONES COMUNICACIONES SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30703557674,30703557674,CUIT,C_SAN,2021-04-30 12:09:33.347
4,CUIT30707047085,",PATER SHOW SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30707047085,30707047085,CUIT,C_SAN,2021-04-30 12:09:33.347

In [198]:
np.where(df['IDMOROSO'] == de['IDMOROSO'][0])[0]

array([197133, 199840, 199846, 199848, 219305, 236268, 255580, 256258])

In [199]:
df_zert = df[df["PROVEEDOR_DATO"]=='ZERT']
df_otros = df[df["PROVEEDOR_DATO"]!='ZERT']
df_zert.head()

,IDMOROSO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,TIPO,DATO,SCORE_DATO_100
40354,DNI 22819915,ZERT,2021-08-27 15:28:47.440,EMAIL,WALTERYMARITA2015@GMAIL.COM,47.0
40355,DNI 32405656,ZERT,2021-08-27 15:28:47.440,EMAIL,MELU_DEMATTIA@HOTMAIL.COM,50.0
40356,DNI 32405656,ZERT,2021-08-27 15:28:47.440,EMAIL,MELIDEMATTIA@GMAIL.COM,35.0
40357,DNI 35208287,ZERT,2021-08-27 15:28:47.440,EMAIL,MAR_BRI2011@HOTMAIL.COM,47.0
40358,DNI 12861097,ZERT,2021-08-27 15:28:47.440,EMAIL,AINDALEN@HOTMAIL.COM,47.0

In [200]:
df_otros.head()

,IDMOROSO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,TIPO,DATO,SCORE_DATO_100
0,DNI 33004351,IX,2021-01-26 17:59:09.790,TEL.CELULAR,(11) 5755-8865,50.0
1,DNI 33154216,IX,2021-01-26 17:59:09.790,TEL.CELULAR,(11) 5112-4922,50.0
2,DNI 28719579,IX,2021-01-26 17:59:09.790,TEL.CELULAR,(11) 4031-3230,50.0
3,DNI 31824168,IX,2021-01-26 17:59:09.790,TEL.CELULAR,(11) 4031-2279,50.0
4,DNI 31824168,IX,2021-01-26 17:59:09.790,TEL.CELULAR,(11) 6464-9689,50.0

<font size='3'>Primero verificamos cuántos datos de certero fueron enriquecidos</font>

In [201]:
datos_mandados = de['IDMOROSO'].count()
datos_enriquecidos = df_zert["IDMOROSO"].drop_duplicates().count()
print(f"""Cantidad de datos mandados: {datos_mandados}
Cantidad de datos enriquecidos: {datos_enriquecidos}""")

Cantidad de datos mandados: 20110
Cantidad de datos enriquecidos: 17048

<font size='3'>Ahora veamos la cantidad de datos que no tenía enriquecimiento y fueron enriquecidos con Certero</font>

In [202]:
#Hacemos una tabla de los enriquecidos
enriquecidos = de[de['PROVEEDOR']=='ZERT']['IDCLIENTE'].count()
sin_enriquecer = de[de['PROVEEDOR'] == "None"]['IDCLIENTE'].count()
print("Cantidad sin enriquecer antes de certero:",enriquecidos+sin_enriquecer)
print("Cantidad de enriquecidos por certero:",enriquecidos)

Cantidad sin enriquecer antes de certero: 122
Cantidad de enriquecidos por certero: 122

# Análisis por moroso

In [203]:
de.shape

(20110, 10)

# Mails

In [219]:
mails = df[df["TIPO"]=='EMAIL']
mails = mails.reset_index(drop=True)
mails.shape

(44115, 6)

In [220]:
"""mails_ordenado = mails.sort_values("FECHA_INGRESO_DATO")
mails_ordenado = mails.drop_duplicates(subset=["IDMOROSO"]).reset_index(drop=True)
mails_ordenado.head()
"""

,IDMOROSO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,TIPO,DATO,SCORE_DATO_100
0,DNI 11031218,IX,2021-01-26 17:38:29.743,EMAIL,JAVIERPAULOFERNANDEZ@GMAIL.COM,50.0
1,DNI 11123772,IX,2021-01-26 17:38:29.743,EMAIL,PAZNADIA13@GMAIL.COM,61.0
2,DNI 11553556,IX,2021-01-26 17:38:29.743,EMAIL,DANIEL230255@YAHOO.COM.AR,78.0
3,DNI 11802297,IX,2021-01-26 17:38:29.743,EMAIL,ALICIADEEROSA@HOTMAIL.COM,36.0
4,DNI 14825782,IX,2021-01-26 17:38:29.743,EMAIL,FACUNDO.PAGLIARDI@HOTMAIL.COM,50.0

In [221]:
mails_ordenado.shape

(18155, 6)

In [229]:
c = -1
lista1 = mails["IDMOROSO"].tolist()
lista = [(i, lista1[i]) for i in range(len(lista1))]
de['FECHA'] = '2021-09-03 00:00:00.000'
for i in range(len(de)):
    lista_aux = np.where(mails['IDMOROSO'] == de['IDMOROSO'][i])[0]
    for j in lista_aux:
        if de['FECHA'][i] > mails['FECHA_INGRESO_DATO'][j]:
            de['FECHA'][i] = mails['FECHA_INGRESO_DATO'][j]
            de['PROVEEDOR'][i] = mails['PROVEEDOR_DATO'][j]
    if i%1000==0:
        print(int(i/200),"%")
de.head()

0 %
5 %
10 %
15 %
20 %
25 %
30 %
35 %
40 %
45 %
50 %
55 %
60 %
65 %
70 %
75 %
80 %
85 %
90 %
95 %
100 %

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO,FILTROA,DATOADIC,DOCUMENTO,TIPO,PROVEEDOR,FECHA
0,CI 62933702,"JOSE LUIS,FERNANDEZ FERNANDEZ",BSR_TARDIA,EN GESTION_PORTAL,Campana Extrajud Emp,,CI62933702,CUIT,C_SAN,2021-08-03 15:19:53.833
1,CUIT30607032978,",MARCOS FERNANDEZ SRL",BSR_TARDIA,EN GESTION_PORTAL,Campana Extrajud Emp,30607032978,30607032978,CUIT,AD,2021-08-04 09:01:41.000
2,CUIT30698087648,",ITACUA CONSTRUCCIONES SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30698087648,30698087648,CUIT,C_SAN,2021-08-03 15:19:53.833
3,CUIT30703557674,",IONES COMUNICACIONES SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30703557674,30703557674,CUIT,AD,2021-05-05 20:04:54.373
4,CUIT30707047085,",PATER SHOW SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30707047085,30707047085,CUIT,C_SAN,2021-08-03 15:19:53.833

In [230]:
de[de["PROVEEDOR"]=='ZERT'].count()

IDMOROSO     1796
NOMBRE       1796
IDCLIENTE    1796
ESTADO       1796
FILTROA      1778
DATOADIC     1770
DOCUMENTO    1796
TIPO         1796
PROVEEDOR    1796
FECHA        1796
dtype: int64

In [227]:
mails_ordenado[mails_ordenado["PROVEEDOR_DATO"]=="ZERT"].count()

IDMOROSO              4956
PROVEEDOR_DATO        4956
FECHA_INGRESO_DATO    4956
TIPO                  4956
DATO                  4956
SCORE_DATO_100        4939
dtype: int64

In [207]:
idmails = mails["IDMOROSO"].drop_duplicates()
idmorosos = de["IDMOROSO"].drop_duplicates()
idresul = idmorosos[[x not in idmails.tolist() for x in idmorosos]]
print("Hay sin mail",idresul.count())

Hay sin mail 2168

In [208]:
mails_zert = mails[mails["PROVEEDOR_DATO"]=="ZERT"]
mails_otros = mails[mails["PROVEEDOR_DATO"]!="ZERT"]
mails_otros = mails_otros[mails_otros["FECHA_INGRESO_DATO"]<"2021-08-26 00:00:00:000"]
print("Datos proveídos por certero",mails_zert["DATO"].drop_duplicates().count())
print("Morosos proveídos por certero",mails_zert["IDMOROSO"].drop_duplicates().count())

Datos proveídos por certero 15560
Morosos proveídos por certero 13122

<font size=4>Acá se comparan los datos que ya habían luego en la base de datos
para este caso Mails</font>

In [209]:
lista_mailz = mails_zert["DATO"].tolist()
habíanm = mails_otros[[x in lista_mailz for x in mails_otros["DATO"].tolist()]]
print("La cantidad de datos repetidos que provee certero:",habíanm["DATO"].drop_duplicates().count())

La cantidad de datos repetidos que provee certero: 6405

In [210]:
print("Cantidad de morosos repetidos",habíanm["IDMOROSO"].drop_duplicates().count())

Cantidad de morosos repetidos 6308

De los que ya habían hay que ver la calidad de esos datos

Hay que hacer promedio de df para un mismo dato
y de eso hacer por rangos

Rango     Cantidad

Se preparan un poquito los datos antes de hacer el promedio

In [211]:
lista = habíanm["DATO"].tolist()
repetidosm = mails_otros[[x in lista for x in mails_otros["DATO"].tolist()]][["IDMOROSO","DATO","SCORE_DATO_100"]]
repetidosm = repetidosm.dropna()

In [212]:
repetidosm["SCORE_DATO_100"]

0        50.0
1        61.0
2        78.0
4        50.0
6        61.0
         ...
43878    56.0
43883    64.0
43885    56.0
43890    80.0
43920    78.0
Name: SCORE_DATO_100, Length: 8449, dtype: float64

mediapd=pd.DataFrame(media)

In [213]:
media = repetidosm.groupby(['DATO'])["SCORE_DATO_100"].mean()
hola = pd.DataFrame()
hola["DATO"]=media.tolist()
hola["posi"]=10
hola["posi"]=hola["DATO"].map(def_rango)
scor = hola.groupby(["posi"])["DATO"].count()
pd.DataFrame(scor)

      DATO
posi
2       36
3     1285
4      713
5     2511
6     1035
7      400
8      335
9       35

# Teléfono

In [236]:
telefono = df[df["TIPO"]=='TEL.FIJO'] #TEL.CELULAR o TEL.FIJO
telefono = telefono.reset_index()
telefono.shape

(88013, 7)

In [237]:
c = -1
de['FECHA'] = '2021-09-03 00:00:00.000'
lista1 = telefono["IDMOROSO"].tolist()
lista = [(i, lista1[i]) for i in range(len(lista1))]
for i in range(len(de)):
    lista_aux = np.where(telefono['IDMOROSO'] == de['IDMOROSO'][i])[0]
    for j in lista_aux:
        if de['FECHA'][i] > telefono['FECHA_INGRESO_DATO'][j]:
            de['FECHA'][i] = telefono['FECHA_INGRESO_DATO'][j]
            de['PROVEEDOR'][i] = telefono['PROVEEDOR_DATO'][j]
    if i%1000==0:
        print(int(i/200),"%")
de.head()

0 %
5 %
10 %
15 %
20 %
25 %
30 %
35 %
40 %
45 %
50 %
55 %
60 %
65 %
70 %
75 %
80 %
85 %
90 %
95 %
100 %

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO,FILTROA,DATOADIC,DOCUMENTO,TIPO,PROVEEDOR,FECHA
0,CI 62933702,"JOSE LUIS,FERNANDEZ FERNANDEZ",BSR_TARDIA,EN GESTION_PORTAL,Campana Extrajud Emp,,CI62933702,CUIT,OP_MCARDOZO,2021-09-03 00:00:00.000
1,CUIT30607032978,",MARCOS FERNANDEZ SRL",BSR_TARDIA,EN GESTION_PORTAL,Campana Extrajud Emp,30607032978,30607032978,CUIT,OP_ORTELLADOG,2021-08-09 09:29:35.500
2,CUIT30698087648,",ITACUA CONSTRUCCIONES SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30698087648,30698087648,CUIT,C_SAN,2021-09-03 00:00:00.000
3,CUIT30703557674,",IONES COMUNICACIONES SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30703557674,30703557674,CUIT,AD,2021-05-05 20:08:19.803
4,CUIT30707047085,",PATER SHOW SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30707047085,30707047085,CUIT,C_SAN,2021-09-03 00:00:00.000

In [238]:
de[de["PROVEEDOR"]=='ZERT'].count()

IDMOROSO     611
NOMBRE       611
IDCLIENTE    611
ESTADO       611
FILTROA      600
DATOADIC     564
DOCUMENTO    611
TIPO         611
PROVEEDOR    611
FECHA        611
dtype: int64

### Unificación de formato

In [239]:
telefono["DATO"] = telefono["DATO"].str.replace(' ','')
telefono["DATO"] = telefono["DATO"].str.replace('(','')
telefono["DATO"] = telefono["DATO"].str.replace(')','')
telefono["DATO"] = telefono["DATO"].str.replace('-','')
ca = pd.read_csv("codigos_area.csv")
ca.head()

/home/tetotille/miniconda3/envs/mopc/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

/home/tetotille/miniconda3/envs/mopc/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  This is separate from the ipykernel package so we can avoid doing imports until

   CODIGO                                          PROVINCIA
0      11  Ciudad Autónoma de Buenos Aires/\nProvincia de...
1     220                                       Buenos Aires
2     221                                       Buenos Aires
3     223                                       Buenos Aires
4     230                                       Buenos Aires

In [240]:
idtelefono = telefono["IDMOROSO"].drop_duplicates()
idmorosos = de["IDMOROSO"].drop_duplicates()
idresul = idmorosos[[x not in idtelefono.tolist() for x in idmorosos]]
print("Hay sin telefono",idresul.count())

Hay sin telefono 3364

In [140]:
ca2 = ca[[len(str(x))==2 for x in ca["CODIGO"].tolist()]]["CODIGO"].astype(str).tolist()
ca3 = ca[[len(str(x))==3 for x in ca["CODIGO"].tolist()]]["CODIGO"].astype(str).tolist()
ca4 = ca[[len(str(x))==4 for x in ca["CODIGO"].tolist()]]["CODIGO"].astype(str).tolist()
def codificador(dato):
    if dato[0:2] in ca2:
        if dato[2:4]!='15': return dato
        return dato[0:2]+dato[4:len(dato)]
    elif dato[0:3] in ca3:
        if dato[3:5]!='15': return dato
        return dato[0:3]+dato[5:len(dato)]
    elif dato[0:4] in ca4:
        if dato[4:6]!='15': return dato
        return dato[0:4]+dato[6:len(dato)]
    return dato

In [173]:
telefonoZ = telefono[telefono["PROVEEDOR_DATO"]=='ZERT']
#telefonoZ["DATO"] = telefonoZ["DATO"].map(codificador)
telefonoOtros = telefono[telefono["PROVEEDOR_DATO"]!='ZERT']
telefonoOtros.head()

,index,IDMOROSO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,TIPO,DATO,SCORE_DATO_100
0,177,DNI 28185807,IX,2021-01-26 17:40:54.500,TEL.FIJO,2320441109,50.0
1,178,DNI 12180476,IX,2021-01-26 17:40:54.500,TEL.FIJO,2011\n1143,50.0
2,179,DNI 92582845,IX,2021-01-26 17:40:54.500,TEL.FIJO,2252491012,50.0
3,180,DNI 13776535,IX,2021-01-26 17:40:54.500,TEL.FIJO,1148647368,50.0
4,181,DNI 17819842,IX,2021-01-26 17:40:54.500,TEL.FIJO,1147959147,50.0

In [174]:
telefonoZ.head()

,index,IDMOROSO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,TIPO,DATO,SCORE_DATO_100
27023,41210,DNI 27534464,ZERT,2021-08-27 15:32:20.700,TEL.FIJO,1120738903,50.0
27024,41220,DNI 12589794,ZERT,2021-08-27 15:32:20.700,TEL.FIJO,1142946012,47.0
27025,41224,DNI 22327989,ZERT,2021-08-27 15:32:20.700,TEL.FIJO,1144620523,47.0
27545,42042,DNI 28147632,ZERT,2021-08-27 15:32:20.700,TEL.FIJO,2914860896,52.0
27546,42043,DNI 11884547,ZERT,2021-08-27 15:32:20.700,TEL.FIJO,2229453818,50.0

In [175]:
datosz = telefonoZ["DATO"].drop_duplicates().count()
print("Cantidad de datos de certero:",datosz)
datoszm = telefonoZ["IDMOROSO"].drop_duplicates().count()
print("Cantidad de datos por moroso de certero",datoszm)

Cantidad de datos de certero: 6350
Cantidad de datos por moroso de certero 5416

In [176]:
lista_telZ = telefonoZ["DATO"].tolist()
habían = telefonoOtros[[x in lista_telZ for x in telefonoOtros["DATO"].tolist()]]
print("La cantidad de datos repetidos que provee certero:",habían["DATO"].drop_duplicates().count())
print("Cantidad de morosos repetidos",habían["IDMOROSO"].drop_duplicates().count())

La cantidad de datos repetidos que provee certero: 2086
Cantidad de morosos repetidos 2047

In [177]:
lista = habían["DATO"].tolist()
repetidos = telefonoOtros[[x in lista for x in telefonoOtros["DATO"].tolist()]][["IDMOROSO","DATO","SCORE_DATO_100"]]
repetidos = repetidos.dropna()
repetidos.count()

IDMOROSO          2709
DATO              2709
SCORE_DATO_100    2709
dtype: int64

In [178]:
repetidos.drop_duplicates().count()

IDMOROSO          2313
DATO              2313
SCORE_DATO_100    2313
dtype: int64

In [179]:
def def_rango(i):
    if 0<=i<10:
        return 0
    elif 10<=i<20:
        return 1
    elif 20<=i<30:
        return 2
    elif 30<=i<40:
        return 3
    elif 40<=i<50:
        return 4
    elif 50<=i<60:
        return 5
    elif 60<=i<70:
        return 6
    elif 70<=i<80:
        return 7
    elif 80<=i<90:
        return 8
    elif 90<=i<=100:
        return 9
    return 10

In [180]:
media = repetidos.groupby(['DATO'])["SCORE_DATO_100"].mean()
hola = pd.DataFrame()
hola["DATO"]=media.tolist()
hola["posi"]=10
hola["posi"]=hola["DATO"].map(def_rango)
scor = hola.groupby(["posi"])["DATO"].count()
pd.DataFrame(scor)

      DATO
posi
2        5
3       72
4      385
5     1576
6       42
7        6

In [193]:
[print(x) for x in media.tolist() if 70 <= x <= 80]
print("ä")

73.0
70.0
70.0
71.0
70.0
73.0
ä