In [1]:
import pandas as pd
import numpy as np

# LOG

# 1. Datos enviados

In [2]:
df_log = pd.read_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Datasets/Datasets enviados/0209-MOPC-PEDIDO DE DATOS - Estado.csv')

In [3]:
df_log.head()

             IDMOROSO             IDCLIENTE                ESTADO
0  DNI 10039621        BSR_TARDIA            NO VISTO
1  DNI 10197951        BSR_TARDIA            NO VISTO
2  DNI 10248810        BSR_TARDIA            NO VISTO
3  DNI 10270696        BSR_TARDIA            NO VISTO
4  DNI 10363397        BSR_TARDIA            NO VISTO

In [4]:
df_log = df_log.rename(columns={"ESTADO": "ESTADO_ANTERIOR"})

In [5]:
#df_log = df_log [['IDMOROSO','IDCLIENTE','DATOADIC','ESTADO_ANTERIOR']]
df_log = df_log [['IDMOROSO','IDCLIENTE','ESTADO_ANTERIOR']]

In [6]:
fecha_envio_log = '2021-02-11'

In [7]:
fecha_insercion_log = '2021-02-24'

In [8]:
fecha_estados_log = '2021-02-24'

In [9]:
df_log = df_log.assign(FECHA_ENVIO_ENRIQUECIMIENTO=fecha_envio_log)

In [10]:
df_log = df_log.assign(FECHA_INSERCION_DATO=fecha_insercion_log)

In [11]:
df_log = df_log.assign(FECHA_CAMBIO_ESTADO=fecha_estados_log)

In [12]:
df_log.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO
0,DNI 10039621,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24
1,DNI 10197951,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24
2,DNI 10248810,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24
3,DNI 10270696,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24
4,DNI 10363397,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24

In [13]:
df_log = df_log.assign(PROVEEDOR='PYP')

In [14]:
df_log['ESTADO_ANTERIOR'] = [(str(df_log['ESTADO_ANTERIOR'][i]).strip()) for i in range (df_log['ESTADO_ANTERIOR'].count())]

In [15]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'INTERESADO') | 
           (df_log['ESTADO_ANTERIOR'] == 'NO VISTO') | 
           (df_log['ESTADO_ANTERIOR'] == 'EN GESTION') |
           (df_log['ESTADO_ANTERIOR'] == 'ASIGNADO') |
           (df_log['ESTADO_ANTERIOR'] == 'ROTACION') |
           (df_log['ESTADO_ANTERIOR'] == 'ASIGNADO') |
           (df_log['ESTADO_ANTERIOR'] == 'PLAN V') |
           (df_log['ESTADO_ANTERIOR'] == 'NO INTERESADO') |
           (df_log['ESTADO_ANTERIOR'] == 'ACUERDO CAIDO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO_RECHAZADA') 
           , 'CATEGORIA'] = 'NEUTRO'

In [16]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'NO UBICADO') | 
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 1') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 1 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 2') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 3') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 3 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL3 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL1 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL1') |
           (df_log['ESTADO_ANTERIOR'] == 'NO_VISTO_CONTACTABLE') |
           (df_log['ESTADO_ANTERIOR'] == 'NO_VISTO_MASIVO') 
           , 'CATEGORIA'] = 'NEGATIVO POR CONTACTABILIDAD'

In [17]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'PAGO PARCIAL') | 
           (df_log['ESTADO_ANTERIOR'] == 'PLAN DE PAGOS') |
           (df_log['ESTADO_ANTERIOR'] == 'POSIBLE REFI') |
           (df_log['ESTADO_ANTERIOR'] == 'REFINANCIACION') |
           (df_log['ESTADO_ANTERIOR'] == 'PROPUESTA') |
           (df_log['ESTADO_ANTERIOR'] == 'PROPUESTA OK') |
           (df_log['ESTADO_ANTERIOR'] == 'COMPROMISO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO_DEVUELTO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO DEVUELTO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO FULL') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO SIN ACP') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA'

In [18]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'CONVENIO') | 
           (df_log['ESTADO_ANTERIOR'] == 'CONVENIO QUITA') |
           (df_log['ESTADO_ANTERIOR'] == 'NUEVOS CARGOS') |
           (df_log['ESTADO_ANTERIOR'] == 'CONVENIO_QUITA') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA SOBRE COUTA'

In [19]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'PROPUESTA REFI') | 
           (df_log['ESTADO_ANTERIOR'] == 'REFI ARMADA') |
           (df_log['ESTADO_ANTERIOR'] == 'REFI EN TRAMITE') |
           (df_log['ESTADO_ANTERIOR'] == 'REFI A LIQUIDAR') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA CON REFI PENDIENTE DE LIQUIDACIO'

In [20]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'REFI APROBADA') | 
           (df_log['ESTADO_ANTERIOR'] == 'DEVUELTO/CANCELO CON COBRO DE HONORARIO PENDIENTE')
           , 'CATEGORIA'] = 'POSITIVO CON CAJA CON REFI/CANCELACIÓN LIQUIDADA'

In [21]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'DEVUELTO') | 
           (df_log['ESTADO_ANTERIOR'] == 'FALLECIDO') |
           (df_log['ESTADO_ANTERIOR'] == 'PROBLEMA') |
           (df_log['ESTADO_ANTERIOR'] == 'SALDO INSOLUTO') |
           (df_log['ESTADO_ANTERIOR'] == 'NO GESTIONAR') 
           , 'CATEGORIA'] = 'INACTIVO'

In [22]:
df_log.shape

(1354, 8)

In [23]:
df_log.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA
0,DNI 10039621,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO
1,DNI 10197951,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO
2,DNI 10248810,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO
3,DNI 10270696,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO
4,DNI 10363397,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO

## 2. Devolución de PyP

Levantamos los DNIs desde el archivo que devuelve PyP para cruzar contra los IDs y ver cuáles están enriquecidos.

In [24]:
df_pyp = pd.read_excel('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Datasets/Datasets recibidos/MOP - 11022021 -Enriquecido - Copy.xlsx',skiprows=2, header=[0,1])

In [25]:
df_pyp.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Cuil                Dni      Fecha de Nac. Fecha de Defuncion
0        20140531562           14053156         1959-10-12                NaN
1        27281648867           28164886         1980-09-14                NaN
2        20398295383           39829538         1996-07-25                NaN
3        20359239530           35923953         1992-02-12                NaN
4        20939121383           93912138         1992-12-11                NaN

  Unnamed: 4_level_0             Unnamed: 5_level_0     Unnamed: 6_level_0  \
                Sexo                        Titular                  Calle
0                  M          CALDERON JUAN DOMINGO                CALLE 8
1                  F             BAEZ CECILIA LUJAN              VILLAGUAY
2                  M       CARDOZO SANTIAGO EDUARDO          PRES QUINTANA
3                  M  BUSTOS CLEVERS CARLOS OCTAVIO  CARLOS M ALVEAR NORTE
4                  M     BENEGA LOPEZ ARNALDO ARIEL               CALLE 22

  Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
              Numero       Piso y Depto      Codigo Postal  ...
0                378                NaN               2555  ...
1               2130                NaN               1849  ...
2               1723                NaN               1615  ...
3                143                NaN               5400  ...
4                170                NaN               1743  ...

  Contactacion Opcional (Familiar)                                    \
                        Tel Fijo 2     Celular 1 Celular 2 Celular 3
0                              NaN           NaN       NaN       NaN
1                              NaN           NaN       NaN       NaN
2                              NaN           NaN       NaN       NaN
3                              NaN  2.646737e+09       NaN       NaN
4                              NaN           NaN       NaN       NaN

                            Contactacion Opcional (Vecino)
  Celular 4 Celular 5 Email                         Nombre      Telefono SCORE
0       NaN       NaN   NaN                            NaN           NaN   345
1       NaN       NaN   NaN                   LUJAN OLGA Y  1.142688e+09    34
2       NaN       NaN   NaN                            NaN           NaN   345
3       NaN       NaN   NaN                            NaN           NaN   345
4       NaN       NaN   NaN                            NaN           NaN   345

[5 rows x 229 columns]

In [26]:
df_pyp.shape

(1348, 229)

In [27]:
df_reduced = df_pyp [[('Unnamed: 0_level_0','Cuil'),('Unnamed: 1_level_0','Dni')]]

In [28]:
df_reduced.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0
                Cuil                Dni
0        20140531562           14053156
1        27281648867           28164886
2        20398295383           39829538
3        20359239530           35923953
4        20939121383           93912138

In [29]:
df_reduced.shape

(1348, 2)

Eliminamos el multilevel de las columnas, y las renombramos:

In [30]:
df_reduced.columns = df_reduced.columns.droplevel()

In [31]:
df_reduced.head()

          Cuil       Dni
0  20140531562  14053156
1  27281648867  28164886
2  20398295383  39829538
3  20359239530  35923953
4  20939121383  93912138

In [32]:
df_reduced = df_reduced.rename(columns={"Cuil": "CUIT_CUIL", 'Dni': 'NRO_DOC'})

In [33]:
df_reduced.head()

     CUIT_CUIL   NRO_DOC
0  20140531562  14053156
1  27281648867  28164886
2  20398295383  39829538
3  20359239530  35923953
4  20939121383  93912138

In [34]:
df_reduced.shape

(1348, 2)

## NRO_DOC para union de dataframes

Creamos una columna que contenga IDMOROSO + DATOADIC según corresponda

In [35]:
#df_log.loc[(df_log['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_log['DATOADIC']

In [36]:
df_log ['NRO_DOC'] = df_log ['IDMOROSO']

In [37]:
df_log.tail()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC
1349,LE 5094735,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,LE 5094735
1350,LE 5460817,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,LE 5460817
1351,LE 5793367,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,LE 5793367
1352,LE 7296686,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,LE 7296686
1353,LE 8533121,BSR_TARDIA,INTERESADO_MOPCPAGOS,2021-02-11,2021-02-24,2021-02-24,PYP,NaN,LE 8533121

## 12.2) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurídica__ (TO DO)

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos. Esta función debe ejecutarse en primer lugar.
- __DNI Spaces__: Elimina los espacios.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: Decisión sobre dejar un cuit o volverlo DNI

In [38]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [39]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [40]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
        
    else:
        dni = string_dni
        
    return dni

In [41]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [42]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [43]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [44]:
df_log['NRO_DOC'] = [(str(df_log['NRO_DOC'][i]).strip()) for i in range (df_log['NRO_DOC'].count())]

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [45]:
df_log['TIPO_DOC'] = [tipo_doc_1(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

Para la limpieza de DNIs:

In [46]:
df_log['NRO_DOC'] = [standard_dni(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [47]:
df_log['NRO_DOC'] = [dni_characters(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [48]:
df_log['NRO_DOC'] = [cuit(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [49]:
df_log['NRO_DOC'] = [dni_zero(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [50]:
df_log['TIPO_DOC'] = [tipo_doc_2(df_log['NRO_DOC'][i],df_log['TIPO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [51]:
df_log.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC
0,DNI 10039621,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,10039621,DNI
1,DNI 10197951,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,10197951,DNI
2,DNI 10248810,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,10248810,DNI
3,DNI 10270696,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,10270696,DNI
4,DNI 10363397,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,10363397,DNI

In [52]:
df_log.shape

(1354, 10)

# 13) Union de Dataframes

Se unen ambos dataframes en la columna NRO_DOC

Convertimos la columna NRO_DOC de objeto a INT para hacer la unión

In [53]:
df_reduced = df_reduced.astype({'NRO_DOC': 'str'})

In [54]:
df_union = pd.merge(df_log, df_reduced, on='NRO_DOC', how='inner')

In [55]:
#df_union = pd.merge(df_log,df_reduced[['NRO_DOC']],on=['NRO_DOC'],how="outer",indicator=True)
#df_union = df_union[df_union['_merge']=='left_only']

In [56]:
df_union.shape

(1348, 11)

In [57]:
df_union.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC,CUIT_CUIL
0,DNI 10039621,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,10039621,DNI,27100396217
1,DNI 10197951,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,10197951,DNI,20101979513
2,DNI 10248810,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,10248810,DNI,20102488106
3,DNI 10270696,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,10270696,DNI,20102706960
4,DNI 10363397,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,10363397,DNI,23103633974

In [58]:
df_clean = df_union.drop_duplicates()

In [59]:
df_clean.shape

(1348, 11)

In [60]:
duplicateRowsDF = df_union[df_union.duplicated(subset=['IDMOROSO'], keep=False)]

In [61]:
duplicateRowsDF

Empty DataFrame
Columns: [IDMOROSO, IDCLIENTE, ESTADO_ANTERIOR, FECHA_ENVIO_ENRIQUECIMIENTO, FECHA_INSERCION_DATO, FECHA_CAMBIO_ESTADO, PROVEEDOR, CATEGORIA, NRO_DOC, TIPO_DOC, CUIT_CUIL]
Index: []

## Nuevo Estado

Como no se usaron nuevos estados, se deja en nulo

In [62]:
df_clean = df_clean.assign(NUEVO_ESTADO=np.nan)

## Enriquecido

Nota: sólo estoy mirando los enriquecidos. Si no se enriqueció, no lo mando al LOG.

In [63]:
df_clean = df_clean.assign(ENRIQUECIDO=1)

In [64]:
df_clean.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC,CUIT_CUIL,NUEVO_ESTADO,ENRIQUECIDO
0,DNI 10039621,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,10039621,DNI,27100396217,NaN,1
1,DNI 10197951,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,10197951,DNI,20101979513,NaN,1
2,DNI 10248810,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,10248810,DNI,20102488106,NaN,1
3,DNI 10270696,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,10270696,DNI,20102706960,NaN,1
4,DNI 10363397,BSR_TARDIA,NO VISTO,2021-02-11,2021-02-24,2021-02-24,PYP,NEUTRO,10363397,DNI,23103633974,NaN,1

In [65]:
df_clean = df_clean [['IDMOROSO','IDCLIENTE','ESTADO_ANTERIOR','CATEGORIA','NUEVO_ESTADO','ENRIQUECIDO','FECHA_ENVIO_ENRIQUECIMIENTO','FECHA_INSERCION_DATO','FECHA_CAMBIO_ESTADO','PROVEEDOR']]

In [66]:
df_clean.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,CATEGORIA,NUEVO_ESTADO,ENRIQUECIDO,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR
0,DNI 10039621,BSR_TARDIA,NO VISTO,NEUTRO,NaN,1,2021-02-11,2021-02-24,2021-02-24,PYP
1,DNI 10197951,BSR_TARDIA,NO VISTO,NEUTRO,NaN,1,2021-02-11,2021-02-24,2021-02-24,PYP
2,DNI 10248810,BSR_TARDIA,NO VISTO,NEUTRO,NaN,1,2021-02-11,2021-02-24,2021-02-24,PYP
3,DNI 10270696,BSR_TARDIA,NO VISTO,NEUTRO,NaN,1,2021-02-11,2021-02-24,2021-02-24,PYP
4,DNI 10363397,BSR_TARDIA,NO VISTO,NEUTRO,NaN,1,2021-02-11,2021-02-24,2021-02-24,PYP

In [67]:
df_clean.shape

(1348, 10)

# Export

In [68]:
df_clean.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Exports/DAM_LOG/PyP_ENRIQUECIDOS_DAM_LOG - 2402.csv',index=False)