Vamos a leer el dataset que envía PyP

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Datasets/Datasets recibidos/MOP - 11022021 -Enriquecido - Copy.xlsx',skiprows=2, header=[0,1])

In [3]:
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Cuil                Dni      Fecha de Nac. Fecha de Defuncion
0        20140531562           14053156         1959-10-12                NaN
1        27281648867           28164886         1980-09-14                NaN
2        20398295383           39829538         1996-07-25                NaN
3        20359239530           35923953         1992-02-12                NaN
4        20939121383           93912138         1992-12-11                NaN

  Unnamed: 4_level_0             Unnamed: 5_level_0     Unnamed: 6_level_0  \
                Sexo                        Titular                  Calle
0                  M          CALDERON JUAN DOMINGO                CALLE 8
1                  F             BAEZ CECILIA LUJAN              VILLAGUAY
2                  M       CARDOZO SANTIAGO EDUARDO          PRES QUINTANA
3                  M  BUSTOS CLEVERS CARLOS OCTAVIO  CARLOS M ALVEAR NORTE
4                  M     BENEGA LOPEZ ARNALDO ARIEL               CALLE 22

  Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
              Numero       Piso y Depto      Codigo Postal  ...
0                378                NaN               2555  ...
1               2130                NaN               1849  ...
2               1723                NaN               1615  ...
3                143                NaN               5400  ...
4                170                NaN               1743  ...

  Contactacion Opcional (Familiar)                                    \
                        Tel Fijo 2     Celular 1 Celular 2 Celular 3
0                              NaN           NaN       NaN       NaN
1                              NaN           NaN       NaN       NaN
2                              NaN           NaN       NaN       NaN
3                              NaN  2.646737e+09       NaN       NaN
4                              NaN           NaN       NaN       NaN

                            Contactacion Opcional (Vecino)
  Celular 4 Celular 5 Email                         Nombre      Telefono SCORE
0       NaN       NaN   NaN                            NaN           NaN   345
1       NaN       NaN   NaN                   LUJAN OLGA Y  1.142688e+09    34
2       NaN       NaN   NaN                            NaN           NaN   345
3       NaN       NaN   NaN                            NaN           NaN   345
4       NaN       NaN   NaN                            NaN           NaN   345

[5 rows x 229 columns]

In [4]:
df.shape

(1348, 229)

## 1.2) Data Cleaning: Datasets

Vamos a dropear aquellas columnas y filas que no tengan ningún valor (es decir, que sean todos NaNs)

In [5]:
df = df.dropna(axis=0, how='all')

In [6]:
#df = df.dropna(axis=1, how='all')

In [7]:
df.shape

(1348, 229)

Ahora todas las columnas tienen al menos 1 dato.

# 2) Inmuebles

Vamos a obtener los inmuebles. Solamente podemos sacar información de la Cantidad de Inmuebles registrados:

In [8]:
df_reduced = df [[('Unnamed: 0_level_0','Cuil'),('Unnamed: 1_level_0','Dni'), ('Unnamed: 5_level_0','Titular')
                  ,('Propiedades','Unnamed: 111_level_1')
                  ]]

In [9]:
df_reduced.head()

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 5_level_0,Propiedades
,Cuil,Dni,Titular,Unnamed: 111_level_1
0,20140531562,14053156,CALDERON JUAN DOMINGO,0
1,27281648867,28164886,BAEZ CECILIA LUJAN,0
2,20398295383,39829538,CARDOZO SANTIAGO EDUARDO,0
3,20359239530,35923953,BUSTOS CLEVERS CARLOS OCTAVIO,0
4,20939121383,93912138,BENEGA LOPEZ ARNALDO ARIEL,0

In [10]:
df_reduced.shape

(1348, 4)

Eliminamos el multilevel de las columnas, y las renombramos:

In [11]:
df_reduced.columns = df_reduced.columns.droplevel()

In [12]:
df_reduced.head()

          Cuil       Dni                        Titular  Unnamed: 111_level_1
0  20140531562  14053156          CALDERON JUAN DOMINGO                     0
1  27281648867  28164886             BAEZ CECILIA LUJAN                     0
2  20398295383  39829538       CARDOZO SANTIAGO EDUARDO                     0
3  20359239530  35923953  BUSTOS CLEVERS CARLOS OCTAVIO                     0
4  20939121383  93912138     BENEGA LOPEZ ARNALDO ARIEL                     0

In [13]:
df_reduced = df_reduced.rename(columns={"Cuil": "CUIT_CUIL", 'Dni': 'NRO_DOC', 'Unnamed: 111_level_1':'Propiedades'})

In [14]:
df_reduced.head()

     CUIT_CUIL   NRO_DOC                        Titular  Propiedades
0  20140531562  14053156          CALDERON JUAN DOMINGO            0
1  27281648867  28164886             BAEZ CECILIA LUJAN            0
2  20398295383  39829538       CARDOZO SANTIAGO EDUARDO            0
3  20359239530  35923953  BUSTOS CLEVERS CARLOS OCTAVIO            0
4  20939121383  93912138     BENEGA LOPEZ ARNALDO ARIEL            0

# 3) Drop rows

Dropeamos aquellas filas que tengan 0 en la columna Propiedades, ya que no nos aporta nada:

In [15]:
df_reduced = df_reduced[df_reduced['Propiedades']>0]

In [16]:
df_reduced.shape

(56, 4)

In [17]:
df_reduced.head()

       CUIT_CUIL   NRO_DOC                   Titular  Propiedades
23   27113940617  11394061   BONORA EMILIA MAGDALENA            1
25   27246807294  24680729  CARDINALI CECILIA ELOISA            1
64   20078231816   7823181   CHIMENTI JORGE SALVADOR            1
73   27050899484   5089948        BRUNO SUSANA ESTER            1
101  27060664426   6066442         BRAVO AIDA JOSEFA            1

# 4) Duplicación de filas

Si el moroso tiene 2 propiedades, quiero que aparezcan dos filas

In [18]:
#repeat rows
df_reduced = df_reduced.loc[df_reduced.index.repeat(df_reduced['Propiedades'])]

In [19]:
df_reduced

        CUIT_CUIL   NRO_DOC                   Titular  Propiedades
23    27113940617  11394061   BONORA EMILIA MAGDALENA            1
25    27246807294  24680729  CARDINALI CECILIA ELOISA            1
64    20078231816   7823181   CHIMENTI JORGE SALVADOR            1
73    27050899484   5089948        BRUNO SUSANA ESTER            1
101   27060664426   6066442         BRAVO AIDA JOSEFA            1
...           ...       ...                       ...          ...
1298  20043091205   4309120        CATANIA RUBEN ABEL            2
1298  20043091205   4309120        CATANIA RUBEN ABEL            2
1321  20176180413  17618041  BONASTRE VOSS JOSE MARIA            2
1321  20176180413  17618041  BONASTRE VOSS JOSE MARIA            2
1344  20102706960  10270696     BELMONTE CARLOS OSCAR            1

[83 rows x 4 columns]

In [20]:
#df_reduced.to_csv('propiedades.csv')

# 4) Proveedor Dato

Agregamos la columna PROVEEDOR_DATO, con el código correspondiente.

PyP = P2

In [21]:
cod_pyp = 'P2'

In [22]:
df_clean = df_reduced.assign(PROVEEDOR=cod_pyp)

In [23]:
df_clean.head()

       CUIT_CUIL   NRO_DOC                   Titular  Propiedades PROVEEDOR
23   27113940617  11394061   BONORA EMILIA MAGDALENA            1        P2
25   27246807294  24680729  CARDINALI CECILIA ELOISA            1        P2
64   20078231816   7823181   CHIMENTI JORGE SALVADOR            1        P2
73   27050899484   5089948        BRUNO SUSANA ESTER            1        P2
101  27060664426   6066442         BRAVO AIDA JOSEFA            1        P2

# 6) Columna Porcentaje

Como no tenemos datos sobre el porcentaje de posesión del vehículo, se asigna 100% a todos los casos

In [24]:
df_clean = df_clean.assign(PORCENTAJE=100)

In [25]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Propiedades,PROVEEDOR,PORCENTAJE
23,27113940617,11394061,BONORA EMILIA MAGDALENA,1,P2,100
25,27246807294,24680729,CARDINALI CECILIA ELOISA,1,P2,100
64,20078231816,7823181,CHIMENTI JORGE SALVADOR,1,P2,100
73,27050899484,5089948,BRUNO SUSANA ESTER,1,P2,100
101,27060664426,6066442,BRAVO AIDA JOSEFA,1,P2,100

# 7) Columna Fecha

Para el campo FECHA_INGRESO_DATO, usamos la fecha en la que se hace la inserción de los datos:

In [26]:
fecha_ingreso = pd.to_datetime('today')

In [27]:
df_clean = df_clean.assign(FECHA_INGRESO=fecha_ingreso)

In [28]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Propiedades,PROVEEDOR,PORCENTAJE,FECHA_INGRESO
23,27113940617,11394061,BONORA EMILIA MAGDALENA,1,P2,100,2021-02-24 11:56:46.246867
25,27246807294,24680729,CARDINALI CECILIA ELOISA,1,P2,100,2021-02-24 11:56:46.246867
64,20078231816,7823181,CHIMENTI JORGE SALVADOR,1,P2,100,2021-02-24 11:56:46.246867
73,27050899484,5089948,BRUNO SUSANA ESTER,1,P2,100,2021-02-24 11:56:46.246867
101,27060664426,6066442,BRAVO AIDA JOSEFA,1,P2,100,2021-02-24 11:56:46.246867

# 8) Columna Domicilio

Se realiza la limpieza de la columna Fabricante, ya que se observan los siguientes problemas:

- Cuando no tiene modelo o marca, se escribe "No Consta". Eso va a parar a Fabricante.
- Al concatenar, se repite el nombre de la Marca en modelo.

In [29]:
df_clean = df_clean.assign(DOMICILIO='No disponible')

In [30]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Propiedades,PROVEEDOR,PORCENTAJE,FECHA_INGRESO,DOMICILIO
23,27113940617,11394061,BONORA EMILIA MAGDALENA,1,P2,100,2021-02-24 11:56:46.246867,No disponible
25,27246807294,24680729,CARDINALI CECILIA ELOISA,1,P2,100,2021-02-24 11:56:46.246867,No disponible
64,20078231816,7823181,CHIMENTI JORGE SALVADOR,1,P2,100,2021-02-24 11:56:46.246867,No disponible
73,27050899484,5089948,BRUNO SUSANA ESTER,1,P2,100,2021-02-24 11:56:46.246867,No disponible
101,27060664426,6066442,BRAVO AIDA JOSEFA,1,P2,100,2021-02-24 11:56:46.246867,No disponible

# 9) Columna Localidad

In [31]:
df_clean = df_clean.assign(LOCALIDAD='Desconocida')

# 10) Columna Codigo_postal

In [32]:
df_clean = df_clean.assign(CODIGO_POSTAL='No disponible')

# 11) Columna Provincia

In [33]:
df_clean = df_clean.assign(PROVINCIA='Desconocida')

# 12) Pais

In [34]:
df_clean = df_clean.assign(PAIS='No disponible')

In [35]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Propiedades,PROVEEDOR,PORCENTAJE,FECHA_INGRESO,DOMICILIO,LOCALIDAD,CODIGO_POSTAL,PROVINCIA,PAIS
23,27113940617,11394061,BONORA EMILIA MAGDALENA,1,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible
25,27246807294,24680729,CARDINALI CECILIA ELOISA,1,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible
64,20078231816,7823181,CHIMENTI JORGE SALVADOR,1,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible
73,27050899484,5089948,BRUNO SUSANA ESTER,1,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible
101,27060664426,6066442,BRAVO AIDA JOSEFA,1,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible

In [36]:
#df_clean.to_csv('inmuebles_test.csv')

In [37]:
df_clean.shape

(83, 12)

# 9) Concatenación con .csv enviado

Vamos a concatenar nuestro dataframe con el dataframe enviado para enriquecer. Para esto, vamos a hacer una limpieza inicial de cómo se enviaron esos datos. Finalmente, se uniran ambos dataframes por __DNI__.

## 9.1) Dataset: PyP

Vamos a analizar y limpiar el dataset enviado a PyP para el enriquecimiento:

In [38]:
df_pyp = pd.read_excel('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Datasets/Datasets enviados/0209-MOPC-PEDIDO DE DATOS.xlsx')

In [39]:
df_pyp.head()

                  DNI                                    NOMBRE   IDCLIENTE
0  DNI 10039621        ANA MARIA,CANO                            BSR_TARDIA
1  DNI 10197951        BERNARDO,CHAUQUE                          BSR_TARDIA
2  DNI 10248810        CIRO EMIR,BIANCHIMANI                     BSR_TARDIA
3  DNI 10270696        CARLOS OSCARBELMONTE                      BSR_TARDIA
4  DNI 10363397        CALDAS ROSA HAYDEE                        BSR_TARDIA

Dropeamos la última columna que no tiene datos

In [40]:
#df_pyp = df_pyp.drop(columns=['FILTROA','ESTADO'])

In [41]:
df_pyp.head()

                  DNI                                    NOMBRE   IDCLIENTE
0  DNI 10039621        ANA MARIA,CANO                            BSR_TARDIA
1  DNI 10197951        BERNARDO,CHAUQUE                          BSR_TARDIA
2  DNI 10248810        CIRO EMIR,BIANCHIMANI                     BSR_TARDIA
3  DNI 10270696        CARLOS OSCARBELMONTE                      BSR_TARDIA
4  DNI 10363397        CALDAS ROSA HAYDEE                        BSR_TARDIA

In [42]:
df_pyp.shape

(1354, 3)

Creamos una columna que contenga IDMOROSO + DATOADIC según corresponda

In [43]:
#df_pyp.loc[(df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['DATOADIC']

In [44]:
df_pyp = df_pyp.rename(columns={'DNI':'IDMOROSO'})

In [45]:
df_pyp['NRO_DOC'] = df_pyp['IDMOROSO']

In [46]:
df_pyp.head()

,IDMOROSO,NOMBRE,IDCLIENTE,NRO_DOC
0,DNI 10039621,"ANA MARIA,CANO",BSR_TARDIA,DNI 10039621
1,DNI 10197951,"BERNARDO,CHAUQUE",BSR_TARDIA,DNI 10197951
2,DNI 10248810,"CIRO EMIR,BIANCHIMANI",BSR_TARDIA,DNI 10248810
3,DNI 10270696,CARLOS OSCARBELMONTE,BSR_TARDIA,DNI 10270696
4,DNI 10363397,CALDAS ROSA HAYDEE,BSR_TARDIA,DNI 10363397

## 8.2) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurídica__ (TO DO)

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos. Esta función debe ejecutarse en primer lugar.
- __DNI Spaces__: Elimina los espacios.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: Decisión sobre dejar un cuit o volverlo DNI

In [47]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [48]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [49]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
        
    else:
        dni = string_dni
        
    return dni

In [50]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [51]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [52]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [53]:
df_pyp['NRO_DOC'] = [(str(df_pyp['NRO_DOC'][i]).strip()) for i in range (df_pyp['NRO_DOC'].count())]

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [54]:
df_pyp['TIPO_DOC'] = [tipo_doc_1(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para la limpieza de DNIs:

In [55]:
df_pyp['NRO_DOC'] = [standard_dni(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [56]:
df_pyp['NRO_DOC'] = [dni_characters(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [57]:
df_pyp['NRO_DOC'] = [cuit(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [58]:
df_pyp['NRO_DOC'] = [dni_zero(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [59]:
df_pyp['TIPO_DOC'] = [tipo_doc_2(df_pyp['NRO_DOC'][i],df_pyp['TIPO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [60]:
df_pyp.head()

,IDMOROSO,NOMBRE,IDCLIENTE,NRO_DOC,TIPO_DOC
0,DNI 10039621,"ANA MARIA,CANO",BSR_TARDIA,10039621,DNI
1,DNI 10197951,"BERNARDO,CHAUQUE",BSR_TARDIA,10197951,DNI
2,DNI 10248810,"CIRO EMIR,BIANCHIMANI",BSR_TARDIA,10248810,DNI
3,DNI 10270696,CARLOS OSCARBELMONTE,BSR_TARDIA,10270696,DNI
4,DNI 10363397,CALDAS ROSA HAYDEE,BSR_TARDIA,10363397,DNI

# 9) Union de Dataframes

Se unen ambos dataframes en la columna NRO_DOC

Convertimos la columna NRO_DOC de objeto a INT para hacer la unión

In [61]:
df_clean = df_clean.astype({'NRO_DOC': 'str'})

In [62]:
df_union = pd.merge(df_clean,df_pyp, on='NRO_DOC', how='inner')

In [63]:
df_union.shape

(83, 16)

In [64]:
df_union.head(15)

,CUIT_CUIL,NRO_DOC,Titular,Propiedades,PROVEEDOR,PORCENTAJE,FECHA_INGRESO,DOMICILIO,LOCALIDAD,CODIGO_POSTAL,PROVINCIA,PAIS,IDMOROSO,NOMBRE,IDCLIENTE,TIPO_DOC
0,27113940617,11394061,BONORA EMILIA MAGDALENA,1,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible,DNI 11394061,"EMILIA MAGDALENA,BONORA",BSR_TARDIA,DNI
1,27246807294,24680729,CARDINALI CECILIA ELOISA,1,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible,DNI 24680729,CARDINALI CECILIA ELOISA,BSR_TARDIA,DNI
2,20078231816,7823181,CHIMENTI JORGE SALVADOR,1,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible,DNI 7823181,"JORGE SALVADOR,CHIMENTI",BSR_TARDIA,DNI
3,27050899484,5089948,BRUNO SUSANA ESTER,1,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible,DNI 5089948,"SUSANA ESTER,BRUNO",BSR_TARDIA,DNI
4,27060664426,6066442,BRAVO AIDA JOSEFA,1,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible,LC 6066442,"AIDA JOSEFA,BRAVO",BSR_TARDIA,LC
5,27052940260,5294026,BENATTI ZULEMA ELSA,1,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible,DNI 5294026,"ZULEMA ELSA,BENATTI",BSR_TARDIA,DNI
6,20171449619,17144961,BRUNO RICARDO RUBEN,2,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible,DNI 17144961,"RICARDO RUBEN,BRUNO",BSR_TARDIA,DNI
7,20171449619,17144961,BRUNO RICARDO RUBEN,2,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible,DNI 17144961,"RICARDO RUBEN,BRUNO",BSR_TARDIA,DNI
8,27036714943,3671494,CHARIATTE SUSANA BEATRIZ,2,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible,DNI 3671494,"SUSANA BEATRIZ,CHARIATTE",BSR_TARDIA,DNI
9,27036714943,3671494,CHARIATTE SUSANA BEATRIZ,2,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible,DNI 3671494,"SUSANA BEATRIZ,CHARIATTE",BSR_TARDIA,DNI
10,20077431250,7743125,BURI OSCAR ANGEL,2,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible,DNI 7743125,"OSCAR ANGEL,BURI",BSR_TARDIA,DNI
11,20077431250,7743125,BURI OSCAR ANGEL,2,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible,DNI 7743125,"OSCAR ANGEL,BURI",BSR_TARDIA,DNI
12,20178554892,17855489,CHAVEZ RICARDO JOSE,2,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible,DNI 17855489,"RICARDO JOSE,CHAVEZ",BSR_TARDIA,DNI
13,20178554892,17855489,CHAVEZ RICARDO JOSE,2,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible,DNI 17855489,"RICARDO JOSE,CHAVEZ",BSR_TARDIA,DNI
14,20142309093,14230909,CANOVAS ATILIO RODOLFO,1,P2,100,2021-02-24 11:56:46.246867,No disponible,Desconocida,No disponible,Desconocida,No disponible,DNI 14230909,"ATILIO RODOLFO,CANOVAS",BSR_TARDIA,DNI

In [65]:
#df_union.to_csv('inmuebles_union.csv')

# 10) Export

Renombramos, dropeamos y reordenamos las columnas

Dropeamos columnas que no nos sirven

In [66]:
df_export = df_union.drop(columns=['CUIT_CUIL','Titular','NRO_DOC','Propiedades','NOMBRE','CUIT_CUIL','IDCLIENTE','TIPO_DOC'], axis=0)

In [67]:
df_export = df_export[['IDMOROSO','DOMICILIO','LOCALIDAD','CODIGO_POSTAL','PROVINCIA','PAIS','PORCENTAJE','FECHA_INGRESO','PROVEEDOR']]

In [68]:
df_export.head()

,IDMOROSO,DOMICILIO,LOCALIDAD,CODIGO_POSTAL,PROVINCIA,PAIS,PORCENTAJE,FECHA_INGRESO,PROVEEDOR
0,DNI 11394061,No disponible,Desconocida,No disponible,Desconocida,No disponible,100,2021-02-24 11:56:46.246867,P2
1,DNI 24680729,No disponible,Desconocida,No disponible,Desconocida,No disponible,100,2021-02-24 11:56:46.246867,P2
2,DNI 7823181,No disponible,Desconocida,No disponible,Desconocida,No disponible,100,2021-02-24 11:56:46.246867,P2
3,DNI 5089948,No disponible,Desconocida,No disponible,Desconocida,No disponible,100,2021-02-24 11:56:46.246867,P2
4,LC 6066442,No disponible,Desconocida,No disponible,Desconocida,No disponible,100,2021-02-24 11:56:46.246867,P2

In [69]:
df_export.shape

(83, 9)

## 14.1) Export de dataframe + IDCLIENTE para análisis

In [70]:
#df_union.to_excel('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Exports/Inmuebles para analisis/PyP_inmuebles_1401.xlsx')
#df_union.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Exports/Inmuebles para analisis/PyP_inmuebles_1401.csv')

## 14.2) Insert a tabla DAM_CONTACTABILIDAD:

In [71]:
df_export.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Exports/DAM_INMUEBLES/PyP_DAM_INMUEBLES_2402.csv',index=False)