# 1) Datasets

Vamos a leer el dataset que envía PyP

In [14]:
import pandas as pd
import numpy as np

In [15]:
df = pd.read_excel('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Datasets/Datasets recibidos/MOP - 11022021 -Enriquecido - Copy - Deudas_score.xlsx',skiprows=2, header=[0,1])

In [16]:
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Cuil                Dni      Fecha de Nac. Fecha de Defuncion
0        20140531562           14053156         1959-10-12                NaN
1        27281648867           28164886         1980-09-14                NaN
2        20398295383           39829538         1996-07-25                NaN
3        20359239530           35923953         1992-02-12                NaN
4        20939121383           93912138         1992-12-11                NaN

  Unnamed: 4_level_0             Unnamed: 5_level_0     Unnamed: 6_level_0  \
                Sexo                        Titular                  Calle
0                  M          CALDERON JUAN DOMINGO                CALLE 8
1                  F             BAEZ CECILIA LUJAN              VILLAGUAY
2                  M       CARDOZO SANTIAGO EDUARDO          PRES QUINTANA
3                  M  BUSTOS CLEVERS CARLOS OCTAVIO  CARLOS M ALVEAR NORTE
4                  M     BENEGA LOPEZ ARNALDO ARIEL               CALLE 22

  Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
              Numero       Piso y Depto      Codigo Postal  ...
0                378                NaN               2555  ...
1               2130                NaN               1849  ...
2               1723                NaN               1615  ...
3                143                NaN               5400  ...
4                170                NaN               1743  ...

  Contactacion Opcional (Familiar)                                    \
                        Tel Fijo 2     Celular 1 Celular 2 Celular 3
0                              NaN           NaN       NaN       NaN
1                              NaN           NaN       NaN       NaN
2                              NaN           NaN       NaN       NaN
3                              NaN  2.646737e+09       NaN       NaN
4                              NaN           NaN       NaN       NaN

                            Contactacion Opcional (Vecino)
  Celular 4 Celular 5 Email                         Nombre      Telefono SCORE
0       NaN       NaN   NaN                            NaN           NaN   345
1       NaN       NaN   NaN                   LUJAN OLGA Y  1.142688e+09    34
2       NaN       NaN   NaN                            NaN           NaN   345
3       NaN       NaN   NaN                            NaN           NaN   345
4       NaN       NaN   NaN                            NaN           NaN   345

[5 rows x 229 columns]

In [17]:
df.shape

(1348, 229)

## 1.2) Data Cleaning: Datasets

Vamos a dropear aquellas columnas y filas que no tengan ningún valor (es decir, que sean todos NaNs)

In [18]:
df = df.dropna(axis=0, how='all')

In [19]:
#df = df.dropna(axis=1, how='all')

In [20]:
df.shape

(1348, 229)

Ahora todas las columnas tienen al menos 1 dato.

# 2) Deudas

Vamos a obtener las deudas de las columnas donde pueden aparecer, que son:

Dentro de Comportamiento en Banco Central del Titular:

- Cant. Sit 1,2,3,4 y 5.
- Entidad 1,2,3 y 4.
- Deuda 1,2,3 y 4.

In [21]:
#df.to_excel('columns_dataset_copia.xlsx')

In [22]:
df.columns = df.columns.droplevel()

In [23]:
df_reduced = df [['Cuil','Dni','Cant. Sit 1 Titular', 'Cant. Sit 2 Titular','Cant. Sit 3 Titular','Cant. Sit 4 Titular'
                 , 'Cant. Sit 5 Titular','Entidad 1 Titular','Deuda 1 Titular', 'Entidad 2 Titular','Deuda 2 Titular'
                 ,'Entidad 3 Titular','Deuda 3 Titular', 'Entidad 4 Titular','Deuda 4 Titular'
                 ]]

In [24]:
df_reduced.head()

,Cuil,Dni,Cant. Sit 1 Titular,Cant. Sit 2 Titular,Cant. Sit 3 Titular,Cant. Sit 4 Titular,Cant. Sit 5 Titular,Entidad 1 Titular,Deuda 1 Titular,Entidad 2 Titular,Deuda 2 Titular,Entidad 3 Titular,Deuda 3 Titular,Entidad 4 Titular,Deuda 4 Titular
0,20140531562,14053156,0,0,0,0,4,MONTEMAR COMPAÑIA FINANCIERA S.A.,108,TARJETA NARANJA S.A.,95,BANCO DE GALICIA Y BUENOS AIRES S.A.U.,48,BANCO SANTANDER RIO S.A.,0
1,27281648867,28164886,0,0,0,0,1,BANCO SANTANDER RIO S.A.,0,NaN,0,NaN,0,NaN,0
2,20398295383,39829538,0,0,0,0,1,BANCO SANTANDER RIO S.A.,0,NaN,0,NaN,0,NaN,0
3,20359239530,35923953,0,0,0,0,1,BANCO SANTANDER RIO S.A.,0,NaN,0,NaN,0,NaN,0
4,20939121383,93912138,0,0,0,0,2,BANCO COMAFI SOCIEDAD ANONIMA,7,BANCO SANTANDER RIO S.A.,0,NaN,0,NaN,0

In [25]:
df_reduced.shape

(1348, 15)

In [26]:
df_reduced.to_csv('test.csv')

Eliminamos el multilevel de las columnas, y las renombramos:

# 4) Dataframe: Entidades + Cantidad

Dropeamos aquellas filas que tengan NaN en la columna Dato, ya que no nos aporta nada:

Definimos las listas de columnas de interés

In [27]:
cantidad_situacion_columns = ['Cant. Sit 1 Titular', 'Cant. Sit 2 Titular',
                              'Cant. Sit 3 Titular', 'Cant. Sit 4 Titular',
                              'Cant. Sit 5 Titular']
entidades_columns = ['Entidad 1 Titular', 'Entidad 2 Titular', 'Entidad 3 Titular', 'Entidad 4 Titular']
deudas_columns = ['Deuda 1 Titular','Deuda 2 Titular','Deuda 3 Titular','Deuda 4 Titular']

Aplicamos las funciones correspondientes

In [28]:
df_reduced["Situacion"] = df_reduced.apply(
    lambda row: sum([[cantidad_situacion_columns[n]
                      for _ in range(row[cantidad_situacion_columns[n]])]
                     for n in range(len(cantidad_situacion_columns))], []), axis=1)

ent_sit = df_reduced.apply(
    lambda row: [(row[entidades_columns[idx]], row["Situacion"][idx])
                     for idx in range(len(row["Situacion"]))], axis=1)

deuda_sit = df_reduced.apply(
    lambda row: [(row[deudas_columns[idx]], row["Situacion"][idx])
                     for idx in range(len(row["Situacion"]))], axis=1)

<ipython-input-28-059b002e3bda>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced["Situacion"] = df_reduced.apply(

In [37]:
ent_sit[0]

[('MONTEMAR COMPAÑIA FINANCIERA S.A.', 'Cant. Sit 5 Titular'),
 ('TARJETA NARANJA S.A.', 'Cant. Sit 5 Titular'),
 ('BANCO DE GALICIA Y BUENOS AIRES S.A.U.', 'Cant. Sit 5 Titular'),
 ('BANCO SANTANDER RIO S.A.', 'Cant. Sit 5 Titular')]

Definimos los nuevos dataframes

In [ ]:
ent_sit = ent_sit.explode()
ent_sit = ent_sit.to_frame().apply(lambda x: pd.Series(x[0], index=['Entidad', 'Situacion']), axis=1, result_type='expand')

deuda_sit = deuda_sit.explode()
deuda_sit = deuda_sit.to_frame().apply(lambda x: pd.Series(x[0], index=['Deuda', 'Situacion']), axis=1, result_type='expand')

Reseteamos los indices

In [ ]:
deuda_sit_reset = deuda_sit.reset_index()

In [ ]:
ent_sit_reset = ent_sit.reset_index()

### Join

Unimos por index

In [ ]:
df_join = ent_sit_reset.join(deuda_sit_reset,lsuffix='_left',rsuffix = '_right')

In [ ]:
df_join.head(10)

# Concatenación de Dataframes

In [ ]:
df_short = df_reduced[['Cuil','Dni']]

In [ ]:
df_final = df_join.join(df_short,on='index_left',lsuffix='_left',rsuffix = '_right')

In [ ]:
df_final.head(10)

In [ ]:
#df_final.to_excel('df_deudas_test_final.xlsx')

# 6) Columna Proveedor

Agregamos la columna PROVEEDOR_DATO, con el código correspondiente.

PyP = P2

In [ ]:
cod_pyp = 'P2'

In [ ]:
df_final = df_final.assign(PROVEEDOR=cod_pyp)

In [ ]:
df_final.head()

# 7) Columna Fuente

Agregamos la columna TIPO, con el código correspondiente

In [ ]:
fuente = 'BCRA'

In [ ]:
df_final = df_final.assign(FUENTE=fuente)

In [ ]:
df_final.head ()

# 10) Columna Fecha

Para el campo FECHA_INGRESO_DATO, usamos la fecha en la que se hace la inserción de los datos:

In [ ]:
fecha_ingreso = pd.to_datetime('today')

In [ ]:
df_final = df_final.assign(FECHA_INGRESO=fecha_ingreso)

In [ ]:
df_final.head()

# 12) Concatenación con .csv enviado

Vamos a concatenar nuestro dataframe con el dataframe enviado para enriquecer. Para esto, vamos a hacer una limpieza inicial de cómo se enviaron esos datos. Finalmente, se uniran ambos dataframes por __DNI__.

## 12.1) Dataset: PyP

Vamos a analizar y limpiar el dataset enviado a PyP para el enriquecimiento:

In [ ]:
df_pyp = pd.read_excel('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Datasets/Datasets enviados/0209-MOPC-PEDIDO DE DATOS.xlsx')

In [ ]:
df_pyp.head()

Dropeamos las últimas columnas que no tienen datos

In [ ]:
#df_pyp = df_pyp.drop(columns=['FILTROA'])

In [ ]:
df_pyp.head()

Creamos una columna que contenga IDMOROSO + DATOADIC según corresponda

In [ ]:
#df_pyp.loc[(df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['DATOADIC']

In [ ]:
df_pyp = df_pyp.rename(columns={'DNI':'IDMOROSO'})

In [ ]:
df_pyp['NRO_DOC'] = df_pyp['IDMOROSO']

In [ ]:
df_pyp.head()

## 12.2) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurídica__ (TO DO)

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos. Esta función debe ejecutarse en primer lugar.
- __DNI Spaces__: Elimina los espacios.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: Decisión sobre dejar un cuit o volverlo DNI

In [ ]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [ ]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [ ]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
        
    else:
        dni = string_dni
        
    return dni

In [ ]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [ ]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [ ]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [ ]:
df_pyp['NRO_DOC'] = [(str(df_pyp['NRO_DOC'][i]).strip()) for i in range (df_pyp['NRO_DOC'].count())]

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [ ]:
df_pyp['TIPO_DOC'] = [tipo_doc_1(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para la limpieza de DNIs:

In [ ]:
df_pyp['NRO_DOC'] = [standard_dni(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [ ]:
df_pyp['NRO_DOC'] = [dni_characters(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [ ]:
df_pyp['NRO_DOC'] = [cuit(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [ ]:
df_pyp['NRO_DOC'] = [dni_zero(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [ ]:
df_pyp['TIPO_DOC'] = [tipo_doc_2(df_pyp['NRO_DOC'][i],df_pyp['TIPO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [ ]:
df_pyp.head()

# 13) Union de Dataframes

Se unen ambos dataframes en la columna NRO_DOC

Convertimos la columna NRO_DOC de objeto a INT para hacer la unión

In [ ]:
df_final = df_final.rename(columns = {'Dni':'NRO_DOC'})

In [ ]:
df_final = df_final.astype({'NRO_DOC': 'str'})

In [ ]:
df_union = pd.merge(df_final,df_pyp, on='NRO_DOC', how='inner')

In [ ]:
df_union.shape

In [ ]:
df_union.head()

### Revisamos equivalencias

In [ ]:
df_union['index_left'].equals(df_union['index_right'])

In [ ]:
df_union['Situacion_left'].equals(df_union['Situacion_right'])

# Columna Situación

Renombramos y dropeamos columnas acorde a las tablas de la db.

In [ ]:
df_union = df_union.rename(columns = {'Situacion_left':'SITUACION', 'Entidad':'BANCO','Deuda':'MONTO'})

In [ ]:
df_union.loc[(df_union['SITUACION'] == 'Cant. Sit 1 Titular') , 'SITUACION'] = 1

In [ ]:
df_union.loc[(df_union['SITUACION'] == 'Cant. Sit 2 Titular') , 'SITUACION'] = 2

In [ ]:
df_union.loc[(df_union['SITUACION'] == 'Cant. Sit 3 Titular') , 'SITUACION'] = 3

In [ ]:
df_union.loc[(df_union['SITUACION'] == 'Cant. Sit 4 Titular') , 'SITUACION'] = 4

In [ ]:
df_union.loc[(df_union['SITUACION'] == 'Cant. Sit 5 Titular') , 'SITUACION'] = 5

In [ ]:
df_union.head()

# Columna Período

Como PyP no nos devuelve el período, lo dejamos en nulo

In [ ]:
df_union = df_union.assign(PERIODO=np.nan)

# Final Drop

Dropeamos los que no tengan nada en entidad:

In [ ]:
df_union = df_union.dropna(subset=['BANCO'])

In [ ]:
df_union.shape

# 14) Export

Renombramos, dropeamos y reordenamos las columnas

In [ ]:
df_export = df_union[['IDMOROSO', 'FUENTE','BANCO','SITUACION','PERIODO','MONTO','FECHA_INGRESO','PROVEEDOR']]

In [ ]:
df_export.head()

In [ ]:
df_export.shape

Revisamos y dropeamos filas duplicadas

In [ ]:
df_duplicates = df_export[df_export.duplicated(keep=False)]

In [ ]:
df_duplicates.shape

In [ ]:
#df_duplicates.to_excel('deudas_duplicates.xlsx')

In [ ]:
df_export = df_export.drop_duplicates()

In [ ]:
df_export.shape

### Monto * 1000

In [ ]:
df_export['MONTO'] *= 1000

In [ ]:
df_export.head()

In [ ]:
df_export.tail()

## 14.1) Export de dataframe + IDCLIENTE para análisis

In [ ]:
#df_union.to_excel('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Exports/Deudas para analisis/PyP_deudas_1401.xlsx')
#df_union.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Exports/Deudas para analisis/PyP_deudas_1401.csv')

## 14.2) Insert a tabla DAM_DEUDAS:

In [ ]:
#df_export.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Exports/DAM_DEUDAS/PyP_DAM_DEUDAS_2402.csv', encoding = 'utf-8-sig',index=False)

In [ ]:
df_export.loc[0,:]