# 1) Datasets

Vamos a leer el dataset que envía PyP

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Datasets/Datasets recibidos/MOP - 11022021 -Enriquecido - Copy.xlsx',skiprows=2, header=[0,1])

In [3]:
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Cuil                Dni      Fecha de Nac. Fecha de Defuncion
0        20140531562           14053156         1959-10-12                NaN
1        27281648867           28164886         1980-09-14                NaN
2        20398295383           39829538         1996-07-25                NaN
3        20359239530           35923953         1992-02-12                NaN
4        20939121383           93912138         1992-12-11                NaN

  Unnamed: 4_level_0             Unnamed: 5_level_0     Unnamed: 6_level_0  \
                Sexo                        Titular                  Calle
0                  M          CALDERON JUAN DOMINGO                CALLE 8
1                  F             BAEZ CECILIA LUJAN              VILLAGUAY
2                  M       CARDOZO SANTIAGO EDUARDO          PRES QUINTANA
3                  M  BUSTOS CLEVERS CARLOS OCTAVIO  CARLOS M ALVEAR NORTE
4                  M     BENEGA LOPEZ ARNALDO ARIEL               CALLE 22

  Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
              Numero       Piso y Depto      Codigo Postal  ...
0                378                NaN               2555  ...
1               2130                NaN               1849  ...
2               1723                NaN               1615  ...
3                143                NaN               5400  ...
4                170                NaN               1743  ...

  Contactacion Opcional (Familiar)                                    \
                        Tel Fijo 2     Celular 1 Celular 2 Celular 3
0                              NaN           NaN       NaN       NaN
1                              NaN           NaN       NaN       NaN
2                              NaN           NaN       NaN       NaN
3                              NaN  2.646737e+09       NaN       NaN
4                              NaN           NaN       NaN       NaN

                            Contactacion Opcional (Vecino)
  Celular 4 Celular 5 Email                         Nombre      Telefono SCORE
0       NaN       NaN   NaN                            NaN           NaN   345
1       NaN       NaN   NaN                   LUJAN OLGA Y  1.142688e+09    34
2       NaN       NaN   NaN                            NaN           NaN   345
3       NaN       NaN   NaN                            NaN           NaN   345
4       NaN       NaN   NaN                            NaN           NaN   345

[5 rows x 229 columns]

In [4]:
df.shape

(1348, 229)

## 1.2) Data Cleaning: Datasets

Vamos a dropear aquellas columnas y filas que no tengan ningún valor (es decir, que sean todos NaNs)

In [5]:
df = df.dropna(axis=0, how='all')

In [6]:
#df = df.dropna(axis=1, how='all')

In [7]:
df.shape

(1348, 229)

Ahora todas las columnas tienen al menos 1 dato.

# 2) Mails

Vamos a obtener los mails de las columnas donde pueden aparecer, que son:

- Mail 1, 2 y 3.
- Email Empleador.
- Contactacion Opcional (Familiar) - Email.

In [8]:
#df.to_excel('columns.xlsx')

In [9]:
df_reduced = df [[('Unnamed: 0_level_0','Cuil'),('Unnamed: 1_level_0','Dni'), ('Unnamed: 5_level_0','Titular'),('Unnamed: 25_level_0','Mail'),('Unnamed: 26_level_0','Mail2'),('Unnamed: 27_level_0','Mail 3'),('Email Empleador', 'Unnamed: 169_level_1'), ('Contactacion Opcional (Familiar)','Email')]]

In [10]:
df_reduced.head()

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 5_level_0,Unnamed: 25_level_0,Unnamed: 26_level_0,Unnamed: 27_level_0,Email Empleador,Contactacion Opcional (Familiar)
,Cuil,Dni,Titular,Mail,Mail2,Mail 3,Unnamed: 169_level_1,Email
0,20140531562,14053156,CALDERON JUAN DOMINGO,NaN,NaN,NaN,dalila862005@hotmail.com,NaN
1,27281648867,28164886,BAEZ CECILIA LUJAN,NaN,NaN,NaN,NaN,NaN
2,20398295383,39829538,CARDOZO SANTIAGO EDUARDO,NaN,NaN,NaN,NaN,NaN
3,20359239530,35923953,BUSTOS CLEVERS CARLOS OCTAVIO,NaN,NaN,NaN,estudiomattler@gmail.com,NaN
4,20939121383,93912138,BENEGA LOPEZ ARNALDO ARIEL,NaN,NaN,NaN,NaN,NaN

In [11]:
df_reduced.shape

(1348, 8)

Eliminamos el multilevel de las columnas, y las renombramos:

In [12]:
df_reduced.columns = df_reduced.columns.droplevel()

In [13]:
df_reduced.head()

,Cuil,Dni,Titular,Mail,Mail2,Mail 3,Unnamed: 169_level_1,Email
0,20140531562,14053156,CALDERON JUAN DOMINGO,NaN,NaN,NaN,dalila862005@hotmail.com,NaN
1,27281648867,28164886,BAEZ CECILIA LUJAN,NaN,NaN,NaN,NaN,NaN
2,20398295383,39829538,CARDOZO SANTIAGO EDUARDO,NaN,NaN,NaN,NaN,NaN
3,20359239530,35923953,BUSTOS CLEVERS CARLOS OCTAVIO,NaN,NaN,NaN,estudiomattler@gmail.com,NaN
4,20939121383,93912138,BENEGA LOPEZ ARNALDO ARIEL,NaN,NaN,NaN,NaN,NaN

In [14]:
df_reduced = df_reduced.rename(columns={"Cuil": "CUIT_CUIL", 'Dni': 'NRO_DOC','Unnamed: 169_level_1':'Mail_empleador','Email':'Mail_ajeno'})

In [15]:
df_reduced.head()

,CUIT_CUIL,NRO_DOC,Titular,Mail,Mail2,Mail 3,Mail_empleador,Mail_ajeno
0,20140531562,14053156,CALDERON JUAN DOMINGO,NaN,NaN,NaN,dalila862005@hotmail.com,NaN
1,27281648867,28164886,BAEZ CECILIA LUJAN,NaN,NaN,NaN,NaN,NaN
2,20398295383,39829538,CARDOZO SANTIAGO EDUARDO,NaN,NaN,NaN,NaN,NaN
3,20359239530,35923953,BUSTOS CLEVERS CARLOS OCTAVIO,NaN,NaN,NaN,estudiomattler@gmail.com,NaN
4,20939121383,93912138,BENEGA LOPEZ ARNALDO ARIEL,NaN,NaN,NaN,NaN,NaN

In [16]:
df_reduced = df_reduced.rename(columns={'Mail':'Mail 1','Mail2':'Mail 2'})

# 3) Concatenación de Mails

Como PyP envía un mail por celda, tengo que concatenar las columnas Mail_propio y Mail_ajeno en una lista dentro de una nueva columna denominada "Dato"

In [17]:
df_melt= pd.melt(df_reduced, id_vars=['CUIT_CUIL', 'NRO_DOC', 'Titular'], value_vars=['Mail 1','Mail 2','Mail 3','Mail_empleador' ,'Mail_ajeno'],value_name='Dato')

In [18]:
df_melt.head()

     CUIT_CUIL   NRO_DOC                        Titular variable Dato
0  20140531562  14053156          CALDERON JUAN DOMINGO   Mail 1  NaN
1  27281648867  28164886             BAEZ CECILIA LUJAN   Mail 1  NaN
2  20398295383  39829538       CARDOZO SANTIAGO EDUARDO   Mail 1  NaN
3  20359239530  35923953  BUSTOS CLEVERS CARLOS OCTAVIO   Mail 1  NaN
4  20939121383  93912138     BENEGA LOPEZ ARNALDO ARIEL   Mail 1  NaN

In [19]:
#df_melt.to_excel('df_melt.xlsx')

# 4) Drop NaNs

Dropeamos aquellas filas que tengan NaN en la columna Dato, ya que no nos aporta nada:

In [20]:
df_melt = df_melt.dropna(subset=['Dato'])

In [21]:
df_melt.shape

(613, 5)

In [22]:
df_melt.head()

,CUIT_CUIL,NRO_DOC,Titular,variable,Dato
7,23222757339,22275733,BONOMETTI CESAR ADRIAN,Mail 1,cesarbonometti@gmail.com
15,27176578926,17657892,REBOLLIDO MARCELA ALEJANDRA,Mail 1,marcelarebollido@yahoo.com
17,20923312006,92331200,CASTRO PENAYO ANGEL EULALIO,Mail 1,edu_urquiza@hotmail.com
22,20188973524,18897352,BITAR RAUAD,Mail 1,eliasbitar69@hotmail.com
25,27246807294,24680729,CARDINALI CECILIA ELOISA,Mail 1,laugfg@gmail.com

# 5) Propietario del Dato

En función de la columna "variable" creamos una nueva columna PROPIETARIO_DATO

In [23]:
df_melt.loc[(df_melt['variable'] == 'Mail 1') , 'PROPIETARIO_DATO'] = 'Propio'

In [24]:
df_melt.loc[(df_melt['variable'] == 'Mail 2') , 'PROPIETARIO_DATO'] = 'Propio'

In [25]:
df_melt.loc[(df_melt['variable'] == 'Mail 3') , 'PROPIETARIO_DATO'] = 'Propio'

In [26]:
df_melt.loc[(df_melt['variable'] == 'Mail_ajeno') , 'PROPIETARIO_DATO'] = 'Ajeno_familiar'

In [27]:
df_melt.loc[(df_melt['variable'] == 'Mail_empleador') , 'PROPIETARIO_DATO'] = 'Ajeno_empleador'

In [28]:
df_melt = df_melt.drop(columns=['variable'])

In [29]:
df_melt.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO
7,23222757339,22275733,BONOMETTI CESAR ADRIAN,cesarbonometti@gmail.com,Propio
15,27176578926,17657892,REBOLLIDO MARCELA ALEJANDRA,marcelarebollido@yahoo.com,Propio
17,20923312006,92331200,CASTRO PENAYO ANGEL EULALIO,edu_urquiza@hotmail.com,Propio
22,20188973524,18897352,BITAR RAUAD,eliasbitar69@hotmail.com,Propio
25,27246807294,24680729,CARDINALI CECILIA ELOISA,laugfg@gmail.com,Propio

# 6) Columna Proveedor

Agregamos la columna PROVEEDOR_DATO, con el código correspondiente.

PyP = P2

In [30]:
cod_pyp = 'P2'

In [31]:
df_clean = df_melt.assign(PROVEEDOR_DATO=cod_pyp)

In [32]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO
7,23222757339,22275733,BONOMETTI CESAR ADRIAN,cesarbonometti@gmail.com,Propio,P2
15,27176578926,17657892,REBOLLIDO MARCELA ALEJANDRA,marcelarebollido@yahoo.com,Propio,P2
17,20923312006,92331200,CASTRO PENAYO ANGEL EULALIO,edu_urquiza@hotmail.com,Propio,P2
22,20188973524,18897352,BITAR RAUAD,eliasbitar69@hotmail.com,Propio,P2
25,27246807294,24680729,CARDINALI CECILIA ELOISA,laugfg@gmail.com,Propio,P2

# 7) Columna Tipo

Agregamos la columna TIPO, con el código correspondiente

In [33]:
tipo_dato = 'EMAIL'

In [34]:
df_clean = df_clean.assign(TIPO=tipo_dato)

In [35]:
df_clean.head ()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO
7,23222757339,22275733,BONOMETTI CESAR ADRIAN,cesarbonometti@gmail.com,Propio,P2,EMAIL
15,27176578926,17657892,REBOLLIDO MARCELA ALEJANDRA,marcelarebollido@yahoo.com,Propio,P2,EMAIL
17,20923312006,92331200,CASTRO PENAYO ANGEL EULALIO,edu_urquiza@hotmail.com,Propio,P2,EMAIL
22,20188973524,18897352,BITAR RAUAD,eliasbitar69@hotmail.com,Propio,P2,EMAIL
25,27246807294,24680729,CARDINALI CECILIA ELOISA,laugfg@gmail.com,Propio,P2,EMAIL

# 8) Columna Subtipo

Agregamos la columna SUBTIPO, que va a contener información sobre el tipo de mail que se encuentra en el campo Dato.

- Personal: @yahoo, @gmail, @hotmail, @outlook, @live.
- Laboral: el resto.

Verificamos que la string contenga esos casos:

In [36]:
df_clean.loc[(df_clean['Dato'].str.contains('@yahoo', na=False)) | 
             (df_clean['Dato'].str.contains('@gmail', na=False)) |
             (df_clean['Dato'].str.contains('@outlook', na=False)) |
             (df_clean['Dato'].str.contains('@hotmail', na=False)) |
             (df_clean['Dato'].str.contains('@live', na=False)) , 'SUBTIPO'] = 'PERSONAL'

Para los mails laborales, evaluamos los casos contrarios:

In [37]:
df_clean.loc[~(df_clean['Dato'].str.contains('@yahoo', na=False)) & 
             ~(df_clean['Dato'].str.contains('@gmail', na=False)) &
             ~(df_clean['Dato'].str.contains('@outlook', na=False)) &
             ~(df_clean['Dato'].str.contains('@hotmail', na=False)) &
             ~(df_clean['Dato'].str.contains('@live', na=False)) , 'SUBTIPO'] = 'LABORAL'

In [38]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO
7,23222757339,22275733,BONOMETTI CESAR ADRIAN,cesarbonometti@gmail.com,Propio,P2,EMAIL,PERSONAL
15,27176578926,17657892,REBOLLIDO MARCELA ALEJANDRA,marcelarebollido@yahoo.com,Propio,P2,EMAIL,PERSONAL
17,20923312006,92331200,CASTRO PENAYO ANGEL EULALIO,edu_urquiza@hotmail.com,Propio,P2,EMAIL,PERSONAL
22,20188973524,18897352,BITAR RAUAD,eliasbitar69@hotmail.com,Propio,P2,EMAIL,PERSONAL
25,27246807294,24680729,CARDINALI CECILIA ELOISA,laugfg@gmail.com,Propio,P2,EMAIL,PERSONAL

# 9) Columna Score

El campo **Score** se construye en función de los datos obtenidos:

- Nivel 4: Dato que otorga la propia persona.
- Nivel 3: Dato que otorgan los clientes (los bancos).
- Nivel 2: Dato que otorga un proveedor externo (Informes Digitales en este caso), con subtipo "Personal".
- Nivel 1: Dato que otorga un proveedor externo, pero tiene como subtipo "Laboral".

In [39]:
# Nivel 1: Laboral, proveedor externo.

df_clean.loc[(df_clean['SUBTIPO'] == 'LABORAL') , 'SCORE_DATO'] = 1

In [40]:
# Nivel 2: Personal, proveedor externo.

df_clean.loc[(df_clean['SUBTIPO'] == 'PERSONAL') , 'SCORE_DATO'] = 2

In [41]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO
7,23222757339,22275733,BONOMETTI CESAR ADRIAN,cesarbonometti@gmail.com,Propio,P2,EMAIL,PERSONAL,2.0
15,27176578926,17657892,REBOLLIDO MARCELA ALEJANDRA,marcelarebollido@yahoo.com,Propio,P2,EMAIL,PERSONAL,2.0
17,20923312006,92331200,CASTRO PENAYO ANGEL EULALIO,edu_urquiza@hotmail.com,Propio,P2,EMAIL,PERSONAL,2.0
22,20188973524,18897352,BITAR RAUAD,eliasbitar69@hotmail.com,Propio,P2,EMAIL,PERSONAL,2.0
25,27246807294,24680729,CARDINALI CECILIA ELOISA,laugfg@gmail.com,Propio,P2,EMAIL,PERSONAL,2.0

# 10) Columna Fecha

Para el campo FECHA_INGRESO_DATO, usamos la fecha en la que se hace la inserción de los datos:

In [42]:
fecha_ingreso = pd.to_datetime('today')

In [43]:
df_clean = df_clean.assign(FECHA_INGRESO_DATO=fecha_ingreso)

In [44]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO
7,23222757339,22275733,BONOMETTI CESAR ADRIAN,cesarbonometti@gmail.com,Propio,P2,EMAIL,PERSONAL,2.0,2021-02-24 11:36:06.742999
15,27176578926,17657892,REBOLLIDO MARCELA ALEJANDRA,marcelarebollido@yahoo.com,Propio,P2,EMAIL,PERSONAL,2.0,2021-02-24 11:36:06.742999
17,20923312006,92331200,CASTRO PENAYO ANGEL EULALIO,edu_urquiza@hotmail.com,Propio,P2,EMAIL,PERSONAL,2.0,2021-02-24 11:36:06.742999
22,20188973524,18897352,BITAR RAUAD,eliasbitar69@hotmail.com,Propio,P2,EMAIL,PERSONAL,2.0,2021-02-24 11:36:06.742999
25,27246807294,24680729,CARDINALI CECILIA ELOISA,laugfg@gmail.com,Propio,P2,EMAIL,PERSONAL,2.0,2021-02-24 11:36:06.742999

# 11) Campos adicionales

Creamos las columnas VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, que en principio van en nulls.

In [45]:
df_clean['VERIFICADO'] = 0

In [46]:
df_clean['FECHA_VERIFICACION'] = np.nan

In [47]:
df_clean['OPERADOR_VERIFICACION'] = np.nan

# 12) Concatenación con .csv enviado

Vamos a concatenar nuestro dataframe con el dataframe enviado para enriquecer. Para esto, vamos a hacer una limpieza inicial de cómo se enviaron esos datos. Finalmente, se uniran ambos dataframes por __DNI__.

## 12.1) Dataset: PyP

Vamos a analizar y limpiar el dataset enviado a PyP para el enriquecimiento:

In [48]:
df_pyp = pd.read_excel('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Datasets/Datasets enviados/0209-MOPC-PEDIDO DE DATOS.xlsx')

In [49]:
df_pyp.head()

                  DNI                                    NOMBRE   IDCLIENTE
0  DNI 10039621        ANA MARIA,CANO                            BSR_TARDIA
1  DNI 10197951        BERNARDO,CHAUQUE                          BSR_TARDIA
2  DNI 10248810        CIRO EMIR,BIANCHIMANI                     BSR_TARDIA
3  DNI 10270696        CARLOS OSCARBELMONTE                      BSR_TARDIA
4  DNI 10363397        CALDAS ROSA HAYDEE                        BSR_TARDIA

Creamos una columna que contenga IDMOROSO + DATOADIC según corresponda

In [50]:
#df_pyp.loc[(df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['DATOADIC']

In [51]:
df_pyp = df_pyp.rename(columns={'DNI':'IDMOROSO'})

In [52]:
df_pyp['NRO_DOC'] = df_pyp['IDMOROSO']

In [53]:
df_pyp.head()

,IDMOROSO,NOMBRE,IDCLIENTE,NRO_DOC
0,DNI 10039621,"ANA MARIA,CANO",BSR_TARDIA,DNI 10039621
1,DNI 10197951,"BERNARDO,CHAUQUE",BSR_TARDIA,DNI 10197951
2,DNI 10248810,"CIRO EMIR,BIANCHIMANI",BSR_TARDIA,DNI 10248810
3,DNI 10270696,CARLOS OSCARBELMONTE,BSR_TARDIA,DNI 10270696
4,DNI 10363397,CALDAS ROSA HAYDEE,BSR_TARDIA,DNI 10363397

In [54]:
#df_pyp.to_excel('test_nro_doc.xlsx')

## 12.2) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurídica__ (TO DO)

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos. Esta función debe ejecutarse en primer lugar.
- __DNI Spaces__: Elimina los espacios.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: Decisión sobre dejar un cuit o volverlo DNI

In [55]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [56]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [57]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
        
    else:
        dni = string_dni
        
    return dni

In [58]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [59]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [60]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [61]:
df_pyp['NRO_DOC'] = [(str(df_pyp['NRO_DOC'][i]).strip()) for i in range (df_pyp['NRO_DOC'].count())]

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [62]:
df_pyp['TIPO_DOC'] = [tipo_doc_1(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para la limpieza de DNIs:

In [63]:
df_pyp['NRO_DOC'] = [standard_dni(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [64]:
df_pyp['NRO_DOC'] = [dni_characters(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [65]:
df_pyp['NRO_DOC'] = [cuit(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [66]:
df_pyp['NRO_DOC'] = [dni_zero(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [67]:
df_pyp['TIPO_DOC'] = [tipo_doc_2(df_pyp['NRO_DOC'][i],df_pyp['TIPO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [68]:
df_pyp.head()

,IDMOROSO,NOMBRE,IDCLIENTE,NRO_DOC,TIPO_DOC
0,DNI 10039621,"ANA MARIA,CANO",BSR_TARDIA,10039621,DNI
1,DNI 10197951,"BERNARDO,CHAUQUE",BSR_TARDIA,10197951,DNI
2,DNI 10248810,"CIRO EMIR,BIANCHIMANI",BSR_TARDIA,10248810,DNI
3,DNI 10270696,CARLOS OSCARBELMONTE,BSR_TARDIA,10270696,DNI
4,DNI 10363397,CALDAS ROSA HAYDEE,BSR_TARDIA,10363397,DNI

# 13) Union de Dataframes

Se unen ambos dataframes en la columna NRO_DOC

Convertimos la columna NRO_DOC de objeto a INT para hacer la unión

In [69]:
df_clean = df_clean.astype({'NRO_DOC': 'str'})

In [70]:
df_union = pd.merge(df_clean,df_pyp, on='NRO_DOC', how='inner')

In [71]:
df_union.shape

(613, 17)

In [72]:
df_union.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,IDMOROSO,NOMBRE,IDCLIENTE,TIPO_DOC
0,23222757339,22275733,BONOMETTI CESAR ADRIAN,cesarbonometti@gmail.com,Propio,P2,EMAIL,PERSONAL,2.0,2021-02-24 11:36:06.742999,0,NaN,NaN,DNI 22275733,BONOMETTI CESAR ADRIAN,BSR_TARDIA,DNI
1,27176578926,17657892,REBOLLIDO MARCELA ALEJANDRA,marcelarebollido@yahoo.com,Propio,P2,EMAIL,PERSONAL,2.0,2021-02-24 11:36:06.742999,0,NaN,NaN,DNI 17657892,"MARCELA ALEJANDRA,REBOLLIDO",BSR_TARDIA,DNI
2,27176578926,17657892,REBOLLIDO MARCELA ALEJANDRA,170silvia@gmail.com,Ajeno_empleador,P2,EMAIL,PERSONAL,2.0,2021-02-24 11:36:06.742999,0,NaN,NaN,DNI 17657892,"MARCELA ALEJANDRA,REBOLLIDO",BSR_TARDIA,DNI
3,20923312006,92331200,CASTRO PENAYO ANGEL EULALIO,edu_urquiza@hotmail.com,Propio,P2,EMAIL,PERSONAL,2.0,2021-02-24 11:36:06.742999,0,NaN,NaN,DNIE92331200,"ANGEL EULALIO,CASTRO PENAYO",BSR_TARDIA,DNI
4,20188973524,18897352,BITAR RAUAD,eliasbitar69@hotmail.com,Propio,P2,EMAIL,PERSONAL,2.0,2021-02-24 11:36:06.742999,0,NaN,NaN,DNI 18897352,"RAUAD,BITAR",BSR_TARDIA,DNI

# 14) Export

Renombramos, dropeamos y reordenamos las columnas

In [73]:
df_union = df_union.rename(columns = {'Dato':'DATO'})

Dropeamos columnas que no nos sirven

In [74]:
df_export = df_union.drop(columns=['IDCLIENTE'], axis=0)

In [75]:
df_export = df_export[['IDMOROSO', 'TIPO_DOC','NRO_DOC','CUIT_CUIL','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO','PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO','FECHA_VERIFICACION','OPERADOR_VERIFICACION','SCORE_DATO']]

In [76]:
df_export.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 22275733,DNI,22275733,23222757339,EMAIL,PERSONAL,cesarbonometti@gmail.com,Propio,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
1,DNI 17657892,DNI,17657892,27176578926,EMAIL,PERSONAL,marcelarebollido@yahoo.com,Propio,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
2,DNI 17657892,DNI,17657892,27176578926,EMAIL,PERSONAL,170silvia@gmail.com,Ajeno_empleador,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
3,DNIE92331200,DNI,92331200,20923312006,EMAIL,PERSONAL,edu_urquiza@hotmail.com,Propio,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
4,DNI 18897352,DNI,18897352,20188973524,EMAIL,PERSONAL,eliasbitar69@hotmail.com,Propio,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0

In [77]:
df_export.shape

(613, 14)

Número a str para no tener problemas con la inserción

In [78]:
df_export['CUIT_CUIL'] = [(str(int(round(df_export['CUIT_CUIL'][i],0)))) for i in range (df_export['CUIT_CUIL'].count())]

In [79]:
df_export.tail()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
608,DNI 26170370,DNI,26170370,20261703700,EMAIL,PERSONAL,vanesanapole@hotmail.com,Ajeno_familiar,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
609,DNI 17660480,DNI,17660480,27176604803,EMAIL,PERSONAL,betina1965@hotmail.com,Ajeno_familiar,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
610,DNI 37361675,DNI,37361675,27373616759,EMAIL,PERSONAL,rodrigojesusmartin@hotmail.com,Ajeno_familiar,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
611,DNI 24347361,DNI,24347361,20243473617,EMAIL,PERSONAL,lola_junin_27@hotmail.com,Ajeno_familiar,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
612,DNI 27901272,DNI,27901272,27279012726,EMAIL,PERSONAL,elagrario01@hotmail.com,Ajeno_familiar,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0

Dropeamos filas duplicadas

In [80]:
df_export = df_export.drop_duplicates()

In [81]:
df_export.shape

(613, 14)

## Dato a str + strip()

In [82]:
df_export ['DATO'] = df_export['DATO'].str.strip()

# Revisión de duplicados

In [83]:
duplicates_subset = df_export[df_export.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [84]:
duplicates_subset

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
70,DNI 26704119,DNI,26704119,23267041199,EMAIL,PERSONAL,maria_pia_mangiapane@hotmail.com,Propio,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
71,DNI 26704119,DNI,26704119,23267041199,EMAIL,PERSONAL,maria_pia_mangiapane@hotmail.com,Ajeno_familiar,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
88,DNI 7920788,DNI,7920788,20079207889,EMAIL,PERSONAL,p.canteros@hotmail.com,Propio,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
89,DNI 7920788,DNI,7920788,20079207889,EMAIL,PERSONAL,p.canteros@hotmail.com,Ajeno_empleador,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
103,DNI 23588772,DNI,23588772,20235887720,EMAIL,PERSONAL,norma_a.m@hotmail.com,Propio,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
104,DNI 23588772,DNI,23588772,20235887720,EMAIL,PERSONAL,norma_a.m@hotmail.com,Ajeno_familiar,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
192,DNI 22497522,DNI,22497522,20224975229,EMAIL,PERSONAL,transporte_marina@hotmail.com,Propio,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
193,DNI 22497522,DNI,22497522,20224975229,EMAIL,PERSONAL,transporte_marina@hotmail.com,Ajeno_empleador,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
213,DNI 20003643,DNI,20003643,20200036434,EMAIL,PERSONAL,dani_biarlo@hotmail.com,Propio,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0
215,DNI 20003643,DNI,20003643,20200036434,EMAIL,PERSONAL,dani_biarlo@hotmail.com,Ajeno_familiar,P2,2021-02-24 11:36:06.742999,0,NaN,NaN,2.0

In [85]:
duplicates_subset.shape

(10, 14)

Son solo 10 datos, se limpia de forma manual

In [86]:
df_export = df_export.drop([71,89,104,193,215])

In [ ]:
df_export[df_export.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [88]:
df_export.shape

(608, 14)

## 14.1) Export de dataframe + IDCLIENTE para análisis

In [89]:
#df_union.to_excel('D:/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Exports/Mails para analisis/PyP_mails_1401.xlsx')
#df_union.to_csv('D:/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Exports/Mails para analisis/PyP_mails_1401.csv')

## 14.2) Insert a tabla DAM_CONTACTABILIDAD:

In [90]:
df_export.to_csv('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Exports/DAM_CONTACTABILIDAD/PyP_DAM_CONTACTABILIDAD_mails_2402.csv',index=False)