In [1]:
import pandas as pd
import numpy as np

# LOG

# 1. Datos enviados

In [2]:
df_log = pd.read_excel('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Informes Digitales/Datasets/Datos Enviados/0201-AMEX-BBVA.xlsx')

In [3]:
df_log.head()

             IDMOROSO       DNI             IDCLIENTE                ESTADO
0  RMS376416100131006  23470018  AMEX_PARM             CANCELO
1  RMS376416830222000  14572108  AMEX_PARM             CANCELO
2  RMS376418146342001  10828195  AMEX_PARM             CANCELO FULL
3  RMS376418379981004  23453906  AMEX_PARM             CANCELO FULL
4  RMS376418471547000  29735377  AMEX_PARM             CANCELO FULL

In [4]:
df_log = df_log.rename(columns={"ESTADO": "ESTADO_ANTERIOR"})

In [5]:
#df_log = df_log [['IDMOROSO','IDCLIENTE','DATOADIC','ESTADO_ANTERIOR']]

In [6]:
fecha_envio_log = '2021-01-28'

In [7]:
fecha_insercion_log = '2021-02-01'

In [8]:
fecha_estados_log = '2021-02-01'

In [9]:
df_log = df_log.assign(FECHA_ENVIO_ENRIQUECIMIENTO=fecha_envio_log)

In [10]:
df_log = df_log.assign(FECHA_INSERCION_DATO=fecha_insercion_log)

In [11]:
df_log = df_log.assign(FECHA_CAMBIO_ESTADO=fecha_estados_log)

In [12]:
df_log.head()

,IDMOROSO,DNI,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO
0,RMS376416100131006,23470018,AMEX_PARM,CANCELO,2021-01-28,2021-02-01,2021-02-01
1,RMS376416830222000,14572108,AMEX_PARM,CANCELO,2021-01-28,2021-02-01,2021-02-01
2,RMS376418146342001,10828195,AMEX_PARM,CANCELO FULL,2021-01-28,2021-02-01,2021-02-01
3,RMS376418379981004,23453906,AMEX_PARM,CANCELO FULL,2021-01-28,2021-02-01,2021-02-01
4,RMS376418471547000,29735377,AMEX_PARM,CANCELO FULL,2021-01-28,2021-02-01,2021-02-01

In [13]:
df_log = df_log.assign(PROVEEDOR='INFORMES_DIGITALES')

In [14]:
df_log['ESTADO_ANTERIOR'] = [(str(df_log['ESTADO_ANTERIOR'][i]).strip()) for i in range (df_log['ESTADO_ANTERIOR'].count())]

In [15]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'INTERESADO') |
           (df_log['ESTADO_ANTERIOR'] == 'NO VISTO') |
           (df_log['ESTADO_ANTERIOR'] == 'EN GESTION') |
           (df_log['ESTADO_ANTERIOR'] == 'ASIGNADO') |
           (df_log['ESTADO_ANTERIOR'] == 'ROTACION') |
           (df_log['ESTADO_ANTERIOR'] == 'ASIGNADO') |
           (df_log['ESTADO_ANTERIOR'] == 'PLAN V') |
           (df_log['ESTADO_ANTERIOR'] == 'NO INTERESADO') |
           (df_log['ESTADO_ANTERIOR'] == 'ACUERDO CAIDO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO_RECHAZADA') 
           , 'CATEGORIA'] = 'NEUTRO'

In [16]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'NO UBICADO') | 
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 1') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 1 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 2') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 3') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 3 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL3 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL1 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL1') |
           (df_log['ESTADO_ANTERIOR'] == 'NO_VISTO_CONTACTABLE') |
           (df_log['ESTADO_ANTERIOR'] == 'NO_VISTO_MASIVO') 
           , 'CATEGORIA'] = 'NEGATIVO POR CONTACTABILIDAD'

In [17]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'PAGO PARCIAL') | 
           (df_log['ESTADO_ANTERIOR'] == 'PLAN DE PAGOS') |
           (df_log['ESTADO_ANTERIOR'] == 'POSIBLE REFI') |
           (df_log['ESTADO_ANTERIOR'] == 'REFINANCIACION') |
           (df_log['ESTADO_ANTERIOR'] == 'PROPUESTA') |
           (df_log['ESTADO_ANTERIOR'] == 'PROPUESTA OK') |
           (df_log['ESTADO_ANTERIOR'] == 'COMPROMISO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO_DEVUELTO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO DEVUELTO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO FULL') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO SIN ACP') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA'

In [18]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'CONVENIO') | 
           (df_log['ESTADO_ANTERIOR'] == 'CONVENIO QUITA') |
           (df_log['ESTADO_ANTERIOR'] == 'NUEVOS CARGOS') |
           (df_log['ESTADO_ANTERIOR'] == 'CONVENIO_QUITA') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA SOBRE COUTA'

In [19]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'PROPUESTA REFI') | 
           (df_log['ESTADO_ANTERIOR'] == 'REFI ARMADA') |
           (df_log['ESTADO_ANTERIOR'] == 'REFI EN TRAMITE') |
           (df_log['ESTADO_ANTERIOR'] == 'REFI A LIQUIDAR') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA CON REFI PENDIENTE DE LIQUIDACIO'

In [20]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'REFI APROBADA') | 
           (df_log['ESTADO_ANTERIOR'] == 'DEVUELTO/CANCELO CON COBRO DE HONORARIO PENDIENTE')
           , 'CATEGORIA'] = 'POSITIVO CON CAJA CON REFI/CANCELACIÓN LIQUIDADA'

In [21]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'DEVUELTO') | 
           (df_log['ESTADO_ANTERIOR'] == 'FALLECIDO') |
           (df_log['ESTADO_ANTERIOR'] == 'PROBLEMA') |
           (df_log['ESTADO_ANTERIOR'] == 'SALDO INSOLUTO') |
           (df_log['ESTADO_ANTERIOR'] == 'NO GESTIONAR') 
           , 'CATEGORIA'] = 'INACTIVO'

In [22]:
df_log.shape

(471, 9)

In [23]:
df_log.head()

,IDMOROSO,DNI,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA
0,RMS376416100131006,23470018,AMEX_PARM,CANCELO,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA
1,RMS376416830222000,14572108,AMEX_PARM,CANCELO,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA
2,RMS376418146342001,10828195,AMEX_PARM,CANCELO FULL,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA
3,RMS376418379981004,23453906,AMEX_PARM,CANCELO FULL,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA
4,RMS376418471547000,29735377,AMEX_PARM,CANCELO FULL,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA

## 2. Devolución de Informes Digitales

Levantamos los DNIs desde el archivo que devuelve Informes Digitales para cruzar contra los IDs y ver cuáles están enriquecidos.

In [24]:
df1 = pd.read_excel('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Informes Digitales/Datasets/Datos Recibidos/MOPC_INFORMES_DIGITALES_2801_1 - Copy.xlsx', header=1)

In [25]:
df1.head()

,Orden,Tipo,DNI,Nombre,Cuit/Cuil,Genero,Edad,Observ.,Actividad,Unnamed: 9,...,Celular 1,Celular 2,Celular 3,Celular 4,Celular 5,Email,Unnamed: 78,Categoria_monotributo,Rubro_monotributo,Unnamed: 81
0,1.01,DNI-EB,32.413.854,Marchesi Ana Paula,23-32413854-4,Fem.,34 Años (26/09/1986),NaN,Servicios De Gestión Y Logística Para El Trans...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,G,Locaciones De Servicio,NaN
1,1.02,DNI-EB,32.413.854,Marchesi Ana Paula,23-32413854-4,Fem.,34 Años (26/09/1986),NaN,Servicios De Gestión Y Logística Para El Trans...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.01,DNI-EC,35.179.685,Almada Medina Jonathan Emmanuel,20-35179685-6,Mas.,30 Años (22/04/1990),NaN,Servicio De Transporte Automotor De Pasajeros ...,NaN,...,(11) 3368-7922,(11) 3368-7434,NaN,NaN,NaN,NaN,NaN,D,Locaciones De Servicio,NaN
4,2.02,DNI-EC,35.179.685,Almada Medina Jonathan Emmanuel,20-35179685-6,Mas.,30 Años (22/04/1990),NaN,Servicio De Transporte Automotor De Pasajeros ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df1.shape

(1292, 82)

In [27]:
df2 = pd.read_excel('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Informes Digitales/Datasets/Datos Recibidos/MOPC_INFORMES_DIGITALES_2801_2 - Copy.xlsx', header=1)

In [28]:
df2.shape

(5066, 82)

In [29]:
df2.tail()

,Orden,Tipo,DNI,Nombre,Cuit/Cuil,Genero,Edad,Observ.,Actividad,Unnamed: 9,...,Celular 1,Celular 2,Celular 3,Celular 4,Celular 5,Email,Unnamed: 78,Categoria_monotributo,Rubro_monotributo,Unnamed: 81
5061,255.05,DNI-EC,23.200.122,Morales Perla Andrea (Barrionuevo),23-23200122-4,Fem.,48 Años (05/12/1972),NaN,Venta Al Por Mayor En Comisión O Consignación ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5062,255.06,DNI-EC,23.200.122,Morales Perla Andrea (Barrionuevo),23-23200122-4,Fem.,48 Años (05/12/1972),NaN,Venta Al Por Mayor En Comisión O Consignación ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5063,255.07,DNI-EC,23.200.122,Morales Perla Andrea (Barrionuevo),23-23200122-4,Fem.,48 Años (05/12/1972),NaN,Venta Al Por Mayor En Comisión O Consignación ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5064,255.08,DNI-EC,23.200.122,Morales Perla Andrea (Barrionuevo),23-23200122-4,Fem.,48 Años (05/12/1972),NaN,Venta Al Por Mayor En Comisión O Consignación ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5065,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 1.1) Join de Datasets

Vamos a unir los dos dataframes para trabajar sobre uno solo.

In [30]:
df = df1.append(df2, ignore_index = True)

In [31]:
df.shape

(6358, 82)

In [32]:
df.tail()

,Orden,Tipo,DNI,Nombre,Cuit/Cuil,Genero,Edad,Observ.,Actividad,Unnamed: 9,...,Celular 1,Celular 2,Celular 3,Celular 4,Celular 5,Email,Unnamed: 78,Categoria_monotributo,Rubro_monotributo,Unnamed: 81
6353,255.05,DNI-EC,23.200.122,Morales Perla Andrea (Barrionuevo),23-23200122-4,Fem.,48 Años (05/12/1972),NaN,Venta Al Por Mayor En Comisión O Consignación ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6354,255.06,DNI-EC,23.200.122,Morales Perla Andrea (Barrionuevo),23-23200122-4,Fem.,48 Años (05/12/1972),NaN,Venta Al Por Mayor En Comisión O Consignación ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6355,255.07,DNI-EC,23.200.122,Morales Perla Andrea (Barrionuevo),23-23200122-4,Fem.,48 Años (05/12/1972),NaN,Venta Al Por Mayor En Comisión O Consignación ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6356,255.08,DNI-EC,23.200.122,Morales Perla Andrea (Barrionuevo),23-23200122-4,Fem.,48 Años (05/12/1972),NaN,Venta Al Por Mayor En Comisión O Consignación ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6357,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df_reduced = df [['Cuit/Cuil','DNI']]

In [34]:
df_reduced.head()

       Cuit/Cuil         DNI
0  23-32413854-4  32.413.854
1  23-32413854-4  32.413.854
2            NaN         NaN
3  20-35179685-6  35.179.685
4  20-35179685-6  35.179.685

In [35]:
df_reduced['Cuit/Cuil'] = df_reduced['Cuit/Cuil'].str.replace('-','')

<ipython-input-35-e0267c8d0486>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced['Cuit/Cuil'] = df_reduced['Cuit/Cuil'].str.replace('-','')

In [36]:
df_reduced['DNI'] = df_reduced['DNI'].str.replace('.','')

<ipython-input-36-36f4810210a5>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_reduced['DNI'] = df_reduced['DNI'].str.replace('.','')
<ipython-input-36-36f4810210a5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced['DNI'] = df_reduced['DNI'].str.replace('.','')

In [37]:
df_reduced.head()

     Cuit/Cuil       DNI
0  23324138544  32413854
1  23324138544  32413854
2          NaN       NaN
3  20351796856  35179685
4  20351796856  35179685

In [38]:
df_reduced.shape

(6358, 2)

Eliminamos el multilevel de las columnas, y las renombramos:

In [39]:
df_reduced = df_reduced.rename(columns={"Cuit/Cuil": "CUIT_CUIL", 'DNI': 'NRO_DOC'})

In [40]:
df_reduced.head()

     CUIT_CUIL   NRO_DOC
0  23324138544  32413854
1  23324138544  32413854
2          NaN       NaN
3  20351796856  35179685
4  20351796856  35179685

In [41]:
df_reduced.shape

(6358, 2)

## NRO_DOC para union de dataframes

Creamos una columna que contenga IDMOROSO + DATOADIC según corresponda

In [42]:
#df_log.loc[(df_log['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_log['DATOADIC']

In [43]:
#df_log.loc[~(df_log['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_log['IDMOROSO']

In [44]:
df_log ['NRO_DOC'] = df_log['DNI']

In [45]:
df_log.tail()

,IDMOROSO,DNI,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC
466,DNIE95910871,DNIE95910871,FRANCES_2012,NO GESTIONAR,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,INACTIVO,DNIE95910871
467,DNIE95925629,DNIE95925629,FRANCES_2012,ROTACION,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,NEUTRO,DNIE95925629
468,DNIE95963998,DNIE95963998,FRANCES_2012,POSIBLE REFI,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,DNIE95963998
469,LC 6063215,LC 6063215,FRANCES_2012,ROTACION,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,NEUTRO,LC 6063215
470,LE 5404883,LE 5404883,FRANCES_2012,ROTACION,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,NEUTRO,LE 5404883

## 12.2) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurídica__ (TO DO)

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos. Esta función debe ejecutarse en primer lugar.
- __DNI Spaces__: Elimina los espacios.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: Decisión sobre dejar un cuit o volverlo DNI

In [46]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [47]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [48]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
        
    else:
        dni = string_dni
        
    return dni

In [49]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [50]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [51]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [52]:
df_log['NRO_DOC'] = [(str(df_log['NRO_DOC'][i]).strip()) for i in range (df_log['NRO_DOC'].count())]

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [53]:
df_log['TIPO_DOC'] = [tipo_doc_1(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

Para la limpieza de DNIs:

In [54]:
df_log['NRO_DOC'] = [standard_dni(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [55]:
df_log['NRO_DOC'] = [dni_characters(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [56]:
df_log['NRO_DOC'] = [cuit(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [57]:
df_log['NRO_DOC'] = [dni_zero(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [58]:
df_log['TIPO_DOC'] = [tipo_doc_2(df_log['NRO_DOC'][i],df_log['TIPO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [59]:
df_log.head()

,IDMOROSO,DNI,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC
0,RMS376416100131006,23470018,AMEX_PARM,CANCELO,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,23470018,DNI
1,RMS376416830222000,14572108,AMEX_PARM,CANCELO,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,14572108,DNI
2,RMS376418146342001,10828195,AMEX_PARM,CANCELO FULL,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,10828195,DNI
3,RMS376418379981004,23453906,AMEX_PARM,CANCELO FULL,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,23453906,DNI
4,RMS376418471547000,29735377,AMEX_PARM,CANCELO FULL,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,29735377,DNI

In [60]:
df_log.shape

(471, 11)

# 13) Union de Dataframes

Se unen ambos dataframes en la columna NRO_DOC

Convertimos la columna NRO_DOC de objeto a INT para hacer la unión

In [61]:
df_reduced = df_reduced.astype({'NRO_DOC': 'str'})

In [62]:
df_union = pd.merge(df_log, df_reduced, on='NRO_DOC', how='inner')

In [63]:
#df_union = pd.merge(df_log,df_reduced[['NRO_DOC']],on=['NRO_DOC'],how="outer",indicator=True)
#df_union = df_union[df_union['_merge']=='left_only']

In [64]:
df_union.shape

(5981, 12)

In [65]:
df_union.head()

,IDMOROSO,DNI,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC,CUIT_CUIL
0,RMS376416100131006,23470018,AMEX_PARM,CANCELO,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,23470018,DNI,23234700189
1,RMS376416100131006,23470018,AMEX_PARM,CANCELO,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,23470018,DNI,23234700189
2,RMS376416100131006,23470018,AMEX_PARM,CANCELO,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,23470018,DNI,23234700189
3,RMS376416100131006,23470018,AMEX_PARM,CANCELO,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,23470018,DNI,23234700189
4,RMS376416100131006,23470018,AMEX_PARM,CANCELO,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,23470018,DNI,23234700189

In [66]:
df_clean = df_union.drop_duplicates()

In [67]:
df_clean.shape

(468, 12)

In [68]:
df_clean[df_clean.duplicated()]

Empty DataFrame
Columns: [IDMOROSO, DNI, IDCLIENTE, ESTADO_ANTERIOR, FECHA_ENVIO_ENRIQUECIMIENTO, FECHA_INSERCION_DATO, FECHA_CAMBIO_ESTADO, PROVEEDOR, CATEGORIA, NRO_DOC, TIPO_DOC, CUIT_CUIL]
Index: []

In [69]:
duplicateRowsDF = df_clean[df_clean.duplicated(subset=['IDMOROSO', 'IDCLIENTE'], keep=False)]

In [70]:
duplicateRowsDF

,IDMOROSO,DNI,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC,CUIT_CUIL
0,RMS376416100131006,23470018,AMEX_PARM,CANCELO,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,23470018,DNI,23234700189
71,RMS376416100131006,23470018,AMEX_PARM,CANCELO,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,23470018,DNI,27234700184
207,RMS376414762233004,6151331,AMEX_PARM,NO UBICADO,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,NEGATIVO POR CONTACTABILIDAD,6151331,DNI,20061513311
217,RMS376414762233004,6151331,AMEX_PARM,NO UBICADO,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,NEGATIVO POR CONTACTABILIDAD,6151331,DNI,27061513316
256,RMS376417431931007,4569178,AMEX_PARM,CANCELO DEVUELTO,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,4569178,DNI,20045691781
...,...,...,...,...,...,...,...,...,...,...,...,...
5963,LC 6063215,LC 6063215,FRANCES_2012,ROTACION,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,NEUTRO,6063215,LC,20060632155
5964,LC 6063215,LC 6063215,FRANCES_2012,ROTACION,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,NEUTRO,6063215,LC,23060632154
5969,LE 5404883,LE 5404883,FRANCES_2012,ROTACION,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,NEUTRO,5404883,LE,20054048832
5975,LE 5404883,LE 5404883,FRANCES_2012,ROTACION,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,NEUTRO,5404883,LE,24054048838
5978,LE 5404883,LE 5404883,FRANCES_2012,ROTACION,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,NEUTRO,5404883,LE,27054048837

In [71]:
df_clean[df_clean['IDMOROSO'] == 'DNI 42538841      ']

Empty DataFrame
Columns: [IDMOROSO, DNI, IDCLIENTE, ESTADO_ANTERIOR, FECHA_ENVIO_ENRIQUECIMIENTO, FECHA_INSERCION_DATO, FECHA_CAMBIO_ESTADO, PROVEEDOR, CATEGORIA, NRO_DOC, TIPO_DOC, CUIT_CUIL]
Index: []

El problema que se presenta es que al no enviar con género, desde Informes Digitales devuelven 2 cuits. Pueden existir errores en ese punto. No tenemos solución para determinar si es uno u otro.

In [72]:
df_clean = df_clean.drop_duplicates(subset=['IDMOROSO','IDCLIENTE'], keep= 'first')

In [73]:
df_clean.shape

(427, 12)

In [74]:
df_clean[df_clean['IDMOROSO'] == 'DNI 42538841      ']

Empty DataFrame
Columns: [IDMOROSO, DNI, IDCLIENTE, ESTADO_ANTERIOR, FECHA_ENVIO_ENRIQUECIMIENTO, FECHA_INSERCION_DATO, FECHA_CAMBIO_ESTADO, PROVEEDOR, CATEGORIA, NRO_DOC, TIPO_DOC, CUIT_CUIL]
Index: []

## Nuevo Estado

Como no se usaron nuevos estados, se deja en nulo

In [75]:
df_clean = df_clean.assign(NUEVO_ESTADO=np.nan)

## Enriquecido

Nota: sólo estoy mirando los enriquecidos. Si no se enriqueció, no lo mando al LOG.

In [76]:
df_clean = df_clean.assign(ENRIQUECIDO=True)

In [77]:
df_clean.head()

,IDMOROSO,DNI,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC,CUIT_CUIL,NUEVO_ESTADO,ENRIQUECIDO
0,RMS376416100131006,23470018,AMEX_PARM,CANCELO,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,23470018,DNI,23234700189,NaN,True
75,RMS376416830222000,14572108,AMEX_PARM,CANCELO,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,14572108,DNI,20145721084,NaN,True
118,RMS376418146342001,10828195,AMEX_PARM,CANCELO FULL,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,10828195,DNI,27108281958,NaN,True
129,RMS376418379981004,23453906,AMEX_PARM,CANCELO FULL,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,23453906,DNI,20234539060,NaN,True
135,RMS376418471547000,29735377,AMEX_PARM,CANCELO FULL,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES,POSITIVO CON CAJA,29735377,DNI,20297353773,NaN,True

In [78]:
df_clean = df_clean [['IDMOROSO','IDCLIENTE','ESTADO_ANTERIOR','CATEGORIA','NUEVO_ESTADO','ENRIQUECIDO','FECHA_ENVIO_ENRIQUECIMIENTO','FECHA_INSERCION_DATO','FECHA_CAMBIO_ESTADO','PROVEEDOR']]

In [79]:
df_clean.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,CATEGORIA,NUEVO_ESTADO,ENRIQUECIDO,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR
0,RMS376416100131006,AMEX_PARM,CANCELO,POSITIVO CON CAJA,NaN,True,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES
75,RMS376416830222000,AMEX_PARM,CANCELO,POSITIVO CON CAJA,NaN,True,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES
118,RMS376418146342001,AMEX_PARM,CANCELO FULL,POSITIVO CON CAJA,NaN,True,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES
129,RMS376418379981004,AMEX_PARM,CANCELO FULL,POSITIVO CON CAJA,NaN,True,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES
135,RMS376418471547000,AMEX_PARM,CANCELO FULL,POSITIVO CON CAJA,NaN,True,2021-01-28,2021-02-01,2021-02-01,INFORMES_DIGITALES

In [80]:
df_clean.shape

(427, 10)

# Export

In [81]:
df_clean.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Informes Digitales/Exports/DAM_LOG/InfDig_DAM_LOG_0402.csv',index=False)

In [82]:
df_clean[df_clean.duplicated(subset=['IDMOROSO'])]

Empty DataFrame
Columns: [IDMOROSO, IDCLIENTE, ESTADO_ANTERIOR, CATEGORIA, NUEVO_ESTADO, ENRIQUECIDO, FECHA_ENVIO_ENRIQUECIMIENTO, FECHA_INSERCION_DATO, FECHA_CAMBIO_ESTADO, PROVEEDOR]
Index: []