In [1]:
import pandas as pd
import numpy as np

# LOG

# 1. Datos enviados

In [2]:
df_log = pd.read_excel('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Informes Digitales/Datasets/Datos Enviados/Informes_Digitales_0120_Estados.xlsx')

In [3]:
df_log.head()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO
0,DNI 37966797,GARCIA DAIANA MARICEL,FRANCES_2012,ASIGNADO
1,DNI 35170607,FERREYRA PABLO,FRANCES_2012,ASIGNADO
2,DNI 41245032,MARTINEZ SOLANGE NATALI,FRANCES_2012,ASIGNADO
3,DNI 41327214,SZKATULAK PAULA,FRANCES_2012,INTERESADO
4,DNI 41546687,MENDEZ CARLOS ALBERTO,FRANCES_2012,ASIGNADO

In [4]:
df_log = df_log.rename(columns={"ESTADO": "ESTADO_ANTERIOR"})

In [5]:
#df_log = df_log [['IDMOROSO','IDCLIENTE','DATOADIC','ESTADO_ANTERIOR']]

In [6]:
fecha_envio_log = '2021-01-20'

In [7]:
fecha_insercion_log = '2021-01-26'

In [8]:
fecha_estados_log = '2021-01-26'

In [9]:
df_log = df_log.assign(FECHA_ENVIO_ENRIQUECIMIENTO=fecha_envio_log)

In [10]:
df_log = df_log.assign(FECHA_INSERCION_DATO=fecha_insercion_log)

In [11]:
df_log = df_log.assign(FECHA_CAMBIO_ESTADO=fecha_estados_log)

In [12]:
df_log.head()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO
0,DNI 37966797,GARCIA DAIANA MARICEL,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26
1,DNI 35170607,FERREYRA PABLO,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26
2,DNI 41245032,MARTINEZ SOLANGE NATALI,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26
3,DNI 41327214,SZKATULAK PAULA,FRANCES_2012,INTERESADO,2021-01-20,2021-01-26,2021-01-26
4,DNI 41546687,MENDEZ CARLOS ALBERTO,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26

In [13]:
df_log = df_log.assign(PROVEEDOR='INFORMES_DIGITALES')

In [14]:
df_log['ESTADO_ANTERIOR'] = [(str(df_log['ESTADO_ANTERIOR'][i]).strip()) for i in range (df_log['ESTADO_ANTERIOR'].count())]

In [15]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'INTERESADO') |
           (df_log['ESTADO_ANTERIOR'] == 'NO VISTO') |
           (df_log['ESTADO_ANTERIOR'] == 'EN GESTION') |
           (df_log['ESTADO_ANTERIOR'] == 'ASIGNADO') |
           (df_log['ESTADO_ANTERIOR'] == 'ROTACION') |
           (df_log['ESTADO_ANTERIOR'] == 'ASIGNADO') |
           (df_log['ESTADO_ANTERIOR'] == 'PLAN V') |
           (df_log['ESTADO_ANTERIOR'] == 'NO INTERESADO') |
           (df_log['ESTADO_ANTERIOR'] == 'ACUERDO CAIDO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO_RECHAZADA') 
           , 'CATEGORIA'] = 'NEUTRO'

In [16]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'NO UBICADO') | 
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 1') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 1 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 2') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 3') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 3 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL3 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL1 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL1') |
           (df_log['ESTADO_ANTERIOR'] == 'NO_VISTO_CONTACTABLE') |
           (df_log['ESTADO_ANTERIOR'] == 'NO_VISTO_MASIVO') 
           , 'CATEGORIA'] = 'NEGATIVO POR CONTACTABILIDAD'

In [17]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'PAGO PARCIAL') | 
           (df_log['ESTADO_ANTERIOR'] == 'PLAN DE PAGOS') |
           (df_log['ESTADO_ANTERIOR'] == 'POSIBLE REFI') |
           (df_log['ESTADO_ANTERIOR'] == 'REFINANCIACION') |
           (df_log['ESTADO_ANTERIOR'] == 'PROPUESTA') |
           (df_log['ESTADO_ANTERIOR'] == 'PROPUESTA OK') |
           (df_log['ESTADO_ANTERIOR'] == 'COMPROMISO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO_DEVUELTO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO DEVUELTO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO FULL') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO SIN ACP') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA'

In [18]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'CONVENIO') | 
           (df_log['ESTADO_ANTERIOR'] == 'CONVENIO QUITA') |
           (df_log['ESTADO_ANTERIOR'] == 'NUEVOS CARGOS') |
           (df_log['ESTADO_ANTERIOR'] == 'CONVENIO_QUITA') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA SOBRE COUTA'

In [19]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'PROPUESTA REFI') | 
           (df_log['ESTADO_ANTERIOR'] == 'REFI ARMADA') |
           (df_log['ESTADO_ANTERIOR'] == 'REFI EN TRAMITE') |
           (df_log['ESTADO_ANTERIOR'] == 'REFI A LIQUIDAR') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA CON REFI PENDIENTE DE LIQUIDACIO'

In [20]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'REFI APROBADA') | 
           (df_log['ESTADO_ANTERIOR'] == 'DEVUELTO/CANCELO CON COBRO DE HONORARIO PENDIENTE')
           , 'CATEGORIA'] = 'POSITIVO CON CAJA CON REFI/CANCELACIÓN LIQUIDADA'

In [21]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'DEVUELTO') | 
           (df_log['ESTADO_ANTERIOR'] == 'FALLECIDO') |
           (df_log['ESTADO_ANTERIOR'] == 'PROBLEMA') |
           (df_log['ESTADO_ANTERIOR'] == 'SALDO INSOLUTO') |
           (df_log['ESTADO_ANTERIOR'] == 'NO GESTIONAR') 
           , 'CATEGORIA'] = 'INACTIVO'

In [22]:
df_log.shape

(5322, 9)

In [23]:
df_log.head()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA
0,DNI 37966797,GARCIA DAIANA MARICEL,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO
1,DNI 35170607,FERREYRA PABLO,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO
2,DNI 41245032,MARTINEZ SOLANGE NATALI,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO
3,DNI 41327214,SZKATULAK PAULA,FRANCES_2012,INTERESADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO
4,DNI 41546687,MENDEZ CARLOS ALBERTO,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO

## 2. Devolución de Informes Digitales

Levantamos los DNIs desde el archivo que devuelve Informes Digitales para cruzar contra los IDs y ver cuáles están enriquecidos.

In [24]:
df1 = pd.read_excel('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Informes Digitales/Datasets/Datos Recibidos/MOPC_INFORMES_DIGITALES_2201_1 - copia.xlsx', header=1)

In [25]:
df1.head()

,Orden,Tipo,DNI,Nombre,Cuit/Cuil,Genero,Edad,Observ.,Actividad,Unnamed: 9,...,Celular 1,Celular 2,Celular 3,Celular 4,Celular 5,Email,Unnamed: 78,Categoria_monotributo,Rubro_monotributo,Unnamed: 81
0,1.01,DNI-EA,37.966.797,Garcia Daiana Maricel,27-37966797-5,Fem.,27 Años (01/12/1993),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1.02,DNI-EA,37.966.797,Garcia Daiana Maricel,27-37966797-5,Fem.,27 Años (01/12/1993),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1.03,DNI-EA,37.966.797,Garcia Daiana Maricel,27-37966797-5,Fem.,27 Años (01/12/1993),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.01,DNI-EB,35.170.607,Ferreyra Pablo,20-35170607-5,Mas.,30 Años (17/03/1990),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [26]:
df1.shape

(7639, 82)

In [27]:
df2 = pd.read_excel('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Informes Digitales/Datasets/Datos Recibidos/MOPC_INFORMES_DIGITALES_2201_2 - copia.xlsx', header=1)

In [28]:
df2.shape

(31420, 82)

In [29]:
df2.tail()

,Orden,Tipo,DNI,Nombre,Cuit/Cuil,Genero,Edad,Observ.,Actividad,Unnamed: 9,...,Celular 1,Celular 2,Celular 3,Celular 4,Celular 5,Email,Unnamed: 78,Categoria_monotributo,Rubro_monotributo,Unnamed: 81
31415,4559.02,DNI,94.803.707,Burgos Rodriguez Carlos Alberto,20-94803707-7,Mas.,52 Años (24/12/1968),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31416,4559.03,DNI,94.803.707,Burgos Rodriguez Carlos Alberto,20-94803707-7,Mas.,52 Años (24/12/1968),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31417,4559.04,DNI,94.803.707,Burgos Rodriguez Carlos Alberto,20-94803707-7,Mas.,52 Años (24/12/1968),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31418,4559.05,DNI,94.803.707,Burgos Rodriguez Carlos Alberto,20-94803707-7,Mas.,52 Años (24/12/1968),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31419,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## 1.1) Join de Datasets

Vamos a unir los dos dataframes para trabajar sobre uno solo.

In [30]:
df = df1.append(df2, ignore_index = True)

In [31]:
df.shape

(39059, 82)

In [32]:
df.tail()

,Orden,Tipo,DNI,Nombre,Cuit/Cuil,Genero,Edad,Observ.,Actividad,Unnamed: 9,...,Celular 1,Celular 2,Celular 3,Celular 4,Celular 5,Email,Unnamed: 78,Categoria_monotributo,Rubro_monotributo,Unnamed: 81
39054,4559.02,DNI,94.803.707,Burgos Rodriguez Carlos Alberto,20-94803707-7,Mas.,52 Años (24/12/1968),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39055,4559.03,DNI,94.803.707,Burgos Rodriguez Carlos Alberto,20-94803707-7,Mas.,52 Años (24/12/1968),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39056,4559.04,DNI,94.803.707,Burgos Rodriguez Carlos Alberto,20-94803707-7,Mas.,52 Años (24/12/1968),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39057,4559.05,DNI,94.803.707,Burgos Rodriguez Carlos Alberto,20-94803707-7,Mas.,52 Años (24/12/1968),NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39058,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [33]:
df_reduced = df [['Cuit/Cuil','DNI']]

In [34]:
df_reduced.head()

       Cuit/Cuil         DNI
0  27-37966797-5  37.966.797
1  27-37966797-5  37.966.797
2  27-37966797-5  37.966.797
3            NaN         NaN
4  20-35170607-5  35.170.607

In [35]:
df_reduced['Cuit/Cuil'] = df_reduced['Cuit/Cuil'].str.replace('-','')

<ipython-input-35-e0267c8d0486>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced['Cuit/Cuil'] = df_reduced['Cuit/Cuil'].str.replace('-','')

In [36]:
df_reduced['DNI'] = df_reduced['DNI'].str.replace('.','')

<ipython-input-36-36f4810210a5>:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  df_reduced['DNI'] = df_reduced['DNI'].str.replace('.','')
<ipython-input-36-36f4810210a5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced['DNI'] = df_reduced['DNI'].str.replace('.','')

In [37]:
df_reduced.head()

     Cuit/Cuil       DNI
0  27379667975  37966797
1  27379667975  37966797
2  27379667975  37966797
3          NaN       NaN
4  20351706075  35170607

In [38]:
df_reduced.shape

(39059, 2)

Eliminamos el multilevel de las columnas, y las renombramos:

In [39]:
df_reduced = df_reduced.rename(columns={"Cuit/Cuil": "CUIT_CUIL", 'DNI': 'NRO_DOC'})

In [40]:
df_reduced.head()

     CUIT_CUIL   NRO_DOC
0  27379667975  37966797
1  27379667975  37966797
2  27379667975  37966797
3          NaN       NaN
4  20351706075  35170607

In [41]:
df_reduced.shape

(39059, 2)

## NRO_DOC para union de dataframes

Creamos una columna que contenga IDMOROSO + DATOADIC según corresponda

In [42]:
#df_log.loc[(df_log['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_log['DATOADIC']

In [43]:
#df_log.loc[~(df_log['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_log['IDMOROSO']

In [44]:
df_log ['NRO_DOC'] = df_log['IDMOROSO']

In [45]:
df_log.tail()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC
5317,LC 4249078,SOTO ROSA ESTER,COTO_TARDIA,NO VISTO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,LC 4249078
5318,LC 5596515,DIAZ VICTORIA,COTO_TARDIA,NO VISTO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,LC 5596515
5319,LC 5634858,"SALINAS,MARTA ISABEL",COTO_TARDIA,NO VISTO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,LC 5634858
5320,LE 7760858,HUESCA CARLOS ALBERTO,COTO_TARDIA,NO VISTO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,LE 7760858
5321,DNI 12469665,GUERRERO JUAN CARLOS,COTO_TARDIA,INTERESADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,DNI 12469665

## 12.2) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurídica__ (TO DO)

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos. Esta función debe ejecutarse en primer lugar.
- __DNI Spaces__: Elimina los espacios.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: Decisión sobre dejar un cuit o volverlo DNI

In [46]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [47]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [48]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
        
    else:
        dni = string_dni
        
    return dni

In [49]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [50]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [51]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [52]:
df_log['NRO_DOC'] = [(str(df_log['NRO_DOC'][i]).strip()) for i in range (df_log['NRO_DOC'].count())]

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [53]:
df_log['TIPO_DOC'] = [tipo_doc_1(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

Para la limpieza de DNIs:

In [54]:
df_log['NRO_DOC'] = [standard_dni(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [55]:
df_log['NRO_DOC'] = [dni_characters(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [56]:
df_log['NRO_DOC'] = [cuit(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [57]:
df_log['NRO_DOC'] = [dni_zero(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [58]:
df_log['TIPO_DOC'] = [tipo_doc_2(df_log['NRO_DOC'][i],df_log['TIPO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [59]:
df_log.head()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC
0,DNI 37966797,GARCIA DAIANA MARICEL,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,37966797,DNI
1,DNI 35170607,FERREYRA PABLO,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,35170607,DNI
2,DNI 41245032,MARTINEZ SOLANGE NATALI,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,41245032,DNI
3,DNI 41327214,SZKATULAK PAULA,FRANCES_2012,INTERESADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,41327214,DNI
4,DNI 41546687,MENDEZ CARLOS ALBERTO,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,41546687,DNI

In [60]:
df_log.shape

(5322, 11)

# 13) Union de Dataframes

Se unen ambos dataframes en la columna NRO_DOC

Convertimos la columna NRO_DOC de objeto a INT para hacer la unión

In [61]:
df_reduced = df_reduced.astype({'NRO_DOC': 'str'})

In [62]:
df_union = pd.merge(df_log, df_reduced, on='NRO_DOC', how='inner')

In [63]:
#df_union = pd.merge(df_log,df_reduced[['NRO_DOC']],on=['NRO_DOC'],how="outer",indicator=True)
#df_union = df_union[df_union['_merge']=='left_only']

In [64]:
df_union.shape

(32991, 12)

In [65]:
df_union.head()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC,CUIT_CUIL
0,DNI 37966797,GARCIA DAIANA MARICEL,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,37966797,DNI,27379667975
1,DNI 37966797,GARCIA DAIANA MARICEL,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,37966797,DNI,27379667975
2,DNI 37966797,GARCIA DAIANA MARICEL,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,37966797,DNI,27379667975
3,DNI 35170607,FERREYRA PABLO,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,35170607,DNI,20351706075
4,DNI 35170607,FERREYRA PABLO,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,35170607,DNI,20351706075

In [66]:
df_clean = df_union.drop_duplicates()

In [67]:
df_clean.shape

(6053, 12)

In [68]:
df_clean[df_clean.duplicated()]

Empty DataFrame
Columns: [IDMOROSO, NOMBRE, IDCLIENTE, ESTADO_ANTERIOR, FECHA_ENVIO_ENRIQUECIMIENTO, FECHA_INSERCION_DATO, FECHA_CAMBIO_ESTADO, PROVEEDOR, CATEGORIA, NRO_DOC, TIPO_DOC, CUIT_CUIL]
Index: []

In [69]:
duplicateRowsDF = df_clean[df_clean.duplicated(subset=['IDMOROSO', 'IDCLIENTE'], keep=False)]

In [70]:
duplicateRowsDF

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC,CUIT_CUIL
23,DNI 42538841,MACHICOTE DELFINA,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,42538841,DNI,20425388410
24,DNI 42538841,MACHICOTE DELFINA,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,42538841,DNI,27425388415
43,DNI 44814019,CEBALLOS VERONICA LUCIA,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,44814019,DNI,23448140199
44,DNI 44814019,CEBALLOS VERONICA LUCIA,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,44814019,DNI,27448140194
279,DNI 16754438,MOYANO NESTOR OMAR,FRANCES_2012,INTERESADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,16754438,DNI,20167544380
...,...,...,...,...,...,...,...,...,...,...,...,...
32899,LE 4075655,CORVALAN MANUEL WENCESLAO,COTO_TARDIA,NO VISTO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,4075655,LE,27040756553
32958,LC 4249078,SOTO ROSA ESTER,COTO_TARDIA,NO VISTO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,4249078,LC,20042490785
32962,LC 4249078,SOTO ROSA ESTER,COTO_TARDIA,NO VISTO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,4249078,LC,23042490784
32967,LC 5596515,DIAZ VICTORIA,COTO_TARDIA,NO VISTO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,5596515,LC,20055965154
32971,LC 5596515,DIAZ VICTORIA,COTO_TARDIA,NO VISTO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,5596515,LC,27055965159

In [71]:
df_clean[df_clean['IDMOROSO'] == 'DNI 42538841      ']

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC,CUIT_CUIL
23,DNI 42538841,MACHICOTE DELFINA,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,42538841,DNI,20425388410
24,DNI 42538841,MACHICOTE DELFINA,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,42538841,DNI,27425388415

El problema que se presenta es que al no enviar con género, desde Informes Digitales devuelven 2 cuits. Pueden existir errores en ese punto. No tenemos solución para determinar si es uno u otro.

In [72]:
df_clean = df_clean.drop_duplicates(subset=['IDMOROSO','IDCLIENTE'], keep= 'first')

In [73]:
df_clean.shape

(5319, 12)

In [74]:
df_clean[df_clean['IDMOROSO'] == 'DNI 42538841      ']

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC,CUIT_CUIL
23,DNI 42538841,MACHICOTE DELFINA,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,42538841,DNI,20425388410

## Nuevo Estado

Como no se usaron nuevos estados, se deja en nulo

In [75]:
df_clean = df_clean.assign(NUEVO_ESTADO=np.nan)

## Enriquecido

Nota: sólo estoy mirando los enriquecidos. Si no se enriqueció, no lo mando al LOG.

In [76]:
df_clean = df_clean.assign(ENRIQUECIDO=True)

In [77]:
df_clean.head()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC,CUIT_CUIL,NUEVO_ESTADO,ENRIQUECIDO
0,DNI 37966797,GARCIA DAIANA MARICEL,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,37966797,DNI,27379667975,NaN,True
3,DNI 35170607,FERREYRA PABLO,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,35170607,DNI,20351706075,NaN,True
6,DNI 41245032,MARTINEZ SOLANGE NATALI,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,41245032,DNI,27412450324,NaN,True
8,DNI 41327214,SZKATULAK PAULA,FRANCES_2012,INTERESADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,41327214,DNI,27413272144,NaN,True
10,DNI 41546687,MENDEZ CARLOS ALBERTO,FRANCES_2012,ASIGNADO,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES,NEUTRO,41546687,DNI,20415466871,NaN,True

In [78]:
df_clean = df_clean [['IDMOROSO','IDCLIENTE','ESTADO_ANTERIOR','CATEGORIA','NUEVO_ESTADO','ENRIQUECIDO','FECHA_ENVIO_ENRIQUECIMIENTO','FECHA_INSERCION_DATO','FECHA_CAMBIO_ESTADO','PROVEEDOR']]

In [79]:
df_clean.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,CATEGORIA,NUEVO_ESTADO,ENRIQUECIDO,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR
0,DNI 37966797,FRANCES_2012,ASIGNADO,NEUTRO,NaN,True,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES
3,DNI 35170607,FRANCES_2012,ASIGNADO,NEUTRO,NaN,True,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES
6,DNI 41245032,FRANCES_2012,ASIGNADO,NEUTRO,NaN,True,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES
8,DNI 41327214,FRANCES_2012,INTERESADO,NEUTRO,NaN,True,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES
10,DNI 41546687,FRANCES_2012,ASIGNADO,NEUTRO,NaN,True,2021-01-20,2021-01-26,2021-01-26,INFORMES_DIGITALES

In [80]:
df_clean.shape

(5319, 10)

# Export

In [81]:
df_clean.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Informes Digitales/Exports/DAM_LOG/InfDig_DAM_LOG_2601.csv',index=False)

In [83]:
df_clean[df_clean.duplicated(subset=['IDMOROSO'])]

Empty DataFrame
Columns: [IDMOROSO, IDCLIENTE, ESTADO_ANTERIOR, CATEGORIA, NUEVO_ESTADO, ENRIQUECIDO, FECHA_ENVIO_ENRIQUECIMIENTO, FECHA_INSERCION_DATO, FECHA_CAMBIO_ESTADO, PROVEEDOR]
Index: []