In [1]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'A' : ('1','2','3'), 'B': ('asd,sad',"[1,2,3,4,5,6]",'hola')})
df

   A              B
0  1        asd,sad
1  2  [1,2,3,4,5,6]
2  3           hola

In [2]:
len(df['B'][1])

13

In [3]:
#df ['C'] = [df['B'][i][2:] if len(df['B'][i])> 5 else np.nan for i in range (df['B'].count())]

In [4]:
df

   A              B
0  1        asd,sad
1  2  [1,2,3,4,5,6]
2  3           hola

In [5]:
#df['B']=df['B'].to_list()

In [6]:
# Acordarme de agrupar en alg√∫n punto porque vienen varias filas por moroso.

In [7]:
df['B'] = df['B'].str.strip('[]')

In [8]:
#df['B'] = df['B'].replace(']','')

In [9]:
df.head()

   A            B
0  1      asd,sad
1  2  1,2,3,4,5,6
2  3         hola

In [10]:
df['B'] = df['B'].str.split(',')

In [11]:
df

   A                   B
0  1          [asd, sad]
1  2  [1, 2, 3, 4, 5, 6]
2  3              [hola]

In [12]:
df.B[0]

['asd', 'sad']

In [13]:
df.B[1]

['1', '2', '3', '4', '5', '6']

In [14]:
df = df.explode('B')

In [15]:
df = df.reset_index()

In [16]:
df.loc[df['A'] == df['B'], 'Result'] = True
df.loc[df['A'] != df['B'], 'Result'] = False

In [17]:
df

   index  A     B Result
0      0  1   asd  False
1      0  1   sad  False
2      1  2     1  False
3      1  2     2   True
4      1  2     3  False
5      1  2     4  False
6      1  2     5  False
7      1  2     6  False
8      2  3  hola  False

In [18]:
df['B'][3]

'2'