In [1]:
import pandas as pd
import numpy as np

# LOG

# 1. Datos enviados

In [2]:
df_log = pd.read_csv('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Clientes/Fravega/Datasets/FRAVEGA_Datos_Enviados_2602.csv')

In [3]:
df_log.head()

             IDMOROSO             IDCLIENTE                ESTADO
0  DNI 10122690        FRAVEGA_LEGALES548    EN GESTION
1  DNI 10126780        FRAVEGA_LEGALES548    COMPROMISO
2  DNI 10138702        FRAVEGA_LEGALES548    EN GESTION
3  DNI 10327923        FRAVEGA_LEGALES548    EN GESTION
4  DNI 10335724        FRAVEGA_LEGALES548    CANCELO

In [4]:
df_log = df_log.rename(columns={"ESTADO": "ESTADO_ANTERIOR"})

In [5]:
#df_log = df_log [['IDMOROSO','IDCLIENTE','DATOADIC','ESTADO_ANTERIOR']]
df_log = df_log [['IDMOROSO','IDCLIENTE','ESTADO_ANTERIOR']]

In [6]:
fecha_envio_log = '2021-02-02'

In [7]:
fecha_insercion_log = '2021-02-08'

In [8]:
fecha_estados_log = '2021-02-08'

In [9]:
df_log = df_log.assign(FECHA_ENVIO_ENRIQUECIMIENTO=fecha_envio_log)

In [10]:
df_log = df_log.assign(FECHA_INSERCION_DATO=fecha_insercion_log)

In [11]:
df_log = df_log.assign(FECHA_CAMBIO_ESTADO=fecha_estados_log)

In [12]:
df_log.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO
0,DNI 10122690,FRAVEGA_LEGALES548,EN GESTION,2021-02-02,2021-02-08,2021-02-08
1,DNI 10126780,FRAVEGA_LEGALES548,COMPROMISO,2021-02-02,2021-02-08,2021-02-08
2,DNI 10138702,FRAVEGA_LEGALES548,EN GESTION,2021-02-02,2021-02-08,2021-02-08
3,DNI 10327923,FRAVEGA_LEGALES548,EN GESTION,2021-02-02,2021-02-08,2021-02-08
4,DNI 10335724,FRAVEGA_LEGALES548,CANCELO,2021-02-02,2021-02-08,2021-02-08

In [13]:
df_log = df_log.assign(PROVEEDOR='C_FRV')

In [14]:
df_log['ESTADO_ANTERIOR'] = [(str(df_log['ESTADO_ANTERIOR'][i]).strip()) for i in range (df_log['ESTADO_ANTERIOR'].count())]

In [15]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'INTERESADO') | 
           (df_log['ESTADO_ANTERIOR'] == 'NO VISTO') | 
           (df_log['ESTADO_ANTERIOR'] == 'EN GESTION') |
           (df_log['ESTADO_ANTERIOR'] == 'ASIGNADO') |
           (df_log['ESTADO_ANTERIOR'] == 'ROTACION') |
           (df_log['ESTADO_ANTERIOR'] == 'ASIGNADO') |
           (df_log['ESTADO_ANTERIOR'] == 'PLAN V') |
           (df_log['ESTADO_ANTERIOR'] == 'NO INTERESADO') |
           (df_log['ESTADO_ANTERIOR'] == 'ACUERDO CAIDO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO_RECHAZADA') 
           , 'CATEGORIA'] = 'NEUTRO'

In [16]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'NO UBICADO') | 
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 1') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 1 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 2') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 3') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 3 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL3 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL1 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL1') |
           (df_log['ESTADO_ANTERIOR'] == 'NO_VISTO_CONTACTABLE') |
           (df_log['ESTADO_ANTERIOR'] == 'NO_VISTO_MASIVO') 
           , 'CATEGORIA'] = 'NEGATIVO POR CONTACTABILIDAD'

In [17]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'PAGO PARCIAL') | 
           (df_log['ESTADO_ANTERIOR'] == 'PLAN DE PAGOS') |
           (df_log['ESTADO_ANTERIOR'] == 'POSIBLE REFI') |
           (df_log['ESTADO_ANTERIOR'] == 'REFINANCIACION') |
           (df_log['ESTADO_ANTERIOR'] == 'PROPUESTA') |
           (df_log['ESTADO_ANTERIOR'] == 'PROPUESTA OK') |
           (df_log['ESTADO_ANTERIOR'] == 'COMPROMISO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO_DEVUELTO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO DEVUELTO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO FULL') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO SIN ACP') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA'

In [18]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'CONVENIO') | 
           (df_log['ESTADO_ANTERIOR'] == 'CONVENIO QUITA') |
           (df_log['ESTADO_ANTERIOR'] == 'NUEVOS CARGOS') |
           (df_log['ESTADO_ANTERIOR'] == 'CONVENIO_QUITA') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA SOBRE COUTA'

In [19]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'PROPUESTA REFI') | 
           (df_log['ESTADO_ANTERIOR'] == 'REFI ARMADA') |
           (df_log['ESTADO_ANTERIOR'] == 'REFI EN TRAMITE') |
           (df_log['ESTADO_ANTERIOR'] == 'REFI A LIQUIDAR') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA CON REFI PENDIENTE DE LIQUIDACIO'

In [20]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'REFI APROBADA') | 
           (df_log['ESTADO_ANTERIOR'] == 'DEVUELTO/CANCELO CON COBRO DE HONORARIO PENDIENTE')
           , 'CATEGORIA'] = 'POSITIVO CON CAJA CON REFI/CANCELACIÓN LIQUIDADA'

In [21]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'DEVUELTO') | 
           (df_log['ESTADO_ANTERIOR'] == 'FALLECIDO') |
           (df_log['ESTADO_ANTERIOR'] == 'PROBLEMA') |
           (df_log['ESTADO_ANTERIOR'] == 'SALDO INSOLUTO') |
           (df_log['ESTADO_ANTERIOR'] == 'NO GESTIONAR') 
           , 'CATEGORIA'] = 'INACTIVO'

In [22]:
df_log.shape

(761, 8)

In [23]:
df_log.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA
0,DNI 10122690,FRAVEGA_LEGALES548,EN GESTION,2021-02-02,2021-02-08,2021-02-08,C_FRV,NEUTRO
1,DNI 10126780,FRAVEGA_LEGALES548,COMPROMISO,2021-02-02,2021-02-08,2021-02-08,C_FRV,POSITIVO CON CAJA
2,DNI 10138702,FRAVEGA_LEGALES548,EN GESTION,2021-02-02,2021-02-08,2021-02-08,C_FRV,NEUTRO
3,DNI 10327923,FRAVEGA_LEGALES548,EN GESTION,2021-02-02,2021-02-08,2021-02-08,C_FRV,NEUTRO
4,DNI 10335724,FRAVEGA_LEGALES548,CANCELO,2021-02-02,2021-02-08,2021-02-08,C_FRV,POSITIVO CON CAJA

Creamos una columna que contenga IDMOROSO + DATOADIC según corresponda

In [24]:
df_log ['NRO_DOC'] = df_log ['IDMOROSO']

In [25]:
df_log.tail()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC
756,DNI 94971314,FRAVEGA_LEGALES548,NO UBICADO,2021-02-02,2021-02-08,2021-02-08,C_FRV,NEGATIVO POR CONTACTABILIDAD,DNI 94971314
757,DNI 94992695,FRAVEGA_LEGALES548,CONVENIO,2021-02-02,2021-02-08,2021-02-08,C_FRV,POSITIVO CON CAJA SOBRE COUTA,DNI 94992695
758,DNI 95131058,FRAVEGA_LEGALES548,EN GESTION,2021-02-02,2021-02-08,2021-02-08,C_FRV,NEUTRO,DNI 95131058
759,DNI 95545311,FRAVEGA_LEGALES548,CONVENIO,2021-02-02,2021-02-08,2021-02-08,C_FRV,POSITIVO CON CAJA SOBRE COUTA,DNI 95545311
760,DNI 9985136,FRAVEGA_LEGALES548,NO UBICADO,2021-02-02,2021-02-08,2021-02-08,C_FRV,NEGATIVO POR CONTACTABILIDAD,DNI 9985136

## 12.2) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurídica__ (TO DO)

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos. Esta función debe ejecutarse en primer lugar.
- __DNI Spaces__: Elimina los espacios.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: Decisión sobre dejar un cuit o volverlo DNI

In [26]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [27]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [28]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
        
    else:
        dni = string_dni
        
    return dni

In [29]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [30]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [31]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [32]:
df_log['NRO_DOC'] = [(str(df_log['NRO_DOC'][i]).strip()) for i in range (df_log['NRO_DOC'].count())]

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [33]:
df_log['TIPO_DOC'] = [tipo_doc_1(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

Para la limpieza de DNIs:

In [34]:
df_log['NRO_DOC'] = [standard_dni(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [35]:
df_log['NRO_DOC'] = [dni_characters(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [36]:
df_log['NRO_DOC'] = [cuit(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [37]:
df_log['NRO_DOC'] = [dni_zero(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [38]:
df_log['TIPO_DOC'] = [tipo_doc_2(df_log['NRO_DOC'][i],df_log['TIPO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [39]:
df_log.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC
0,DNI 10122690,FRAVEGA_LEGALES548,EN GESTION,2021-02-02,2021-02-08,2021-02-08,C_FRV,NEUTRO,10122690,DNI
1,DNI 10126780,FRAVEGA_LEGALES548,COMPROMISO,2021-02-02,2021-02-08,2021-02-08,C_FRV,POSITIVO CON CAJA,10126780,DNI
2,DNI 10138702,FRAVEGA_LEGALES548,EN GESTION,2021-02-02,2021-02-08,2021-02-08,C_FRV,NEUTRO,10138702,DNI
3,DNI 10327923,FRAVEGA_LEGALES548,EN GESTION,2021-02-02,2021-02-08,2021-02-08,C_FRV,NEUTRO,10327923,DNI
4,DNI 10335724,FRAVEGA_LEGALES548,CANCELO,2021-02-02,2021-02-08,2021-02-08,C_FRV,POSITIVO CON CAJA,10335724,DNI

In [40]:
df_log.shape

(761, 10)

In [41]:
df_clean = df_log.drop_duplicates()

In [42]:
df_clean.shape

(761, 10)

In [43]:
duplicateRowsDF = df_clean[df_clean.duplicated(subset=['IDMOROSO'], keep=False)]

In [44]:
duplicateRowsDF

Empty DataFrame
Columns: [IDMOROSO, IDCLIENTE, ESTADO_ANTERIOR, FECHA_ENVIO_ENRIQUECIMIENTO, FECHA_INSERCION_DATO, FECHA_CAMBIO_ESTADO, PROVEEDOR, CATEGORIA, NRO_DOC, TIPO_DOC]
Index: []

## Nuevo Estado

Como no se usaron nuevos estados, se deja en nulo

In [45]:
df_clean = df_clean.assign(NUEVO_ESTADO=np.nan)

## Enriquecido

In [46]:
df_clean = df_clean.assign(ENRIQUECIDO=1)

In [47]:
df_clean.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC,NUEVO_ESTADO,ENRIQUECIDO
0,DNI 10122690,FRAVEGA_LEGALES548,EN GESTION,2021-02-02,2021-02-08,2021-02-08,C_FRV,NEUTRO,10122690,DNI,NaN,1
1,DNI 10126780,FRAVEGA_LEGALES548,COMPROMISO,2021-02-02,2021-02-08,2021-02-08,C_FRV,POSITIVO CON CAJA,10126780,DNI,NaN,1
2,DNI 10138702,FRAVEGA_LEGALES548,EN GESTION,2021-02-02,2021-02-08,2021-02-08,C_FRV,NEUTRO,10138702,DNI,NaN,1
3,DNI 10327923,FRAVEGA_LEGALES548,EN GESTION,2021-02-02,2021-02-08,2021-02-08,C_FRV,NEUTRO,10327923,DNI,NaN,1
4,DNI 10335724,FRAVEGA_LEGALES548,CANCELO,2021-02-02,2021-02-08,2021-02-08,C_FRV,POSITIVO CON CAJA,10335724,DNI,NaN,1

In [48]:
df_clean = df_clean [['IDMOROSO','IDCLIENTE','ESTADO_ANTERIOR','CATEGORIA','NUEVO_ESTADO','ENRIQUECIDO','FECHA_ENVIO_ENRIQUECIMIENTO','FECHA_INSERCION_DATO','FECHA_CAMBIO_ESTADO','PROVEEDOR']]

In [49]:
df_clean.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,CATEGORIA,NUEVO_ESTADO,ENRIQUECIDO,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR
0,DNI 10122690,FRAVEGA_LEGALES548,EN GESTION,NEUTRO,NaN,1,2021-02-02,2021-02-08,2021-02-08,C_FRV
1,DNI 10126780,FRAVEGA_LEGALES548,COMPROMISO,POSITIVO CON CAJA,NaN,1,2021-02-02,2021-02-08,2021-02-08,C_FRV
2,DNI 10138702,FRAVEGA_LEGALES548,EN GESTION,NEUTRO,NaN,1,2021-02-02,2021-02-08,2021-02-08,C_FRV
3,DNI 10327923,FRAVEGA_LEGALES548,EN GESTION,NEUTRO,NaN,1,2021-02-02,2021-02-08,2021-02-08,C_FRV
4,DNI 10335724,FRAVEGA_LEGALES548,CANCELO,POSITIVO CON CAJA,NaN,1,2021-02-02,2021-02-08,2021-02-08,C_FRV

In [50]:
df_clean.shape

(761, 10)

# Export

In [51]:
df_clean.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Clientes/Fravega/Exports/FRAVEGA_ENRIQUECIDOS_DAM_LOG - 2602.csv',index=False)