# 1) Datasets

Leemos el dataset

In [4]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('sumario.csv')

In [3]:
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Cuil                Dni      Fecha de Nac. Fecha de Defuncion
0       2.700187e+10           187386.0         1929-04-02                NaN
1       2.700508e+10           507550.0         1939-03-05                NaN
2       2.704172e+10          4171534.0         1940-06-02         2020-12-15
3       2.004174e+10          4173550.0         1936-01-28                NaN
4       2.004200e+10          4200228.0         1936-12-08                NaN

  Unnamed: 4_level_0           Unnamed: 5_level_0       Unnamed: 6_level_0  \
                Sexo                      Titular                    Calle
0                  F             HERRERA ENA ELSA         REP DE VENEZUELA
1                  F         ENTRATICO IRMA CLARA               AV URUGUAY
2                  F  ITUARTE MARGARITA HORTENSIA             PJE GRANDOLI
3                  M        VISCONTI EDUARDO JUAN       JUAN JOSE VIAMONTE
4                  M       CACCHIONE MIGUEL ANGEL  BRUNO MARIANO DE ZABALA

  Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
              Numero       Piso y Depto      Codigo Postal  ...
0               3700                NaN             1211.0  ...
1                875                NaN             4400.0  ...
2               6100                NaN             1439.0  ...
3               1592                NaN             1055.0  ...
4               1706                NaN             1426.0  ...

  Contactacion Opcional (Familiar)                                          \
                        Tel Fijo 2 Celular 1 Celular 2 Celular 3 Celular 4
0                              NaN       NaN       NaN       NaN       NaN
1                              NaN       NaN       NaN       NaN       NaN
2                              NaN       NaN       NaN       NaN       NaN
3                              NaN       NaN       NaN       NaN       NaN
4                              NaN       NaN       NaN       NaN       NaN

                  Contactacion Opcional (Vecino)
  Celular 5 Email                         Nombre      Telefono  SCORE
0       NaN   NaN                            NaN           NaN    0.0
1       NaN   NaN          PATRON COSTAS GUSTAVO  3.874321e+09   34.0
2       NaN   NaN                            NaN           NaN  891.0
3       NaN   NaN                            NaN           NaN  958.0
4       NaN   NaN                            NaN           NaN  345.0

[5 rows x 226 columns]

In [6]:
df.head()

,#ID,DOCUMENTO,CUIL,APELLIDO,NOMBRE,SEXO,FECHA_NAC,DIFUNTO,PADRON_DOMICILIO,PADRON_LOCALIDAD,...,TELEFONO_FIJO1,TELEFONO_FIJO1_OPERADOR,TELEFONO_FIJO2,TELEFONO_FIJO2_OPERADOR,TELEFONO_FIJO3,TELEFONO_FIJO3_OPERADOR,TELEFONO_FIJO4,TELEFONO_FIJO4_OPERADOR,EMAIL,EMAIL2
0,NaN,14002409,20140024091,CARMONA,CARLOS RUBEN,M,19/06/1961,NO,UJEMVI,EL ZAPALLAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,14615384,20146153845,LOPEZ,JORGE OSVALDO,M,08/11/1961,NO,ISLANDIA 4030,LANUS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JORGUITOLOPEZ66@OUTLOOK.COM,jorgeracing@hotmail.com
2,NaN,16529147,20165291477,OLIVA,MARCELO AGUSTIN,M,30/04/1963,NO,CASTELLI 1605,BILLINGHURST,...,1.147529e+09,Telecom Argentina,NaN,NaN,NaN,NaN,NaN,NaN,MARCELO_A_OLIVA@HOTMAIL.COM,NaN
3,NaN,19060653,27190606533,FERNANDEZ REBECA NOEMI,NOEMI,F,01/01/0001,NO,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,REBEF@GMAIL.COM,NaN
4,NaN,22281497,27222814974,GONZALEZ,MIRIAN MABEL,F,04/03/1972,NO,LAS PIEDRAS 364,RIO GALLEGOS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.shape

(6, 33)

## 1.2) Data Cleaning: Datasets

Vamos a dropear aquellas columnas y filas que no tengan ningÃºn valor (es decir, que sean todos NaNs)

In [8]:
df = df.dropna(axis=0, how='all')

In [9]:
#df = df.dropna(axis=1, how='all')

In [10]:
df.shape

(6, 33)

Ahora todas las columnas tienen al menos 1 dato.

# 2) Mails

In [11]:
df.head(1)

,#ID,DOCUMENTO,CUIL,APELLIDO,NOMBRE,SEXO,FECHA_NAC,DIFUNTO,PADRON_DOMICILIO,PADRON_LOCALIDAD,...,TELEFONO_FIJO1,TELEFONO_FIJO1_OPERADOR,TELEFONO_FIJO2,TELEFONO_FIJO2_OPERADOR,TELEFONO_FIJO3,TELEFONO_FIJO3_OPERADOR,TELEFONO_FIJO4,TELEFONO_FIJO4_OPERADOR,EMAIL,EMAIL2
0,NaN,14002409,20140024091,CARMONA,CARLOS RUBEN,M,19/06/1961,NO,UJEMVI,EL ZAPALLAR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Vamos a obtener los mails de las columnas donde pueden aparecer, que son:

- Mail 1, 2 y 3.
- Email Empleador.
- Contactacion Opcional (Familiar) - Email.

In [12]:
df_reduced = df[["DOCUMENTO", "CUIL", "APELLIDO", "NOMBRE", "EMAIL","EMAIL2"]]
df_reduced.head()

,DOCUMENTO,CUIL,APELLIDO,NOMBRE,EMAIL,EMAIL2
0,14002409,20140024091,CARMONA,CARLOS RUBEN,NaN,NaN
1,14615384,20146153845,LOPEZ,JORGE OSVALDO,JORGUITOLOPEZ66@OUTLOOK.COM,jorgeracing@hotmail.com
2,16529147,20165291477,OLIVA,MARCELO AGUSTIN,MARCELO_A_OLIVA@HOTMAIL.COM,NaN
3,19060653,27190606533,FERNANDEZ REBECA NOEMI,NOEMI,REBEF@GMAIL.COM,NaN
4,22281497,27222814974,GONZALEZ,MIRIAN MABEL,NaN,NaN

In [13]:
df_reduced = df_reduced.rename(columns={"CUIL": "CUIT_CUIL", 'DOCUMENTO': 'NRO_DOC'})

In [14]:
df_reduced.head()

,NRO_DOC,CUIT_CUIL,APELLIDO,NOMBRE,EMAIL,EMAIL2
0,14002409,20140024091,CARMONA,CARLOS RUBEN,NaN,NaN
1,14615384,20146153845,LOPEZ,JORGE OSVALDO,JORGUITOLOPEZ66@OUTLOOK.COM,jorgeracing@hotmail.com
2,16529147,20165291477,OLIVA,MARCELO AGUSTIN,MARCELO_A_OLIVA@HOTMAIL.COM,NaN
3,19060653,27190606533,FERNANDEZ REBECA NOEMI,NOEMI,REBEF@GMAIL.COM,NaN
4,22281497,27222814974,GONZALEZ,MIRIAN MABEL,NaN,NaN

# 3) ConcatenaciÃ³n de Mails

Como PyP envÃ­a un mail por celda, tengo que concatenar las columnas Mail_propio y Mail_ajeno en una lista dentro de una nueva columna denominada "Dato"
y luego se ponen todos los mails en minÃºscula

In [15]:
df_melt = pd.melt(df_reduced, id_vars=['CUIT_CUIL', 'NRO_DOC', 'APELLIDO','NOMBRE'], 
                 value_vars=['EMAIL','EMAIL2'],value_name='Dato')
df_melt["Dato"] = df_melt["Dato"].str.lower()

In [16]:
df_melt.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato
0,20140024091,14002409,CARMONA,CARLOS RUBEN,EMAIL,NaN
1,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL,jorguitolopez66@outlook.com
2,20165291477,16529147,OLIVA,MARCELO AGUSTIN,EMAIL,marcelo_a_oliva@hotmail.com
3,27190606533,19060653,FERNANDEZ REBECA NOEMI,NOEMI,EMAIL,rebef@gmail.com
4,27222814974,22281497,GONZALEZ,MIRIAN MABEL,EMAIL,NaN

# 4) Drop NaNs

Dropeamos aquellas filas que tengan NaN en la columna Dato, ya que no nos aporta nada:

In [17]:
df_melt = df_melt.dropna(subset=['Dato'])

In [18]:
df_melt.shape

(6, 6)

In [19]:
df_melt.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato
1,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL,jorguitolopez66@outlook.com
2,20165291477,16529147,OLIVA,MARCELO AGUSTIN,EMAIL,marcelo_a_oliva@hotmail.com
3,27190606533,19060653,FERNANDEZ REBECA NOEMI,NOEMI,EMAIL,rebef@gmail.com
5,27190606533,12552667,TILLERIA,JORGE,EMAIL,tetotille@gmail.com
7,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL2,jorgeracing@hotmail.com

# 5) Propietario del Dato

En funciÃ³n de la columna "variable" creamos una nueva columna PROPIETARIO_DATO

In [20]:
df_melt.loc[(df_melt['variable'] == 'EMAIL') , 'PROPIETARIO_DATO'] = 'Propio'

In [21]:
df_melt.loc[(df_melt['variable'] == 'EMAIL2') , 'PROPIETARIO_DATO'] = 'Propio'

In [22]:
#df_melt.loc[(df_melt['variable'] == 'Mail 3') , 'PROPIETARIO_DATO'] = 'Propio'

In [23]:
#df_melt.loc[(df_melt['variable'] == 'Mail_ajeno') , 'PROPIETARIO_DATO'] = 'Ajeno_familiar'

In [24]:
#df_melt.loc[(df_melt['variable'] == 'Mail_empleador') , 'PROPIETARIO_DATO'] = 'Ajeno_empleador'

In [25]:
#df_melt = df_melt.drop(columns=['variable'])

In [26]:
df_melt.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO
1,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL,jorguitolopez66@outlook.com,Propio
2,20165291477,16529147,OLIVA,MARCELO AGUSTIN,EMAIL,marcelo_a_oliva@hotmail.com,Propio
3,27190606533,19060653,FERNANDEZ REBECA NOEMI,NOEMI,EMAIL,rebef@gmail.com,Propio
5,27190606533,12552667,TILLERIA,JORGE,EMAIL,tetotille@gmail.com,Propio
7,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL2,jorgeracing@hotmail.com,Propio

# 6) Columna Proveedor

Agregamos la columna PROVEEDOR_DATO, con el cÃ³digo correspondiente.

In [27]:
cod_pyp = 'ZERT'

In [28]:
df_clean = df_melt.assign(PROVEEDOR_DATO=cod_pyp)

In [29]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO
1,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL,jorguitolopez66@outlook.com,Propio,ZERT
2,20165291477,16529147,OLIVA,MARCELO AGUSTIN,EMAIL,marcelo_a_oliva@hotmail.com,Propio,ZERT
3,27190606533,19060653,FERNANDEZ REBECA NOEMI,NOEMI,EMAIL,rebef@gmail.com,Propio,ZERT
5,27190606533,12552667,TILLERIA,JORGE,EMAIL,tetotille@gmail.com,Propio,ZERT
7,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL2,jorgeracing@hotmail.com,Propio,ZERT

# 7) Columna Tipo

Agregamos la columna TIPO, con el cÃ³digo correspondiente

In [30]:
tipo_dato = 'EMAIL'

In [31]:
df_clean = df_clean.assign(TIPO=tipo_dato)

In [32]:
df_clean.head ()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO
1,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL,jorguitolopez66@outlook.com,Propio,ZERT,EMAIL
2,20165291477,16529147,OLIVA,MARCELO AGUSTIN,EMAIL,marcelo_a_oliva@hotmail.com,Propio,ZERT,EMAIL
3,27190606533,19060653,FERNANDEZ REBECA NOEMI,NOEMI,EMAIL,rebef@gmail.com,Propio,ZERT,EMAIL
5,27190606533,12552667,TILLERIA,JORGE,EMAIL,tetotille@gmail.com,Propio,ZERT,EMAIL
7,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL2,jorgeracing@hotmail.com,Propio,ZERT,EMAIL

# 8) Columna Subtipo

Agregamos la columna SUBTIPO, que va a contener informaciÃ³n sobre el tipo de mail que se encuentra en el campo Dato.

- Personal: @yahoo, @gmail, @hotmail, @outlook, @live.
- Laboral: el resto.

Verificamos que la string contenga esos casos:

In [33]:
df_clean.loc[(df_clean['Dato'].str.contains('@yahoo', na=False)) | 
             (df_clean['Dato'].str.contains('@gmail', na=False)) |
             (df_clean['Dato'].str.contains('@outlook', na=False)) |
             (df_clean['Dato'].str.contains('@hotmail', na=False)) |
             (df_clean['Dato'].str.contains('@live', na=False)) , 'SUBTIPO'] = 'PERSONAL'

Para los mails laborales, evaluamos los casos contrarios:

In [34]:
df_clean.loc[~(df_clean['Dato'].str.contains('@yahoo', na=False)) & 
             ~(df_clean['Dato'].str.contains('@gmail', na=False)) &
             ~(df_clean['Dato'].str.contains('@outlook', na=False)) &
             ~(df_clean['Dato'].str.contains('@hotmail', na=False)) &
             ~(df_clean['Dato'].str.contains('@live', na=False)) , 'SUBTIPO'] = 'LABORAL'

In [35]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO
1,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL,jorguitolopez66@outlook.com,Propio,ZERT,EMAIL,PERSONAL
2,20165291477,16529147,OLIVA,MARCELO AGUSTIN,EMAIL,marcelo_a_oliva@hotmail.com,Propio,ZERT,EMAIL,PERSONAL
3,27190606533,19060653,FERNANDEZ REBECA NOEMI,NOEMI,EMAIL,rebef@gmail.com,Propio,ZERT,EMAIL,PERSONAL
5,27190606533,12552667,TILLERIA,JORGE,EMAIL,tetotille@gmail.com,Propio,ZERT,EMAIL,PERSONAL
7,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL2,jorgeracing@hotmail.com,Propio,ZERT,EMAIL,PERSONAL

# 9) Columna Score

El campo **Score** se construye en funciÃ³n de los datos obtenidos:

- Nivel 4: Dato que otorga la propia persona.
- Nivel 3: Dato que otorgan los clientes (los bancos).
- Nivel 2: Dato que otorga un proveedor externo (Informes Digitales en este caso), con subtipo "Personal".
- Nivel 1: Dato que otorga un proveedor externo, pero tiene como subtipo "Laboral".

In [36]:
# Nivel 1: Laboral, proveedor externo.

df_clean.loc[(df_clean['SUBTIPO'] == 'LABORAL') , 'SCORE_DATO'] = 1

In [37]:
# Nivel 2: Personal, proveedor externo.

df_clean.loc[(df_clean['SUBTIPO'] == 'PERSONAL') , 'SCORE_DATO'] = 2

In [38]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO
1,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL,jorguitolopez66@outlook.com,Propio,ZERT,EMAIL,PERSONAL,2.0
2,20165291477,16529147,OLIVA,MARCELO AGUSTIN,EMAIL,marcelo_a_oliva@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0
3,27190606533,19060653,FERNANDEZ REBECA NOEMI,NOEMI,EMAIL,rebef@gmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0
5,27190606533,12552667,TILLERIA,JORGE,EMAIL,tetotille@gmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0
7,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL2,jorgeracing@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0

# 10) Columna Fecha

Para el campo FECHA_INGRESO_DATO, usamos la fecha en la que se hace la inserciÃ³n de los datos:

In [39]:
fecha_ingreso = pd.to_datetime('today')

In [40]:
df_clean = df_clean.assign(FECHA_INGRESO_DATO=fecha_ingreso)

In [41]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO
1,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL,jorguitolopez66@outlook.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-25 08:26:29.120434
2,20165291477,16529147,OLIVA,MARCELO AGUSTIN,EMAIL,marcelo_a_oliva@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-25 08:26:29.120434
3,27190606533,19060653,FERNANDEZ REBECA NOEMI,NOEMI,EMAIL,rebef@gmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-25 08:26:29.120434
5,27190606533,12552667,TILLERIA,JORGE,EMAIL,tetotille@gmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-25 08:26:29.120434
7,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL2,jorgeracing@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-25 08:26:29.120434

# 11) Campos adicionales

Creamos las columnas VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, que en principio van en nulls.

In [42]:
df_clean['VERIFICADO'] = 0

In [43]:
df_clean['FECHA_VERIFICACION'] = np.nan

In [44]:
df_clean['OPERADOR_VERIFICACION'] = np.nan

In [45]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION
1,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL,jorguitolopez66@outlook.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-25 08:26:29.120434,0,NaN,NaN
2,20165291477,16529147,OLIVA,MARCELO AGUSTIN,EMAIL,marcelo_a_oliva@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-25 08:26:29.120434,0,NaN,NaN
3,27190606533,19060653,FERNANDEZ REBECA NOEMI,NOEMI,EMAIL,rebef@gmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-25 08:26:29.120434,0,NaN,NaN
5,27190606533,12552667,TILLERIA,JORGE,EMAIL,tetotille@gmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-25 08:26:29.120434,0,NaN,NaN
7,20146153845,14615384,LOPEZ,JORGE OSVALDO,EMAIL2,jorgeracing@hotmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-25 08:26:29.120434,0,NaN,NaN

# 12) ConcatenaciÃ³n con .csv enviado

Vamos a concatenar nuestro dataframe con el dataframe enviado para enriquecer. Para esto, vamos a hacer una limpieza inicial de cÃ³mo se enviaron esos datos. Finalmente, se uniran ambos dataframes por __DNI__.

## 12.1) Dataset

Vamos a analizar y limpiar el dataset enviado para el enriquecimiento:

In [46]:
df_pyp = pd.read_csv('Datos_Enriquecimiento.csv')

In [47]:
df_pyp=df_pyp.drop(["DOCUMENTO","TIPO"],axis=1)
df_pyp.head()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO,FILTROA,DATOADIC
0,DNI 12694849,PINEYRO IRIS MARGA,FRANCES_2012,COMPROMISO,2 - Ag 2ra,
1,DNI 12712266,CONDORI POLICARPO,FRANCES_2012,NO VISTO,2 - Ag 2ra,NaN
2,DNI 12722297,BECERRA AMALIA,FRANCES_2012,ASIGNADO,2 - Ag 2ra,
3,DNI 12748441,PERFUMO JORGE,FRANCES_2012,CONVENIO,1 - Ag 1ra,
4,DNI 12755014,GILL ENRIQUE,FRANCES_2012,INTERESADO,2 - Ag 2ra,

Creamos una columna que contenga IDMOROSO + DATOADIC segÃºn corresponda

In [48]:
df_pyp.loc[(df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['DATOADIC']

In [49]:
df_pyp.loc[(~df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['IDMOROSO']

In [50]:
#df_pyp ['NRO_DOC'] = df_pyp ['IDMOROSO']

In [51]:
#df_pyp = df_pyp [['IDMOROSO','NOMBRE','IDCLIENTE','NRO_DOC']]
df_pyp = df_pyp [['IDMOROSO','IDCLIENTE','NRO_DOC']]

In [52]:
df_pyp.head()

       IDMOROSO             IDCLIENTE       NRO_DOC
0  DNI 12694849  FRANCES_2012          DNI 12694849
1  DNI 12712266  FRANCES_2012          DNI 12712266
2  DNI 12722297  FRANCES_2012          DNI 12722297
3  DNI 12748441  FRANCES_2012          DNI 12748441
4  DNI 12755014  FRANCES_2012          DNI 12755014

In [53]:
df_pyp = df_pyp.dropna(subset=['NRO_DOC'])

## 12.2) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurÃ­dica__ (TO DO)

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos. Esta funciÃ³n debe ejecutarse en primer lugar.
- __DNI Spaces__: Elimina los espacios.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: DecisiÃ³n sobre dejar un cuit o volverlo DNI

In [54]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [55]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [56]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
        
    else:
        dni = string_dni
        
    return dni

In [57]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [58]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [59]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [60]:
df_pyp['NRO_DOC'] = [(str(df_pyp['NRO_DOC'][i]).strip()) for i in range (df_pyp['NRO_DOC'].count())]

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [61]:
df_pyp['TIPO_DOC'] = [tipo_doc_1(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para la limpieza de DNIs:

In [62]:
df_pyp['NRO_DOC'] = [standard_dni(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [63]:
df_pyp['NRO_DOC'] = [dni_characters(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [64]:
df_pyp['NRO_DOC'] = [cuit(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [65]:
df_pyp['NRO_DOC'] = [dni_zero(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [66]:
df_pyp['TIPO_DOC'] = [tipo_doc_2(df_pyp['NRO_DOC'][i],df_pyp['TIPO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [87]:
df_pyp[df_pyp["IDMOROSO"]=="DNI 14615384"]

Empty DataFrame
Columns: [IDMOROSO, IDCLIENTE, NRO_DOC, TIPO_DOC]
Index: []

# 13) Union de Dataframes

Se unen ambos dataframes en la columna NRO_DOC

Convertimos la columna NRO_DOC de objeto a INT para hacer la uniÃ³n

In [92]:
df_clean = df_clean.astype({'NRO_DOC': 'str'})

In [93]:
df_clean ['NRO_DOC'] = df_clean ['NRO_DOC'].str.split('.').str[0]

In [94]:
df_union = pd.merge(df_clean,df_pyp, on='NRO_DOC', how='inner')

In [95]:
df_union.shape

(2, 18)

In [96]:
df_union.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,IDMOROSO,IDCLIENTE,TIPO_DOC
0,27190606533,12552667,TILLERIA,JORGE,EMAIL,tetotille@gmail.com,Propio,ZERT,EMAIL,PERSONAL,2.0,2021-08-25 08:26:29.120434,0,NaN,NaN,DNI 12552667,BSR_TARDIA,DNI
1,27190606533,12552667,TILLERIA,JORGE,EMAIL2,jorge.tilleria@mopc.cc,Propio,ZERT,EMAIL,LABORAL,1.0,2021-08-25 08:26:29.120434,0,NaN,NaN,DNI 12552667,BSR_TARDIA,DNI

# 14) Export

Renombramos, dropeamos y reordenamos las columnas

In [73]:
df_union = df_union.rename(columns = {'Dato':'DATO'})

Dropeamos columnas que no nos sirven

In [74]:
df_export = df_union.drop(columns=['IDCLIENTE'], axis=0)

In [75]:
df_export = df_export[['IDMOROSO', 'TIPO_DOC','NRO_DOC','CUIT_CUIL','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO','PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO','FECHA_VERIFICACION','OPERADOR_VERIFICACION','SCORE_DATO']]

In [76]:
df_export.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,NaN,NaN,14615384,20146153845,EMAIL,PERSONAL,jorguitolopez66@outlook.com,Propio,ZERT,2021-08-25 08:26:29.120434,0,NaN,NaN,2.0
1,NaN,NaN,16529147,20165291477,EMAIL,PERSONAL,marcelo_a_oliva@hotmail.com,Propio,ZERT,2021-08-25 08:26:29.120434,0,NaN,NaN,2.0
2,NaN,NaN,19060653,27190606533,EMAIL,PERSONAL,rebef@gmail.com,Propio,ZERT,2021-08-25 08:26:29.120434,0,NaN,NaN,2.0
3,DNI 12552667,DNI,12552667,27190606533,EMAIL,PERSONAL,tetotille@gmail.com,Propio,ZERT,2021-08-25 08:26:29.120434,0,NaN,NaN,2.0
4,NaN,NaN,14615384,20146153845,EMAIL,PERSONAL,jorgeracing@hotmail.com,Propio,ZERT,2021-08-25 08:26:29.120434,0,NaN,NaN,2.0

In [79]:
df_export.shape

(225, 14)

NÃºmero a str para no tener problemas con la inserciÃ³n

In [142]:
df_export['CUIT_CUIL'] = [(str(int(round(df_export['CUIT_CUIL'][i],0)))) for i in range (df_export['CUIT_CUIL'].count())]

In [143]:
df_export.tail()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 12552667,DNI,12552667,27190606533,EMAIL,PERSONAL,tetotille@gmail.com,Propio,ZERT,2021-08-24 15:34:10.514802,0,NaN,NaN,2.0
1,DNI 12552667,DNI,12552667,27190606533,EMAIL,LABORAL,jorge.tilleria@mopc.cc,Propio,ZERT,2021-08-24 15:34:10.514802,0,NaN,NaN,1.0

Dropeamos filas duplicadas

In [144]:
df_export = df_export.drop_duplicates()

In [145]:
df_export.shape

(2, 14)

## Dato a str + strip()

In [146]:
df_export ['DATO'] = df_export['DATO'].str.strip()

# RevisiÃ³n de duplicados

In [147]:
duplicates_subset = df_export[df_export.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [148]:
duplicates_subset

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO]
Index: []

Tenemos pocos duplicados, lo solucionamos manualmente

In [149]:
duplicates_subset.shape

(0, 14)

In [ ]:
df_export = df_export.drop([38,60,88,108])

In [151]:
df_export.shape

(2, 14)

## 14.2) Insert a tabla DAM_CONTACTABILIDAD:

In [152]:
df_export.to_csv('insider.csv',index=False)