# 1) Datasets

Vamos a leer el dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('sumario.csv')

In [3]:
df.head()

,#ID,DOCUMENTO,CUIL,APELLIDO,NOMBRE,SEXO,FECHA_NAC,DIFUNTO,PADRON_DOMICILIO,PADRON_LOCALIDAD,...,TELEFONO_FIJO1,TELEFONO_FIJO1_OPERADOR,TELEFONO_FIJO2,TELEFONO_FIJO2_OPERADOR,TELEFONO_FIJO3,TELEFONO_FIJO3_OPERADOR,TELEFONO_FIJO4,TELEFONO_FIJO4_OPERADOR,EMAIL,EMAIL2
0,DNI 10039621,10039621,27100396217,CANO,ANA MARIA,F,30/11/1951,SI,LA PAMPA 1721 3,MAR DEL PLATA,...,2.234747e+09,Telefonica Argentina,NaN,NaN,NaN,NaN,NaN,NaN,adriandario74@HOTMAIL.COM,cristiantejedo-ks@hotmail.com
1,DNI 10046071,10046071,27100460713,D'ANGELO,ROSA HILDA,F,19/02/1951,NO,PUEYRREDON 1161,OBSERVATORIO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dieperez@yahoo.com.ar,NaN
2,DNI 10083637,10083637,27100836373,ROMERO,MARTA ALICIA,F,18/10/1951,NO,SARMIENTO 3940,ALMAGRO,...,1.149839e+09,Telefonica Argentina,NaN,NaN,NaN,NaN,NaN,NaN,romeromartac@yahoo.com,csofiacarla@yahoo.com
3,DNI 10085866,10085866,20100858666,CHAVEZ,JUAN CRISOTOMO,M,27/01/1952,SI,CUYO 526,LLAVALLOL,...,1.142934e+09,Telefonica Argentina,NaN,NaN,NaN,NaN,NaN,NaN,Analia_vchavez@hotmail.com,NaN
4,DNI 10117117,10117117,20101171176,FILIPPAZZO,ERNESTO ROBERTO,M,02/01/1952,NO,DIAG.LACROZE 1783,BILLINGHURST,...,1.147346e+09,Telecom Argentina,1.147347e+09,Telecom Argentina,NaN,NaN,NaN,NaN,os-estudio@hotmail.com,yamisanlorenzo777@hotmail.com

In [4]:
df.head()

,#ID,DOCUMENTO,CUIL,APELLIDO,NOMBRE,SEXO,FECHA_NAC,DIFUNTO,PADRON_DOMICILIO,PADRON_LOCALIDAD,...,TELEFONO_FIJO1,TELEFONO_FIJO1_OPERADOR,TELEFONO_FIJO2,TELEFONO_FIJO2_OPERADOR,TELEFONO_FIJO3,TELEFONO_FIJO3_OPERADOR,TELEFONO_FIJO4,TELEFONO_FIJO4_OPERADOR,EMAIL,EMAIL2
0,DNI 10039621,10039621,27100396217,CANO,ANA MARIA,F,30/11/1951,SI,LA PAMPA 1721 3,MAR DEL PLATA,...,2.234747e+09,Telefonica Argentina,NaN,NaN,NaN,NaN,NaN,NaN,adriandario74@HOTMAIL.COM,cristiantejedo-ks@hotmail.com
1,DNI 10046071,10046071,27100460713,D'ANGELO,ROSA HILDA,F,19/02/1951,NO,PUEYRREDON 1161,OBSERVATORIO,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,dieperez@yahoo.com.ar,NaN
2,DNI 10083637,10083637,27100836373,ROMERO,MARTA ALICIA,F,18/10/1951,NO,SARMIENTO 3940,ALMAGRO,...,1.149839e+09,Telefonica Argentina,NaN,NaN,NaN,NaN,NaN,NaN,romeromartac@yahoo.com,csofiacarla@yahoo.com
3,DNI 10085866,10085866,20100858666,CHAVEZ,JUAN CRISOTOMO,M,27/01/1952,SI,CUYO 526,LLAVALLOL,...,1.142934e+09,Telefonica Argentina,NaN,NaN,NaN,NaN,NaN,NaN,Analia_vchavez@hotmail.com,NaN
4,DNI 10117117,10117117,20101171176,FILIPPAZZO,ERNESTO ROBERTO,M,02/01/1952,NO,DIAG.LACROZE 1783,BILLINGHURST,...,1.147346e+09,Telecom Argentina,1.147347e+09,Telecom Argentina,NaN,NaN,NaN,NaN,os-estudio@hotmail.com,yamisanlorenzo777@hotmail.com

In [5]:
df.shape

(21775, 33)

## 1.2) Data Cleaning: Datasets

Vamos a dropear aquellas columnas y filas que no tengan ningÃºn valor (es decir, que sean todos NaNs)

In [6]:
df = df.dropna(axis=0, how='all')

In [7]:
#df = df.dropna(axis=1, how='all')

In [8]:
df.shape

(21775, 33)

Ahora todas las filas tienen al menos 1 dato.

# 2) TelÃ©fonos

Vamos a obtener los telÃ©fonos de las columnas donde pueden aparecer, que son:

- TelÃ©fono Fijo 1, 2 y 3.
- TelÃ©fono Movil 1, 2, 3, 4, 5, 6 y 7.
- TelÃ©fono Laboral 1, 2 y 3.
- ContactaciÃ³n Opcional (Familiar): Tel Fijo 1, Tel Fijo 2, Celular 1, Celular 2, Celular 3, Celular 4, Celular 5.
- ContactaciÃ³n Opcional (Vecino): Telefono.

In [9]:
#df.to_excel('columns.xlsx')

In [10]:
df_reduced = df[["DOCUMENTO","CUIL","APELLIDO","NOMBRE","TELEFONO_CELULAR1","TELEFONO_CELULAR2",
                "TELEFONO_CELULAR3","TELEFONO_CELULAR4","TELEFONO_FIJO1","TELEFONO_FIJO2",
                "TELEFONO_FIJO3","TELEFONO_FIJO4"]]

In [11]:
df_reduced.head()

,DOCUMENTO,CUIL,APELLIDO,NOMBRE,TELEFONO_CELULAR1,TELEFONO_CELULAR2,TELEFONO_CELULAR3,TELEFONO_CELULAR4,TELEFONO_FIJO1,TELEFONO_FIJO2,TELEFONO_FIJO3,TELEFONO_FIJO4
0,10039621,27100396217,CANO,ANA MARIA,2.611561e+11,2.231557e+11,2.231562e+11,NaN,2.234747e+09,NaN,NaN,NaN
1,10046071,27100460713,D'ANGELO,ROSA HILDA,3.511563e+11,3.511535e+11,NaN,NaN,NaN,NaN,NaN,NaN
2,10083637,27100836373,ROMERO,MARTA ALICIA,1.115378e+11,NaN,NaN,NaN,1.149839e+09,NaN,NaN,NaN
3,10085866,20100858666,CHAVEZ,JUAN CRISOTOMO,1.115319e+11,NaN,NaN,NaN,1.142934e+09,NaN,NaN,NaN
4,10117117,20101171176,FILIPPAZZO,ERNESTO ROBERTO,1.115504e+11,1.115667e+11,NaN,NaN,1.147346e+09,1.147347e+09,NaN,NaN

In [12]:
df_reduced.shape

(21775, 12)

Eliminamos el multilevel de las columnas, y las renombramos:

In [13]:
df_reduced.head()

,DOCUMENTO,CUIL,APELLIDO,NOMBRE,TELEFONO_CELULAR1,TELEFONO_CELULAR2,TELEFONO_CELULAR3,TELEFONO_CELULAR4,TELEFONO_FIJO1,TELEFONO_FIJO2,TELEFONO_FIJO3,TELEFONO_FIJO4
0,10039621,27100396217,CANO,ANA MARIA,2.611561e+11,2.231557e+11,2.231562e+11,NaN,2.234747e+09,NaN,NaN,NaN
1,10046071,27100460713,D'ANGELO,ROSA HILDA,3.511563e+11,3.511535e+11,NaN,NaN,NaN,NaN,NaN,NaN
2,10083637,27100836373,ROMERO,MARTA ALICIA,1.115378e+11,NaN,NaN,NaN,1.149839e+09,NaN,NaN,NaN
3,10085866,20100858666,CHAVEZ,JUAN CRISOTOMO,1.115319e+11,NaN,NaN,NaN,1.142934e+09,NaN,NaN,NaN
4,10117117,20101171176,FILIPPAZZO,ERNESTO ROBERTO,1.115504e+11,1.115667e+11,NaN,NaN,1.147346e+09,1.147347e+09,NaN,NaN

In [14]:
df_reduced = df_reduced.rename(columns={"CUIL": "CUIT_CUIL", 'DOCUMENTO': 'NRO_DOC'})

In [15]:
df_reduced.head()

,NRO_DOC,CUIT_CUIL,APELLIDO,NOMBRE,TELEFONO_CELULAR1,TELEFONO_CELULAR2,TELEFONO_CELULAR3,TELEFONO_CELULAR4,TELEFONO_FIJO1,TELEFONO_FIJO2,TELEFONO_FIJO3,TELEFONO_FIJO4
0,10039621,27100396217,CANO,ANA MARIA,2.611561e+11,2.231557e+11,2.231562e+11,NaN,2.234747e+09,NaN,NaN,NaN
1,10046071,27100460713,D'ANGELO,ROSA HILDA,3.511563e+11,3.511535e+11,NaN,NaN,NaN,NaN,NaN,NaN
2,10083637,27100836373,ROMERO,MARTA ALICIA,1.115378e+11,NaN,NaN,NaN,1.149839e+09,NaN,NaN,NaN
3,10085866,20100858666,CHAVEZ,JUAN CRISOTOMO,1.115319e+11,NaN,NaN,NaN,1.142934e+09,NaN,NaN,NaN
4,10117117,20101171176,FILIPPAZZO,ERNESTO ROBERTO,1.115504e+11,1.115667e+11,NaN,NaN,1.147346e+09,1.147347e+09,NaN,NaN

# 3) ConcatenaciÃ³n de TelÃ©fonos

Como PyP envÃ­a un telÃ©fono por celda, tengo que concatenar las columnas de telÃ©fonos en una lista dentro de una nueva columna denominada "Dato"

In [16]:
df_reduced.columns

Index(['NRO_DOC', 'CUIT_CUIL', 'APELLIDO', 'NOMBRE', 'TELEFONO_CELULAR1',
       'TELEFONO_CELULAR2', 'TELEFONO_CELULAR3', 'TELEFONO_CELULAR4',
       'TELEFONO_FIJO1', 'TELEFONO_FIJO2', 'TELEFONO_FIJO3', 'TELEFONO_FIJO4'],
      dtype='object')

In [17]:
df_melt = pd.melt(df_reduced, id_vars=['CUIT_CUIL', 'NRO_DOC', 'APELLIDO','NOMBRE']
                  , value_vars=['TELEFONO_CELULAR1',
       'TELEFONO_CELULAR2', 'TELEFONO_CELULAR3', 'TELEFONO_CELULAR4',
       'TELEFONO_FIJO1', 'TELEFONO_FIJO2', 'TELEFONO_FIJO3', 'TELEFONO_FIJO4'],value_name='Dato')

In [18]:
df_melt.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato
0,27100396217,10039621,CANO,ANA MARIA,TELEFONO_CELULAR1,2.611561e+11
1,27100460713,10046071,D'ANGELO,ROSA HILDA,TELEFONO_CELULAR1,3.511563e+11
2,27100836373,10083637,ROMERO,MARTA ALICIA,TELEFONO_CELULAR1,1.115378e+11
3,20100858666,10085866,CHAVEZ,JUAN CRISOTOMO,TELEFONO_CELULAR1,1.115319e+11
4,20101171176,10117117,FILIPPAZZO,ERNESTO ROBERTO,TELEFONO_CELULAR1,1.115504e+11

In [19]:
#df_melt.to_excel('df_melt_telefonos.xlsx')

# 4) Drop NaNs

Dropeamos aquellas filas que tengan NaN en la columna Dato, ya que no nos aporta nada:

In [20]:
df_melt = df_melt.dropna(subset=['Dato'])

In [21]:
df_melt.shape

(50220, 6)

In [22]:
df_melt.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato
0,27100396217,10039621,CANO,ANA MARIA,TELEFONO_CELULAR1,2.611561e+11
1,27100460713,10046071,D'ANGELO,ROSA HILDA,TELEFONO_CELULAR1,3.511563e+11
2,27100836373,10083637,ROMERO,MARTA ALICIA,TELEFONO_CELULAR1,1.115378e+11
3,20100858666,10085866,CHAVEZ,JUAN CRISOTOMO,TELEFONO_CELULAR1,1.115319e+11
4,20101171176,10117117,FILIPPAZZO,ERNESTO ROBERTO,TELEFONO_CELULAR1,1.115504e+11

# 5) Propietario del Dato

En funciÃ³n de la columna "variable" creamos una nueva columna PROPIETARIO_DATO

In [23]:
df_melt.loc[((df_melt['variable'] == 'TELEFONO_FIJO1') | (df_melt['variable'] == 'TELEFONO_FIJO2')
            | (df_melt['variable'] == 'TELEFONO_FIJO3')
            | (df_melt['variable'] == 'TELEFONO_FIJO4') | (df_melt['variable'] == 'TELEFONO_CELULAR1')
            | (df_melt['variable'] == 'TELEFONO_CELULAR2') | (df_melt['variable'] == 'TELEFONO_CELULAR3')
            | (df_melt['variable'] == 'TELEFONO_CELULAR4')
            ) , 'PROPIETARIO_DATO'] = 'Propio'

In [24]:
"""df_melt.loc[((df_melt['variable'] == 'Tel_familiar_fijo_1')
            | (df_melt['variable'] == 'Tel_familiar_fijo_2') | (df_melt['variable'] == 'celular_familiar_1')
            | (df_melt['variable'] == 'celular_familiar_2') | (df_melt['variable'] == 'celular_familiar_3')
            | (df_melt['variable'] == 'celular_familiar_4') | (df_melt['variable'] == 'celular_familiar_5')
            ) , 'PROPIETARIO_DATO'] = 'Ajeno_familiar'
"""

"df_melt.loc[((df_melt['variable'] == 'Tel_familiar_fijo_1')\n            | (df_melt['variable'] == 'Tel_familiar_fijo_2') | (df_melt['variable'] == 'celular_familiar_1')\n            | (df_melt['variable'] == 'celular_familiar_2') | (df_melt['variable'] == 'celular_familiar_3')\n            | (df_melt['variable'] == 'celular_familiar_4') | (df_melt['variable'] == 'celular_familiar_5')\n            ) , 'PROPIETARIO_DATO'] = 'Ajeno_familiar'\n"

In [25]:
"""
df_melt.loc[((df_melt['variable'] == 'Telefono_vecino') 
            ) , 'PROPIETARIO_DATO'] = 'Ajeno'
"""

"\ndf_melt.loc[((df_melt['variable'] == 'Telefono_vecino') \n            ) , 'PROPIETARIO_DATO'] = 'Ajeno'\n"

In [26]:
"""
df_melt.loc[((df_melt['variable'] == 'Telefono Laboral 1') | (df_melt['variable'] == 'Telefono Laboral 2')
            | (df_melt['variable'] == 'Telefono Laboral 3')
            ) , 'PROPIETARIO_DATO'] = 'Ajeno_empleador'
"""

"\ndf_melt.loc[((df_melt['variable'] == 'Telefono Laboral 1') | (df_melt['variable'] == 'Telefono Laboral 2')\n            | (df_melt['variable'] == 'Telefono Laboral 3')\n            ) , 'PROPIETARIO_DATO'] = 'Ajeno_empleador'\n"

In [27]:
#df_melt.to_excel('test_tel_v2.xlsx')

In [28]:
df_melt.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO
0,27100396217,10039621,CANO,ANA MARIA,TELEFONO_CELULAR1,2.611561e+11,Propio
1,27100460713,10046071,D'ANGELO,ROSA HILDA,TELEFONO_CELULAR1,3.511563e+11,Propio
2,27100836373,10083637,ROMERO,MARTA ALICIA,TELEFONO_CELULAR1,1.115378e+11,Propio
3,20100858666,10085866,CHAVEZ,JUAN CRISOTOMO,TELEFONO_CELULAR1,1.115319e+11,Propio
4,20101171176,10117117,FILIPPAZZO,ERNESTO ROBERTO,TELEFONO_CELULAR1,1.115504e+11,Propio

# 6) Columna Proveedor

Agregamos la columna PROVEEDOR_DATO, con el cÃ³digo correspondiente.

In [29]:
cod_pyp = 'ZERT'

In [30]:
df_clean = df_melt.assign(PROVEEDOR_DATO=cod_pyp)

In [31]:
df_clean.tail()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO
173267,27031664743,3166474,MAIDANA,NILDA M,TELEFONO_FIJO4,2.657421e+09,Propio,ZERT
173268,20031664749,3166474,NaN,DESPOSITO ANTONIO OVIDIO ...,TELEFONO_FIJO4,2.657421e+09,Propio,ZERT
173704,23330837829,33083782,MEZA,JONATAN MARIANO,TELEFONO_FIJO4,1.142710e+09,Propio,ZERT
174190,27047513923,4751392,CARRERI,MARINA,TELEFONO_FIJO4,2.372375e+09,Propio,ZERT
174198,20068529949,6852994,SEDERINO,MANUEL ITALO,TELEFONO_FIJO4,2.614203e+09,Propio,ZERT

# 7) Columna Tipo

Agregamos la columna TIPO, con el cÃ³digo correspondiente

In [32]:
df_clean.loc[((df_melt['variable'] == 'TELEFONO_FIJO1') | (df_melt['variable'] == 'TELEFONO_FIJO2')
            | (df_melt['variable'] == 'TELEFONO_FIJO3')
            | (df_melt['variable'] == 'TELEFONO_FIJO4')
            ) , 'TIPO'] = 'TEL.FIJO'

In [33]:
df_clean.loc[((df_melt['variable'] == 'TELEFONO_CELULAR1')
            | (df_melt['variable'] == 'TELEFONO_CELULAR2') | (df_melt['variable'] == 'TELEFONO_CELULAR3')
            | (df_melt['variable'] == 'TELEFONO_CELULAR4')  
            ) , 'TIPO'] = 'TEL.CELULAR'

In [34]:
df_clean.head(15)

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,variable,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO
0,27100396217,10039621,CANO,ANA MARIA,TELEFONO_CELULAR1,2.611561e+11,Propio,ZERT,TEL.CELULAR
1,27100460713,10046071,D'ANGELO,ROSA HILDA,TELEFONO_CELULAR1,3.511563e+11,Propio,ZERT,TEL.CELULAR
2,27100836373,10083637,ROMERO,MARTA ALICIA,TELEFONO_CELULAR1,1.115378e+11,Propio,ZERT,TEL.CELULAR
3,20100858666,10085866,CHAVEZ,JUAN CRISOTOMO,TELEFONO_CELULAR1,1.115319e+11,Propio,ZERT,TEL.CELULAR
4,20101171176,10117117,FILIPPAZZO,ERNESTO ROBERTO,TELEFONO_CELULAR1,1.115504e+11,Propio,ZERT,TEL.CELULAR
5,27101190361,10119036,CELA,VIVIANA ADELA,TELEFONO_CELULAR1,1.115414e+11,Propio,ZERT,TEL.CELULAR
6,20101247520,10124752,DODERO,CARLOS RUBEN,TELEFONO_CELULAR1,1.115662e+11,Propio,ZERT,TEL.CELULAR
7,20101276520,10127652,ROSSI,RAFAEL JOSE,TELEFONO_CELULAR1,3.791541e+11,Propio,ZERT,TEL.CELULAR
11,27101967722,10196772,MIGNONE,LILIANA INES,TELEFONO_CELULAR1,1.115502e+11,Propio,ZERT,TEL.CELULAR
12,20102038798,10203879,GOMEZ,CARLOS MANUEL,TELEFONO_CELULAR1,1.115660e+11,Propio,ZERT,TEL.CELULAR
13,20102038925,10203892,CRESPO,ALEJANDRO JORGE,TELEFONO_CELULAR1,1.115575e+11,Propio,ZERT,TEL.CELULAR
15,20102115725,10211572,LOPEZ,MIGUEL ANGEL,TELEFONO_CELULAR1,1.115581e+11,Propio,ZERT,TEL.CELULAR
16,20102262809,10226280,RODRIGUEZ,ORLANDO WASHINGTON,TELEFONO_CELULAR1,1.115326e+11,Propio,ZERT,TEL.CELULAR
17,20102711077,10271107,BRAVO,ALDO OSCAR,TELEFONO_CELULAR1,2.641548e+11,Propio,ZERT,TEL.CELULAR
18,20103152004,10315200,ARAGON,ENRIQUE ESTEBAN,TELEFONO_CELULAR1,3.421551e+11,Propio,ZERT,TEL.CELULAR

# 8) Columna Subtipo

Agregamos la columna SUBTIPO, que va a contener informaciÃ³n sobre el tipo de telÃ©fono que se encuentra en el campo Dato.

- Personal: si es propio.
- Laboral: si es ajeno.

In [35]:
"""
df_clean.loc[((df_clean['variable'] == 'Telefono Laboral 1') | (df_clean['variable'] == 'Telefono Laboral 2')
            | (df_clean['variable'] == 'Telefono Laboral 3')
            ) , 'SUBTIPO'] = 'LABORAL'
"""

"\ndf_clean.loc[((df_clean['variable'] == 'Telefono Laboral 1') | (df_clean['variable'] == 'Telefono Laboral 2')\n            | (df_clean['variable'] == 'Telefono Laboral 3')\n            ) , 'SUBTIPO'] = 'LABORAL'\n"

In [36]:
df_clean.loc[((df_melt['variable'] == 'TELEFONO_FIJO1') | (df_melt['variable'] == 'TELEFONO_FIJO2')
            | (df_melt['variable'] == 'TELEFONO_FIJO3')
            | (df_melt['variable'] == 'TELEFONO_FIJO4') | (df_melt['variable'] == 'TELEFONO_CELULAR1')
            | (df_melt['variable'] == 'TELEFONO_CELULAR2') | (df_melt['variable'] == 'TELEFONO_CELULAR3')
            | (df_melt['variable'] == 'TELEFONO_CELULAR4')             
            ) , 'SUBTIPO'] = 'PERSONAL'

In [37]:
#df_clean.to_excel('df_refuerzo_test_1.xlsx')

In [38]:
df_clean = df_clean.drop(columns=['variable'])

In [39]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO
0,27100396217,10039621,CANO,ANA MARIA,2.611561e+11,Propio,ZERT,TEL.CELULAR,PERSONAL
1,27100460713,10046071,D'ANGELO,ROSA HILDA,3.511563e+11,Propio,ZERT,TEL.CELULAR,PERSONAL
2,27100836373,10083637,ROMERO,MARTA ALICIA,1.115378e+11,Propio,ZERT,TEL.CELULAR,PERSONAL
3,20100858666,10085866,CHAVEZ,JUAN CRISOTOMO,1.115319e+11,Propio,ZERT,TEL.CELULAR,PERSONAL
4,20101171176,10117117,FILIPPAZZO,ERNESTO ROBERTO,1.115504e+11,Propio,ZERT,TEL.CELULAR,PERSONAL

# 9) Columna Score

El campo **Score** se construye en funciÃ³n de los datos obtenidos:

- Nivel 4: Dato que otorga la propia persona.
- Nivel 3: Dato que otorgan los clientes (los bancos).
- Nivel 2: Dato que otorga un proveedor externo (Informes Digitales en este caso), con subtipo "Personal".
- Nivel 1: Dato que otorga un proveedor externo, pero tiene como subtipo "Laboral".

In [40]:
# Nivel 1: Laboral, proveedor externo.

df_clean.loc[(df_clean['SUBTIPO'] == 'LABORAL') , 'SCORE_DATO'] = 1

In [41]:
# Nivel 2: Personal, proveedor externo.

df_clean.loc[(df_clean['SUBTIPO'] == 'PERSONAL') , 'SCORE_DATO'] = 2

In [42]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO
0,27100396217,10039621,CANO,ANA MARIA,2.611561e+11,Propio,ZERT,TEL.CELULAR,PERSONAL,2.0
1,27100460713,10046071,D'ANGELO,ROSA HILDA,3.511563e+11,Propio,ZERT,TEL.CELULAR,PERSONAL,2.0
2,27100836373,10083637,ROMERO,MARTA ALICIA,1.115378e+11,Propio,ZERT,TEL.CELULAR,PERSONAL,2.0
3,20100858666,10085866,CHAVEZ,JUAN CRISOTOMO,1.115319e+11,Propio,ZERT,TEL.CELULAR,PERSONAL,2.0
4,20101171176,10117117,FILIPPAZZO,ERNESTO ROBERTO,1.115504e+11,Propio,ZERT,TEL.CELULAR,PERSONAL,2.0

# 10) Columna Fecha

Para el campo FECHA_INGRESO_DATO, usamos la fecha en la que se hace la inserciÃ³n de los datos:

In [43]:
fecha_ingreso = pd.to_datetime('today')

In [44]:
df_clean = df_clean.assign(FECHA_INGRESO_DATO=fecha_ingreso)

In [45]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO
0,27100396217,10039621,CANO,ANA MARIA,2.611561e+11,Propio,ZERT,TEL.CELULAR,PERSONAL,2.0,2021-08-27 11:46:36.410642
1,27100460713,10046071,D'ANGELO,ROSA HILDA,3.511563e+11,Propio,ZERT,TEL.CELULAR,PERSONAL,2.0,2021-08-27 11:46:36.410642
2,27100836373,10083637,ROMERO,MARTA ALICIA,1.115378e+11,Propio,ZERT,TEL.CELULAR,PERSONAL,2.0,2021-08-27 11:46:36.410642
3,20100858666,10085866,CHAVEZ,JUAN CRISOTOMO,1.115319e+11,Propio,ZERT,TEL.CELULAR,PERSONAL,2.0,2021-08-27 11:46:36.410642
4,20101171176,10117117,FILIPPAZZO,ERNESTO ROBERTO,1.115504e+11,Propio,ZERT,TEL.CELULAR,PERSONAL,2.0,2021-08-27 11:46:36.410642

# 11) Campos adicionales

Creamos las columnas VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, que en principio van en nulls.

In [46]:
df_clean['VERIFICADO'] = 0

In [47]:
df_clean['FECHA_VERIFICACION'] = np.nan

In [48]:
df_clean['OPERADOR_VERIFICACION'] = np.nan

# 12) ConcatenaciÃ³n con .csv enviado

Vamos a concatenar nuestro dataframe con el dataframe enviado para enriquecer. Para esto, vamos a hacer una limpieza inicial de cÃ³mo se enviaron esos datos. Finalmente, se uniran ambos dataframes por __DNI__.

## 12.1) Dataset

Vamos a analizar y limpiar el dataset enviado para el enriquecimiento:

In [49]:
df_pyp = pd.read_csv('Datos_Enriquecimiento.csv')

In [50]:
df_pyp.shape

(20110, 8)

Creamos una columna que contenga IDMOROSO + DATOADIC segÃºn corresponda

In [51]:
df_pyp.head()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO,FILTROA,DATOADIC,DOCUMENTO,TIPO
0,CI 62933702,"JOSE LUIS,FERNANDEZ FERNANDEZ",BSR_TARDIA,EN GESTION_PORTAL,Campana Extrajud Emp,,CI62933702,CUIT
1,CUIT30607032978,",MARCOS FERNANDEZ SRL",BSR_TARDIA,EN GESTION_PORTAL,Campana Extrajud Emp,30607032978,30607032978,CUIT
2,CUIT30698087648,",ITACUA CONSTRUCCIONES SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30698087648,30698087648,CUIT
3,CUIT30703557674,",IONES COMUNICACIONES SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30703557674,30703557674,CUIT
4,CUIT30707047085,",PATER SHOW SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30707047085,30707047085,CUIT

In [52]:
df_pyp.loc[(df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['DATOADIC']
df_pyp.loc[(~df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['IDMOROSO']
#df_pyp ['NRO_DOC'] = df_pyp ['IDMOROSO']

In [53]:
df_pyp.head()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO,FILTROA,DATOADIC,DOCUMENTO,TIPO,NRO_DOC
0,CI 62933702,"JOSE LUIS,FERNANDEZ FERNANDEZ",BSR_TARDIA,EN GESTION_PORTAL,Campana Extrajud Emp,,CI62933702,CUIT,CI 62933702
1,CUIT30607032978,",MARCOS FERNANDEZ SRL",BSR_TARDIA,EN GESTION_PORTAL,Campana Extrajud Emp,30607032978,30607032978,CUIT,CUIT30607032978
2,CUIT30698087648,",ITACUA CONSTRUCCIONES SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30698087648,30698087648,CUIT,CUIT30698087648
3,CUIT30703557674,",IONES COMUNICACIONES SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30703557674,30703557674,CUIT,CUIT30703557674
4,CUIT30707047085,",PATER SHOW SRL",BSR_TARDIA,NO UBICADO,Campana Extrajud Emp,30707047085,30707047085,CUIT,CUIT30707047085

In [54]:
#df_pyp = df_pyp [['IDMOROSO','NOMBRE','IDCLIENTE','NRO_DOC']]
df_pyp = df_pyp [['IDMOROSO','IDCLIENTE','NRO_DOC']]

In [55]:
df_pyp.head()

          IDMOROSO             IDCLIENTE          NRO_DOC
0     CI  62933702  BSR_TARDIA               CI  62933702
1  CUIT30607032978  BSR_TARDIA            CUIT30607032978
2  CUIT30698087648  BSR_TARDIA            CUIT30698087648
3  CUIT30703557674  BSR_TARDIA            CUIT30703557674
4  CUIT30707047085  BSR_TARDIA            CUIT30707047085

In [56]:
df_pyp = df_pyp.dropna(subset=['NRO_DOC'])

In [57]:
df_pyp.tail()

          IDMOROSO             IDCLIENTE      NRO_DOC
20105  LE  6305211  FRANCES_2012          LE  6305211
20106  LE  6305512  FRANCES_2012          LE  6305512
20107  LE  6434675  FRANCES_2012          LE  6434675
20108  LE  6852994  FRANCES_2012          LE  6852994
20109  LE  7007498  FRANCES_2012          LE  7007498

## 12.2) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurÃ­dica__ (TO DO)

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos. Esta funciÃ³n debe ejecutarse en primer lugar.
- __DNI Spaces__: Elimina los espacios.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: DecisiÃ³n sobre dejar un cuit o volverlo DNI

In [58]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [59]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [60]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
        
    else:
        dni = string_dni
        
    return dni

In [61]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [62]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [63]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [64]:
df_pyp['NRO_DOC'] = [(str(df_pyp['NRO_DOC'][i]).strip()) for i in range (df_pyp['NRO_DOC'].count())]

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [65]:
df_pyp['TIPO_DOC'] = [tipo_doc_1(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para la limpieza de DNIs:

In [66]:
df_pyp['NRO_DOC'] = [standard_dni(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [67]:
df_pyp['NRO_DOC'] = [dni_characters(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [68]:
df_pyp['NRO_DOC'] = [cuit(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [69]:
df_pyp['NRO_DOC'] = [dni_zero(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [70]:
df_pyp['TIPO_DOC'] = [tipo_doc_2(df_pyp['NRO_DOC'][i],df_pyp['TIPO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [71]:
df_pyp.head()

          IDMOROSO             IDCLIENTE      NRO_DOC TIPO_DOC
0     CI  62933702  BSR_TARDIA             CI62933702     CUIT
1  CUIT30607032978  BSR_TARDIA            30607032978     CUIT
2  CUIT30698087648  BSR_TARDIA            30698087648     CUIT
3  CUIT30703557674  BSR_TARDIA            30703557674     CUIT
4  CUIT30707047085  BSR_TARDIA            30707047085     CUIT

In [72]:
df_pyp.tail()

          IDMOROSO             IDCLIENTE  NRO_DOC TIPO_DOC
20105  LE  6305211  FRANCES_2012          6305211       LE
20106  LE  6305512  FRANCES_2012          6305512       LE
20107  LE  6434675  FRANCES_2012          6434675       LE
20108  LE  6852994  FRANCES_2012          6852994       LE
20109  LE  7007498  FRANCES_2012          7007498       LE

# 13) Union de Dataframes

Se unen ambos dataframes en la columna NRO_DOC

Convertimos la columna NRO_DOC de objeto a INT para hacer la uniÃ³n

In [73]:
df_clean = df_clean.astype({'NRO_DOC': 'str'})

In [74]:
df_clean ['NRO_DOC'] = df_clean ['NRO_DOC'].str.split('.').str[0]

In [75]:
df_union = pd.merge(df_clean,df_pyp, on='NRO_DOC', how='inner')

In [76]:
df_union.shape

(49775, 17)

In [77]:
df_union.head()

,CUIT_CUIL,NRO_DOC,APELLIDO,NOMBRE,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,IDMOROSO,IDCLIENTE,TIPO_DOC
0,27100396217,10039621,CANO,ANA MARIA,2.611561e+11,Propio,ZERT,TEL.CELULAR,PERSONAL,2.0,2021-08-27 11:46:36.410642,0,NaN,NaN,DNI 10039621,BSR_TARDIA,DNI
1,27100396217,10039621,CANO,ANA MARIA,2.231557e+11,Propio,ZERT,TEL.CELULAR,PERSONAL,2.0,2021-08-27 11:46:36.410642,0,NaN,NaN,DNI 10039621,BSR_TARDIA,DNI
2,27100396217,10039621,CANO,ANA MARIA,2.231562e+11,Propio,ZERT,TEL.CELULAR,PERSONAL,2.0,2021-08-27 11:46:36.410642,0,NaN,NaN,DNI 10039621,BSR_TARDIA,DNI
3,27100396217,10039621,CANO,ANA MARIA,2.234747e+09,Propio,ZERT,TEL.FIJO,PERSONAL,2.0,2021-08-27 11:46:36.410642,0,NaN,NaN,DNI 10039621,BSR_TARDIA,DNI
4,27100460713,10046071,D'ANGELO,ROSA HILDA,3.511563e+11,Propio,ZERT,TEL.CELULAR,PERSONAL,2.0,2021-08-27 11:46:36.410642,0,NaN,NaN,DNI 10046071,BSR_TARDIA,DNI

# 14) Export

Renombramos, dropeamos y reordenamos las columnas

In [78]:
df_union = df_union.rename(columns = {'Dato':'DATO'})

Dropeamos columnas que no nos sirven

In [79]:
df_export = df_union.drop(columns=['IDCLIENTE'], axis=0)

In [80]:
df_export = df_export[['IDMOROSO', 'TIPO_DOC','NRO_DOC','CUIT_CUIL','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO','PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO','FECHA_VERIFICACION','OPERADOR_VERIFICACION','SCORE_DATO']]

In [81]:
df_export.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 10039621,DNI,10039621,27100396217,TEL.CELULAR,PERSONAL,2.611561e+11,Propio,ZERT,2021-08-27 11:46:36.410642,0,NaN,NaN,2.0
1,DNI 10039621,DNI,10039621,27100396217,TEL.CELULAR,PERSONAL,2.231557e+11,Propio,ZERT,2021-08-27 11:46:36.410642,0,NaN,NaN,2.0
2,DNI 10039621,DNI,10039621,27100396217,TEL.CELULAR,PERSONAL,2.231562e+11,Propio,ZERT,2021-08-27 11:46:36.410642,0,NaN,NaN,2.0
3,DNI 10039621,DNI,10039621,27100396217,TEL.FIJO,PERSONAL,2.234747e+09,Propio,ZERT,2021-08-27 11:46:36.410642,0,NaN,NaN,2.0
4,DNI 10046071,DNI,10046071,27100460713,TEL.CELULAR,PERSONAL,3.511563e+11,Propio,ZERT,2021-08-27 11:46:36.410642,0,NaN,NaN,2.0

In [82]:
#df_export.to_csv('test.csv')

In [84]:
#df_export['DATO'] = [(str(int(round(df_export['DATO'][i],0)))) for i in range (df_export['DATO'].count())]
df_export ['DATO'] = df_export ['DATO'].astype(str)
df_export ['DATO'] = df_export ['DATO'].str.strip()
df_export ['DATO'] = df_export ['DATO'].str.split('.').str[0]

In [85]:
df_export['CUIT_CUIL'] = [(str(int(round(df_export['CUIT_CUIL'][i],0)))) for i in range (df_export['CUIT_CUIL'].count())]

In [88]:
df_export.shape

(49775, 14)

In [89]:
df_export = df_export[[int(i)>10000000 for i in df_export["NRO_DOC"].tolist()]]

In [90]:
df_export.shape

(45435, 14)

In [91]:
df_export.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 10039621,DNI,10039621,27100396217,TEL.CELULAR,PERSONAL,261156113429,Propio,ZERT,2021-08-27 11:46:36.410642,0,NaN,NaN,2.0
1,DNI 10039621,DNI,10039621,27100396217,TEL.CELULAR,PERSONAL,223155707846,Propio,ZERT,2021-08-27 11:46:36.410642,0,NaN,NaN,2.0
2,DNI 10039621,DNI,10039621,27100396217,TEL.CELULAR,PERSONAL,223156168996,Propio,ZERT,2021-08-27 11:46:36.410642,0,NaN,NaN,2.0
3,DNI 10039621,DNI,10039621,27100396217,TEL.FIJO,PERSONAL,2234746758,Propio,ZERT,2021-08-27 11:46:36.410642,0,NaN,NaN,2.0
4,DNI 10046071,DNI,10046071,27100460713,TEL.CELULAR,PERSONAL,351156257130,Propio,ZERT,2021-08-27 11:46:36.410642,0,NaN,NaN,2.0

In [94]:
df_export = df_export.drop_duplicates()
df_duplicates = df_export[df_export.duplicated(keep=False)]

In [95]:
df_duplicates

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO]
Index: []

In [96]:
df_export.shape

(45371, 14)

## Dato a str + strip()

In [97]:
df_export ['DATO'] = df_export['DATO'].str.strip()

# RevisiÃ³n de duplicados

<font size=4>Se eliminan los mails duplicados para un mismo NRO_DOC pero le quitamos el CUIL porque nos pasan varios</font>

In [114]:
df_export.loc[(df_export.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)) , 'CUIT_CUIL'] = None
df_export = df_export.drop_duplicates()

In [115]:
df_export["CUIT_CUIL"]= df_export["CUIT_CUIL"].fillna(0.0)
df_export1 = df_export.copy()
df_export1["CUIT_CUIL"] = [int(i) for i in df_export1["CUIT_CUIL"].tolist()]
print(df_export1["CUIT_CUIL"][0])
df_export1.loc[(df_export1["CUIT_CUIL"]==0), 'CUIT_CUIL'] = None
print(df_export1["CUIT_CUIL"][0])
df_export1.head()

27100396217
27100396217.0

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 10039621,DNI,10039621,2.710040e+10,TEL.CELULAR,PERSONAL,261156113429,Propio,ZERT,2021-08-27 11:46:36.410642,0,NaN,NaN,2.0
1,DNI 10039621,DNI,10039621,2.710040e+10,TEL.CELULAR,PERSONAL,223155707846,Propio,ZERT,2021-08-27 11:46:36.410642,0,NaN,NaN,2.0
2,DNI 10039621,DNI,10039621,2.710040e+10,TEL.CELULAR,PERSONAL,223156168996,Propio,ZERT,2021-08-27 11:46:36.410642,0,NaN,NaN,2.0
3,DNI 10039621,DNI,10039621,2.710040e+10,TEL.FIJO,PERSONAL,2234746758,Propio,ZERT,2021-08-27 11:46:36.410642,0,NaN,NaN,2.0
4,DNI 10046071,DNI,10046071,2.710046e+10,TEL.CELULAR,PERSONAL,351156257130,Propio,ZERT,2021-08-27 11:46:36.410642,0,NaN,NaN,2.0

Tenemos duplicados en la trÃ­ada IDMOROSO-DATO-PROVEEDOR_DATO. Exportamos e inicializamos el pipeline de duplicados:

## Insert a tabla DAM_CONTACTABILIDAD:

In [94]:
#df_export.to_excel('D:\MOPC\Enriquecimiento de Datos\Data Cleaning\PyP\Exports\DAM_CONTACTABILIDAD\PyP_DAM_CONTACTABILIDAD_telefonos_refuerzo.xlsx',index=False)
#df_export.to_csv('D:\MOPC\Enriquecimiento de Datos\Data Cleaning\PyP\Exports\DAM_CONTACTABILIDAD\PyP_DAM_CONTACTABILIDAD_telefonos_refuerzo.csv',index=False)

# Filtrado de datos
Tenemos que filtrar los datos basura que nos insertan

In [134]:
lista_filtrado = ["11111111","111111111","1111111111"
                 ]
df_export1 = df_export1[~df_export1.DATO.isin(lista_filtrado)]
df_export2 = df_export1.drop_duplicates(subset=["DATO"],keep=False)

In [135]:
duplicates_subset = df_export2[df_export2.duplicated(subset=['DATO','PROVEEDOR_DATO'],keep=False)]

In [136]:
duplicates_subset

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO]
Index: []

# Export a Pipeline: Duplicados

In [137]:
df_export2.to_csv('insider_telefono.csv',index=False)