In [1]:
import pandas as pd
import numpy as np

# LOG

# 1. Datos enviados

In [2]:
df_log = pd.read_csv('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Datasets/Datasets enviados/Envio Insiders - Estado-IDCliente - 1603.csv')

In [3]:
df_log.head()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO,FILTROA,DATOADIC
0,DNI 14384837,ACOSTA MARIA CRISTINA,FRANCES_2012,NO VISTO,3 - Ag 3ra,NaN
1,DNI 33803357,CARRASCO SERGIO DAMIAN,FRANCES_2012,NO VISTO,1 - Ag 1ra,NaN
2,DNI 34570749,TOLDI PRESENTADO SOLANGE GISELLE,FRANCES_2012,NO VISTO,1 - Ag 1ra,NaN
3,DNI 36991995,ANTECAO MAURO LEANDRO,FRANCES_2012,NO VISTO,2 - Ag 2ra,NaN
4,DNI 40359046,VATTOVAZ VICTORIA,FRANCES_2012,NO VISTO,1 - Ag 1ra,NaN

In [4]:
df_log = df_log.rename(columns={"ESTADO": "ESTADO_ANTERIOR"})

In [5]:
df_log = df_log [['IDMOROSO','DATOADIC','IDCLIENTE','ESTADO_ANTERIOR']]
#df_log = df_log [['IDMOROSO','IDCLIENTE','ESTADO_ANTERIOR']]

In [6]:
fecha_envio_log = '2021-03-17'

In [7]:
fecha_insercion_log = '2021-03-19'

In [8]:
fecha_estados_log = '2021-03-19'

In [9]:
df_log = df_log.assign(FECHA_ENVIO_ENRIQUECIMIENTO=fecha_envio_log)

In [10]:
df_log = df_log.assign(FECHA_INSERCION_DATO=fecha_insercion_log)

In [11]:
df_log = df_log.assign(FECHA_CAMBIO_ESTADO=fecha_estados_log)

In [12]:
df_log.head()

,IDMOROSO,DATOADIC,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO
0,DNI 14384837,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19
1,DNI 33803357,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19
2,DNI 34570749,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19
3,DNI 36991995,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19
4,DNI 40359046,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19

In [13]:
df_log = df_log.assign(PROVEEDOR='AD')

In [14]:
df_log['ESTADO_ANTERIOR'] = [(str(df_log['ESTADO_ANTERIOR'][i]).strip()) for i in range (df_log['ESTADO_ANTERIOR'].count())]

In [15]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'INTERESADO') | 
           (df_log['ESTADO_ANTERIOR'] == 'NO VISTO') | 
           (df_log['ESTADO_ANTERIOR'] == 'EN GESTION') |
           (df_log['ESTADO_ANTERIOR'] == 'ASIGNADO') |
           (df_log['ESTADO_ANTERIOR'] == 'ROTACION') |
           (df_log['ESTADO_ANTERIOR'] == 'ASIGNADO') |
           (df_log['ESTADO_ANTERIOR'] == 'PLAN V') |
           (df_log['ESTADO_ANTERIOR'] == 'NO INTERESADO') |
           (df_log['ESTADO_ANTERIOR'] == 'ACUERDO CAIDO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO_RECHAZADA') 
           , 'CATEGORIA'] = 'NEUTRO'

In [16]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'NO UBICADO') | 
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 1') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 1 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 2') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 3') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 3 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL3 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL1 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL1') |
           (df_log['ESTADO_ANTERIOR'] == 'NO_VISTO_CONTACTABLE') |
           (df_log['ESTADO_ANTERIOR'] == 'NO_VISTO_MASIVO') 
           , 'CATEGORIA'] = 'NEGATIVO POR CONTACTABILIDAD'

In [17]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'PAGO PARCIAL') | 
           (df_log['ESTADO_ANTERIOR'] == 'PLAN DE PAGOS') |
           (df_log['ESTADO_ANTERIOR'] == 'POSIBLE REFI') |
           (df_log['ESTADO_ANTERIOR'] == 'REFINANCIACION') |
           (df_log['ESTADO_ANTERIOR'] == 'PROPUESTA') |
           (df_log['ESTADO_ANTERIOR'] == 'PROPUESTA OK') |
           (df_log['ESTADO_ANTERIOR'] == 'COMPROMISO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO_DEVUELTO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO DEVUELTO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO FULL') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO SIN ACP') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA'

In [18]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'CONVENIO') | 
           (df_log['ESTADO_ANTERIOR'] == 'CONVENIO QUITA') |
           (df_log['ESTADO_ANTERIOR'] == 'NUEVOS CARGOS') |
           (df_log['ESTADO_ANTERIOR'] == 'CONVENIO_QUITA') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA SOBRE COUTA'

In [19]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'PROPUESTA REFI') | 
           (df_log['ESTADO_ANTERIOR'] == 'REFI ARMADA') |
           (df_log['ESTADO_ANTERIOR'] == 'REFI EN TRAMITE') |
           (df_log['ESTADO_ANTERIOR'] == 'REFI A LIQUIDAR') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA CON REFI PENDIENTE DE LIQUIDACIO'

In [20]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'REFI APROBADA') | 
           (df_log['ESTADO_ANTERIOR'] == 'DEVUELTO/CANCELO CON COBRO DE HONORARIO PENDIENTE')
           , 'CATEGORIA'] = 'POSITIVO CON CAJA CON REFI/CANCELACIÓN LIQUIDADA'

In [21]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'DEVUELTO') | 
           (df_log['ESTADO_ANTERIOR'] == 'FALLECIDO') |
           (df_log['ESTADO_ANTERIOR'] == 'PROBLEMA') |
           (df_log['ESTADO_ANTERIOR'] == 'SALDO INSOLUTO') |
           (df_log['ESTADO_ANTERIOR'] == 'NO GESTIONAR') 
           , 'CATEGORIA'] = 'INACTIVO'

In [22]:
df_log.shape

(696, 9)

In [23]:
df_log.head()

,IDMOROSO,DATOADIC,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA
0,DNI 14384837,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO
1,DNI 33803357,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO
2,DNI 34570749,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO
3,DNI 36991995,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO
4,DNI 40359046,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO

## 2. Devolución de PyP

Levantamos los DNIs desde el archivo que devuelve PyP para cruzar contra los IDs y ver cuáles están enriquecidos.

In [24]:
df_pyp = pd.read_excel('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Datasets/Datasets recibidos/ENRIQ_IN_1672_20210317 - Score.xlsx',skiprows=2, header=[0,1])

In [25]:
df_pyp.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Cuil                Dni      Fecha de Nac. Fecha de Defuncion
0       2.700187e+10           187386.0         1929-04-02                NaN
1       2.700508e+10           507550.0         1939-03-05                NaN
2       2.704172e+10          4171534.0         1940-06-02         2020-12-15
3       2.004174e+10          4173550.0         1936-01-28                NaN
4       2.004200e+10          4200228.0         1936-12-08                NaN

  Unnamed: 4_level_0           Unnamed: 5_level_0       Unnamed: 6_level_0  \
                Sexo                      Titular                    Calle
0                  F             HERRERA ENA ELSA         REP DE VENEZUELA
1                  F         ENTRATICO IRMA CLARA               AV URUGUAY
2                  F  ITUARTE MARGARITA HORTENSIA             PJE GRANDOLI
3                  M        VISCONTI EDUARDO JUAN       JUAN JOSE VIAMONTE
4                  M       CACCHIONE MIGUEL ANGEL  BRUNO MARIANO DE ZABALA

  Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
              Numero       Piso y Depto      Codigo Postal  ...
0               3700                NaN             1211.0  ...
1                875                NaN             4400.0  ...
2               6100                NaN             1439.0  ...
3               1592                NaN             1055.0  ...
4               1706                NaN             1426.0  ...

  Contactacion Opcional (Familiar)                                          \
                        Tel Fijo 2 Celular 1 Celular 2 Celular 3 Celular 4
0                              NaN       NaN       NaN       NaN       NaN
1                              NaN       NaN       NaN       NaN       NaN
2                              NaN       NaN       NaN       NaN       NaN
3                              NaN       NaN       NaN       NaN       NaN
4                              NaN       NaN       NaN       NaN       NaN

                  Contactacion Opcional (Vecino)
  Celular 5 Email                         Nombre      Telefono  SCORE
0       NaN   NaN                            NaN           NaN    0.0
1       NaN   NaN          PATRON COSTAS GUSTAVO  3.874321e+09   34.0
2       NaN   NaN                            NaN           NaN  891.0
3       NaN   NaN                            NaN           NaN  958.0
4       NaN   NaN                            NaN           NaN  345.0

[5 rows x 226 columns]

In [26]:
df_pyp.shape

(1664, 226)

In [27]:
df_reduced = df_pyp [[('Unnamed: 0_level_0','Cuil'),('Unnamed: 1_level_0','Dni')]]

In [28]:
df_reduced.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0
                Cuil                Dni
0       2.700187e+10           187386.0
1       2.700508e+10           507550.0
2       2.704172e+10          4171534.0
3       2.004174e+10          4173550.0
4       2.004200e+10          4200228.0

In [29]:
df_reduced.shape

(1664, 2)

Eliminamos el multilevel de las columnas, y las renombramos:

In [30]:
df_reduced.columns = df_reduced.columns.droplevel()

In [31]:
df_reduced.head()

           Cuil        Dni
0  2.700187e+10   187386.0
1  2.700508e+10   507550.0
2  2.704172e+10  4171534.0
3  2.004174e+10  4173550.0
4  2.004200e+10  4200228.0

In [32]:
df_reduced = df_reduced.rename(columns={"Cuil": "CUIT_CUIL", 'Dni': 'NRO_DOC'})

In [33]:
df_reduced.head()

      CUIT_CUIL    NRO_DOC
0  2.700187e+10   187386.0
1  2.700508e+10   507550.0
2  2.704172e+10  4171534.0
3  2.004174e+10  4173550.0
4  2.004200e+10  4200228.0

In [34]:
df_reduced

         CUIT_CUIL    NRO_DOC
0     2.700187e+10   187386.0
1     2.700508e+10   507550.0
2     2.704172e+10  4171534.0
3     2.004174e+10  4173550.0
4     2.004200e+10  4200228.0
...            ...        ...
1659           NaN        NaN
1660           NaN        NaN
1661           NaN        NaN
1662           NaN        NaN
1663           NaN        NaN

[1664 rows x 2 columns]

## NRO_DOC para union de dataframes

Creamos una columna que contenga IDMOROSO + DATOADIC según corresponda

In [35]:
df_log.loc[(df_log['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_log['DATOADIC']
df_log.loc[(~df_log['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_log['IDMOROSO']
#df_log ['NRO_DOC'] = df_log ['IDMOROSO']

In [36]:
df_log = df_log.dropna(subset=['NRO_DOC'])

In [37]:
df_log.tail()

,IDMOROSO,DATOADIC,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC
691,DNI 24191912,27241919124,FRAVEGA_LEGALES548,SKIP LEVEL1,2021-03-17,2021-03-19,2021-03-19,AD,NEGATIVO POR CONTACTABILIDAD,DNI 24191912
692,DNI 26763078,NaN,FRAVEGA_LEGALES548,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,DNI 26763078
693,DNI 14129384,,FRAVEGA_LEGALES548,EN GESTION,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,DNI 14129384
694,DNI 16490348,,FRAVEGA_LEGALES548,SKIP LEVEL1,2021-03-17,2021-03-19,2021-03-19,AD,NEGATIVO POR CONTACTABILIDAD,DNI 16490348
695,DNI 21385894,NaN,FRAVEGA_LEGALES548,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,DNI 21385894

## 12.2) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurídica__ (TO DO)

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos. Esta función debe ejecutarse en primer lugar.
- __DNI Spaces__: Elimina los espacios.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: Decisión sobre dejar un cuit o volverlo DNI

In [38]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [39]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [40]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
        
    else:
        dni = string_dni
        
    return dni

In [41]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [42]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [43]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [44]:
df_log['NRO_DOC'] = [(str(df_log['NRO_DOC'][i]).strip()) for i in range (df_log['NRO_DOC'].count())]

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [45]:
df_log['TIPO_DOC'] = [tipo_doc_1(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

Para la limpieza de DNIs:

In [46]:
df_log['NRO_DOC'] = [standard_dni(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [47]:
df_log['NRO_DOC'] = [dni_characters(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [48]:
df_log['NRO_DOC'] = [cuit(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [49]:
df_log['NRO_DOC'] = [dni_zero(df_log['NRO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [50]:
df_log['TIPO_DOC'] = [tipo_doc_2(df_log['NRO_DOC'][i],df_log['TIPO_DOC'][i]) for i in range (df_log['NRO_DOC'].count())]

In [51]:
df_log.head()

,IDMOROSO,DATOADIC,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC
0,DNI 14384837,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,14384837,DNI
1,DNI 33803357,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,33803357,DNI
2,DNI 34570749,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,34570749,DNI
3,DNI 36991995,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,36991995,DNI
4,DNI 40359046,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,40359046,DNI

In [52]:
df_log.shape

(696, 11)

# 13) Union de Dataframes

Se unen ambos dataframes en la columna NRO_DOC

Convertimos la columna NRO_DOC de objeto a INT para hacer la unión

In [53]:
df_reduced = df_reduced.astype({'NRO_DOC': 'str'})

In [54]:
df_reduced ['NRO_DOC'] = df_reduced ['NRO_DOC'].str.split('.').str[0]

In [55]:
df_union = pd.merge(df_log, df_reduced, on='NRO_DOC', how='inner')

In [56]:
df_union.shape

(665, 12)

In [57]:
df_union.head()

,IDMOROSO,DATOADIC,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC,CUIT_CUIL
0,DNI 14384837,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,14384837,DNI,2.714385e+10
1,DNI 33803357,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,33803357,DNI,2.733803e+10
2,DNI 34570749,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,34570749,DNI,2.734571e+10
3,DNI 36991995,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,36991995,DNI,2.036992e+10
4,DNI 40359046,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,40359046,DNI,2.740359e+10

In [58]:
df_clean = df_union.drop_duplicates()

In [59]:
df_clean.shape

(665, 12)

In [60]:
duplicateRowsDF = df_union[df_union.duplicated(subset=['IDMOROSO'], keep=False)]

In [61]:
duplicateRowsDF

Empty DataFrame
Columns: [IDMOROSO, DATOADIC, IDCLIENTE, ESTADO_ANTERIOR, FECHA_ENVIO_ENRIQUECIMIENTO, FECHA_INSERCION_DATO, FECHA_CAMBIO_ESTADO, PROVEEDOR, CATEGORIA, NRO_DOC, TIPO_DOC, CUIT_CUIL]
Index: []

## Nuevo Estado

Como no se usaron nuevos estados, se deja en nulo

In [62]:
df_clean = df_clean.assign(NUEVO_ESTADO=np.nan)

## Enriquecido

Nota: sólo estoy mirando los enriquecidos. Si no se enriqueció, no lo mando al LOG.

In [63]:
df_clean = df_clean.assign(ENRIQUECIDO=1)

In [64]:
df_clean.head()

,IDMOROSO,DATOADIC,IDCLIENTE,ESTADO_ANTERIOR,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NRO_DOC,TIPO_DOC,CUIT_CUIL,NUEVO_ESTADO,ENRIQUECIDO
0,DNI 14384837,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,14384837,DNI,2.714385e+10,NaN,1
1,DNI 33803357,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,33803357,DNI,2.733803e+10,NaN,1
2,DNI 34570749,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,34570749,DNI,2.734571e+10,NaN,1
3,DNI 36991995,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,36991995,DNI,2.036992e+10,NaN,1
4,DNI 40359046,NaN,FRANCES_2012,NO VISTO,2021-03-17,2021-03-19,2021-03-19,AD,NEUTRO,40359046,DNI,2.740359e+10,NaN,1

In [65]:
df_clean = df_clean [['IDMOROSO','IDCLIENTE','ESTADO_ANTERIOR','CATEGORIA','NUEVO_ESTADO','ENRIQUECIDO','FECHA_ENVIO_ENRIQUECIMIENTO','FECHA_INSERCION_DATO','FECHA_CAMBIO_ESTADO','PROVEEDOR']]

In [66]:
df_clean.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,CATEGORIA,NUEVO_ESTADO,ENRIQUECIDO,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR
0,DNI 14384837,FRANCES_2012,NO VISTO,NEUTRO,NaN,1,2021-03-17,2021-03-19,2021-03-19,AD
1,DNI 33803357,FRANCES_2012,NO VISTO,NEUTRO,NaN,1,2021-03-17,2021-03-19,2021-03-19,AD
2,DNI 34570749,FRANCES_2012,NO VISTO,NEUTRO,NaN,1,2021-03-17,2021-03-19,2021-03-19,AD
3,DNI 36991995,FRANCES_2012,NO VISTO,NEUTRO,NaN,1,2021-03-17,2021-03-19,2021-03-19,AD
4,DNI 40359046,FRANCES_2012,NO VISTO,NEUTRO,NaN,1,2021-03-17,2021-03-19,2021-03-19,AD

In [67]:
df_clean.shape

(665, 10)

# Export

In [68]:
df_clean.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Exports/DAM_LOG/Insiders_ENRIQUECIDOS_DAM_LOG - 1803.csv',index=False)