# 1) Datasets

Vamos a leer el dataset que envía PyP

In [1]:
import pandas as pd
import numpy as np

Como hay cuertas columnas que se llaman igual (Cant. Sit 1 se llama igual para titular, grupo familiar y empleador), se renombran en el excel y se trabaja con esa copia.

In [2]:
df = pd.read_excel('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Datasets/Datasets recibidos/ENRIQ_IN_1568_20210305 - Score.xlsx',skiprows=2, header=[0,1],)

In [3]:
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Cuil                Dni      Fecha de Nac. Fecha de Defuncion
0       2.004401e+10          4400871.0         1942-12-26                NaN
1       2.406331e+10          6331345.0         1933-04-21         2020-03-05
2       2.010088e+10         10087665.0         1951-07-06                NaN
3       2.010194e+10         10194155.0         1957-11-08                NaN
4       2.010377e+10         10376898.0         1952-05-18                NaN

  Unnamed: 4_level_0        Unnamed: 5_level_0  Unnamed: 6_level_0  \
                Sexo                   Titular               Calle
0                  M  CARTASEGNA MARIO RODOLFO              RAWSON
1                  M       HIDALGO ALDO CELMAR  CEFERINO NAMUNCURA
2                  M   PALAVECINO HECTOR JULIO             ARMENIA
3                  M     GALARZA CARLOS MIGUEL        LAS DELICIAS
4                  M      LUJAN LUIS DEL VALLE      JUAN RODRIGUEZ

  Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
              Numero       Piso y Depto      Codigo Postal  ...
0               2676                NaN             1653.0  ...
1               1935                NaN             1736.0  ...
2               2152                NaN             1425.0  ...
3               4891                NaN             1663.0  ...
4               1847                NaN             5006.0  ...

  Contactacion Opcional (Familiar)                                          \
                        Tel Fijo 2 Celular 1 Celular 2 Celular 3 Celular 4
0                              NaN       NaN       NaN       NaN       NaN
1                              NaN       NaN       NaN       NaN       NaN
2                              NaN       NaN       NaN       NaN       NaN
3                              NaN       NaN       NaN       NaN       NaN
4                              NaN       NaN       NaN       NaN       NaN

                  Contactacion Opcional (Vecino)
  Celular 5 Email                         Nombre      Telefono  SCORE
0       NaN   NaN     CATACEGNA MARGARITA L B DE  1.147294e+09  763.0
1       NaN   NaN                 HIDALGO ALDO C  2.374818e+09  955.0
2       NaN   NaN                            NaN           NaN  328.0
3       NaN   NaN                MOYANO JAVIER A  1.144650e+09   34.0
4       NaN   NaN                            NaN           NaN  928.0

[5 rows x 226 columns]

In [4]:
df.shape

(1165, 226)

## 1.2) Data Cleaning: Datasets

Vamos a dropear aquellas columnas y filas que no tengan ningún valor (es decir, que sean todos NaNs)

In [5]:
df = df.dropna(axis=0, how='all')

In [6]:
#df = df.dropna(axis=1, how='all')

In [7]:
df.shape

(165, 226)

Ahora todas las columnas tienen al menos 1 dato.

# 2) Deudas

Vamos a obtener las deudas de las columnas donde pueden aparecer, que son:

Dentro de Comportamiento en Banco Central del Titular:

- Cant. Sit 1,2,3,4 y 5.
- Entidad 1,2,3 y 4.
- Deuda 1,2,3 y 4.

In [8]:
#df.to_excel('columns_dataset_copia.xlsx')

In [9]:
df.columns = df.columns.droplevel()

In [10]:
df_reduced = df [['Cuil','Dni','Cant. Sit 1 Titular', 'Cant. Sit 2 Titular','Cant. Sit 3 Titular','Cant. Sit 4 Titular'
                 , 'Cant. Sit 5 Titular','Entidad 1 Titular','Deuda 1 Titular', 'Entidad 2 Titular','Deuda 2 Titular'
                 ,'Entidad 3 Titular','Deuda 3 Titular', 'Entidad 4 Titular','Deuda 4 Titular'
                 ]]

In [11]:
df_reduced.head()

,Cuil,Dni,Cant. Sit 1 Titular,Cant. Sit 2 Titular,Cant. Sit 3 Titular,Cant. Sit 4 Titular,Cant. Sit 5 Titular,Entidad 1 Titular,Deuda 1 Titular,Entidad 2 Titular,Deuda 2 Titular,Entidad 3 Titular,Deuda 3 Titular,Entidad 4 Titular,Deuda 4 Titular
0,2.004401e+10,4400871.0,4.0,0.0,0.0,1.0,0.0,BANCO DE GALICIA Y BUENOS AIRES S.A.U.,41.0,BANCO BBVA ARGENTINA S.A.,40.0,CENCOSUD S.A.,37.0,BANCO PIANO S.A.,19.0
1,2.406331e+10,6331345.0,0.0,0.0,1.0,0.0,0.0,BANCO BBVA ARGENTINA S.A.,36.0,NaN,0.0,NaN,0.0,NaN,0.0
2,2.010088e+10,10087665.0,2.0,0.0,0.0,0.0,1.0,BANCO PIANO S.A.,127.0,BANCO SUPERVIELLE S.A.,52.0,BANCO BBVA ARGENTINA S.A.,0.0,NaN,0.0
3,2.010194e+10,10194155.0,0.0,0.0,0.0,0.0,2.0,BANCO BBVA ARGENTINA S.A.,0.0,BANCO SANTANDER RIO S.A.,0.0,NaN,0.0,NaN,0.0
4,2.010377e+10,10376898.0,0.0,0.0,1.0,0.0,0.0,BANCO BBVA ARGENTINA S.A.,40.0,NaN,0.0,NaN,0.0,NaN,0.0

In [12]:
df_reduced ['Cant. Sit 1 Titular'] = df_reduced ['Cant. Sit 1 Titular'].astype(int)
df_reduced ['Cant. Sit 2 Titular'] = df_reduced ['Cant. Sit 2 Titular'].astype(int)
df_reduced ['Cant. Sit 3 Titular'] = df_reduced ['Cant. Sit 3 Titular'].astype(int)
df_reduced ['Cant. Sit 4 Titular'] = df_reduced ['Cant. Sit 4 Titular'].astype(int)
df_reduced ['Cant. Sit 5 Titular'] = df_reduced ['Cant. Sit 5 Titular'].astype(int)

#df_reduced ['Deuda 1 Titular'] = df_reduced ['Deuda 1 Titular'].astype(int)
#df_reduced ['Deuda 2 Titular'] = df_reduced ['Deuda 2 Titular'].astype(int)
#df_reduced ['Deuda 3 Titular'] = df_reduced ['Deuda 3 Titular'].astype(int)
#df_reduced ['Deuda 4 Titular'] = df_reduced ['Deuda 4 Titular'].astype(int)

<ipython-input-12-a6a97bcdd2eb>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Cant. Sit 1 Titular'] = df_reduced ['Cant. Sit 1 Titular'].astype(int)
<ipython-input-12-a6a97bcdd2eb>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Cant. Sit 2 Titular'] = df_reduced ['Cant. Sit 2 Titular'].astype(int)
<ipython-input-12-a6a97bcdd2eb>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Cant. Sit 3 Titular'] = df_reduced ['Cant. Sit 3 Titular'].astype(int)
<ipython-input-12-a6a97bcdd2eb>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Cant. Sit 4 Titular'] = df_reduced ['Cant. Sit 4 Titular'].astype(int)
<ipython-input-12-a6a97bcdd2eb>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Cant. Sit 5 Titular'] = df_reduced ['Cant. Sit 5 Titular'].astype(int)

In [13]:
df_reduced.shape

(165, 15)

In [14]:
df_reduced.head()

,Cuil,Dni,Cant. Sit 1 Titular,Cant. Sit 2 Titular,Cant. Sit 3 Titular,Cant. Sit 4 Titular,Cant. Sit 5 Titular,Entidad 1 Titular,Deuda 1 Titular,Entidad 2 Titular,Deuda 2 Titular,Entidad 3 Titular,Deuda 3 Titular,Entidad 4 Titular,Deuda 4 Titular
0,2.004401e+10,4400871.0,4,0,0,1,0,BANCO DE GALICIA Y BUENOS AIRES S.A.U.,41.0,BANCO BBVA ARGENTINA S.A.,40.0,CENCOSUD S.A.,37.0,BANCO PIANO S.A.,19.0
1,2.406331e+10,6331345.0,0,0,1,0,0,BANCO BBVA ARGENTINA S.A.,36.0,NaN,0.0,NaN,0.0,NaN,0.0
2,2.010088e+10,10087665.0,2,0,0,0,1,BANCO PIANO S.A.,127.0,BANCO SUPERVIELLE S.A.,52.0,BANCO BBVA ARGENTINA S.A.,0.0,NaN,0.0
3,2.010194e+10,10194155.0,0,0,0,0,2,BANCO BBVA ARGENTINA S.A.,0.0,BANCO SANTANDER RIO S.A.,0.0,NaN,0.0,NaN,0.0
4,2.010377e+10,10376898.0,0,0,1,0,0,BANCO BBVA ARGENTINA S.A.,40.0,NaN,0.0,NaN,0.0,NaN,0.0

Eliminamos fila sin ninguna data

In [15]:
#df_reduced = df_reduced[~(df_reduced['Entidad 1 Titular'].isnull() & df_reduced['Entidad 2 Titular'].isnull()
#          & df_reduced['Entidad 3 Titular'].isnull() & df_reduced['Entidad 4 Titular'].isnull())]

El record nº 15 tiene un 5 en cantidad de situaciones. Debería capear eso para que no pueda mostrar más que 4 en todas las columnas. Por eso queda fuera de index

In [16]:
#df_reduced.loc[df_reduced['Cant. Sit 1 Titular'] > 4, 'Cant. Sit 1 Titular'] = 4
#df_reduced.loc[df_reduced['Cant. Sit 2 Titular'] > 4, 'Cant. Sit 2 Titular'] = 4
#df_reduced.loc[df_reduced['Cant. Sit 3 Titular'] > 4, 'Cant. Sit 3 Titular'] = 4
#df_reduced.loc[df_reduced['Cant. Sit 4 Titular'] > 4, 'Cant. Sit 4 Titular'] = 4
#df_reduced.loc[df_reduced['Cant. Sit 5 Titular'] > 4, 'Cant. Sit 5 Titular'] = 4

Tenemos el problema de que la cantidad total de situaciones en algunas filas excede el total máximo de 4, por lo que no podemos identificar correctamente a qué corresponde cada una.

En aquellos casos que la suma de las cantidades de situaciones de más que 4, vamos a quedarnos con lo primero que sume 4 dentro del total

**Opción rápida**: agregar celdas con NANs al Excel para el máximo de situaciones que me den, así el loop funciona. Ejemplo, si la suma da 6, agregar dos celdas más como Entidad 5 y 6 que no tengan nada.

In [17]:
df_reduced [(df_reduced['Cant. Sit 1 Titular'] + 
           df_reduced['Cant. Sit 2 Titular'] +
           df_reduced['Cant. Sit 3 Titular'] +
           df_reduced['Cant. Sit 4 Titular'] +
           df_reduced['Cant. Sit 5 Titular'])  >4]

,Cuil,Dni,Cant. Sit 1 Titular,Cant. Sit 2 Titular,Cant. Sit 3 Titular,Cant. Sit 4 Titular,Cant. Sit 5 Titular,Entidad 1 Titular,Deuda 1 Titular,Entidad 2 Titular,Deuda 2 Titular,Entidad 3 Titular,Deuda 3 Titular,Entidad 4 Titular,Deuda 4 Titular
0,2.004401e+10,4400871.0,4,0,0,1,0,BANCO DE GALICIA Y BUENOS AIRES S.A.U.,41.0,BANCO BBVA ARGENTINA S.A.,40.0,CENCOSUD S.A.,37.0,BANCO PIANO S.A.,19.0
12,2.017225e+10,17225054.0,4,0,0,1,0,BANCO DE GALICIA Y BUENOS AIRES S.A.U.,587.0,BANCO SUPERVIELLE S.A.,66.0,BANCO BBVA ARGENTINA S.A.,36.0,BANCO ITAU ARGENTINA S.A.,3.0
66,2.732589e+10,32589176.0,0,0,0,2,4,CENCOSUD S.A.,74.0,TARJETA TITANIO S.A.,38.0,BANCO BBVA ARGENTINA S.A.,13.0,VALLE FERTIL S.A.,11.0

Como son 100 casos, y tenemos las situaciones, lo que se hace es agregar manualmente las columnas de entidades para que el loop pueda correr. Luego, las celdas que no tengan data serán dropeadas.

Agregamos las columnas hasta completar "Entidad 20" que es el máximo posible

In [18]:
df_reduced.shape

(165, 15)

In [19]:
df_reduced ['Entidad 5 Titular'] = np.nan
df_reduced ['Entidad 6 Titular'] = np.nan
df_reduced ['Entidad 7 Titular'] = np.nan
df_reduced ['Entidad 8 Titular'] = np.nan
df_reduced ['Entidad 9 Titular'] = np.nan
df_reduced ['Entidad 10 Titular'] = np.nan
df_reduced ['Entidad 11 Titular'] = np.nan
df_reduced ['Entidad 12 Titular'] = np.nan
df_reduced ['Entidad 13 Titular'] = np.nan
df_reduced ['Entidad 14 Titular'] = np.nan
df_reduced ['Entidad 15 Titular'] = np.nan
df_reduced ['Entidad 16 Titular'] = np.nan
df_reduced ['Entidad 17 Titular'] = np.nan
df_reduced ['Entidad 18 Titular'] = np.nan
df_reduced ['Entidad 19 Titular'] = np.nan
df_reduced ['Entidad 20 Titular'] = np.nan

<ipython-input-19-1c168ec0f20f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Entidad 5 Titular'] = np.nan
<ipython-input-19-1c168ec0f20f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Entidad 6 Titular'] = np.nan
<ipython-input-19-1c168ec0f20f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Entidad 7 Titular'] = np.nan
<ipython-input-19-1c168ec0f20f>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Entidad 8 Titular'] = np.nan
<ipython-input-19-1c168ec0f20f>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Entidad 9 Titular'] = np.nan
<ipython-input-19-1c168ec0f20f>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Entidad 10 Titular'] = np.nan
<ipython-input-19-1c168ec0f20f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Entidad 11 Titular'] = np.nan
<ipython-input-19-1c168ec0f20f>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Entidad 12 Titular'] = np.nan
<ipython-input-19-1c168ec0f20f>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Entidad 13 Titular'] = np.nan
<ipython-input-19-1c168ec0f20f>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Entidad 14 Titular'] = np.nan
<ipython-input-19-1c168ec0f20f>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Entidad 15 Titular'] = np.nan
<ipython-input-19-1c168ec0f20f>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Entidad 16 Titular'] = np.nan
<ipython-input-19-1c168ec0f20f>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Entidad 17 Titular'] = np.nan
<ipython-input-19-1c168ec0f20f>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Entidad 18 Titular'] = np.nan
<ipython-input-19-1c168ec0f20f>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Entidad 19 Titular'] = np.nan
<ipython-input-19-1c168ec0f20f>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Entidad 20 Titular'] = np.nan

In [20]:
df_reduced ['Deuda 5 Titular'] = np.nan
df_reduced ['Deuda 6 Titular'] = np.nan
df_reduced ['Deuda 7 Titular'] = np.nan
df_reduced ['Deuda 8 Titular'] = np.nan
df_reduced ['Deuda 9 Titular'] = np.nan
df_reduced ['Deuda 10 Titular'] = np.nan
df_reduced ['Deuda 11 Titular'] = np.nan
df_reduced ['Deuda 12 Titular'] = np.nan
df_reduced ['Deuda 13 Titular'] = np.nan
df_reduced ['Deuda 14 Titular'] = np.nan
df_reduced ['Deuda 15 Titular'] = np.nan
df_reduced ['Deuda 16 Titular'] = np.nan
df_reduced ['Deuda 17 Titular'] = np.nan
df_reduced ['Deuda 18 Titular'] = np.nan
df_reduced ['Deuda 19 Titular'] = np.nan
df_reduced ['Deuda 20 Titular'] = np.nan

<ipython-input-20-cfc2ca3cb608>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Deuda 5 Titular'] = np.nan
<ipython-input-20-cfc2ca3cb608>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Deuda 6 Titular'] = np.nan
<ipython-input-20-cfc2ca3cb608>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Deuda 7 Titular'] = np.nan
<ipython-input-20-cfc2ca3cb608>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Deuda 8 Titular'] = np.nan
<ipython-input-20-cfc2ca3cb608>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Deuda 9 Titular'] = np.nan
<ipython-input-20-cfc2ca3cb608>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Deuda 10 Titular'] = np.nan
<ipython-input-20-cfc2ca3cb608>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Deuda 11 Titular'] = np.nan
<ipython-input-20-cfc2ca3cb608>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Deuda 12 Titular'] = np.nan
<ipython-input-20-cfc2ca3cb608>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Deuda 13 Titular'] = np.nan
<ipython-input-20-cfc2ca3cb608>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Deuda 14 Titular'] = np.nan
<ipython-input-20-cfc2ca3cb608>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Deuda 15 Titular'] = np.nan
<ipython-input-20-cfc2ca3cb608>:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Deuda 16 Titular'] = np.nan
<ipython-input-20-cfc2ca3cb608>:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Deuda 17 Titular'] = np.nan
<ipython-input-20-cfc2ca3cb608>:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Deuda 18 Titular'] = np.nan
<ipython-input-20-cfc2ca3cb608>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Deuda 19 Titular'] = np.nan
<ipython-input-20-cfc2ca3cb608>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced ['Deuda 20 Titular'] = np.nan

In [21]:
df_reduced.shape

(165, 47)

In [22]:
df_reduced.head()

,Cuil,Dni,Cant. Sit 1 Titular,Cant. Sit 2 Titular,Cant. Sit 3 Titular,Cant. Sit 4 Titular,Cant. Sit 5 Titular,Entidad 1 Titular,Deuda 1 Titular,Entidad 2 Titular,...,Deuda 11 Titular,Deuda 12 Titular,Deuda 13 Titular,Deuda 14 Titular,Deuda 15 Titular,Deuda 16 Titular,Deuda 17 Titular,Deuda 18 Titular,Deuda 19 Titular,Deuda 20 Titular
0,2.004401e+10,4400871.0,4,0,0,1,0,BANCO DE GALICIA Y BUENOS AIRES S.A.U.,41.0,BANCO BBVA ARGENTINA S.A.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2.406331e+10,6331345.0,0,0,1,0,0,BANCO BBVA ARGENTINA S.A.,36.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2.010088e+10,10087665.0,2,0,0,0,1,BANCO PIANO S.A.,127.0,BANCO SUPERVIELLE S.A.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2.010194e+10,10194155.0,0,0,0,0,2,BANCO BBVA ARGENTINA S.A.,0.0,BANCO SANTANDER RIO S.A.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.010377e+10,10376898.0,0,0,1,0,0,BANCO BBVA ARGENTINA S.A.,40.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# 4) Dataframe: Entidades + Cantidad

Definimos las listas de columnas de interés

In [23]:
cantidad_situacion_columns = ['Cant. Sit 1 Titular', 'Cant. Sit 2 Titular',
                              'Cant. Sit 3 Titular', 'Cant. Sit 4 Titular',
                              'Cant. Sit 5 Titular']
entidades_columns = ['Entidad 1 Titular', 'Entidad 2 Titular', 'Entidad 3 Titular', 'Entidad 4 Titular'
                    ,'Entidad 5 Titular','Entidad 6 Titular','Entidad 7 Titular','Entidad 8 Titular'
                    ,'Entidad 9 Titular','Entidad 10 Titular','Entidad 11 Titular','Entidad 12 Titular'
                    ,'Entidad 13 Titular','Entidad 14 Titular','Entidad 15 Titular','Entidad 16 Titular'
                    ,'Entidad 17 Titular','Entidad 18 Titular','Entidad 19 Titular','Entidad 20 Titular']
deudas_columns = ['Deuda 1 Titular','Deuda 2 Titular','Deuda 3 Titular','Deuda 4 Titular'
                 ,'Deuda 5 Titular','Deuda 6 Titular','Deuda 7 Titular','Deuda 8 Titular'
                 ,'Deuda 9 Titular','Deuda 10 Titular','Deuda 11 Titular','Deuda 12 Titular'
                 ,'Deuda 13 Titular','Deuda 14 Titular','Deuda 15 Titular','Deuda 16 Titular'
                 ,'Deuda 17 Titular','Deuda 18 Titular','Deuda 19 Titular','Deuda 20 Titular']

Aplicamos las funciones correspondientes

In [24]:
df_reduced["Situacion"] = df_reduced.apply(
    lambda row: sum([[cantidad_situacion_columns[n]
                      for _ in range(row[cantidad_situacion_columns[n]])]
                     for n in range(len(cantidad_situacion_columns))], []), axis=1)

<ipython-input-24-1fb5b9dcaf4f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_reduced["Situacion"] = df_reduced.apply(

In [25]:
ent_sit = df_reduced.apply(
    lambda row: [(row[entidades_columns[idx]], row["Situacion"][idx])
                     for idx in range(len(row["Situacion"]))], axis=1)

In [26]:
deuda_sit = df_reduced.apply(
    lambda row: [(row[deudas_columns[idx]], row["Situacion"][idx])
                     for idx in range(len(row["Situacion"]))], axis=1)

Definimos los nuevos dataframes

In [27]:
ent_sit = ent_sit.explode()
ent_sit = ent_sit.to_frame().apply(lambda x: pd.Series(x[0], index=['Entidad', 'Situacion']), axis=1, result_type='expand')

deuda_sit = deuda_sit.explode()
deuda_sit = deuda_sit.to_frame().apply(lambda x: pd.Series(x[0], index=['Deuda', 'Situacion']), axis=1, result_type='expand')

Reseteamos los indices

In [28]:
deuda_sit_reset = deuda_sit.reset_index()

In [29]:
ent_sit_reset = ent_sit.reset_index()

### Join

Unimos por index

In [30]:
df_join = ent_sit_reset.join(deuda_sit_reset,lsuffix='_left',rsuffix = '_right')

In [31]:
df_join.head(10)

,index_left,Entidad,Situacion_left,index_right,Deuda,Situacion_right
0,0,BANCO DE GALICIA Y BUENOS AIRES S.A.U.,Cant. Sit 1 Titular,0,41.0,Cant. Sit 1 Titular
1,0,BANCO BBVA ARGENTINA S.A.,Cant. Sit 1 Titular,0,40.0,Cant. Sit 1 Titular
2,0,CENCOSUD S.A.,Cant. Sit 1 Titular,0,37.0,Cant. Sit 1 Titular
3,0,BANCO PIANO S.A.,Cant. Sit 1 Titular,0,19.0,Cant. Sit 1 Titular
4,0,NaN,Cant. Sit 4 Titular,0,NaN,Cant. Sit 4 Titular
5,1,BANCO BBVA ARGENTINA S.A.,Cant. Sit 3 Titular,1,36.0,Cant. Sit 3 Titular
6,2,BANCO PIANO S.A.,Cant. Sit 1 Titular,2,127.0,Cant. Sit 1 Titular
7,2,BANCO SUPERVIELLE S.A.,Cant. Sit 1 Titular,2,52.0,Cant. Sit 1 Titular
8,2,BANCO BBVA ARGENTINA S.A.,Cant. Sit 5 Titular,2,0.0,Cant. Sit 5 Titular
9,3,BANCO BBVA ARGENTINA S.A.,Cant. Sit 5 Titular,3,0.0,Cant. Sit 5 Titular

# Concatenación de Dataframes

In [32]:
df_short = df_reduced[['Cuil','Dni']]

In [33]:
df_final = df_join.join(df_short,on='index_left',lsuffix='_left',rsuffix = '_right')

In [34]:
df_final.head(10)

,index_left,Entidad,Situacion_left,index_right,Deuda,Situacion_right,Cuil,Dni
0,0,BANCO DE GALICIA Y BUENOS AIRES S.A.U.,Cant. Sit 1 Titular,0,41.0,Cant. Sit 1 Titular,2.004401e+10,4400871.0
1,0,BANCO BBVA ARGENTINA S.A.,Cant. Sit 1 Titular,0,40.0,Cant. Sit 1 Titular,2.004401e+10,4400871.0
2,0,CENCOSUD S.A.,Cant. Sit 1 Titular,0,37.0,Cant. Sit 1 Titular,2.004401e+10,4400871.0
3,0,BANCO PIANO S.A.,Cant. Sit 1 Titular,0,19.0,Cant. Sit 1 Titular,2.004401e+10,4400871.0
4,0,NaN,Cant. Sit 4 Titular,0,NaN,Cant. Sit 4 Titular,2.004401e+10,4400871.0
5,1,BANCO BBVA ARGENTINA S.A.,Cant. Sit 3 Titular,1,36.0,Cant. Sit 3 Titular,2.406331e+10,6331345.0
6,2,BANCO PIANO S.A.,Cant. Sit 1 Titular,2,127.0,Cant. Sit 1 Titular,2.010088e+10,10087665.0
7,2,BANCO SUPERVIELLE S.A.,Cant. Sit 1 Titular,2,52.0,Cant. Sit 1 Titular,2.010088e+10,10087665.0
8,2,BANCO BBVA ARGENTINA S.A.,Cant. Sit 5 Titular,2,0.0,Cant. Sit 5 Titular,2.010088e+10,10087665.0
9,3,BANCO BBVA ARGENTINA S.A.,Cant. Sit 5 Titular,3,0.0,Cant. Sit 5 Titular,2.010194e+10,10194155.0

In [35]:
#df_final.to_excel('df_deudas_test_final.xlsx')

# 6) Columna Proveedor

Agregamos la columna PROVEEDOR_DATO, con el código correspondiente.

PyP = P2

In [36]:
cod_pyp = 'AD'

In [37]:
df_final = df_final.assign(PROVEEDOR=cod_pyp)

In [38]:
df_final.head()

,index_left,Entidad,Situacion_left,index_right,Deuda,Situacion_right,Cuil,Dni,PROVEEDOR
0,0,BANCO DE GALICIA Y BUENOS AIRES S.A.U.,Cant. Sit 1 Titular,0,41.0,Cant. Sit 1 Titular,2.004401e+10,4400871.0,AD
1,0,BANCO BBVA ARGENTINA S.A.,Cant. Sit 1 Titular,0,40.0,Cant. Sit 1 Titular,2.004401e+10,4400871.0,AD
2,0,CENCOSUD S.A.,Cant. Sit 1 Titular,0,37.0,Cant. Sit 1 Titular,2.004401e+10,4400871.0,AD
3,0,BANCO PIANO S.A.,Cant. Sit 1 Titular,0,19.0,Cant. Sit 1 Titular,2.004401e+10,4400871.0,AD
4,0,NaN,Cant. Sit 4 Titular,0,NaN,Cant. Sit 4 Titular,2.004401e+10,4400871.0,AD

# 7) Columna Fuente

Agregamos la columna TIPO, con el código correspondiente

In [39]:
fuente = 'BCRA'

In [40]:
df_final = df_final.assign(FUENTE=fuente)

In [41]:
df_final.head ()

,index_left,Entidad,Situacion_left,index_right,Deuda,Situacion_right,Cuil,Dni,PROVEEDOR,FUENTE
0,0,BANCO DE GALICIA Y BUENOS AIRES S.A.U.,Cant. Sit 1 Titular,0,41.0,Cant. Sit 1 Titular,2.004401e+10,4400871.0,AD,BCRA
1,0,BANCO BBVA ARGENTINA S.A.,Cant. Sit 1 Titular,0,40.0,Cant. Sit 1 Titular,2.004401e+10,4400871.0,AD,BCRA
2,0,CENCOSUD S.A.,Cant. Sit 1 Titular,0,37.0,Cant. Sit 1 Titular,2.004401e+10,4400871.0,AD,BCRA
3,0,BANCO PIANO S.A.,Cant. Sit 1 Titular,0,19.0,Cant. Sit 1 Titular,2.004401e+10,4400871.0,AD,BCRA
4,0,NaN,Cant. Sit 4 Titular,0,NaN,Cant. Sit 4 Titular,2.004401e+10,4400871.0,AD,BCRA

# 10) Columna Fecha

Para el campo FECHA_INGRESO_DATO, usamos la fecha en la que se hace la inserción de los datos:

In [42]:
fecha_ingreso = pd.to_datetime('today')

In [43]:
df_final = df_final.assign(FECHA_INGRESO=fecha_ingreso)

In [44]:
df_final.head()

,index_left,Entidad,Situacion_left,index_right,Deuda,Situacion_right,Cuil,Dni,PROVEEDOR,FUENTE,FECHA_INGRESO
0,0,BANCO DE GALICIA Y BUENOS AIRES S.A.U.,Cant. Sit 1 Titular,0,41.0,Cant. Sit 1 Titular,2.004401e+10,4400871.0,AD,BCRA,2021-03-10 11:43:45.826406
1,0,BANCO BBVA ARGENTINA S.A.,Cant. Sit 1 Titular,0,40.0,Cant. Sit 1 Titular,2.004401e+10,4400871.0,AD,BCRA,2021-03-10 11:43:45.826406
2,0,CENCOSUD S.A.,Cant. Sit 1 Titular,0,37.0,Cant. Sit 1 Titular,2.004401e+10,4400871.0,AD,BCRA,2021-03-10 11:43:45.826406
3,0,BANCO PIANO S.A.,Cant. Sit 1 Titular,0,19.0,Cant. Sit 1 Titular,2.004401e+10,4400871.0,AD,BCRA,2021-03-10 11:43:45.826406
4,0,NaN,Cant. Sit 4 Titular,0,NaN,Cant. Sit 4 Titular,2.004401e+10,4400871.0,AD,BCRA,2021-03-10 11:43:45.826406

# 12) Concatenación con .csv enviado

Vamos a concatenar nuestro dataframe con el dataframe enviado para enriquecer. Para esto, vamos a hacer una limpieza inicial de cómo se enviaron esos datos. Finalmente, se uniran ambos dataframes por __DNI__.

## 12.1) Dataset: PyP

Vamos a analizar y limpiar el dataset enviado a PyP para el enriquecimiento:

In [45]:
df_pyp = pd.read_csv('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Datasets/Datasets enviados/MOPC_Envio 0503 - BBVA - Estado-IDCliente.csv', sep = '\t')

In [46]:
df_pyp.head()

       IDMOROSO     IDCLIENTE    ESTADO     FILTROA
0  DNI 10087665  FRANCES_2012  NO VISTO  2 - Ag 2ra
1  DNI 10194155  FRANCES_2012  NO VISTO  3 - Ag 3ra
2  DNI 10376898  FRANCES_2012  NO VISTO  3 - Ag 3ra
3  DNI 10883821  FRANCES_2012  NO VISTO  4 - Ag 4ta
4  DNI 11065143  FRANCES_2012  NO VISTO  2 - Ag 2ra

Dropeamos las últimas columnas que no tienen datos

In [47]:
#df_pyp.loc[(df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['DATOADIC']
#df_pyp.loc[(~df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['IDMOROSO']
df_pyp ['NRO_DOC'] = df_pyp ['IDMOROSO']

In [48]:
df_pyp = df_pyp [['IDMOROSO','IDCLIENTE','NRO_DOC']]

In [49]:
df_pyp.head()

       IDMOROSO     IDCLIENTE       NRO_DOC
0  DNI 10087665  FRANCES_2012  DNI 10087665
1  DNI 10194155  FRANCES_2012  DNI 10194155
2  DNI 10376898  FRANCES_2012  DNI 10376898
3  DNI 10883821  FRANCES_2012  DNI 10883821
4  DNI 11065143  FRANCES_2012  DNI 11065143

Creamos una columna que contenga IDMOROSO + DATOADIC según corresponda

In [50]:
df_pyp = df_pyp.dropna(subset=['NRO_DOC'])

In [51]:
df_pyp.head()

       IDMOROSO     IDCLIENTE       NRO_DOC
0  DNI 10087665  FRANCES_2012  DNI 10087665
1  DNI 10194155  FRANCES_2012  DNI 10194155
2  DNI 10376898  FRANCES_2012  DNI 10376898
3  DNI 10883821  FRANCES_2012  DNI 10883821
4  DNI 11065143  FRANCES_2012  DNI 11065143

## 12.2) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurídica__ (TO DO)

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos. Esta función debe ejecutarse en primer lugar.
- __DNI Spaces__: Elimina los espacios.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: Decisión sobre dejar un cuit o volverlo DNI

In [52]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [53]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [54]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
        
    else:
        dni = string_dni
        
    return dni

In [55]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [56]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [57]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [58]:
df_pyp['NRO_DOC'] = [(str(df_pyp['NRO_DOC'][i]).strip()) for i in range (df_pyp['NRO_DOC'].count())]

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [59]:
df_pyp['TIPO_DOC'] = [tipo_doc_1(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para la limpieza de DNIs:

In [60]:
df_pyp['NRO_DOC'] = [standard_dni(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [61]:
df_pyp['NRO_DOC'] = [dni_characters(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [62]:
df_pyp['NRO_DOC'] = [cuit(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [63]:
df_pyp['NRO_DOC'] = [dni_zero(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [64]:
df_pyp['TIPO_DOC'] = [tipo_doc_2(df_pyp['NRO_DOC'][i],df_pyp['TIPO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [65]:
df_pyp.head()

       IDMOROSO     IDCLIENTE   NRO_DOC TIPO_DOC
0  DNI 10087665  FRANCES_2012  10087665      DNI
1  DNI 10194155  FRANCES_2012  10194155      DNI
2  DNI 10376898  FRANCES_2012  10376898      DNI
3  DNI 10883821  FRANCES_2012  10883821      DNI
4  DNI 11065143  FRANCES_2012  11065143      DNI

# 13) Union de Dataframes

Se unen ambos dataframes en la columna NRO_DOC

Convertimos la columna NRO_DOC de objeto a INT para hacer la unión

In [66]:
df_final = df_final.rename(columns = {'Dni':'NRO_DOC'})

In [67]:
df_final = df_final.astype({'NRO_DOC': 'str'})

In [68]:
df_final ['NRO_DOC'] = df_final ['NRO_DOC'].str.split('.').str[0]

In [69]:
df_union = pd.merge(df_final,df_pyp, on='NRO_DOC', how='inner')

In [70]:
df_union.shape

(278, 14)

In [71]:
df_union.head()

,index_left,Entidad,Situacion_left,index_right,Deuda,Situacion_right,Cuil,NRO_DOC,PROVEEDOR,FUENTE,FECHA_INGRESO,IDMOROSO,IDCLIENTE,TIPO_DOC
0,0,BANCO DE GALICIA Y BUENOS AIRES S.A.U.,Cant. Sit 1 Titular,0,41.0,Cant. Sit 1 Titular,2.004401e+10,4400871,AD,BCRA,2021-03-10 11:43:45.826406,LE 4400871,FRANCES_2012,LE
1,0,BANCO BBVA ARGENTINA S.A.,Cant. Sit 1 Titular,0,40.0,Cant. Sit 1 Titular,2.004401e+10,4400871,AD,BCRA,2021-03-10 11:43:45.826406,LE 4400871,FRANCES_2012,LE
2,0,CENCOSUD S.A.,Cant. Sit 1 Titular,0,37.0,Cant. Sit 1 Titular,2.004401e+10,4400871,AD,BCRA,2021-03-10 11:43:45.826406,LE 4400871,FRANCES_2012,LE
3,0,BANCO PIANO S.A.,Cant. Sit 1 Titular,0,19.0,Cant. Sit 1 Titular,2.004401e+10,4400871,AD,BCRA,2021-03-10 11:43:45.826406,LE 4400871,FRANCES_2012,LE
4,0,NaN,Cant. Sit 4 Titular,0,NaN,Cant. Sit 4 Titular,2.004401e+10,4400871,AD,BCRA,2021-03-10 11:43:45.826406,LE 4400871,FRANCES_2012,LE

### Revisamos equivalencias

In [72]:
df_union['index_left'].equals(df_union['index_right'])

True

In [73]:
df_union['Situacion_left'].equals(df_union['Situacion_right'])

True

# Columna Situación

Renombramos y dropeamos columnas acorde a las tablas de la db.

In [74]:
df_union = df_union.rename(columns = {'Situacion_left':'SITUACION', 'Entidad':'BANCO','Deuda':'MONTO'})

In [75]:
df_union.loc[(df_union['SITUACION'] == 'Cant. Sit 1 Titular') , 'SITUACION'] = 1

In [76]:
df_union.loc[(df_union['SITUACION'] == 'Cant. Sit 2 Titular') , 'SITUACION'] = 2

In [77]:
df_union.loc[(df_union['SITUACION'] == 'Cant. Sit 3 Titular') , 'SITUACION'] = 3

In [78]:
df_union.loc[(df_union['SITUACION'] == 'Cant. Sit 4 Titular') , 'SITUACION'] = 4

In [79]:
df_union.loc[(df_union['SITUACION'] == 'Cant. Sit 5 Titular') , 'SITUACION'] = 5

In [80]:
df_union.head()

,index_left,BANCO,SITUACION,index_right,MONTO,Situacion_right,Cuil,NRO_DOC,PROVEEDOR,FUENTE,FECHA_INGRESO,IDMOROSO,IDCLIENTE,TIPO_DOC
0,0,BANCO DE GALICIA Y BUENOS AIRES S.A.U.,1,0,41.0,Cant. Sit 1 Titular,2.004401e+10,4400871,AD,BCRA,2021-03-10 11:43:45.826406,LE 4400871,FRANCES_2012,LE
1,0,BANCO BBVA ARGENTINA S.A.,1,0,40.0,Cant. Sit 1 Titular,2.004401e+10,4400871,AD,BCRA,2021-03-10 11:43:45.826406,LE 4400871,FRANCES_2012,LE
2,0,CENCOSUD S.A.,1,0,37.0,Cant. Sit 1 Titular,2.004401e+10,4400871,AD,BCRA,2021-03-10 11:43:45.826406,LE 4400871,FRANCES_2012,LE
3,0,BANCO PIANO S.A.,1,0,19.0,Cant. Sit 1 Titular,2.004401e+10,4400871,AD,BCRA,2021-03-10 11:43:45.826406,LE 4400871,FRANCES_2012,LE
4,0,NaN,4,0,NaN,Cant. Sit 4 Titular,2.004401e+10,4400871,AD,BCRA,2021-03-10 11:43:45.826406,LE 4400871,FRANCES_2012,LE

# Columna Período

Como PyP no nos devuelve el período, lo dejamos en nulo

In [81]:
df_union = df_union.assign(PERIODO=np.nan)

# Final Drop

Dropeamos los que no tengan nada en entidad:

In [82]:
df_union = df_union.dropna(subset=['BANCO'])

In [83]:
df_union.shape

(272, 15)

# 14) Export

Renombramos, dropeamos y reordenamos las columnas

In [84]:
df_export = df_union[['IDMOROSO', 'FUENTE','BANCO','SITUACION','PERIODO','MONTO','FECHA_INGRESO','PROVEEDOR']]

In [85]:
df_export.head()

,IDMOROSO,FUENTE,BANCO,SITUACION,PERIODO,MONTO,FECHA_INGRESO,PROVEEDOR
0,LE 4400871,BCRA,BANCO DE GALICIA Y BUENOS AIRES S.A.U.,1,NaN,41.0,2021-03-10 11:43:45.826406,AD
1,LE 4400871,BCRA,BANCO BBVA ARGENTINA S.A.,1,NaN,40.0,2021-03-10 11:43:45.826406,AD
2,LE 4400871,BCRA,CENCOSUD S.A.,1,NaN,37.0,2021-03-10 11:43:45.826406,AD
3,LE 4400871,BCRA,BANCO PIANO S.A.,1,NaN,19.0,2021-03-10 11:43:45.826406,AD
5,LE 6331345,BCRA,BANCO BBVA ARGENTINA S.A.,3,NaN,36.0,2021-03-10 11:43:45.826406,AD

In [86]:
df_export.shape

(272, 8)

Revisamos y dropeamos filas duplicadas

In [87]:
df_duplicates = df_export[df_export.duplicated(keep=False)]

In [88]:
df_duplicates.shape

(0, 8)

In [89]:
#df_duplicates.to_excel('deudas_duplicates.xlsx')

In [90]:
df_export = df_export.drop_duplicates()

In [91]:
df_export.shape

(272, 8)

### Monto * 1000

In [92]:
df_export['MONTO'] *= 1000

In [93]:
df_export.head()

,IDMOROSO,FUENTE,BANCO,SITUACION,PERIODO,MONTO,FECHA_INGRESO,PROVEEDOR
0,LE 4400871,BCRA,BANCO DE GALICIA Y BUENOS AIRES S.A.U.,1,NaN,41000.0,2021-03-10 11:43:45.826406,AD
1,LE 4400871,BCRA,BANCO BBVA ARGENTINA S.A.,1,NaN,40000.0,2021-03-10 11:43:45.826406,AD
2,LE 4400871,BCRA,CENCOSUD S.A.,1,NaN,37000.0,2021-03-10 11:43:45.826406,AD
3,LE 4400871,BCRA,BANCO PIANO S.A.,1,NaN,19000.0,2021-03-10 11:43:45.826406,AD
5,LE 6331345,BCRA,BANCO BBVA ARGENTINA S.A.,3,NaN,36000.0,2021-03-10 11:43:45.826406,AD

In [94]:
df_export.tail()

,IDMOROSO,FUENTE,BANCO,SITUACION,PERIODO,MONTO,FECHA_INGRESO,PROVEEDOR
273,DNIE95281483,BCRA,BANCO BBVA ARGENTINA S.A.,5,NaN,0.0,2021-03-10 11:43:45.826406,AD
274,DNIE95369731,BCRA,BANCO BBVA ARGENTINA S.A.,1,NaN,4000.0,2021-03-10 11:43:45.826406,AD
275,DNIE95546088,BCRA,BANCO BBVA ARGENTINA S.A.,3,NaN,84000.0,2021-03-10 11:43:45.826406,AD
276,DNIE95579055,BCRA,BANCO BBVA ARGENTINA S.A.,3,NaN,129000.0,2021-03-10 11:43:45.826406,AD
277,DNIE95683304,BCRA,BANCO BBVA ARGENTINA S.A.,4,NaN,5000.0,2021-03-10 11:43:45.826406,AD

## 14.1) Export de dataframe + IDCLIENTE para análisis

In [95]:
#df_union.to_excel('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Exports/Deudas para analisis/PyP_deudas_1401.xlsx')
#df_union.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Exports/Deudas para analisis/PyP_deudas_1401.csv')

## 14.2) Insert a tabla DAM_DEUDAS:

In [96]:
df_export.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Exports/DAM_DEUDAS/Insiders_DAM_DEUDAS_0903.csv', encoding = 'utf-8-sig',index=False)

In [97]:
df_export.loc[0,:]

IDMOROSO                                    LE  4400871
FUENTE                                             BCRA
BANCO            BANCO DE GALICIA Y BUENOS AIRES S.A.U.
SITUACION                                             1
PERIODO                                             NaN
MONTO                                           41000.0
FECHA_INGRESO                2021-03-10 11:43:45.826406
PROVEEDOR                                            AD
Name: 0, dtype: object