# 1) Datasets

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Datasets/Datasets recibidos/ENRIQ_IN_1672_20210317.xlsx',skiprows=2, header=[0,1])

In [3]:
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Cuil                Dni      Fecha de Nac. Fecha de Defuncion
0       2.700187e+10           187386.0         1929-04-02                NaN
1       2.700508e+10           507550.0         1939-03-05                NaN
2       2.704172e+10          4171534.0         1940-06-02         2020-12-15
3       2.004174e+10          4173550.0         1936-01-28                NaN
4       2.004200e+10          4200228.0         1936-12-08                NaN

  Unnamed: 4_level_0           Unnamed: 5_level_0       Unnamed: 6_level_0  \
                Sexo                      Titular                    Calle
0                  F             HERRERA ENA ELSA         REP DE VENEZUELA
1                  F         ENTRATICO IRMA CLARA               AV URUGUAY
2                  F  ITUARTE MARGARITA HORTENSIA             PJE GRANDOLI
3                  M        VISCONTI EDUARDO JUAN       JUAN JOSE VIAMONTE
4                  M       CACCHIONE MIGUEL ANGEL  BRUNO MARIANO DE ZABALA

  Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
              Numero       Piso y Depto      Codigo Postal  ...
0               3700                NaN             1211.0  ...
1                875                NaN             4400.0  ...
2               6100                NaN             1439.0  ...
3               1592                NaN             1055.0  ...
4               1706                NaN             1426.0  ...

  Contactacion Opcional (Familiar)                                          \
                        Tel Fijo 2 Celular 1 Celular 2 Celular 3 Celular 4
0                              NaN       NaN       NaN       NaN       NaN
1                              NaN       NaN       NaN       NaN       NaN
2                              NaN       NaN       NaN       NaN       NaN
3                              NaN       NaN       NaN       NaN       NaN
4                              NaN       NaN       NaN       NaN       NaN

                  Contactacion Opcional (Vecino)
  Celular 5 Email                         Nombre      Telefono  SCORE
0       NaN   NaN                            NaN           NaN    0.0
1       NaN   NaN          PATRON COSTAS GUSTAVO  3.874321e+09   34.0
2       NaN   NaN                            NaN           NaN  891.0
3       NaN   NaN                            NaN           NaN  958.0
4       NaN   NaN                            NaN           NaN  345.0

[5 rows x 226 columns]

In [4]:
df.shape

(14872, 226)

## 1.2) Data Cleaning: Datasets

Vamos a dropear aquellas columnas y filas que no tengan ningún valor (es decir, que sean todos NaNs)

In [5]:
df = df.dropna(axis=0, how='all')

In [6]:
#df = df.dropna(axis=1, how='all')

In [7]:
df.shape

(664, 226)

Ahora todas las columnas tienen al menos 1 dato.

# 2) Vehículos

Vamos a obtener los teléfonos de las columnas donde pueden aparecer, que son:

Bienes registrados (Titular): 
- Patentados 2020-2001, Patentados menor al año 2001. __No__ me sirve tener la cantidad de patentados por el momento, ya que tengo sólo datos del último vehículo patentado.
- Dominio: corresponde al dominio del último vehículo patentado.
- Fecha Automotor (año de fabricación del vehículo).
- Fecha de Compra.
- Marca.
- Modelo.

In [8]:
df_reduced = df [[('Unnamed: 0_level_0','Cuil'),('Unnamed: 1_level_0','Dni'), ('Unnamed: 5_level_0','Titular')
                  ,('Dominio','DdOMIN'),('Fecha Automotor','Unnamed: 129_level_1')
                  ,('Fecha de Compra','Unnamed: 130_level_1'),('Marca','Unnamed: 131_level_1')
                  ,('Modelo','Unnamed: 132_level_1')
                  ]]

In [9]:
df_reduced.head()

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 5_level_0,Dominio,Fecha Automotor,Fecha de Compra,Marca,Modelo
,Cuil,Dni,Titular,DdOMIN,Unnamed: 129_level_1,Unnamed: 130_level_1,Unnamed: 131_level_1,Unnamed: 132_level_1
0,2.700187e+10,187386.0,HERRERA ENA ELSA,AC225HG,2018-01-12 00:00:00,2018-12-06 00:00:00,BMW,M4
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,VJT114,1973-02-06 00:00:00,2000-08-24 00:00:00,CHEVROLET,RALLY SPORT 250
2,2.704172e+10,4171534.0,ITUARTE MARGARITA HORTENSIA,SIS478,1981-12-24 00:00:00,- -,FORD,F-100 DSL
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,FNE571,2006-04-03 00:00:00,2009-10-27 00:00:00,VOLKSWAGEN,BORA 2 0
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,ICQ674,2009-06-08 00:00:00,2009-06-08 00:00:00,TOYOTA,COROLLA SE G 1 8 A/T

In [10]:
df_reduced.shape

(664, 8)

Eliminamos el multilevel de las columnas, y las renombramos:

In [11]:
df_reduced.columns = df_reduced.columns.droplevel()

In [12]:
df_reduced.head()

,Cuil,Dni,Titular,DdOMIN,Unnamed: 129_level_1,Unnamed: 130_level_1,Unnamed: 131_level_1,Unnamed: 132_level_1
0,2.700187e+10,187386.0,HERRERA ENA ELSA,AC225HG,2018-01-12 00:00:00,2018-12-06 00:00:00,BMW,M4
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,VJT114,1973-02-06 00:00:00,2000-08-24 00:00:00,CHEVROLET,RALLY SPORT 250
2,2.704172e+10,4171534.0,ITUARTE MARGARITA HORTENSIA,SIS478,1981-12-24 00:00:00,- -,FORD,F-100 DSL
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,FNE571,2006-04-03 00:00:00,2009-10-27 00:00:00,VOLKSWAGEN,BORA 2 0
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,ICQ674,2009-06-08 00:00:00,2009-06-08 00:00:00,TOYOTA,COROLLA SE G 1 8 A/T

In [13]:
df_reduced = df_reduced.rename(columns={"Cuil": "CUIT_CUIL", 'Dni': 'NRO_DOC', 'DdOMIN':'PATENTE', 'Unnamed: 129_level_1':'ANO'
                                       ,'Unnamed: 130_level_1':'FECHA_DE_COMPRA','Unnamed: 131_level_1':'MARCA'
                                       ,'Unnamed: 132_level_1':'MODELO'})

In [14]:
df_reduced.head()

,CUIT_CUIL,NRO_DOC,Titular,PATENTE,ANO,FECHA_DE_COMPRA,MARCA,MODELO
0,2.700187e+10,187386.0,HERRERA ENA ELSA,AC225HG,2018-01-12 00:00:00,2018-12-06 00:00:00,BMW,M4
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,VJT114,1973-02-06 00:00:00,2000-08-24 00:00:00,CHEVROLET,RALLY SPORT 250
2,2.704172e+10,4171534.0,ITUARTE MARGARITA HORTENSIA,SIS478,1981-12-24 00:00:00,- -,FORD,F-100 DSL
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,FNE571,2006-04-03 00:00:00,2009-10-27 00:00:00,VOLKSWAGEN,BORA 2 0
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,ICQ674,2009-06-08 00:00:00,2009-06-08 00:00:00,TOYOTA,COROLLA SE G 1 8 A/T

# 3) Concatenación de Marca - Modelo

In [15]:
df_reduced.columns

Index(['CUIT_CUIL', 'NRO_DOC', 'Titular', 'PATENTE', 'ANO', 'FECHA_DE_COMPRA',
       'MARCA', 'MODELO'],
      dtype='object')

In [16]:
marca_modelo = df_reduced['MARCA'] + ' ' +df_reduced ['MODELO']

In [17]:
df_reduced = df_reduced.assign(FABRICANTE=marca_modelo)

In [18]:
df_reduced.head()

,CUIT_CUIL,NRO_DOC,Titular,PATENTE,ANO,FECHA_DE_COMPRA,MARCA,MODELO,FABRICANTE
0,2.700187e+10,187386.0,HERRERA ENA ELSA,AC225HG,2018-01-12 00:00:00,2018-12-06 00:00:00,BMW,M4,BMW M4
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,VJT114,1973-02-06 00:00:00,2000-08-24 00:00:00,CHEVROLET,RALLY SPORT 250,CHEVROLET RALLY SPORT 250
2,2.704172e+10,4171534.0,ITUARTE MARGARITA HORTENSIA,SIS478,1981-12-24 00:00:00,- -,FORD,F-100 DSL,FORD F-100 DSL
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,FNE571,2006-04-03 00:00:00,2009-10-27 00:00:00,VOLKSWAGEN,BORA 2 0,VOLKSWAGEN BORA 2 0
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,ICQ674,2009-06-08 00:00:00,2009-06-08 00:00:00,TOYOTA,COROLLA SE G 1 8 A/T,TOYOTA COROLLA SE G 1 8 A/T

In [19]:
#df_reduced.to_excel('test_marca_modelo.xlsx')

# 4) Drop NaNs

Dropeamos aquellas filas que tengan NaN en la columna Dato, ya que no nos aporta nada:

In [20]:
df_reduced = df_reduced.dropna(subset=['PATENTE'])

In [21]:
df_reduced.shape

(205, 9)

In [22]:
df_reduced.tail()

,CUIT_CUIL,NRO_DOC,Titular,PATENTE,ANO,FECHA_DE_COMPRA,MARCA,MODELO,FABRICANTE
629,2.792823e+10,92822691.0,BELLO BLAI VANESSA KATHERINE,NMP905,2014-01-23 00:00:00,2014-01-23 00:00:00,CHEVROLET,COBALT 1 8 N LTZ,CHEVROLET COBALT 1 8 N LTZ
631,2.092973e+10,92972790.0,IGLESIAS CANO LEONARDO,DAZ981,2000-01-07 00:00:00,2016-02-03 00:00:00,PEUGEOT,306 BRL 4P D,PEUGEOT 306 BRL 4P D
634,2.094568e+10,94568387.0,TACO SOTOMAYOR DALMER MANUEL,A076NED,2018-04-23 00:00:00,2018-04-23 00:00:00,YAMAHA,FZ S FI,YAMAHA FZ S FI
642,2.095097e+10,95097265.0,SANSUSTE CUELLAR MARCO ANTONIO,CKO339,1998-12-03 00:00:00,2015-03-06 00:00:00,RENAULT,RENAULT 19 RE D AA DIREC,RENAULT RENAULT 19 RE D AA DIREC
647,2.095347e+10,95346786.0,VAZQUEZ CAÑETE ARNALDO,AD757SQ,2019-07-24 00:00:00,2019-07-24 00:00:00,FORD,FIESTA 1 6L S PLUS,FORD FIESTA 1 6L S PLUS

# 5) Columna Proveedor

Agregamos la columna PROVEEDOR_DATO, con el código correspondiente.

In [23]:
cod_pyp = 'AD'

In [24]:
df_clean = df_reduced.assign(PROVEEDOR_DATO=cod_pyp)

In [25]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,PATENTE,ANO,FECHA_DE_COMPRA,MARCA,MODELO,FABRICANTE,PROVEEDOR_DATO
0,2.700187e+10,187386.0,HERRERA ENA ELSA,AC225HG,2018-01-12 00:00:00,2018-12-06 00:00:00,BMW,M4,BMW M4,AD
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,VJT114,1973-02-06 00:00:00,2000-08-24 00:00:00,CHEVROLET,RALLY SPORT 250,CHEVROLET RALLY SPORT 250,AD
2,2.704172e+10,4171534.0,ITUARTE MARGARITA HORTENSIA,SIS478,1981-12-24 00:00:00,- -,FORD,F-100 DSL,FORD F-100 DSL,AD
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,FNE571,2006-04-03 00:00:00,2009-10-27 00:00:00,VOLKSWAGEN,BORA 2 0,VOLKSWAGEN BORA 2 0,AD
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,ICQ674,2009-06-08 00:00:00,2009-06-08 00:00:00,TOYOTA,COROLLA SE G 1 8 A/T,TOYOTA COROLLA SE G 1 8 A/T,AD

# 6) Columna Porcentaje

Como no tenemos datos sobre el porcentaje de posesión del vehículo, se asigna 100% a todos los casos

In [26]:
df_clean = df_clean.assign(PORCENTAJE=100)

In [27]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,PATENTE,ANO,FECHA_DE_COMPRA,MARCA,MODELO,FABRICANTE,PROVEEDOR_DATO,PORCENTAJE
0,2.700187e+10,187386.0,HERRERA ENA ELSA,AC225HG,2018-01-12 00:00:00,2018-12-06 00:00:00,BMW,M4,BMW M4,AD,100
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,VJT114,1973-02-06 00:00:00,2000-08-24 00:00:00,CHEVROLET,RALLY SPORT 250,CHEVROLET RALLY SPORT 250,AD,100
2,2.704172e+10,4171534.0,ITUARTE MARGARITA HORTENSIA,SIS478,1981-12-24 00:00:00,- -,FORD,F-100 DSL,FORD F-100 DSL,AD,100
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,FNE571,2006-04-03 00:00:00,2009-10-27 00:00:00,VOLKSWAGEN,BORA 2 0,VOLKSWAGEN BORA 2 0,AD,100
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,ICQ674,2009-06-08 00:00:00,2009-06-08 00:00:00,TOYOTA,COROLLA SE G 1 8 A/T,TOYOTA COROLLA SE G 1 8 A/T,AD,100

# 7) Columna Fecha

Para el campo FECHA_INGRESO_DATO, usamos la fecha en la que se hace la inserción de los datos:

In [28]:
fecha_ingreso = pd.to_datetime('today')

In [29]:
df_clean = df_clean.assign(FECHA_INGRESO=fecha_ingreso)

In [30]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,PATENTE,ANO,FECHA_DE_COMPRA,MARCA,MODELO,FABRICANTE,PROVEEDOR_DATO,PORCENTAJE,FECHA_INGRESO
0,2.700187e+10,187386.0,HERRERA ENA ELSA,AC225HG,2018-01-12 00:00:00,2018-12-06 00:00:00,BMW,M4,BMW M4,AD,100,2021-03-18 13:59:06.013436
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,VJT114,1973-02-06 00:00:00,2000-08-24 00:00:00,CHEVROLET,RALLY SPORT 250,CHEVROLET RALLY SPORT 250,AD,100,2021-03-18 13:59:06.013436
2,2.704172e+10,4171534.0,ITUARTE MARGARITA HORTENSIA,SIS478,1981-12-24 00:00:00,- -,FORD,F-100 DSL,FORD F-100 DSL,AD,100,2021-03-18 13:59:06.013436
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,FNE571,2006-04-03 00:00:00,2009-10-27 00:00:00,VOLKSWAGEN,BORA 2 0,VOLKSWAGEN BORA 2 0,AD,100,2021-03-18 13:59:06.013436
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,ICQ674,2009-06-08 00:00:00,2009-06-08 00:00:00,TOYOTA,COROLLA SE G 1 8 A/T,TOYOTA COROLLA SE G 1 8 A/T,AD,100,2021-03-18 13:59:06.013436

# 8) Columna Fabricante

Se realiza la limpieza de la columna Fabricante, ya que se observan los siguientes problemas:

- Cuando no tiene modelo o marca, se escribe "No Consta". Eso va a parar a Fabricante.
- Al concatenar, se repite el nombre de la Marca en modelo.

In [31]:
df_clean.loc[((df_clean['MARCA'] == 'NO CONSTA')), 'FABRICANTE'] = 'NO CONSTA'

In [32]:
df_clean['FABRICANTE'] = df_clean['FABRICANTE'].str.replace(r'\b(\w+)(\s+\1)+\b', r'\1')

<ipython-input-32-17b773d9a13b>:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df_clean['FABRICANTE'] = df_clean['FABRICANTE'].str.replace(r'\b(\w+)(\s+\1)+\b', r'\1')

In [33]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,PATENTE,ANO,FECHA_DE_COMPRA,MARCA,MODELO,FABRICANTE,PROVEEDOR_DATO,PORCENTAJE,FECHA_INGRESO
0,2.700187e+10,187386.0,HERRERA ENA ELSA,AC225HG,2018-01-12 00:00:00,2018-12-06 00:00:00,BMW,M4,BMW M4,AD,100,2021-03-18 13:59:06.013436
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,VJT114,1973-02-06 00:00:00,2000-08-24 00:00:00,CHEVROLET,RALLY SPORT 250,CHEVROLET RALLY SPORT 250,AD,100,2021-03-18 13:59:06.013436
2,2.704172e+10,4171534.0,ITUARTE MARGARITA HORTENSIA,SIS478,1981-12-24 00:00:00,- -,FORD,F-100 DSL,FORD F-100 DSL,AD,100,2021-03-18 13:59:06.013436
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,FNE571,2006-04-03 00:00:00,2009-10-27 00:00:00,VOLKSWAGEN,BORA 2 0,VOLKSWAGEN BORA 2 0,AD,100,2021-03-18 13:59:06.013436
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,ICQ674,2009-06-08 00:00:00,2009-06-08 00:00:00,TOYOTA,COROLLA SE G 1 8 A/T,TOYOTA COROLLA SE G 1 8 A/T,AD,100,2021-03-18 13:59:06.013436

In [34]:
#df_clean.to_excel('test_marca_modelo_v2.xlsx')

# 9) Concatenación con .csv enviado

Vamos a concatenar nuestro dataframe con el dataframe enviado para enriquecer. Para esto, vamos a hacer una limpieza inicial de cómo se enviaron esos datos. Finalmente, se uniran ambos dataframes por __DNI__.

Vamos a analizar y limpiar el dataset enviado para el enriquecimiento:

In [35]:
df_pyp = pd.read_csv('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Datasets/Datasets enviados/Envio Insiders - Estado-IDCliente - 1603.csv')

In [36]:
df_pyp.head()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO,FILTROA,DATOADIC
0,DNI 14384837,ACOSTA MARIA CRISTINA,FRANCES_2012,NO VISTO,3 - Ag 3ra,NaN
1,DNI 33803357,CARRASCO SERGIO DAMIAN,FRANCES_2012,NO VISTO,1 - Ag 1ra,NaN
2,DNI 34570749,TOLDI PRESENTADO SOLANGE GISELLE,FRANCES_2012,NO VISTO,1 - Ag 1ra,NaN
3,DNI 36991995,ANTECAO MAURO LEANDRO,FRANCES_2012,NO VISTO,2 - Ag 2ra,NaN
4,DNI 40359046,VATTOVAZ VICTORIA,FRANCES_2012,NO VISTO,1 - Ag 1ra,NaN

Dropeamos la última columna que no tiene datos

In [37]:
df_pyp.loc[(df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['DATOADIC']
df_pyp.loc[(~df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['IDMOROSO']
#df_pyp ['NRO_DOC'] = df_pyp ['IDMOROSO']

In [38]:
df_pyp = df_pyp [['IDMOROSO','IDCLIENTE','NRO_DOC']]

In [39]:
df_pyp.head()

             IDMOROSO             IDCLIENTE             NRO_DOC
0  DNI 14384837        FRANCES_2012          DNI 14384837
1  DNI 33803357        FRANCES_2012          DNI 33803357
2  DNI 34570749        FRANCES_2012          DNI 34570749
3  DNI 36991995        FRANCES_2012          DNI 36991995
4  DNI 40359046        FRANCES_2012          DNI 40359046

In [40]:
df_pyp = df_pyp.dropna(subset=['NRO_DOC'])

In [41]:
df_pyp.head()

             IDMOROSO             IDCLIENTE             NRO_DOC
0  DNI 14384837        FRANCES_2012          DNI 14384837
1  DNI 33803357        FRANCES_2012          DNI 33803357
2  DNI 34570749        FRANCES_2012          DNI 34570749
3  DNI 36991995        FRANCES_2012          DNI 36991995
4  DNI 40359046        FRANCES_2012          DNI 40359046

## 9.2) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurídica__

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos.
- __DNI Spaces__: Elimina los espacios.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: Decisión sobre dejar un cuit o volverlo DNI

In [42]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [43]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [44]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
        
    else:
        dni = string_dni
        
    return dni

In [45]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [46]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [47]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [48]:
df_pyp['NRO_DOC'] = [(str(df_pyp['NRO_DOC'][i]).strip()) for i in range (df_pyp['NRO_DOC'].count())]

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [49]:
df_pyp['TIPO_DOC'] = [tipo_doc_1(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para la limpieza de DNIs:

In [50]:
df_pyp['NRO_DOC'] = [standard_dni(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [51]:
df_pyp['NRO_DOC'] = [dni_characters(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [52]:
df_pyp['NRO_DOC'] = [cuit(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [53]:
df_pyp['NRO_DOC'] = [dni_zero(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [54]:
df_pyp['TIPO_DOC'] = [tipo_doc_2(df_pyp['NRO_DOC'][i],df_pyp['TIPO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [55]:
df_pyp.head()

             IDMOROSO             IDCLIENTE   NRO_DOC TIPO_DOC
0  DNI 14384837        FRANCES_2012          14384837      DNI
1  DNI 33803357        FRANCES_2012          33803357      DNI
2  DNI 34570749        FRANCES_2012          34570749      DNI
3  DNI 36991995        FRANCES_2012          36991995      DNI
4  DNI 40359046        FRANCES_2012          40359046      DNI

# 10) Union de Dataframes

Se unen ambos dataframes en la columna NRO_DOC

Convertimos la columna NRO_DOC de objeto a INT para hacer la unión

In [56]:
df_clean = df_clean.astype({'NRO_DOC': 'str'})

In [57]:
df_clean ['NRO_DOC'] = df_clean ['NRO_DOC'].str.split('.').str[0]

In [58]:
df_union = pd.merge(df_clean,df_pyp, on='NRO_DOC', how='inner')

In [59]:
df_union.shape

(205, 15)

In [60]:
df_union.head()

,CUIT_CUIL,NRO_DOC,Titular,PATENTE,ANO,FECHA_DE_COMPRA,MARCA,MODELO,FABRICANTE,PROVEEDOR_DATO,PORCENTAJE,FECHA_INGRESO,IDMOROSO,IDCLIENTE,TIPO_DOC
0,2.704172e+10,4171534,ITUARTE MARGARITA HORTENSIA,SIS478,1981-12-24 00:00:00,- -,FORD,F-100 DSL,FORD F-100 DSL,AD,100,2021-03-18 13:59:06.013436,DNI 4171534,FRAVEGA_LEGALES548,DNI
1,2.004174e+10,4173550,VISCONTI EDUARDO JUAN,FNE571,2006-04-03 00:00:00,2009-10-27 00:00:00,VOLKSWAGEN,BORA 2 0,VOLKSWAGEN BORA 2 0,AD,100,2021-03-18 13:59:06.013436,RMS379977155103007,AMEX_TNLM,DNI
2,2.004200e+10,4200228,CACCHIONE MIGUEL ANGEL,ICQ674,2009-06-08 00:00:00,2009-06-08 00:00:00,TOYOTA,COROLLA SE G 1 8 A/T,TOYOTA COROLLA SE G 1 8 A/T,AD,100,2021-03-18 13:59:06.013436,RMS376414200421005,AMEX_TNRM,DNI
3,2.004834e+10,4834342,VUGDELIJA PEDRO ALBERTO,ASU243,1996-04-10 00:00:00,1996-04-10 00:00:00,RENAULT,CLIO RL DIESEL,RENAULT CLIO RL DIESEL,AD,100,2021-03-18 13:59:06.013436,RMS379975200022008,AMEX_TNLM,DNI
4,2.005197e+10,5196895,CARPINETTI JULIO ALBERTO,XOP852,1970-05-05 00:00:00,2019-01-02 00:00:00,CITROEN,AZAM,CITROEN AZAM,AD,100,2021-03-18 13:59:06.013436,RMS376415882132000,AMEX_PBRM,DNI

# 10) Export

Renombramos, dropeamos y reordenamos las columnas

In [61]:
df_union = df_union.rename(columns = {'PROVEEDOR_DATO':'PROVEEDOR'})

Dropeamos columnas que no nos sirven

In [62]:
#df_export = df_union.drop(columns=['IDCLIENTE','Titular','ESTADO','NOMBRE','MARCA','MODELO','CUIT_CUIL','NRO_DOC','TIPO_DOC'], axis=0)

In [63]:
df_export = df_union[['IDMOROSO','PATENTE','ANO','FABRICANTE','PORCENTAJE','FECHA_INGRESO','PROVEEDOR','FECHA_DE_COMPRA']]

In [64]:
df_export.loc[df_export['FECHA_DE_COMPRA'] == '  -   -','FECHA_DE_COMPRA'] = np.nan

/home/dleg/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1720: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

In [65]:
df_export.loc[df_export['ANO'] == '  -   -','ANO'] = np.nan

Generamos ciertos algoritmos para mapear las fechas que vienen en forma de integers a la forma correcta

In [66]:
m = df_export['FECHA_DE_COMPRA'].astype(str).str.isdigit()

In [67]:
n = df_export['ANO'].astype(str).str.isdigit()

In [68]:
from datetime import datetime, timedelta

def from_excel_ordinal(ordinal, _epoch0=datetime(1899, 12, 31)):
    if ordinal >= 60:
        ordinal -= 1  # Excel leap year bug, 1900 is not a leap year!
    return (_epoch0 + timedelta(days=ordinal)).replace(microsecond=0)

In [69]:
df_export.loc[m, 'FECHA_DE_COMPRA'] = df_export.loc[m, 'FECHA_DE_COMPRA'].astype(int).apply(from_excel_ordinal)

/home/dleg/.pyenv/versions/3.8.6/envs/lewagon/lib/python3.8/site-packages/pandas/core/indexing.py:1676: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [70]:
df_export.loc[n, 'ANO'] = df_export.loc[n, 'ANO'].astype(int).apply(from_excel_ordinal)

In [71]:
df_export.head()

,IDMOROSO,PATENTE,ANO,FABRICANTE,PORCENTAJE,FECHA_INGRESO,PROVEEDOR,FECHA_DE_COMPRA
0,DNI 4171534,SIS478,1981-12-24 00:00:00,FORD F-100 DSL,100,2021-03-18 13:59:06.013436,AD,NaN
1,RMS379977155103007,FNE571,2006-04-03 00:00:00,VOLKSWAGEN BORA 2 0,100,2021-03-18 13:59:06.013436,AD,2009-10-27 00:00:00
2,RMS376414200421005,ICQ674,2009-06-08 00:00:00,TOYOTA COROLLA SE G 1 8 A/T,100,2021-03-18 13:59:06.013436,AD,2009-06-08 00:00:00
3,RMS379975200022008,ASU243,1996-04-10 00:00:00,RENAULT CLIO RL DIESEL,100,2021-03-18 13:59:06.013436,AD,1996-04-10 00:00:00
4,RMS376415882132000,XOP852,1970-05-05 00:00:00,CITROEN AZAM,100,2021-03-18 13:59:06.013436,AD,2019-01-02 00:00:00

In [72]:
df_export.shape

(205, 8)

In [73]:
df_export ['FECHA_INGRESO'] = pd.to_datetime(df_export['FECHA_INGRESO'])

<ipython-input-73-b45448763e53>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_export ['FECHA_INGRESO'] = pd.to_datetime(df_export['FECHA_INGRESO'])

In [74]:
df_export ['FECHA_DE_COMPRA'] = pd.to_datetime(df_export['FECHA_DE_COMPRA'])

<ipython-input-74-cff992b9c024>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_export ['FECHA_DE_COMPRA'] = pd.to_datetime(df_export['FECHA_DE_COMPRA'])

In [75]:
df_export.head()

,IDMOROSO,PATENTE,ANO,FABRICANTE,PORCENTAJE,FECHA_INGRESO,PROVEEDOR,FECHA_DE_COMPRA
0,DNI 4171534,SIS478,1981-12-24 00:00:00,FORD F-100 DSL,100,2021-03-18 13:59:06.013436,AD,NaT
1,RMS379977155103007,FNE571,2006-04-03 00:00:00,VOLKSWAGEN BORA 2 0,100,2021-03-18 13:59:06.013436,AD,2009-10-27
2,RMS376414200421005,ICQ674,2009-06-08 00:00:00,TOYOTA COROLLA SE G 1 8 A/T,100,2021-03-18 13:59:06.013436,AD,2009-06-08
3,RMS379975200022008,ASU243,1996-04-10 00:00:00,RENAULT CLIO RL DIESEL,100,2021-03-18 13:59:06.013436,AD,1996-04-10
4,RMS376415882132000,XOP852,1970-05-05 00:00:00,CITROEN AZAM,100,2021-03-18 13:59:06.013436,AD,2019-01-02

In [76]:
df_export['ANO'] = pd.DatetimeIndex(df_export['ANO']).year

<ipython-input-76-9f2911c79429>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_export['ANO'] = pd.DatetimeIndex(df_export['ANO']).year

In [77]:
df_export['ANO'] = df_export['ANO'].astype('Int64')

<ipython-input-77-9618756fbbae>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_export['ANO'] = df_export['ANO'].astype('Int64')

In [78]:
#df_export['ANO'] = df_export['ANO'].astype(int, errors='ignore')

In [79]:
df_export.head()

,IDMOROSO,PATENTE,ANO,FABRICANTE,PORCENTAJE,FECHA_INGRESO,PROVEEDOR,FECHA_DE_COMPRA
0,DNI 4171534,SIS478,1981,FORD F-100 DSL,100,2021-03-18 13:59:06.013436,AD,NaT
1,RMS379977155103007,FNE571,2006,VOLKSWAGEN BORA 2 0,100,2021-03-18 13:59:06.013436,AD,2009-10-27
2,RMS376414200421005,ICQ674,2009,TOYOTA COROLLA SE G 1 8 A/T,100,2021-03-18 13:59:06.013436,AD,2009-06-08
3,RMS379975200022008,ASU243,1996,RENAULT CLIO RL DIESEL,100,2021-03-18 13:59:06.013436,AD,1996-04-10
4,RMS376415882132000,XOP852,1970,CITROEN AZAM,100,2021-03-18 13:59:06.013436,AD,2019-01-02

In [80]:
df_export.tail()

,IDMOROSO,PATENTE,ANO,FABRICANTE,PORCENTAJE,FECHA_INGRESO,PROVEEDOR,FECHA_DE_COMPRA
200,RMS376637312513000,NMP905,2014,CHEVROLET COBALT 1 8 N LTZ,100,2021-03-18 13:59:06.013436,AD,2014-01-23
201,DNIE92972790,DAZ981,2000,PEUGEOT 306 BRL 4P D,100,2021-03-18 13:59:06.013436,AD,2016-02-03
202,DNIE94568387,A076NED,2018,YAMAHA FZ S FI,100,2021-03-18 13:59:06.013436,AD,2018-04-23
203,DNIE95097265,CKO339,1998,RENAULT 19 RE D AA DIREC,100,2021-03-18 13:59:06.013436,AD,2015-03-06
204,DNIE95346786,AD757SQ,2019,FORD FIESTA 1 6L S PLUS,100,2021-03-18 13:59:06.013436,AD,2019-07-24

## 11) Insert a tabla:

In [81]:
df_export.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Exports/DAM_VEHICULOS/Insiders_DAM_VEHICULOS_1803.csv',index=False)