In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Datasets/Datasets recibidos/ENRIQ_IN_1672_20210317.xlsx',skiprows=2, header=[0,1])

In [3]:
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Cuil                Dni      Fecha de Nac. Fecha de Defuncion
0       2.700187e+10           187386.0         1929-04-02                NaN
1       2.700508e+10           507550.0         1939-03-05                NaN
2       2.704172e+10          4171534.0         1940-06-02         2020-12-15
3       2.004174e+10          4173550.0         1936-01-28                NaN
4       2.004200e+10          4200228.0         1936-12-08                NaN

  Unnamed: 4_level_0           Unnamed: 5_level_0       Unnamed: 6_level_0  \
                Sexo                      Titular                    Calle
0                  F             HERRERA ENA ELSA         REP DE VENEZUELA
1                  F         ENTRATICO IRMA CLARA               AV URUGUAY
2                  F  ITUARTE MARGARITA HORTENSIA             PJE GRANDOLI
3                  M        VISCONTI EDUARDO JUAN       JUAN JOSE VIAMONTE
4                  M       CACCHIONE MIGUEL ANGEL  BRUNO MARIANO DE ZABALA

  Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
              Numero       Piso y Depto      Codigo Postal  ...
0               3700                NaN             1211.0  ...
1                875                NaN             4400.0  ...
2               6100                NaN             1439.0  ...
3               1592                NaN             1055.0  ...
4               1706                NaN             1426.0  ...

  Contactacion Opcional (Familiar)                                          \
                        Tel Fijo 2 Celular 1 Celular 2 Celular 3 Celular 4
0                              NaN       NaN       NaN       NaN       NaN
1                              NaN       NaN       NaN       NaN       NaN
2                              NaN       NaN       NaN       NaN       NaN
3                              NaN       NaN       NaN       NaN       NaN
4                              NaN       NaN       NaN       NaN       NaN

                  Contactacion Opcional (Vecino)
  Celular 5 Email                         Nombre      Telefono  SCORE
0       NaN   NaN                            NaN           NaN    0.0
1       NaN   NaN          PATRON COSTAS GUSTAVO  3.874321e+09   34.0
2       NaN   NaN                            NaN           NaN  891.0
3       NaN   NaN                            NaN           NaN  958.0
4       NaN   NaN                            NaN           NaN  345.0

[5 rows x 226 columns]

In [4]:
df.shape

(14872, 226)

## 1. Data Cleaning: Datasets

Vamos a dropear aquellas filas que no tengan ningÃºn valor (es decir, que sean todos NaNs)

In [5]:
df = df.dropna(axis=0, how='all')

In [6]:
#df = df.dropna(axis=1, how='all')

In [7]:
df.shape

(664, 226)

Ahora todas las columnas tienen al menos 1 dato.

# 2) Inmuebles

Vamos a obtener los inmuebles. Solamente podemos sacar informaciÃ³n de la Cantidad de Inmuebles registrados:

In [8]:
df_reduced = df [[('Unnamed: 0_level_0','Cuil'),('Unnamed: 1_level_0','Dni'), ('Unnamed: 5_level_0','Titular')
                  ,('Propiedades','Unnamed: 106_level_1')
                  ]]

In [9]:
df_reduced.head()

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 5_level_0,Propiedades
,Cuil,Dni,Titular,Unnamed: 106_level_1
0,2.700187e+10,187386.0,HERRERA ENA ELSA,1.0
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,1.0
2,2.704172e+10,4171534.0,ITUARTE MARGARITA HORTENSIA,0.0
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,1.0
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,5.0

In [10]:
df_reduced.shape

(664, 4)

Eliminamos el multilevel de las columnas, y las renombramos:

In [11]:
df_reduced.columns = df_reduced.columns.droplevel()

In [12]:
df_reduced.head()

           Cuil        Dni                      Titular  Unnamed: 106_level_1
0  2.700187e+10   187386.0             HERRERA ENA ELSA                   1.0
1  2.700508e+10   507550.0         ENTRATICO IRMA CLARA                   1.0
2  2.704172e+10  4171534.0  ITUARTE MARGARITA HORTENSIA                   0.0
3  2.004174e+10  4173550.0        VISCONTI EDUARDO JUAN                   1.0
4  2.004200e+10  4200228.0       CACCHIONE MIGUEL ANGEL                   5.0

In [13]:
df_reduced = df_reduced.rename(columns={"Cuil": "CUIT_CUIL", 'Dni': 'NRO_DOC', 'Unnamed: 106_level_1':'Propiedades'})

In [14]:
df_reduced.head()

      CUIT_CUIL    NRO_DOC                      Titular  Propiedades
0  2.700187e+10   187386.0             HERRERA ENA ELSA          1.0
1  2.700508e+10   507550.0         ENTRATICO IRMA CLARA          1.0
2  2.704172e+10  4171534.0  ITUARTE MARGARITA HORTENSIA          0.0
3  2.004174e+10  4173550.0        VISCONTI EDUARDO JUAN          1.0
4  2.004200e+10  4200228.0       CACCHIONE MIGUEL ANGEL          5.0

# 3) Drop rows

Dropeamos aquellas filas que tengan 0 en la columna Propiedades, ya que no nos aporta nada:

In [15]:
df_reduced = df_reduced[df_reduced['Propiedades']>0]

In [16]:
df_reduced.shape

(50, 4)

In [17]:
df_reduced.head()

      CUIT_CUIL    NRO_DOC                 Titular  Propiedades
0  2.700187e+10   187386.0        HERRERA ENA ELSA          1.0
1  2.700508e+10   507550.0    ENTRATICO IRMA CLARA          1.0
3  2.004174e+10  4173550.0   VISCONTI EDUARDO JUAN          1.0
4  2.004200e+10  4200228.0  CACCHIONE MIGUEL ANGEL          5.0
5  2.704488e+10  4488073.0      BONZI MIRTHA CELIA          2.0

# 4) DuplicaciÃ³n de filas

Si el moroso tiene 2 propiedades, quiero que aparezcan dos filas

In [18]:
#repeat rows
df_reduced = df_reduced.loc[df_reduced.index.repeat(df_reduced['Propiedades'])]

In [19]:
df_reduced

        CUIT_CUIL     NRO_DOC                   Titular  Propiedades
0    2.700187e+10    187386.0          HERRERA ENA ELSA          1.0
1    2.700508e+10    507550.0      ENTRATICO IRMA CLARA          1.0
3    2.004174e+10   4173550.0     VISCONTI EDUARDO JUAN          1.0
4    2.004200e+10   4200228.0    CACCHIONE MIGUEL ANGEL          5.0
4    2.004200e+10   4200228.0    CACCHIONE MIGUEL ANGEL          5.0
..            ...         ...                       ...          ...
153  2.021115e+10  21114553.0        HAMBRA JOSE MARTIN          2.0
201  2.724093e+10  24093415.0       GODOY PAOLA VALERIA          1.0
220  2.325002e+10  25001881.0  CASTILLO EUGENIO ALBERTO          2.0
220  2.325002e+10  25001881.0  CASTILLO EUGENIO ALBERTO          2.0
263  2.727442e+10  27442028.0    BIURRUN ANALIA BEATRIZ          1.0

[87 rows x 4 columns]

# 4) Proveedor Dato

In [20]:
cod_pyp = 'AD'

In [21]:
df_clean = df_reduced.assign(PROVEEDOR=cod_pyp)

In [22]:
df_clean.head()

      CUIT_CUIL    NRO_DOC                 Titular  Propiedades PROVEEDOR
0  2.700187e+10   187386.0        HERRERA ENA ELSA          1.0        AD
1  2.700508e+10   507550.0    ENTRATICO IRMA CLARA          1.0        AD
3  2.004174e+10  4173550.0   VISCONTI EDUARDO JUAN          1.0        AD
4  2.004200e+10  4200228.0  CACCHIONE MIGUEL ANGEL          5.0        AD
4  2.004200e+10  4200228.0  CACCHIONE MIGUEL ANGEL          5.0        AD

# 6) Columna Porcentaje

Como no tenemos datos sobre el porcentaje de posesiÃ³n, se asigna 100% a todos los casos

In [23]:
df_clean = df_clean.assign(PORCENTAJE=100)

In [24]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Propiedades,PROVEEDOR,PORCENTAJE
0,2.700187e+10,187386.0,HERRERA ENA ELSA,1.0,AD,100
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,1.0,AD,100
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,1.0,AD,100
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,5.0,AD,100
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,5.0,AD,100

# 7) Columna Fecha

Para el campo FECHA_INGRESO_DATO, usamos la fecha en la que se hace la inserciÃ³n de los datos:

In [25]:
fecha_ingreso = pd.to_datetime('today')

In [26]:
df_clean = df_clean.assign(FECHA_INGRESO=fecha_ingreso)

In [27]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Propiedades,PROVEEDOR,PORCENTAJE,FECHA_INGRESO
0,2.700187e+10,187386.0,HERRERA ENA ELSA,1.0,AD,100,2021-03-18 13:11:00.678623
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,1.0,AD,100,2021-03-18 13:11:00.678623
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,1.0,AD,100,2021-03-18 13:11:00.678623
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,5.0,AD,100,2021-03-18 13:11:00.678623
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,5.0,AD,100,2021-03-18 13:11:00.678623

# 8) Columna Domicilio

Se realiza la limpieza de la columna Fabricante, ya que se observan los siguientes problemas:

- Cuando no tiene modelo o marca, se escribe "No Consta". Eso va a parar a Fabricante.
- Al concatenar, se repite el nombre de la Marca en modelo.

In [28]:
df_clean = df_clean.assign(DOMICILIO='No disponible')

In [29]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Propiedades,PROVEEDOR,PORCENTAJE,FECHA_INGRESO,DOMICILIO
0,2.700187e+10,187386.0,HERRERA ENA ELSA,1.0,AD,100,2021-03-18 13:11:00.678623,No disponible
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,1.0,AD,100,2021-03-18 13:11:00.678623,No disponible
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,1.0,AD,100,2021-03-18 13:11:00.678623,No disponible
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,5.0,AD,100,2021-03-18 13:11:00.678623,No disponible
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,5.0,AD,100,2021-03-18 13:11:00.678623,No disponible

# 9) Columna Localidad

In [30]:
df_clean = df_clean.assign(LOCALIDAD='Desconocida')

# 10) Columna Codigo_postal

In [31]:
df_clean = df_clean.assign(CODIGO_POSTAL='No disponible')

# 11) Columna Provincia

In [32]:
df_clean = df_clean.assign(PROVINCIA='Desconocida')

# 12) Pais

In [33]:
df_clean = df_clean.assign(PAIS='No disponible')

In [34]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Propiedades,PROVEEDOR,PORCENTAJE,FECHA_INGRESO,DOMICILIO,LOCALIDAD,CODIGO_POSTAL,PROVINCIA,PAIS
0,2.700187e+10,187386.0,HERRERA ENA ELSA,1.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,1.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,1.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,5.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,5.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible

In [35]:
#df_clean.to_csv('inmuebles_test.csv')

In [36]:
df_clean.shape

(87, 12)

# 13) ConcatenaciÃ³n con .csv enviado

Vamos a concatenar nuestro dataframe con el dataframe enviado para enriquecer. Para esto, vamos a hacer una limpieza inicial de cÃ³mo se enviaron esos datos. Finalmente, se uniran ambos dataframes por __DNI__.

Vamos a analizar y limpiar el dataset enviado para el enriquecimiento:

In [37]:
df_pyp = pd.read_csv('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Datasets/Datasets enviados/Envio Insiders - Estado-IDCliente - 1603.csv')

In [38]:
df_pyp.head()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO,FILTROA,DATOADIC
0,DNI 14384837,ACOSTA MARIA CRISTINA,FRANCES_2012,NO VISTO,3 - Ag 3ra,NaN
1,DNI 33803357,CARRASCO SERGIO DAMIAN,FRANCES_2012,NO VISTO,1 - Ag 1ra,NaN
2,DNI 34570749,TOLDI PRESENTADO SOLANGE GISELLE,FRANCES_2012,NO VISTO,1 - Ag 1ra,NaN
3,DNI 36991995,ANTECAO MAURO LEANDRO,FRANCES_2012,NO VISTO,2 - Ag 2ra,NaN
4,DNI 40359046,VATTOVAZ VICTORIA,FRANCES_2012,NO VISTO,1 - Ag 1ra,NaN

In [39]:
df_pyp.loc[(df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['DATOADIC']
df_pyp.loc[(~df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['IDMOROSO']
#df_pyp ['NRO_DOC'] = df_pyp ['IDMOROSO']

In [40]:
df_pyp = df_pyp [['IDMOROSO','IDCLIENTE','NRO_DOC']]

In [41]:
df_pyp.head()

             IDMOROSO             IDCLIENTE             NRO_DOC
0  DNI 14384837        FRANCES_2012          DNI 14384837
1  DNI 33803357        FRANCES_2012          DNI 33803357
2  DNI 34570749        FRANCES_2012          DNI 34570749
3  DNI 36991995        FRANCES_2012          DNI 36991995
4  DNI 40359046        FRANCES_2012          DNI 40359046

In [42]:
df_pyp.shape

(696, 3)

In [43]:
df_pyp = df_pyp.dropna(subset=['NRO_DOC'])

# 14) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurÃ­dica__

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: DecisiÃ³n sobre dejar un cuit o volverlo DNI

In [44]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [45]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [46]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
        
    else:
        dni = string_dni
        
    return dni

In [47]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [48]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [49]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [50]:
df_pyp['NRO_DOC'] = [(str(df_pyp['NRO_DOC'][i]).strip()) for i in range (df_pyp['NRO_DOC'].count())]

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [51]:
df_pyp['TIPO_DOC'] = [tipo_doc_1(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para la limpieza de DNIs:

In [52]:
df_pyp['NRO_DOC'] = [standard_dni(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [53]:
df_pyp['NRO_DOC'] = [dni_characters(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [54]:
df_pyp['NRO_DOC'] = [cuit(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [55]:
df_pyp['NRO_DOC'] = [dni_zero(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [56]:
df_pyp['TIPO_DOC'] = [tipo_doc_2(df_pyp['NRO_DOC'][i],df_pyp['TIPO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [57]:
df_pyp.head()

             IDMOROSO             IDCLIENTE   NRO_DOC TIPO_DOC
0  DNI 14384837        FRANCES_2012          14384837      DNI
1  DNI 33803357        FRANCES_2012          33803357      DNI
2  DNI 34570749        FRANCES_2012          34570749      DNI
3  DNI 36991995        FRANCES_2012          36991995      DNI
4  DNI 40359046        FRANCES_2012          40359046      DNI

# 15) Union de Dataframes

Se unen ambos dataframes en la columna NRO_DOC

Convertimos la columna NRO_DOC de objeto a INT para hacer la uniÃ³n

In [58]:
df_clean = df_clean.astype({'NRO_DOC': 'str'})

In [59]:
df_clean ['NRO_DOC'] = df_clean ['NRO_DOC'].str.split('.').str[0]

In [60]:
df_union = pd.merge(df_clean,df_pyp, on='NRO_DOC', how='inner')

In [61]:
df_union.shape

(86, 15)

In [62]:
df_union.head(15)

,CUIT_CUIL,NRO_DOC,Titular,Propiedades,PROVEEDOR,PORCENTAJE,FECHA_INGRESO,DOMICILIO,LOCALIDAD,CODIGO_POSTAL,PROVINCIA,PAIS,IDMOROSO,IDCLIENTE,TIPO_DOC
0,2.004174e+10,4173550,VISCONTI EDUARDO JUAN,1.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible,RMS379977155103007,AMEX_TNLM,DNI
1,2.004200e+10,4200228,CACCHIONE MIGUEL ANGEL,5.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible,RMS376414200421005,AMEX_TNRM,DNI
2,2.004200e+10,4200228,CACCHIONE MIGUEL ANGEL,5.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible,RMS376414200421005,AMEX_TNRM,DNI
3,2.004200e+10,4200228,CACCHIONE MIGUEL ANGEL,5.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible,RMS376414200421005,AMEX_TNRM,DNI
4,2.004200e+10,4200228,CACCHIONE MIGUEL ANGEL,5.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible,RMS376414200421005,AMEX_TNRM,DNI
5,2.004200e+10,4200228,CACCHIONE MIGUEL ANGEL,5.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible,RMS376414200421005,AMEX_TNRM,DNI
6,2.704488e+10,4488073,BONZI MIRTHA CELIA,2.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible,RMS376710794971002,AMEX_ALHR,DNI
7,2.704488e+10,4488073,BONZI MIRTHA CELIA,2.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible,RMS376710794971002,AMEX_ALHR,DNI
8,2.704641e+10,4641229,LESCANO MARIA ERNESTINA,2.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible,LC 4641229,FRANCES_2012,LC
9,2.704641e+10,4641229,LESCANO MARIA ERNESTINA,2.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible,LC 4641229,FRANCES_2012,LC
10,2.704703e+10,4703059,BOCCA NORMA LETICIA,2.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible,LC 4703059,FRANCES_2012,LC
11,2.704703e+10,4703059,BOCCA NORMA LETICIA,2.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible,LC 4703059,FRANCES_2012,LC
12,2.004834e+10,4834342,VUGDELIJA PEDRO ALBERTO,1.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible,RMS379975200022008,AMEX_TNLM,DNI
13,2.005197e+10,5196895,CARPINETTI JULIO ALBERTO,6.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible,RMS376415882132000,AMEX_PBRM,DNI
14,2.005197e+10,5196895,CARPINETTI JULIO ALBERTO,6.0,AD,100,2021-03-18 13:11:00.678623,No disponible,Desconocida,No disponible,Desconocida,No disponible,RMS376415882132000,AMEX_PBRM,DNI

# 10) Export

Renombramos, dropeamos y reordenamos las columnas

Dropeamos columnas que no nos sirven

In [63]:
#df_export = df_union.drop(columns=['CUIT_CUIL','Titular','NRO_DOC','Propiedades','NOMBRE','CUIT_CUIL','IDCLIENTE','TIPO_DOC'], axis=0)

In [64]:
df_export = df_union[['IDMOROSO','DOMICILIO','LOCALIDAD','CODIGO_POSTAL','PROVINCIA','PAIS','PORCENTAJE','FECHA_INGRESO','PROVEEDOR']]

In [65]:
df_export.head()

,IDMOROSO,DOMICILIO,LOCALIDAD,CODIGO_POSTAL,PROVINCIA,PAIS,PORCENTAJE,FECHA_INGRESO,PROVEEDOR
0,RMS379977155103007,No disponible,Desconocida,No disponible,Desconocida,No disponible,100,2021-03-18 13:11:00.678623,AD
1,RMS376414200421005,No disponible,Desconocida,No disponible,Desconocida,No disponible,100,2021-03-18 13:11:00.678623,AD
2,RMS376414200421005,No disponible,Desconocida,No disponible,Desconocida,No disponible,100,2021-03-18 13:11:00.678623,AD
3,RMS376414200421005,No disponible,Desconocida,No disponible,Desconocida,No disponible,100,2021-03-18 13:11:00.678623,AD
4,RMS376414200421005,No disponible,Desconocida,No disponible,Desconocida,No disponible,100,2021-03-18 13:11:00.678623,AD

In [66]:
df_export.shape

(86, 9)

## 14.2) Insert a tabla

In [67]:
df_export.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Exports/DAM_INMUEBLES/PyP_DAM_INMUEBLES_1803.csv',index=False)