In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_excel ('Datos a Enriquecer - BSR Fiadores.xlsx')

In [3]:
df1.shape

(271, 5)

In [4]:
df1.head()

,IDMOROSO,DATO A ENVIAR,NOMBRE,ENTIDAD A ENRIQUECER,IDMOROSO ENRIQUECIDO POR
0,CUIT30516256385,N - 00004392034,"GROISMAN,ANIBAL OSVALDO",REFERENTE,PyP
1,CUIT30516256385,N - 00004392034,"GROISMAN,ANIBAL OSVALDO",REFERENTE,PyP
2,CUIT30516256385,N - 00010136848,"GROISMAN,BEATRIZ RUT",REFERENTE,PyP
3,CUIT30516256385,N - 00010136848,"GROISMAN,BEATRIZ RUT",REFERENTE,PyP
4,CUIT33592559639,CUIT33592559639,MITSU CAR SA,EMPRESA,AT

In [5]:
df1 = df1.drop_duplicates()

In [6]:
df1.shape

(97, 5)

In [7]:
df1.head()

,IDMOROSO,DATO A ENVIAR,NOMBRE,ENTIDAD A ENRIQUECER,IDMOROSO ENRIQUECIDO POR
0,CUIT30516256385,N - 00004392034,"GROISMAN,ANIBAL OSVALDO",REFERENTE,PyP
2,CUIT30516256385,N - 00010136848,"GROISMAN,BEATRIZ RUT",REFERENTE,PyP
4,CUIT33592559639,CUIT33592559639,MITSU CAR SA,EMPRESA,AT
8,CUIT30504244721,CUIT30504244721,OROPEL SACIYA,EMPRESA,AT
9,CUIT30663021466,CUIT30663021466,ROEDER SRL,EMPRESA,AT

In [8]:
df2 = pd.read_excel('BSR Fiadores - Active - 0502.xlsx')

In [9]:
df2.shape

(122, 6)

In [10]:
df2.head()

,IDMOROSO,DATO,PROVEEDOR_DATO,ESTADO,IDCLIENTE,Unnamed: 5
0,CUIT30504244721,asantos@oropet.com.ar,AT,NO INTERESADO,BSR_TARDIA,NaN
1,CUIT30516256385,agroisman@gmail.com,P2,NO INTERESADO,BSR_TARDIA,NaN
2,CUIT30516256385,agroisman@groisman.com.ar,AT,NO INTERESADO,BSR_TARDIA,NaN
3,CUIT30663021466,roedersrl@mail.com,AT,SKIP LEVEL 2,BSR_TARDIA,NaN
4,CUIT30684947407,eugenio@next-work.com.ar,AT,SKIP LEVEL,BSR_TARDIA,NaN

In [11]:
df2 = df2 [['IDMOROSO','ESTADO']]

In [12]:
df2 ['IDMOROSO'] = df2['IDMOROSO'].str.strip()

In [13]:
df2.head()

          IDMOROSO                ESTADO
0  CUIT30504244721  NO INTERESADO
1  CUIT30516256385  NO INTERESADO
2  CUIT30516256385  NO INTERESADO
3  CUIT30663021466  SKIP LEVEL 2
4  CUIT30684947407  SKIP LEVEL

In [14]:
df2 = df2.drop_duplicates()

In [15]:
df2.shape

(89, 2)

In [16]:
df1 ['IDMOROSO'] = df1['IDMOROSO'].astype(str)
df2 ['IDMOROSO'] = df2['IDMOROSO'].astype(str)

In [30]:
df = pd.merge(df1,df2, on='IDMOROSO', how='left')

In [31]:
df.shape

(97, 6)

In [32]:
df.head()

,IDMOROSO,DATO A ENVIAR,NOMBRE,ENTIDAD A ENRIQUECER,IDMOROSO ENRIQUECIDO POR,ESTADO
0,CUIT30516256385,N - 00004392034,"GROISMAN,ANIBAL OSVALDO",REFERENTE,PyP,NO INTERESADO
1,CUIT30516256385,N - 00010136848,"GROISMAN,BEATRIZ RUT",REFERENTE,PyP,NO INTERESADO
2,CUIT33592559639,CUIT33592559639,MITSU CAR SA,EMPRESA,AT,PROBLEMA
3,CUIT30504244721,CUIT30504244721,OROPEL SACIYA,EMPRESA,AT,NO INTERESADO
4,CUIT30663021466,CUIT30663021466,ROEDER SRL,EMPRESA,AT,SKIP LEVEL 2

In [33]:
df[df['IDMOROSO']=='CUIT33592559639']

,IDMOROSO,DATO A ENVIAR,NOMBRE,ENTIDAD A ENRIQUECER,IDMOROSO ENRIQUECIDO POR,ESTADO
2,CUIT33592559639,CUIT33592559639,MITSU CAR SA,EMPRESA,AT,PROBLEMA

In [34]:
df2[df2['IDMOROSO']=='CUIT33592559639']

            IDMOROSO                ESTADO
111  CUIT33592559639  PROBLEMA

In [29]:
df1[df1['IDMOROSO']=='CUIT33592559639']

,IDMOROSO,DATO A ENVIAR,NOMBRE,ENTIDAD A ENRIQUECER,IDMOROSO ENRIQUECIDO POR
4,CUIT33592559639,CUIT33592559639,MITSU CAR SA,EMPRESA,AT

In [39]:
df.to_excel('BSR - Datos a Enviar - 0502.xlsx',index=False)