# 1) Datasets

Leemos el dataset

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Datasets/Datasets recibidos/ENRIQ_IN_1672_20210317.xlsx',skiprows=2, header=[0,1])

In [3]:
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Cuil                Dni      Fecha de Nac. Fecha de Defuncion
0       2.700187e+10           187386.0         1929-04-02                NaN
1       2.700508e+10           507550.0         1939-03-05                NaN
2       2.704172e+10          4171534.0         1940-06-02         2020-12-15
3       2.004174e+10          4173550.0         1936-01-28                NaN
4       2.004200e+10          4200228.0         1936-12-08                NaN

  Unnamed: 4_level_0           Unnamed: 5_level_0       Unnamed: 6_level_0  \
                Sexo                      Titular                    Calle
0                  F             HERRERA ENA ELSA         REP DE VENEZUELA
1                  F         ENTRATICO IRMA CLARA               AV URUGUAY
2                  F  ITUARTE MARGARITA HORTENSIA             PJE GRANDOLI
3                  M        VISCONTI EDUARDO JUAN       JUAN JOSE VIAMONTE
4                  M       CACCHIONE MIGUEL ANGEL  BRUNO MARIANO DE ZABALA

  Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
              Numero       Piso y Depto      Codigo Postal  ...
0               3700                NaN             1211.0  ...
1                875                NaN             4400.0  ...
2               6100                NaN             1439.0  ...
3               1592                NaN             1055.0  ...
4               1706                NaN             1426.0  ...

  Contactacion Opcional (Familiar)                                          \
                        Tel Fijo 2 Celular 1 Celular 2 Celular 3 Celular 4
0                              NaN       NaN       NaN       NaN       NaN
1                              NaN       NaN       NaN       NaN       NaN
2                              NaN       NaN       NaN       NaN       NaN
3                              NaN       NaN       NaN       NaN       NaN
4                              NaN       NaN       NaN       NaN       NaN

                  Contactacion Opcional (Vecino)
  Celular 5 Email                         Nombre      Telefono  SCORE
0       NaN   NaN                            NaN           NaN    0.0
1       NaN   NaN          PATRON COSTAS GUSTAVO  3.874321e+09   34.0
2       NaN   NaN                            NaN           NaN  891.0
3       NaN   NaN                            NaN           NaN  958.0
4       NaN   NaN                            NaN           NaN  345.0

[5 rows x 226 columns]

In [4]:
df.shape

(14872, 226)

## 1.2) Data Cleaning: Datasets

Vamos a dropear aquellas columnas y filas que no tengan ningún valor (es decir, que sean todos NaNs)

In [5]:
df = df.dropna(axis=0, how='all')

In [6]:
#df = df.dropna(axis=1, how='all')

In [7]:
df.shape

(664, 226)

Ahora todas las columnas tienen al menos 1 dato.

# 2) Mails

Vamos a obtener los mails de las columnas donde pueden aparecer, que son:

- Mail 1, 2 y 3.
- Email Empleador.
- Contactacion Opcional (Familiar) - Email.

In [8]:
#df.to_excel('columns.xlsx')

In [9]:
df_reduced = df [[('Unnamed: 0_level_0','Cuil'),('Unnamed: 1_level_0','Dni'), ('Unnamed: 5_level_0','Titular')
                  ,('Unnamed: 22_level_0','Mail')
                  ,('Email Empleador', 'Unnamed: 166_level_1'), ('Contactacion Opcional (Familiar)','Email')]]

In [10]:
df_reduced.head()

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 5_level_0,Unnamed: 22_level_0,Email Empleador,Contactacion Opcional (Familiar)
,Cuil,Dni,Titular,Mail,Unnamed: 166_level_1,Email
0,2.700187e+10,187386.0,HERRERA ENA ELSA,NaN,NaN,NaN
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,NaN,NaN,NaN
2,2.704172e+10,4171534.0,ITUARTE MARGARITA HORTENSIA,NaN,NaN,NaN
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,evisconti@live.com.ar,NaN,NaN
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,gcacchione@yahoo.com,NaN,NaN

In [11]:
df_reduced.shape

(664, 6)

Eliminamos el multilevel de las columnas, y las renombramos:

In [12]:
df_reduced.columns = df_reduced.columns.droplevel()

In [13]:
df_reduced.head()

,Cuil,Dni,Titular,Mail,Unnamed: 166_level_1,Email
0,2.700187e+10,187386.0,HERRERA ENA ELSA,NaN,NaN,NaN
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,NaN,NaN,NaN
2,2.704172e+10,4171534.0,ITUARTE MARGARITA HORTENSIA,NaN,NaN,NaN
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,evisconti@live.com.ar,NaN,NaN
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,gcacchione@yahoo.com,NaN,NaN

In [14]:
df_reduced = df_reduced.rename(columns={"Cuil": "CUIT_CUIL", 'Dni': 'NRO_DOC','Unnamed: 166_level_1':'Mail_empleador','Email':'Mail_ajeno'})

In [15]:
df_reduced.head()

,CUIT_CUIL,NRO_DOC,Titular,Mail,Mail_empleador,Mail_ajeno
0,2.700187e+10,187386.0,HERRERA ENA ELSA,NaN,NaN,NaN
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,NaN,NaN,NaN
2,2.704172e+10,4171534.0,ITUARTE MARGARITA HORTENSIA,NaN,NaN,NaN
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,evisconti@live.com.ar,NaN,NaN
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,gcacchione@yahoo.com,NaN,NaN

In [16]:
df_reduced = df_reduced.rename(columns={'Mail':'Mail 1'})

# 3) Concatenación de Mails

Como PyP envía un mail por celda, tengo que concatenar las columnas Mail_propio y Mail_ajeno en una lista dentro de una nueva columna denominada "Dato"

In [17]:
df_melt= pd.melt(df_reduced, id_vars=['CUIT_CUIL', 'NRO_DOC', 'Titular'], value_vars=['Mail 1','Mail_empleador' ,'Mail_ajeno'],value_name='Dato')

In [18]:
df_melt.head()

,CUIT_CUIL,NRO_DOC,Titular,variable,Dato
0,2.700187e+10,187386.0,HERRERA ENA ELSA,Mail 1,NaN
1,2.700508e+10,507550.0,ENTRATICO IRMA CLARA,Mail 1,NaN
2,2.704172e+10,4171534.0,ITUARTE MARGARITA HORTENSIA,Mail 1,NaN
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,Mail 1,evisconti@live.com.ar
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,Mail 1,gcacchione@yahoo.com

In [19]:
#df_melt.to_excel('df_melt.xlsx')

# 4) Drop NaNs

Dropeamos aquellas filas que tengan NaN en la columna Dato, ya que no nos aporta nada:

In [20]:
df_melt = df_melt.dropna(subset=['Dato'])

In [21]:
df_melt.shape

(223, 5)

In [22]:
df_melt.head()

,CUIT_CUIL,NRO_DOC,Titular,variable,Dato
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,Mail 1,evisconti@live.com.ar
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,Mail 1,gcacchione@yahoo.com
5,2.704488e+10,4488073.0,BONZI MIRTHA CELIA,Mail 1,lilaureiro@hotmail.com
10,2.005197e+10,5196895.0,CARPINETTI JULIO ALBERTO,Mail 1,carpinettijulio@gmail.com
14,2.706161e+10,6160626.0,DEMARIA GLORIA LILIAN,Mail 1,gloridemaria2012@hotmail.com

# 5) Propietario del Dato

En función de la columna "variable" creamos una nueva columna PROPIETARIO_DATO

In [23]:
df_melt.loc[(df_melt['variable'] == 'Mail 1') , 'PROPIETARIO_DATO'] = 'Propio'

In [24]:
#df_melt.loc[(df_melt['variable'] == 'Mail 2') , 'PROPIETARIO_DATO'] = 'Propio'

In [25]:
#df_melt.loc[(df_melt['variable'] == 'Mail 3') , 'PROPIETARIO_DATO'] = 'Propio'

In [26]:
df_melt.loc[(df_melt['variable'] == 'Mail_ajeno') , 'PROPIETARIO_DATO'] = 'Ajeno_familiar'

In [27]:
df_melt.loc[(df_melt['variable'] == 'Mail_empleador') , 'PROPIETARIO_DATO'] = 'Ajeno_empleador'

In [28]:
df_melt = df_melt.drop(columns=['variable'])

In [29]:
df_melt.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,evisconti@live.com.ar,Propio
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,gcacchione@yahoo.com,Propio
5,2.704488e+10,4488073.0,BONZI MIRTHA CELIA,lilaureiro@hotmail.com,Propio
10,2.005197e+10,5196895.0,CARPINETTI JULIO ALBERTO,carpinettijulio@gmail.com,Propio
14,2.706161e+10,6160626.0,DEMARIA GLORIA LILIAN,gloridemaria2012@hotmail.com,Propio

# 6) Columna Proveedor

Agregamos la columna PROVEEDOR_DATO, con el código correspondiente.

In [30]:
cod_pyp = 'AD'

In [31]:
df_clean = df_melt.assign(PROVEEDOR_DATO=cod_pyp)

In [32]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,evisconti@live.com.ar,Propio,AD
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,gcacchione@yahoo.com,Propio,AD
5,2.704488e+10,4488073.0,BONZI MIRTHA CELIA,lilaureiro@hotmail.com,Propio,AD
10,2.005197e+10,5196895.0,CARPINETTI JULIO ALBERTO,carpinettijulio@gmail.com,Propio,AD
14,2.706161e+10,6160626.0,DEMARIA GLORIA LILIAN,gloridemaria2012@hotmail.com,Propio,AD

# 7) Columna Tipo

Agregamos la columna TIPO, con el código correspondiente

In [33]:
tipo_dato = 'EMAIL'

In [34]:
df_clean = df_clean.assign(TIPO=tipo_dato)

In [35]:
df_clean.head ()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,evisconti@live.com.ar,Propio,AD,EMAIL
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,gcacchione@yahoo.com,Propio,AD,EMAIL
5,2.704488e+10,4488073.0,BONZI MIRTHA CELIA,lilaureiro@hotmail.com,Propio,AD,EMAIL
10,2.005197e+10,5196895.0,CARPINETTI JULIO ALBERTO,carpinettijulio@gmail.com,Propio,AD,EMAIL
14,2.706161e+10,6160626.0,DEMARIA GLORIA LILIAN,gloridemaria2012@hotmail.com,Propio,AD,EMAIL

# 8) Columna Subtipo

Agregamos la columna SUBTIPO, que va a contener información sobre el tipo de mail que se encuentra en el campo Dato.

- Personal: @yahoo, @gmail, @hotmail, @outlook, @live.
- Laboral: el resto.

Verificamos que la string contenga esos casos:

In [36]:
df_clean.loc[(df_clean['Dato'].str.contains('@yahoo', na=False)) | 
             (df_clean['Dato'].str.contains('@gmail', na=False)) |
             (df_clean['Dato'].str.contains('@outlook', na=False)) |
             (df_clean['Dato'].str.contains('@hotmail', na=False)) |
             (df_clean['Dato'].str.contains('@live', na=False)) , 'SUBTIPO'] = 'PERSONAL'

Para los mails laborales, evaluamos los casos contrarios:

In [37]:
df_clean.loc[~(df_clean['Dato'].str.contains('@yahoo', na=False)) & 
             ~(df_clean['Dato'].str.contains('@gmail', na=False)) &
             ~(df_clean['Dato'].str.contains('@outlook', na=False)) &
             ~(df_clean['Dato'].str.contains('@hotmail', na=False)) &
             ~(df_clean['Dato'].str.contains('@live', na=False)) , 'SUBTIPO'] = 'LABORAL'

In [38]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,evisconti@live.com.ar,Propio,AD,EMAIL,PERSONAL
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,gcacchione@yahoo.com,Propio,AD,EMAIL,PERSONAL
5,2.704488e+10,4488073.0,BONZI MIRTHA CELIA,lilaureiro@hotmail.com,Propio,AD,EMAIL,PERSONAL
10,2.005197e+10,5196895.0,CARPINETTI JULIO ALBERTO,carpinettijulio@gmail.com,Propio,AD,EMAIL,PERSONAL
14,2.706161e+10,6160626.0,DEMARIA GLORIA LILIAN,gloridemaria2012@hotmail.com,Propio,AD,EMAIL,PERSONAL

# 9) Columna Score

El campo **Score** se construye en función de los datos obtenidos:

- Nivel 4: Dato que otorga la propia persona.
- Nivel 3: Dato que otorgan los clientes (los bancos).
- Nivel 2: Dato que otorga un proveedor externo (Informes Digitales en este caso), con subtipo "Personal".
- Nivel 1: Dato que otorga un proveedor externo, pero tiene como subtipo "Laboral".

In [39]:
# Nivel 1: Laboral, proveedor externo.

df_clean.loc[(df_clean['SUBTIPO'] == 'LABORAL') , 'SCORE_DATO'] = 1

In [40]:
# Nivel 2: Personal, proveedor externo.

df_clean.loc[(df_clean['SUBTIPO'] == 'PERSONAL') , 'SCORE_DATO'] = 2

In [41]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,evisconti@live.com.ar,Propio,AD,EMAIL,PERSONAL,2.0
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,gcacchione@yahoo.com,Propio,AD,EMAIL,PERSONAL,2.0
5,2.704488e+10,4488073.0,BONZI MIRTHA CELIA,lilaureiro@hotmail.com,Propio,AD,EMAIL,PERSONAL,2.0
10,2.005197e+10,5196895.0,CARPINETTI JULIO ALBERTO,carpinettijulio@gmail.com,Propio,AD,EMAIL,PERSONAL,2.0
14,2.706161e+10,6160626.0,DEMARIA GLORIA LILIAN,gloridemaria2012@hotmail.com,Propio,AD,EMAIL,PERSONAL,2.0

# 10) Columna Fecha

Para el campo FECHA_INGRESO_DATO, usamos la fecha en la que se hace la inserción de los datos:

In [42]:
fecha_ingreso = pd.to_datetime('today')

In [43]:
df_clean = df_clean.assign(FECHA_INGRESO_DATO=fecha_ingreso)

In [44]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO
3,2.004174e+10,4173550.0,VISCONTI EDUARDO JUAN,evisconti@live.com.ar,Propio,AD,EMAIL,PERSONAL,2.0,2021-03-18 11:43:14.399932
4,2.004200e+10,4200228.0,CACCHIONE MIGUEL ANGEL,gcacchione@yahoo.com,Propio,AD,EMAIL,PERSONAL,2.0,2021-03-18 11:43:14.399932
5,2.704488e+10,4488073.0,BONZI MIRTHA CELIA,lilaureiro@hotmail.com,Propio,AD,EMAIL,PERSONAL,2.0,2021-03-18 11:43:14.399932
10,2.005197e+10,5196895.0,CARPINETTI JULIO ALBERTO,carpinettijulio@gmail.com,Propio,AD,EMAIL,PERSONAL,2.0,2021-03-18 11:43:14.399932
14,2.706161e+10,6160626.0,DEMARIA GLORIA LILIAN,gloridemaria2012@hotmail.com,Propio,AD,EMAIL,PERSONAL,2.0,2021-03-18 11:43:14.399932

# 11) Campos adicionales

Creamos las columnas VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, que en principio van en nulls.

In [45]:
df_clean['VERIFICADO'] = 0

In [46]:
df_clean['FECHA_VERIFICACION'] = np.nan

In [47]:
df_clean['OPERADOR_VERIFICACION'] = np.nan

# 12) Concatenación con .csv enviado

Vamos a concatenar nuestro dataframe con el dataframe enviado para enriquecer. Para esto, vamos a hacer una limpieza inicial de cómo se enviaron esos datos. Finalmente, se uniran ambos dataframes por __DNI__.

## 12.1) Dataset

Vamos a analizar y limpiar el dataset enviado para el enriquecimiento:

In [48]:
df_pyp = pd.read_csv('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Datasets/Datasets enviados/Envio Insiders - Estado-IDCliente - 1603.csv')

In [49]:
df_pyp.head()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO,FILTROA,DATOADIC
0,DNI 14384837,ACOSTA MARIA CRISTINA,FRANCES_2012,NO VISTO,3 - Ag 3ra,NaN
1,DNI 33803357,CARRASCO SERGIO DAMIAN,FRANCES_2012,NO VISTO,1 - Ag 1ra,NaN
2,DNI 34570749,TOLDI PRESENTADO SOLANGE GISELLE,FRANCES_2012,NO VISTO,1 - Ag 1ra,NaN
3,DNI 36991995,ANTECAO MAURO LEANDRO,FRANCES_2012,NO VISTO,2 - Ag 2ra,NaN
4,DNI 40359046,VATTOVAZ VICTORIA,FRANCES_2012,NO VISTO,1 - Ag 1ra,NaN

Creamos una columna que contenga IDMOROSO + DATOADIC según corresponda

In [50]:
df_pyp.loc[(df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['DATOADIC']

In [51]:
df_pyp.loc[(~df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['IDMOROSO']

In [52]:
#df_pyp ['NRO_DOC'] = df_pyp ['IDMOROSO']

In [53]:
#df_pyp = df_pyp [['IDMOROSO','NOMBRE','IDCLIENTE','NRO_DOC']]
df_pyp = df_pyp [['IDMOROSO','IDCLIENTE','NRO_DOC']]

In [54]:
df_pyp.head()

             IDMOROSO             IDCLIENTE             NRO_DOC
0  DNI 14384837        FRANCES_2012          DNI 14384837
1  DNI 33803357        FRANCES_2012          DNI 33803357
2  DNI 34570749        FRANCES_2012          DNI 34570749
3  DNI 36991995        FRANCES_2012          DNI 36991995
4  DNI 40359046        FRANCES_2012          DNI 40359046

In [55]:
df_pyp = df_pyp.dropna(subset=['NRO_DOC'])

## 12.2) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurídica__ (TO DO)

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos. Esta función debe ejecutarse en primer lugar.
- __DNI Spaces__: Elimina los espacios.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: Decisión sobre dejar un cuit o volverlo DNI

In [56]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [57]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [58]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
        
    else:
        dni = string_dni
        
    return dni

In [59]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [60]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [61]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [62]:
df_pyp['NRO_DOC'] = [(str(df_pyp['NRO_DOC'][i]).strip()) for i in range (df_pyp['NRO_DOC'].count())]

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [63]:
df_pyp['TIPO_DOC'] = [tipo_doc_1(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para la limpieza de DNIs:

In [64]:
df_pyp['NRO_DOC'] = [standard_dni(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [65]:
df_pyp['NRO_DOC'] = [dni_characters(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [66]:
df_pyp['NRO_DOC'] = [cuit(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [67]:
df_pyp['NRO_DOC'] = [dni_zero(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [68]:
df_pyp['TIPO_DOC'] = [tipo_doc_2(df_pyp['NRO_DOC'][i],df_pyp['TIPO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [69]:
df_pyp.head()

             IDMOROSO             IDCLIENTE   NRO_DOC TIPO_DOC
0  DNI 14384837        FRANCES_2012          14384837      DNI
1  DNI 33803357        FRANCES_2012          33803357      DNI
2  DNI 34570749        FRANCES_2012          34570749      DNI
3  DNI 36991995        FRANCES_2012          36991995      DNI
4  DNI 40359046        FRANCES_2012          40359046      DNI

# 13) Union de Dataframes

Se unen ambos dataframes en la columna NRO_DOC

Convertimos la columna NRO_DOC de objeto a INT para hacer la unión

In [70]:
df_clean = df_clean.astype({'NRO_DOC': 'str'})

In [71]:
df_clean ['NRO_DOC'] = df_clean ['NRO_DOC'].str.split('.').str[0]

In [72]:
df_union = pd.merge(df_clean,df_pyp, on='NRO_DOC', how='inner')

In [73]:
df_union.shape

(225, 16)

In [74]:
df_union.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,IDMOROSO,IDCLIENTE,TIPO_DOC
0,2.004174e+10,4173550,VISCONTI EDUARDO JUAN,evisconti@live.com.ar,Propio,AD,EMAIL,PERSONAL,2.0,2021-03-18 11:43:14.399932,0,NaN,NaN,RMS379977155103007,AMEX_TNLM,DNI
1,2.004200e+10,4200228,CACCHIONE MIGUEL ANGEL,gcacchione@yahoo.com,Propio,AD,EMAIL,PERSONAL,2.0,2021-03-18 11:43:14.399932,0,NaN,NaN,RMS376414200421005,AMEX_TNRM,DNI
2,2.704488e+10,4488073,BONZI MIRTHA CELIA,lilaureiro@hotmail.com,Propio,AD,EMAIL,PERSONAL,2.0,2021-03-18 11:43:14.399932,0,NaN,NaN,RMS376710794971002,AMEX_ALHR,DNI
3,2.704488e+10,4488073,BONZI MIRTHA CELIA,2marfil@live.com.ar,Ajeno_empleador,AD,EMAIL,PERSONAL,2.0,2021-03-18 11:43:14.399932,0,NaN,NaN,RMS376710794971002,AMEX_ALHR,DNI
4,2.005197e+10,5196895,CARPINETTI JULIO ALBERTO,carpinettijulio@gmail.com,Propio,AD,EMAIL,PERSONAL,2.0,2021-03-18 11:43:14.399932,0,NaN,NaN,RMS376415882132000,AMEX_PBRM,DNI

# 14) Export

Renombramos, dropeamos y reordenamos las columnas

In [75]:
df_union = df_union.rename(columns = {'Dato':'DATO'})

Dropeamos columnas que no nos sirven

In [76]:
df_export = df_union.drop(columns=['IDCLIENTE'], axis=0)

In [77]:
df_export = df_export[['IDMOROSO', 'TIPO_DOC','NRO_DOC','CUIT_CUIL','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO','PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO','FECHA_VERIFICACION','OPERADOR_VERIFICACION','SCORE_DATO']]

In [78]:
df_export.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,RMS379977155103007,DNI,4173550,2.004174e+10,EMAIL,PERSONAL,evisconti@live.com.ar,Propio,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0
1,RMS376414200421005,DNI,4200228,2.004200e+10,EMAIL,PERSONAL,gcacchione@yahoo.com,Propio,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0
2,RMS376710794971002,DNI,4488073,2.704488e+10,EMAIL,PERSONAL,lilaureiro@hotmail.com,Propio,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0
3,RMS376710794971002,DNI,4488073,2.704488e+10,EMAIL,PERSONAL,2marfil@live.com.ar,Ajeno_empleador,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0
4,RMS376415882132000,DNI,5196895,2.005197e+10,EMAIL,PERSONAL,carpinettijulio@gmail.com,Propio,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0

In [79]:
df_export.shape

(225, 14)

Número a str para no tener problemas con la inserción

In [80]:
df_export['CUIT_CUIL'] = [(str(int(round(df_export['CUIT_CUIL'][i],0)))) for i in range (df_export['CUIT_CUIL'].count())]

In [81]:
df_export.tail()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
220,RMS376686863222008,DNI,17588606,27175886066,EMAIL,PERSONAL,jorgecatan@hotmail.com,Ajeno_familiar,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0
221,DNI 18245569,DNI,18245569,20182455696,EMAIL,PERSONAL,estudio.julia@gmail.com,Ajeno_familiar,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0
222,RMS376710733791008,DNI,37537598,20375375983,EMAIL,PERSONAL,pato_pds@hotmail.com,Ajeno_familiar,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0
223,DNI 41702906,DNI,41702906,20417029061,EMAIL,PERSONAL,marianofirpo@hotmail.com,Ajeno_familiar,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0
224,DNI 42585952,DNI,42585952,20425859529,EMAIL,PERSONAL,maxilartigue@gmail.com,Ajeno_familiar,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0

Dropeamos filas duplicadas

In [82]:
df_export = df_export.drop_duplicates()

In [83]:
df_export.shape

(225, 14)

## Dato a str + strip()

In [84]:
df_export ['DATO'] = df_export['DATO'].str.strip()

# Revisión de duplicados

In [85]:
duplicates_subset = df_export[df_export.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [86]:
duplicates_subset

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
37,RMS379975022111005,DNI,17824698,23178246984,EMAIL,PERSONAL,lecita2830@hotmail.com,Propio,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0
38,RMS379975022111005,DNI,17824698,23178246984,EMAIL,PERSONAL,lecita2830@hotmail.com,Ajeno_familiar,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0
59,RMS376411672956005,DNI,23703051,20237030517,EMAIL,PERSONAL,jorgebenafit@hotmail.com,Propio,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0
60,RMS376411672956005,DNI,23703051,20237030517,EMAIL,PERSONAL,jorgebenafit@hotmail.com,Ajeno_familiar,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0
87,RMS376418687472001,DNI,29656827,23296568279,EMAIL,PERSONAL,diegolivio@gmail.com,Propio,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0
88,RMS376418687472001,DNI,29656827,23296568279,EMAIL,PERSONAL,diegolivio@gmail.com,Ajeno_familiar,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0
106,RMS376414956232002,DNI,34308233,27343082334,EMAIL,PERSONAL,agustinabenedetti@hotmail.com,Propio,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0
108,RMS376414956232002,DNI,34308233,27343082334,EMAIL,PERSONAL,agustinabenedetti@hotmail.com,Ajeno_familiar,AD,2021-03-18 11:43:14.399932,0,NaN,NaN,2.0

Tenemos pocos duplicados, lo solucionamos manualmente

In [87]:
duplicates_subset.shape

(8, 14)

In [88]:
df_export = df_export.drop([38,60,88,108])

In [89]:
df_export.shape

(221, 14)

## 14.2) Insert a tabla DAM_CONTACTABILIDAD:

In [90]:
df_export.to_csv('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Exports/DAM_CONTACTABILIDAD/Insiders_DAM_CONTACTABILIDAD_mails_1803.csv',index=False)