In [1]:
import pandas as pd
import numpy as np

# LOG

# 1. Datos enviados

In [2]:
df_log = pd.read_csv('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Contacto Directo/Datasets/Datasets enviados/cartera_completa_estado_idcliente - 0103.csv')

In [3]:
df_log.head()

,IDMOROSO,DATOADIC,NOMBRE,IDCLIENTE,ESTADO,DNI
0,CUIT20115091280,,SUCESION DE CAISUTTI MIGUEL,BSR_TARDIA,SKIP LEVEL 2,CUIT20115091280
1,CUIT30500181547,,LITOGRAFIA CUYO SA,BSR_TARDIA,PROBLEMA,CUIT30500181547
2,CUIT30501109041,,EMEGE SA,BSR_TARDIA,NO UBICADO,CUIT30501109041
3,CUIT30502016373,,IATILO SA,BSR_TARDIA,NO UBICADO,CUIT30502016373
4,CUIT30502766917,,MAZTER INDUSTR MADERIL SACIFI,BSR_TARDIA,INTERESADO_MOPCPAGOS,CUIT30502766917

In [4]:
df_log = df_log.rename(columns={"ESTADO": "ESTADO_ANTERIOR"})

In [5]:
#df_log = df_log [['IDMOROSO','IDCLIENTE','DATOADIC','ESTADO_ANTERIOR']]
df_log = df_log [['IDMOROSO','IDCLIENTE','ESTADO_ANTERIOR','DNI']]

In [6]:
fecha_envio_log = '2021-02-23'

In [7]:
fecha_insercion_log = '2021-03-02'

In [8]:
fecha_estados_log = '2021-03-02'

In [9]:
df_log = df_log.assign(FECHA_ENVIO_ENRIQUECIMIENTO=fecha_envio_log)

In [10]:
df_log = df_log.assign(FECHA_INSERCION_DATO=fecha_insercion_log)

In [11]:
df_log = df_log.assign(FECHA_CAMBIO_ESTADO=fecha_estados_log)

In [12]:
df_log.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,DNI,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO
0,CUIT20115091280,BSR_TARDIA,SKIP LEVEL 2,CUIT20115091280,2021-02-23,2021-03-02,2021-03-02
1,CUIT30500181547,BSR_TARDIA,PROBLEMA,CUIT30500181547,2021-02-23,2021-03-02,2021-03-02
2,CUIT30501109041,BSR_TARDIA,NO UBICADO,CUIT30501109041,2021-02-23,2021-03-02,2021-03-02
3,CUIT30502016373,BSR_TARDIA,NO UBICADO,CUIT30502016373,2021-02-23,2021-03-02,2021-03-02
4,CUIT30502766917,BSR_TARDIA,INTERESADO_MOPCPAGOS,CUIT30502766917,2021-02-23,2021-03-02,2021-03-02

In [13]:
df_log = df_log.assign(PROVEEDOR='CD')

In [14]:
df_log['ESTADO_ANTERIOR'] = [(str(df_log['ESTADO_ANTERIOR'][i]).strip()) for i in range (df_log['ESTADO_ANTERIOR'].count())]

In [15]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'INTERESADO') | 
           (df_log['ESTADO_ANTERIOR'] == 'NO VISTO') | 
           (df_log['ESTADO_ANTERIOR'] == 'EN GESTION') |
           (df_log['ESTADO_ANTERIOR'] == 'ASIGNADO') |
           (df_log['ESTADO_ANTERIOR'] == 'ROTACION') |
           (df_log['ESTADO_ANTERIOR'] == 'ASIGNADO') |
           (df_log['ESTADO_ANTERIOR'] == 'PLAN V') |
           (df_log['ESTADO_ANTERIOR'] == 'NO INTERESADO') |
           (df_log['ESTADO_ANTERIOR'] == 'ACUERDO CAIDO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO_RECHAZADA') 
           , 'CATEGORIA'] = 'NEUTRO'

In [16]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'NO UBICADO') | 
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 1') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 1 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 2') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 3') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL 3 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL3 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL1 OK') |
           (df_log['ESTADO_ANTERIOR'] == 'SKIP LEVEL1') |
           (df_log['ESTADO_ANTERIOR'] == 'NO_VISTO_CONTACTABLE') |
           (df_log['ESTADO_ANTERIOR'] == 'NO_VISTO_MASIVO') 
           , 'CATEGORIA'] = 'NEGATIVO POR CONTACTABILIDAD'

In [17]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'PAGO PARCIAL') | 
           (df_log['ESTADO_ANTERIOR'] == 'PLAN DE PAGOS') |
           (df_log['ESTADO_ANTERIOR'] == 'POSIBLE REFI') |
           (df_log['ESTADO_ANTERIOR'] == 'REFINANCIACION') |
           (df_log['ESTADO_ANTERIOR'] == 'PROPUESTA') |
           (df_log['ESTADO_ANTERIOR'] == 'PROPUESTA OK') |
           (df_log['ESTADO_ANTERIOR'] == 'COMPROMISO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO_DEVUELTO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO DEVUELTO') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO FULL') |
           (df_log['ESTADO_ANTERIOR'] == 'CANCELO SIN ACP') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA'

In [18]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'CONVENIO') | 
           (df_log['ESTADO_ANTERIOR'] == 'CONVENIO QUITA') |
           (df_log['ESTADO_ANTERIOR'] == 'NUEVOS CARGOS') |
           (df_log['ESTADO_ANTERIOR'] == 'CONVENIO_QUITA') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA SOBRE COUTA'

In [19]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'PROPUESTA REFI') | 
           (df_log['ESTADO_ANTERIOR'] == 'REFI ARMADA') |
           (df_log['ESTADO_ANTERIOR'] == 'REFI EN TRAMITE') |
           (df_log['ESTADO_ANTERIOR'] == 'REFI A LIQUIDAR') 
           , 'CATEGORIA'] = 'POSITIVO CON CAJA CON REFI PENDIENTE DE LIQUIDACIO'

In [20]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'REFI APROBADA') | 
           (df_log['ESTADO_ANTERIOR'] == 'DEVUELTO/CANCELO CON COBRO DE HONORARIO PENDIENTE')
           , 'CATEGORIA'] = 'POSITIVO CON CAJA CON REFI/CANCELACIÓN LIQUIDADA'

In [21]:
df_log.loc[(df_log['ESTADO_ANTERIOR'] == 'DEVUELTO') | 
           (df_log['ESTADO_ANTERIOR'] == 'FALLECIDO') |
           (df_log['ESTADO_ANTERIOR'] == 'PROBLEMA') |
           (df_log['ESTADO_ANTERIOR'] == 'SALDO INSOLUTO') |
           (df_log['ESTADO_ANTERIOR'] == 'NO GESTIONAR') 
           , 'CATEGORIA'] = 'INACTIVO'

In [22]:
df_log.shape

(58665, 9)

In [23]:
df_log.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,DNI,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA
0,CUIT20115091280,BSR_TARDIA,SKIP LEVEL 2,CUIT20115091280,2021-02-23,2021-03-02,2021-03-02,CD,NEGATIVO POR CONTACTABILIDAD
1,CUIT30500181547,BSR_TARDIA,PROBLEMA,CUIT30500181547,2021-02-23,2021-03-02,2021-03-02,CD,INACTIVO
2,CUIT30501109041,BSR_TARDIA,NO UBICADO,CUIT30501109041,2021-02-23,2021-03-02,2021-03-02,CD,NEGATIVO POR CONTACTABILIDAD
3,CUIT30502016373,BSR_TARDIA,NO UBICADO,CUIT30502016373,2021-02-23,2021-03-02,2021-03-02,CD,NEGATIVO POR CONTACTABILIDAD
4,CUIT30502766917,BSR_TARDIA,INTERESADO_MOPCPAGOS,CUIT30502766917,2021-02-23,2021-03-02,2021-03-02,CD,NaN

## 2. Devolución

Levantamos los DNIs desde el archivo que devuelve el proveedor para cruzar contra los IDs y ver cuáles están enriquecidos.

In [24]:
df_pyp = pd.read_csv('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Contacto Directo/Datasets/Datasets Recibidos/ContactoDirecto_Insertados_DAM_CONTACTABILIDAD.csv')

In [25]:
df_pyp.tail()

                IDMOROSO             IDCLIENTE
4593  RMS376711790461006  AMEX_UPGRADE
4594  RMS376711847221007  AMEX_PELM
4595  RMS379977383142009  AMEX_PBLM
4596  RMS379977428142006  AMEX_TNLM
4597  RMS379977428142006  AMEX_UPGRADE

In [26]:
df_pyp.shape

(4598, 2)

Eliminamos duplicados

In [27]:
df_reduced = df_pyp.drop_duplicates()

In [28]:
df_reduced.head()

             IDMOROSO             IDCLIENTE
0  CUIT30516256385     BSR_TARDIA
1  CUIT30679032492     BSR_TARDIA
2  CUIT30681758182     BSR_TARDIA
3  CUIT30691268086     BSR_TARDIA
4  CUIT30691709597     BSR_TARDIA

In [29]:
df_reduced.shape

(4598, 2)

# 13) Union de Dataframes

Se unen ambos dataframes en la columna IDMOROSO

Convertimos la columna NRO_DOC de objeto a INT para hacer la unión

In [30]:
df_reduced ['IDCLIENTE'] = df_reduced['IDCLIENTE'].str.strip()

In [31]:
df_log ['IDCLIENTE'] = df_log['IDCLIENTE'].str.strip()

In [32]:
df_union = pd.merge(df_reduced,df_log , on=['IDMOROSO','IDCLIENTE'], how='left')

In [33]:
df_union.shape

(4598, 9)

In [34]:
df_union.tail()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,DNI,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA
4593,RMS376711790461006,AMEX_UPGRADE,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4594,RMS376711847221007,AMEX_PELM,CANCELO FULL,20247597736,2021-02-23,2021-03-02,2021-03-02,CD,POSITIVO CON CAJA
4595,RMS379977383142009,AMEX_PBLM,CANCELO FULL,20243304610,2021-02-23,2021-03-02,2021-03-02,CD,POSITIVO CON CAJA
4596,RMS379977428142006,AMEX_TNLM,CANCELO FULL,20222697272,2021-02-23,2021-03-02,2021-03-02,CD,POSITIVO CON CAJA
4597,RMS379977428142006,AMEX_UPGRADE,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
df_union = df_union.assign(FECHA_ENVIO_ENRIQUECIMIENTO=fecha_envio_log)
df_union = df_union.assign(FECHA_INSERCION_DATO=fecha_insercion_log)
df_union = df_union.assign(FECHA_CAMBIO_ESTADO=fecha_estados_log)
df_union = df_union.assign(PROVEEDOR='CD')

Asignamos estado nan a aquellos IDClientes que no conocíamos el estado antes de enriquecer

In [36]:
df_clean = df_union.drop_duplicates()

In [37]:
df_clean.shape

(4598, 9)

## Nuevo Estado

Como no se usaron nuevos estados, se deja en nulo

In [38]:
df_clean = df_clean.assign(NUEVO_ESTADO=np.nan)

## Enriquecido

Nota: sólo estoy mirando los enriquecidos. Si no se enriqueció, no lo mando al LOG.

In [39]:
df_clean = df_clean.assign(ENRIQUECIDO=1)

In [40]:
df_clean.tail()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,DNI,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR,CATEGORIA,NUEVO_ESTADO,ENRIQUECIDO
4593,RMS376711790461006,AMEX_UPGRADE,NaN,NaN,2021-02-23,2021-03-02,2021-03-02,CD,NaN,NaN,1
4594,RMS376711847221007,AMEX_PELM,CANCELO FULL,20247597736,2021-02-23,2021-03-02,2021-03-02,CD,POSITIVO CON CAJA,NaN,1
4595,RMS379977383142009,AMEX_PBLM,CANCELO FULL,20243304610,2021-02-23,2021-03-02,2021-03-02,CD,POSITIVO CON CAJA,NaN,1
4596,RMS379977428142006,AMEX_TNLM,CANCELO FULL,20222697272,2021-02-23,2021-03-02,2021-03-02,CD,POSITIVO CON CAJA,NaN,1
4597,RMS379977428142006,AMEX_UPGRADE,NaN,NaN,2021-02-23,2021-03-02,2021-03-02,CD,NaN,NaN,1

In [41]:
df_clean = df_clean [['IDMOROSO','IDCLIENTE','ESTADO_ANTERIOR','CATEGORIA','NUEVO_ESTADO','ENRIQUECIDO','FECHA_ENVIO_ENRIQUECIMIENTO','FECHA_INSERCION_DATO','FECHA_CAMBIO_ESTADO','PROVEEDOR']]

In [42]:
df_clean.head()

,IDMOROSO,IDCLIENTE,ESTADO_ANTERIOR,CATEGORIA,NUEVO_ESTADO,ENRIQUECIDO,FECHA_ENVIO_ENRIQUECIMIENTO,FECHA_INSERCION_DATO,FECHA_CAMBIO_ESTADO,PROVEEDOR
0,CUIT30516256385,BSR_TARDIA,NO UBICADO,NEGATIVO POR CONTACTABILIDAD,NaN,1,2021-02-23,2021-03-02,2021-03-02,CD
1,CUIT30679032492,BSR_TARDIA,INTERESADO,NEUTRO,NaN,1,2021-02-23,2021-03-02,2021-03-02,CD
2,CUIT30681758182,BSR_TARDIA,NO UBICADO,NEGATIVO POR CONTACTABILIDAD,NaN,1,2021-02-23,2021-03-02,2021-03-02,CD
3,CUIT30691268086,BSR_TARDIA,SKIP LEVEL 2,NEGATIVO POR CONTACTABILIDAD,NaN,1,2021-02-23,2021-03-02,2021-03-02,CD
4,CUIT30691709597,BSR_TARDIA,SKIP LEVEL 2,NEGATIVO POR CONTACTABILIDAD,NaN,1,2021-02-23,2021-03-02,2021-03-02,CD

In [43]:
df_clean.shape

(4598, 10)

# Export

In [44]:
df_clean.to_csv('/mnt/c/Users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Contacto Directo/Exports/DAM_LOG/CD_ENRIQUECIDOS_DAM_LOG - 0403.csv',index=False)