# 1) Datasets

Vamos a leer el dataset que envía PyP

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_excel('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Datasets/Datasets recibidos/ENRIQ_IN_1478_20210224.xlsx',skiprows=2, header=[0,1])

In [3]:
df.head()

  Unnamed: 0_level_0 Unnamed: 1_level_0 Unnamed: 2_level_0 Unnamed: 3_level_0  \
                Cuil                Dni      Fecha de Nac. Fecha de Defuncion
0        27050862394            5086239         1945-01-29                NaN
1        27063828276            6382827         1950-04-05                NaN
2        27105494225           10549422         1952-05-29                NaN
3        20119346550           11934655         1956-01-18                NaN
4        20144786581           14478658         1961-01-01                NaN

  Unnamed: 4_level_0      Unnamed: 5_level_0        Unnamed: 6_level_0  \
                Sexo                 Titular                     Calle
0                  F  GOITEA GLADIS ADELVINA        AV ANTONIO FILARDI
1                  F    VILLEGAS MARIA NORMA                   AREVALO
2                  F     SAAVEDRA MARIA ROSA                     RAUCH
3                  M    FUENTES HECTOR RUBEN  AV DR HONORIO PUEYRREDON
4                  M    GUDIÑO ALBERTO RAMON                  BELGRANO

  Unnamed: 7_level_0 Unnamed: 8_level_0 Unnamed: 9_level_0  ...  \
              Numero       Piso y Depto      Codigo Postal  ...
0                680                NaN               1821  ...
1               4189                NaN               1613  ...
2                 63                NaN               2812  ...
3               2947                NaN               1631  ...
4                385                NaN               5113  ...

  Contactacion Opcional (Familiar)                                          \
                        Tel Fijo 2 Celular 1 Celular 2 Celular 3 Celular 4
0                              NaN       NaN       NaN       NaN       NaN
1                              NaN       NaN       NaN       NaN       NaN
2                              NaN       NaN       NaN       NaN       NaN
3                              NaN       NaN       NaN       NaN       NaN
4                              NaN       NaN       NaN       NaN       NaN

                  Contactacion Opcional (Vecino)
  Celular 5 Email                         Nombre      Telefono SCORE
0       NaN   NaN                            NaN           NaN    34
1       NaN   NaN                            NaN           NaN   908
2       NaN   NaN          GOMEZ DE COSSI NORA B  2.323493e+09   932
3       NaN   NaN                            NaN           NaN   928
4       NaN   NaN                            NaN           NaN   935

[5 rows x 224 columns]

In [4]:
df.shape

(187, 224)

## 1.2) Data Cleaning: Datasets

Vamos a dropear aquellas columnas y filas que no tengan ningún valor (es decir, que sean todos NaNs)

In [5]:
df = df.dropna(axis=0, how='all')

In [6]:
#df = df.dropna(axis=1, how='all')

In [7]:
df.shape

(187, 224)

Ahora todas las columnas tienen al menos 1 dato.

# 2) Mails

Vamos a obtener los mails de las columnas donde pueden aparecer, que son:

- Mail 1, 2 y 3.
- Email Empleador.
- Contactacion Opcional (Familiar) - Email.

In [8]:
#df.to_excel('columns.xlsx')

In [9]:
df_reduced = df [[('Unnamed: 0_level_0','Cuil'),('Unnamed: 1_level_0','Dni'), ('Unnamed: 5_level_0','Titular')
                  ,('Unnamed: 22_level_0','Mail')
                  ,('Email Empleador', 'Unnamed: 164_level_1'), ('Contactacion Opcional (Familiar)','Email')]]

In [10]:
df_reduced.head()

,Unnamed: 0_level_0,Unnamed: 1_level_0,Unnamed: 5_level_0,Unnamed: 22_level_0,Email Empleador,Contactacion Opcional (Familiar)
,Cuil,Dni,Titular,Mail,Unnamed: 164_level_1,Email
0,27050862394,5086239,GOITEA GLADIS ADELVINA,NaN,NaN,NaN
1,27063828276,6382827,VILLEGAS MARIA NORMA,NaN,NaN,NaN
2,27105494225,10549422,SAAVEDRA MARIA ROSA,NaN,NaN,NaN
3,20119346550,11934655,FUENTES HECTOR RUBEN,NaN,NaN,NaN
4,20144786581,14478658,GUDIÑO ALBERTO RAMON,NaN,NaN,NaN

In [11]:
df_reduced.shape

(187, 6)

Eliminamos el multilevel de las columnas, y las renombramos:

In [12]:
df_reduced.columns = df_reduced.columns.droplevel()

In [13]:
df_reduced.head()

,Cuil,Dni,Titular,Mail,Unnamed: 164_level_1,Email
0,27050862394,5086239,GOITEA GLADIS ADELVINA,NaN,NaN,NaN
1,27063828276,6382827,VILLEGAS MARIA NORMA,NaN,NaN,NaN
2,27105494225,10549422,SAAVEDRA MARIA ROSA,NaN,NaN,NaN
3,20119346550,11934655,FUENTES HECTOR RUBEN,NaN,NaN,NaN
4,20144786581,14478658,GUDIÑO ALBERTO RAMON,NaN,NaN,NaN

In [14]:
df_reduced = df_reduced.rename(columns={"Cuil": "CUIT_CUIL", 'Dni': 'NRO_DOC','Unnamed: 164_level_1':'Mail_empleador','Email':'Mail_ajeno'})

In [15]:
df_reduced.head()

,CUIT_CUIL,NRO_DOC,Titular,Mail,Mail_empleador,Mail_ajeno
0,27050862394,5086239,GOITEA GLADIS ADELVINA,NaN,NaN,NaN
1,27063828276,6382827,VILLEGAS MARIA NORMA,NaN,NaN,NaN
2,27105494225,10549422,SAAVEDRA MARIA ROSA,NaN,NaN,NaN
3,20119346550,11934655,FUENTES HECTOR RUBEN,NaN,NaN,NaN
4,20144786581,14478658,GUDIÑO ALBERTO RAMON,NaN,NaN,NaN

In [16]:
df_reduced = df_reduced.rename(columns={'Mail':'Mail 1'})

# 3) Concatenación de Mails

Como PyP envía un mail por celda, tengo que concatenar las columnas Mail_propio y Mail_ajeno en una lista dentro de una nueva columna denominada "Dato"

In [17]:
df_melt= pd.melt(df_reduced, id_vars=['CUIT_CUIL', 'NRO_DOC', 'Titular'], value_vars=['Mail 1','Mail_empleador' ,'Mail_ajeno'],value_name='Dato')

In [18]:
df_melt.head()

     CUIT_CUIL   NRO_DOC                 Titular variable Dato
0  27050862394   5086239  GOITEA GLADIS ADELVINA   Mail 1  NaN
1  27063828276   6382827    VILLEGAS MARIA NORMA   Mail 1  NaN
2  27105494225  10549422     SAAVEDRA MARIA ROSA   Mail 1  NaN
3  20119346550  11934655    FUENTES HECTOR RUBEN   Mail 1  NaN
4  20144786581  14478658    GUDIÑO ALBERTO RAMON   Mail 1  NaN

In [19]:
#df_melt.to_excel('df_melt.xlsx')

# 4) Drop NaNs

Dropeamos aquellas filas que tengan NaN en la columna Dato, ya que no nos aporta nada:

In [20]:
df_melt = df_melt.dropna(subset=['Dato'])

In [21]:
df_melt.shape

(37, 5)

In [22]:
df_melt.head()

,CUIT_CUIL,NRO_DOC,Titular,variable,Dato
17,27203466884,20346688,BARBOZA ROXANA ANDREA,Mail 1,sandisanagustin@hotmail.com.ar
54,27302314115,30231411,GROH MARIELA LILIANA,Mail 1,marielagroh@hotmail.com
62,20313808948,31380894,SPAGNOLLO LEONARDO JOSE,Mail 1,lespagnollo@hotmail.com
68,27327986428,32798642,PARED SUSANA SOLEDAD,Mail 1,santiniescalada@hotmail.com
72,27335616028,33561602,BORDES ROMINA NOEMI,Mail 1,romina_bordes@hotmail.com

# 5) Propietario del Dato

En función de la columna "variable" creamos una nueva columna PROPIETARIO_DATO

In [23]:
df_melt.loc[(df_melt['variable'] == 'Mail 1') , 'PROPIETARIO_DATO'] = 'Propio'

In [24]:
#df_melt.loc[(df_melt['variable'] == 'Mail 2') , 'PROPIETARIO_DATO'] = 'Propio'

In [25]:
#df_melt.loc[(df_melt['variable'] == 'Mail 3') , 'PROPIETARIO_DATO'] = 'Propio'

In [26]:
df_melt.loc[(df_melt['variable'] == 'Mail_ajeno') , 'PROPIETARIO_DATO'] = 'Ajeno_familiar'

In [27]:
df_melt.loc[(df_melt['variable'] == 'Mail_empleador') , 'PROPIETARIO_DATO'] = 'Ajeno_empleador'

In [28]:
df_melt = df_melt.drop(columns=['variable'])

In [29]:
df_melt.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO
17,27203466884,20346688,BARBOZA ROXANA ANDREA,sandisanagustin@hotmail.com.ar,Propio
54,27302314115,30231411,GROH MARIELA LILIANA,marielagroh@hotmail.com,Propio
62,20313808948,31380894,SPAGNOLLO LEONARDO JOSE,lespagnollo@hotmail.com,Propio
68,27327986428,32798642,PARED SUSANA SOLEDAD,santiniescalada@hotmail.com,Propio
72,27335616028,33561602,BORDES ROMINA NOEMI,romina_bordes@hotmail.com,Propio

# 6) Columna Proveedor

Agregamos la columna PROVEEDOR_DATO, con el código correspondiente.

PyP = P2

In [30]:
cod_pyp = 'AD'

In [31]:
df_clean = df_melt.assign(PROVEEDOR_DATO=cod_pyp)

In [32]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO
17,27203466884,20346688,BARBOZA ROXANA ANDREA,sandisanagustin@hotmail.com.ar,Propio,AD
54,27302314115,30231411,GROH MARIELA LILIANA,marielagroh@hotmail.com,Propio,AD
62,20313808948,31380894,SPAGNOLLO LEONARDO JOSE,lespagnollo@hotmail.com,Propio,AD
68,27327986428,32798642,PARED SUSANA SOLEDAD,santiniescalada@hotmail.com,Propio,AD
72,27335616028,33561602,BORDES ROMINA NOEMI,romina_bordes@hotmail.com,Propio,AD

# 7) Columna Tipo

Agregamos la columna TIPO, con el código correspondiente

In [33]:
tipo_dato = 'EMAIL'

In [34]:
df_clean = df_clean.assign(TIPO=tipo_dato)

In [35]:
df_clean.head ()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO
17,27203466884,20346688,BARBOZA ROXANA ANDREA,sandisanagustin@hotmail.com.ar,Propio,AD,EMAIL
54,27302314115,30231411,GROH MARIELA LILIANA,marielagroh@hotmail.com,Propio,AD,EMAIL
62,20313808948,31380894,SPAGNOLLO LEONARDO JOSE,lespagnollo@hotmail.com,Propio,AD,EMAIL
68,27327986428,32798642,PARED SUSANA SOLEDAD,santiniescalada@hotmail.com,Propio,AD,EMAIL
72,27335616028,33561602,BORDES ROMINA NOEMI,romina_bordes@hotmail.com,Propio,AD,EMAIL

# 8) Columna Subtipo

Agregamos la columna SUBTIPO, que va a contener información sobre el tipo de mail que se encuentra en el campo Dato.

- Personal: @yahoo, @gmail, @hotmail, @outlook, @live.
- Laboral: el resto.

Verificamos que la string contenga esos casos:

In [36]:
df_clean.loc[(df_clean['Dato'].str.contains('@yahoo', na=False)) | 
             (df_clean['Dato'].str.contains('@gmail', na=False)) |
             (df_clean['Dato'].str.contains('@outlook', na=False)) |
             (df_clean['Dato'].str.contains('@hotmail', na=False)) |
             (df_clean['Dato'].str.contains('@live', na=False)) , 'SUBTIPO'] = 'PERSONAL'

Para los mails laborales, evaluamos los casos contrarios:

In [37]:
df_clean.loc[~(df_clean['Dato'].str.contains('@yahoo', na=False)) & 
             ~(df_clean['Dato'].str.contains('@gmail', na=False)) &
             ~(df_clean['Dato'].str.contains('@outlook', na=False)) &
             ~(df_clean['Dato'].str.contains('@hotmail', na=False)) &
             ~(df_clean['Dato'].str.contains('@live', na=False)) , 'SUBTIPO'] = 'LABORAL'

In [38]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO
17,27203466884,20346688,BARBOZA ROXANA ANDREA,sandisanagustin@hotmail.com.ar,Propio,AD,EMAIL,PERSONAL
54,27302314115,30231411,GROH MARIELA LILIANA,marielagroh@hotmail.com,Propio,AD,EMAIL,PERSONAL
62,20313808948,31380894,SPAGNOLLO LEONARDO JOSE,lespagnollo@hotmail.com,Propio,AD,EMAIL,PERSONAL
68,27327986428,32798642,PARED SUSANA SOLEDAD,santiniescalada@hotmail.com,Propio,AD,EMAIL,PERSONAL
72,27335616028,33561602,BORDES ROMINA NOEMI,romina_bordes@hotmail.com,Propio,AD,EMAIL,PERSONAL

# 9) Columna Score

El campo **Score** se construye en función de los datos obtenidos:

- Nivel 4: Dato que otorga la propia persona.
- Nivel 3: Dato que otorgan los clientes (los bancos).
- Nivel 2: Dato que otorga un proveedor externo (Informes Digitales en este caso), con subtipo "Personal".
- Nivel 1: Dato que otorga un proveedor externo, pero tiene como subtipo "Laboral".

In [39]:
# Nivel 1: Laboral, proveedor externo.

df_clean.loc[(df_clean['SUBTIPO'] == 'LABORAL') , 'SCORE_DATO'] = 1

In [40]:
# Nivel 2: Personal, proveedor externo.

df_clean.loc[(df_clean['SUBTIPO'] == 'PERSONAL') , 'SCORE_DATO'] = 2

In [41]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO
17,27203466884,20346688,BARBOZA ROXANA ANDREA,sandisanagustin@hotmail.com.ar,Propio,AD,EMAIL,PERSONAL,2.0
54,27302314115,30231411,GROH MARIELA LILIANA,marielagroh@hotmail.com,Propio,AD,EMAIL,PERSONAL,2.0
62,20313808948,31380894,SPAGNOLLO LEONARDO JOSE,lespagnollo@hotmail.com,Propio,AD,EMAIL,PERSONAL,2.0
68,27327986428,32798642,PARED SUSANA SOLEDAD,santiniescalada@hotmail.com,Propio,AD,EMAIL,PERSONAL,2.0
72,27335616028,33561602,BORDES ROMINA NOEMI,romina_bordes@hotmail.com,Propio,AD,EMAIL,PERSONAL,2.0

# 10) Columna Fecha

Para el campo FECHA_INGRESO_DATO, usamos la fecha en la que se hace la inserción de los datos:

In [42]:
fecha_ingreso = pd.to_datetime('today')

In [43]:
df_clean = df_clean.assign(FECHA_INGRESO_DATO=fecha_ingreso)

In [44]:
df_clean.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO
17,27203466884,20346688,BARBOZA ROXANA ANDREA,sandisanagustin@hotmail.com.ar,Propio,AD,EMAIL,PERSONAL,2.0,2021-02-25 10:40:48.251236
54,27302314115,30231411,GROH MARIELA LILIANA,marielagroh@hotmail.com,Propio,AD,EMAIL,PERSONAL,2.0,2021-02-25 10:40:48.251236
62,20313808948,31380894,SPAGNOLLO LEONARDO JOSE,lespagnollo@hotmail.com,Propio,AD,EMAIL,PERSONAL,2.0,2021-02-25 10:40:48.251236
68,27327986428,32798642,PARED SUSANA SOLEDAD,santiniescalada@hotmail.com,Propio,AD,EMAIL,PERSONAL,2.0,2021-02-25 10:40:48.251236
72,27335616028,33561602,BORDES ROMINA NOEMI,romina_bordes@hotmail.com,Propio,AD,EMAIL,PERSONAL,2.0,2021-02-25 10:40:48.251236

# 11) Campos adicionales

Creamos las columnas VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, que en principio van en nulls.

In [45]:
df_clean['VERIFICADO'] = 0

In [46]:
df_clean['FECHA_VERIFICACION'] = np.nan

In [47]:
df_clean['OPERADOR_VERIFICACION'] = np.nan

# 12) Concatenación con .csv enviado

Vamos a concatenar nuestro dataframe con el dataframe enviado para enriquecer. Para esto, vamos a hacer una limpieza inicial de cómo se enviaron esos datos. Finalmente, se uniran ambos dataframes por __DNI__.

## 12.1) Dataset: PyP

Vamos a analizar y limpiar el dataset enviado a PyP para el enriquecimiento:

In [48]:
df_pyp = pd.read_csv('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Datasets/Datasets enviados/Casos_BBVA_1era_nuevo_proveedor.csv')

In [49]:
df_pyp.head()

,IDMOROSO,NOMBRE,IDCLIENTE,ESTADO,FILTROA,FASIGNACION
0,DNI 38496630,GIMENEZ MANUEL,FRANCES_2012,NO VISTO,1 - Ag 1ra,2021-02-23 09:05:48
1,DNI 17842512,PROCIUK JORGE,FRANCES_2012,NO VISTO,1 - Ag 1ra,2021-02-23 09:05:48
2,DNIE95698936,NUNEZ GARZON HENRY RAFAEL,FRANCES_2012,NO VISTO,1 - Ag 1ra,2021-02-23 09:05:48
3,DNI 21908882,AQUINO ELISABET,FRANCES_2012,NO VISTO,1 - Ag 1ra,2021-02-23 09:05:48
4,DNI 39096689,ALMADA GONZALEZ MALCO ELIEL,FRANCES_2012,NO VISTO,1 - Ag 1ra,2021-02-23 09:05:48

Creamos una columna que contenga IDMOROSO + DATOADIC según corresponda

In [50]:
#df_pyp.loc[(df_pyp['IDCLIENTE'].str.startswith('AMEX')) , 'NRO_DOC'] = df_pyp['DATOADIC']

In [51]:
df_pyp = df_pyp [['IDMOROSO','NOMBRE','IDCLIENTE']]

In [52]:
df_pyp['NRO_DOC'] = df_pyp['IDMOROSO']

In [53]:
df_pyp.head()

,IDMOROSO,NOMBRE,IDCLIENTE,NRO_DOC
0,DNI 38496630,GIMENEZ MANUEL,FRANCES_2012,DNI 38496630
1,DNI 17842512,PROCIUK JORGE,FRANCES_2012,DNI 17842512
2,DNIE95698936,NUNEZ GARZON HENRY RAFAEL,FRANCES_2012,DNIE95698936
3,DNI 21908882,AQUINO ELISABET,FRANCES_2012,DNI 21908882
4,DNI 39096689,ALMADA GONZALEZ MALCO ELIEL,FRANCES_2012,DNI 39096689

In [54]:
#df_pyp.to_excel('test_nro_doc.xlsx')

## 12.2) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurídica__ (TO DO)

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos. Esta función debe ejecutarse en primer lugar.
- __DNI Spaces__: Elimina los espacios.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: Decisión sobre dejar un cuit o volverlo DNI

In [55]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [56]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [57]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
        
    else:
        dni = string_dni
        
    return dni

In [58]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [59]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [60]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [61]:
df_pyp['NRO_DOC'] = [(str(df_pyp['NRO_DOC'][i]).strip()) for i in range (df_pyp['NRO_DOC'].count())]

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [62]:
df_pyp['TIPO_DOC'] = [tipo_doc_1(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para la limpieza de DNIs:

In [63]:
df_pyp['NRO_DOC'] = [standard_dni(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [64]:
df_pyp['NRO_DOC'] = [dni_characters(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [65]:
df_pyp['NRO_DOC'] = [cuit(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [66]:
df_pyp['NRO_DOC'] = [dni_zero(df_pyp['NRO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [67]:
df_pyp['TIPO_DOC'] = [tipo_doc_2(df_pyp['NRO_DOC'][i],df_pyp['TIPO_DOC'][i]) for i in range (df_pyp['NRO_DOC'].count())]

In [68]:
df_pyp.head()

,IDMOROSO,NOMBRE,IDCLIENTE,NRO_DOC,TIPO_DOC
0,DNI 38496630,GIMENEZ MANUEL,FRANCES_2012,38496630,DNI
1,DNI 17842512,PROCIUK JORGE,FRANCES_2012,17842512,DNI
2,DNIE95698936,NUNEZ GARZON HENRY RAFAEL,FRANCES_2012,95698936,DNI
3,DNI 21908882,AQUINO ELISABET,FRANCES_2012,21908882,DNI
4,DNI 39096689,ALMADA GONZALEZ MALCO ELIEL,FRANCES_2012,39096689,DNI

# 13) Union de Dataframes

Se unen ambos dataframes en la columna NRO_DOC

Convertimos la columna NRO_DOC de objeto a INT para hacer la unión

In [69]:
df_clean = df_clean.astype({'NRO_DOC': 'str'})

In [70]:
df_union = pd.merge(df_clean,df_pyp, on='NRO_DOC', how='inner')

In [71]:
df_union.shape

(37, 17)

In [72]:
df_union.head()

,CUIT_CUIL,NRO_DOC,Titular,Dato,PROPIETARIO_DATO,PROVEEDOR_DATO,TIPO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,IDMOROSO,NOMBRE,IDCLIENTE,TIPO_DOC
0,27203466884,20346688,BARBOZA ROXANA ANDREA,sandisanagustin@hotmail.com.ar,Propio,AD,EMAIL,PERSONAL,2.0,2021-02-25 10:40:48.251236,0,NaN,NaN,DNI 20346688,BARBOZA ROXANA ANDREA,FRANCES_2012,DNI
1,27302314115,30231411,GROH MARIELA LILIANA,marielagroh@hotmail.com,Propio,AD,EMAIL,PERSONAL,2.0,2021-02-25 10:40:48.251236,0,NaN,NaN,DNI 30231411,GROH MARIELA LILIANA,FRANCES_2012,DNI
2,27302314115,30231411,GROH MARIELA LILIANA,asi.soii@live.com.ar,Ajeno_empleador,AD,EMAIL,PERSONAL,2.0,2021-02-25 10:40:48.251236,0,NaN,NaN,DNI 30231411,GROH MARIELA LILIANA,FRANCES_2012,DNI
3,20313808948,31380894,SPAGNOLLO LEONARDO JOSE,lespagnollo@hotmail.com,Propio,AD,EMAIL,PERSONAL,2.0,2021-02-25 10:40:48.251236,0,NaN,NaN,DNI 31380894,SPAGNOLLO LEONARDO JOSE,FRANCES_2012,DNI
4,27327986428,32798642,PARED SUSANA SOLEDAD,santiniescalada@hotmail.com,Propio,AD,EMAIL,PERSONAL,2.0,2021-02-25 10:40:48.251236,0,NaN,NaN,DNI 32798642,PARED SUSANA SOLEDAD,FRANCES_2012,DNI

# 14) Export

Renombramos, dropeamos y reordenamos las columnas

In [73]:
df_union = df_union.rename(columns = {'Dato':'DATO'})

Dropeamos columnas que no nos sirven

In [74]:
df_export = df_union.drop(columns=['IDCLIENTE'], axis=0)

In [75]:
df_export = df_export[['IDMOROSO', 'TIPO_DOC','NRO_DOC','CUIT_CUIL','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO','PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO','FECHA_VERIFICACION','OPERADOR_VERIFICACION','SCORE_DATO']]

In [76]:
df_export.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 20346688,DNI,20346688,27203466884,EMAIL,PERSONAL,sandisanagustin@hotmail.com.ar,Propio,AD,2021-02-25 10:40:48.251236,0,NaN,NaN,2.0
1,DNI 30231411,DNI,30231411,27302314115,EMAIL,PERSONAL,marielagroh@hotmail.com,Propio,AD,2021-02-25 10:40:48.251236,0,NaN,NaN,2.0
2,DNI 30231411,DNI,30231411,27302314115,EMAIL,PERSONAL,asi.soii@live.com.ar,Ajeno_empleador,AD,2021-02-25 10:40:48.251236,0,NaN,NaN,2.0
3,DNI 31380894,DNI,31380894,20313808948,EMAIL,PERSONAL,lespagnollo@hotmail.com,Propio,AD,2021-02-25 10:40:48.251236,0,NaN,NaN,2.0
4,DNI 32798642,DNI,32798642,27327986428,EMAIL,PERSONAL,santiniescalada@hotmail.com,Propio,AD,2021-02-25 10:40:48.251236,0,NaN,NaN,2.0

In [77]:
df_export.shape

(37, 14)

Número a str para no tener problemas con la inserción

In [78]:
df_export['CUIT_CUIL'] = [(str(int(round(df_export['CUIT_CUIL'][i],0)))) for i in range (df_export['CUIT_CUIL'].count())]

In [79]:
df_export.tail()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
32,DNI 43175319,DNI,43175319,27431753192,EMAIL,PERSONAL,antocastro_la22@hotmail.com,Ajeno_empleador,AD,2021-02-25 10:40:48.251236,0,NaN,NaN,2.0
33,DNI 43387981,DNI,43387981,27433879819,EMAIL,PERSONAL,ale_paez@hotmail.com,Ajeno_empleador,AD,2021-02-25 10:40:48.251236,0,NaN,NaN,2.0
34,DNIE95634665,DNI,95634665,27956346652,EMAIL,PERSONAL,brufatime@gmail.com,Ajeno_empleador,AD,2021-02-25 10:40:48.251236,0,NaN,NaN,2.0
35,DNIE95698936,DNI,95698936,20956989362,EMAIL,PERSONAL,pbn@hotmail.com.ar,Ajeno_empleador,AD,2021-02-25 10:40:48.251236,0,NaN,NaN,2.0
36,DNI 42029537,DNI,42029537,20420295376,EMAIL,PERSONAL,sergiokdk1@hotmail.com,Ajeno_familiar,AD,2021-02-25 10:40:48.251236,0,NaN,NaN,2.0

Dropeamos filas duplicadas

In [80]:
df_export = df_export.drop_duplicates()

In [81]:
df_export.shape

(37, 14)

## Dato a str + strip()

In [82]:
df_export ['DATO'] = df_export['DATO'].str.strip()

# Revisión de duplicados

In [83]:
duplicates_subset = df_export[df_export.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [84]:
duplicates_subset

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO]
Index: []

In [85]:
duplicates_subset.shape

(0, 14)

No tenemos duplicados en IDMOROSO, DATO, PROVEEDOR

In [86]:
df_export.shape

(37, 14)

## 14.1) Export de dataframe + IDCLIENTE para análisis

In [87]:
#df_union.to_excel('D:/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Exports/Mails para analisis/PyP_mails_1401.xlsx')
#df_union.to_csv('D:/MOPC/Enriquecimiento de Datos/Data Cleaning/PyP/Exports/Mails para analisis/PyP_mails_1401.csv')

## 14.2) Insert a tabla DAM_CONTACTABILIDAD:

In [88]:
df_export.to_csv('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Insiders/Exports/DAM_CONTACTABILIDAD/Insiders_DAM_CONTACTABILIDAD_mails_2502.csv',index=False)