In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Contacto Directo/Datasets/Datasets enviados/cartera_completa_estado_idcliente - 0103.csv')

In [3]:
df.shape

(58665, 6)

In [4]:
df.head()

,IDMOROSO,DATOADIC,NOMBRE,IDCLIENTE,ESTADO,DNI
0,CUIT20115091280,,SUCESION DE CAISUTTI MIGUEL,BSR_TARDIA,SKIP LEVEL 2,CUIT20115091280
1,CUIT30500181547,,LITOGRAFIA CUYO SA,BSR_TARDIA,PROBLEMA,CUIT30500181547
2,CUIT30501109041,,EMEGE SA,BSR_TARDIA,NO UBICADO,CUIT30501109041
3,CUIT30502016373,,IATILO SA,BSR_TARDIA,NO UBICADO,CUIT30502016373
4,CUIT30502766917,,MAZTER INDUSTR MADERIL SACIFI,BSR_TARDIA,INTERESADO_MOPCPAGOS,CUIT30502766917

In [5]:
val_count = df.IDCLIENTE.value_counts()

In [6]:
val_count = val_count.to_frame()

In [7]:
val_count.to_csv('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Contacto Directo/Reportes/Reporte Contacto Directo.csv')

In [8]:
val_count

                      IDCLIENTE
HSBC_2019                 23022
BSR_TARDIA                10292
FRANCES_2012               7695
AMEX_PBRM                  2427
AMEX_PARM                  2363
AMEX_PALM                  2119
AMEX_PFLM                  2063
AMEX_PNCM                  1286
FRAVEGA_LEGALES548          887
HSBC_LEGALES14              820
AMEX_TNLM                   709
AMEX_PELM                   655
AMEX_QINM                   638
AMEX_QIPM                   633
COTO10_TARD                 365
AMEX_PBLM                   357
AMEX_TNRM                   274
AMEX_ALLR                   265
COTO05_TARD                 254
AMEX_ALHR                   240
COTO23_TARD                 238
AMEX_TNCM                   217
AMEX_QRNM                   212
AMEX_QRPM                   184
COTO15_TARD                 178
HSBC_LEGALES_TEMP           144
BBVA_LEGALES_PREJU          127
AMEX_PNRM                     1

In [9]:
df[df['IDCLIENTE'].str.startswith('AMEX')]

,IDMOROSO,DATOADIC,NOMBRE,IDCLIENTE,ESTADO,DNI
44022,RMS376635284922001,23200155599,WALTER A DI GIUSEPPE,AMEX_ALHR,CANCELO FULL,23200155599
44023,RMS376635289491002,27039801022,HAYDEE SOFIA MORETTI,AMEX_ALHR,INTERESADO,27039801022
44024,RMS376635341591005,23183494279,MARCOS MACEDONIO SUAREZ,AMEX_ALHR,CANCELO FULL,23183494279
44025,RMS376635393504005,20040762222,MAURICIO SZEJNBERG,AMEX_ALHR,FALLECIDO,20040762222
44026,RMS376635839501003,20200270445,OSCAR FERNANDO SARVI,AMEX_ALHR,EN GESTION,20200270445
...,...,...,...,...,...,...
58660,RMS379977986051003,20282714559,JUAN JOSE REARTES,AMEX_PFLM,CANCELO FULL,20282714559
58661,RMS379977987042001,20119946000,CARLOS OSCAR SAMMARRA,AMEX_QRPM,CANCELO,20119946000
58662,RMS379977996031003,20239640959,FRANCISCO NASSIF SOTO,AMEX_PFLM,CANCELO FULL,20239640959
58663,RMS379977996132009,20315509654,NICOLAS A BERARDI,AMEX_TNCM,CANCELO,20315509654
58664,RMS379977998133005,20334219101,VILLEGAS GABRIEL,AMEX_QIPM,NO UBICADO,20334219101

# Morosos recibidos

In [10]:
df_recibidos = pd.read_csv('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Contacto Directo/Datasets/Datasets Recibidos/Cantidad_morosos_recibidos.csv')

In [11]:
df_recibidos.shape

(4598, 2)

In [12]:
df_recibidos.head()

             IDMOROSO             IDCLIENTE
0  CUIT30516256385     BSR_TARDIA
1  CUIT30679032492     BSR_TARDIA
2  CUIT30681758182     BSR_TARDIA
3  CUIT30691268086     BSR_TARDIA
4  CUIT30691709597     BSR_TARDIA

In [13]:
val = df_recibidos.IDCLIENTE.value_counts()

In [14]:
val.head(50)

HSBC_2019               1983
BSR_TARDIA               687
FRANCES_2012             591
HSBC_LEGALES14           270
HSBC_LEGALES_TEMP2       170
HSBC_LEGALES2016         114
HSBC_LEGALES_TEMP         97
CREDITIA                  96
FRAVEGA_LEGALES548        80
FRANCES_IVR               66
HSBC_SEGUROS              48
BBVA_LEGALES_PREJU        37
COTO05                    32
COTO10                    29
COTO23                    23
BBVA_SEGUROS              23
FRAVEGA_LEGALES2          21
COTO05_TARD               21
COTO10_TARD               20
AMEX_PNCM                 18
COTO23_TARD               15
BANCO_DE_ALIMENTOS        14
BANCO_PROVINCIA           13
FRAVEGA_LEGALES3          13
FRANCES_2012_HONO         12
COTO15                     7
CETELEM                    7
AMEX_TNLM                  7
COTO15_TARD                6
COTO_TARDIA                5
FRANCES_PP69_2012          5
AMEX_QINM                  5
BBVA_ANSES2                5
ITALCRED                   5
FRANCES_ADICIONALES        5
BBVA_REFERIDOS             4
AMEX_TNCM                  4
BBVA_LEGALES_PREJU_5       3
PRENDARIOS_LEGALES         3
GARBARINO                  3
AMEX_UPGRADE               3
PROVENCRED                 2
GIGARED2                   2
PRENDARIOS_HSBC            2
AMEX_NONPAPERLESS          2
FRANCES_PP_ESPECIAL        2
AMEX_QIPM                  2
AMEX_PARM                  2
AMEX_PELM                  1
FRAVEGA_LEGALES            1
Name: IDCLIENTE, dtype: int64

In [15]:
b = df_recibidos [df_recibidos['IDCLIENTE'].str.startswith('AMEX')]

In [16]:
b.shape

(49, 2)

# Casos de contacto nuevos

In [17]:
df_new = pd.read_csv('/mnt/c/users/Dleg/Data/MOPC/MOPC/Enriquecimiento de Datos/Data Cleaning/Contacto Directo/Datasets/Datasets Recibidos/Cantidad_morosos_recibidos_nuevos_datos.csv')

In [18]:
df_new.shape

(4412, 6)

In [19]:
df_new.head()

,IDMOROSO,DATO,TIPO,IDCLIENTE,ESTADO,FILTROA
0,RMS376686548662008,3425283859,TEL.FIJO,AMEX_NONPAPERLESS,NO UBICADO,MAYO2019
1,RMS376413561952004,pabloferrazzano@datafull.com,EMAIL,AMEX_PARM,CANCELO FULL,DANROSA
2,RMS379977383142009,1151116563,TEL.CELULAR,AMEX_PBLM,CANCELO FULL,MBESOSTRI
3,RMS379977383142009,20356933,TEL.FIJO,AMEX_PBLM,CANCELO FULL,MBESOSTRI
4,RMS376711847221007,1554963067,TEL.CELULAR,AMEX_PELM,CANCELO FULL,GRCC

In [20]:
df_new_mails = df_new[df_new['TIPO'] == 'EMAIL']

In [21]:
df_new_tels = df_new[df_new['TIPO']!= 'EMAIL']

In [24]:
df_new_mails.TIPO.unique()

array(['EMAIL'], dtype=object)

In [26]:
df_new_tels.IDCLIENTE.value_counts()

HSBC_2019               2751
BSR_TARDIA               684
FRANCES_2012             141
FRAVEGA_LEGALES548        71
HSBC_LEGALES14            70
FRANCES_IVR               34
BBVA_SEGUROS              26
BANCO_PROVINCIA           23
AMEX_PNCM                 18
COTO23_TARD               17
COTO05_TARD               16
BANCO_DE_ALIMENTOS        13
COTO10_TARD               13
BBVA_ANSES2               12
CETELEM                    9
FRANCES_2012_HONO          9
FRAVEGA_LEGALES2           8
ITALCRED                   8
HSBC_LEGALES_TEMP          7
COTO15_TARD                6
CREDITIA                   5
AMEX_QINM                  5
BBVA_REFERIDOS             5
FRANCES_ADICIONALES        4
AMEX_TNCM                  4
AMEX_QIPM                  4
HSBC_LEGALES2016           4
BBVA_LEGALES_PREJU         3
AMEX_PBLM                  2
HSBC_LEGALES_TEMP2         2
GIGARED2                   2
PRENDARIOS_LEGALES         2
EDESUR                     1
PRENDARIOS_HSBC            1
BANCO_SOL_TARD             1
GIGARED                    1
AMEX_PELM                  1
AMEX_NONPAPERLESS          1
AMEX_PLATINUM              1
BACS _PREJUDICIAL          1
BBVA_ESPECIAL              1
AMEX_UPGRADE               1
COPPEL                     1
Name: IDCLIENTE, dtype: int64

In [29]:
amex = df_new_tels[df_new_tels['IDCLIENTE'].str.startswith('AMEX')]

In [30]:
amex.shape

(37, 6)

In [ ]:
36