In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('dups_mail.csv')

In [3]:
df.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 29492319,DNI,29492319,NaN,EMAIL,PERSONAL,abartolome@expresooronegro.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
1,DNI 12623904,DNI,12623904,NaN,EMAIL,PERSONAL,mledesma@unimoron.edu.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
2,DNI 29492319,DNI,29492319,NaN,EMAIL,LABORAL,abartolome@expresooronegro.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,3.0
3,DNI 12623904,DNI,12623904,NaN,EMAIL,LABORAL,mledesma@unimoron.edu.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,3.0
4,DNI 26218371,DNI,26218371,NaN,EMAIL,PERSONAL,martin.chuquer@mastergarden.com.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0

In [4]:
df.shape

(22, 14)

In [5]:
#df = df.drop_duplicates(subset=['IDMOROSO','TIPO_DOC','NRO_DOC','CUIT_CUIL','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO'
#                               ,'PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO','FECHA_VERIFICACION'
#                               ,'OPERADOR_VERIFICACION','SCORE_DATO'])

In [6]:
df = df.drop_duplicates()

In [7]:
df.shape

(22, 14)

In [8]:
#df.groupby(['IDMOROSO', 'PROVEEDOR_DATO', 'DATO']).count()

## Dato a str + strip()

In [9]:
df ['DATO'] = df['DATO'].astype(str)

In [10]:
df['DATO'] = df['DATO'].str.strip()

## Verificados

Si verificado es false, pasamos a NaN la fecha de verificación

In [11]:
df.loc[df['VERIFICADO'] == False, 'FECHA_VERIFICACION'] = np.nan

In [12]:
df.tail()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
17,DNI 19040588,DNI,19040588,NaN,EMAIL,LABORAL,rdiaz@securitasargentina.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,3.0
18,DNI 42006682,DNI,42006682,NaN,EMAIL,LABORAL,nobrinda@nobrinda.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,3.0
19,DNI 33747009,DNI,33747009,NaN,EMAIL,PERSONAL,glopez@devspark.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
20,DNI 27434972,DNI,27434972,NaN,EMAIL,LABORAL,briela@iclaro.com.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,3.0
21,DNI 33747009,DNI,33747009,NaN,EMAIL,LABORAL,glopez@devspark.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,3.0

# Subset: Duplicados

Me quedo con los todos los que tienen duplicados la combinatoria IDMOROSO, DATO y PROVEEDOR DATO, y reviso qué pasa en cada caso

In [13]:
duplicates_subset = df[df.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [14]:
duplicates_subset.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 29492319,DNI,29492319,NaN,EMAIL,PERSONAL,abartolome@expresooronegro.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
1,DNI 12623904,DNI,12623904,NaN,EMAIL,PERSONAL,mledesma@unimoron.edu.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
2,DNI 29492319,DNI,29492319,NaN,EMAIL,LABORAL,abartolome@expresooronegro.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,3.0
3,DNI 12623904,DNI,12623904,NaN,EMAIL,LABORAL,mledesma@unimoron.edu.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,3.0
4,DNI 26218371,DNI,26218371,NaN,EMAIL,PERSONAL,martin.chuquer@mastergarden.com.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0

In [15]:
duplicates_subset.shape

(22, 14)

In [16]:
#duplicates_subset[duplicates_subset['VERIFICADO'] == True]

# 1. Puntajes

Asignamos puntajes a cada posible dato que aparezca en las categorías:

- Tipo.
- Subtipo.
- Propietario
- Verificación

In [17]:
duplicates_subset.loc[duplicates_subset['VERIFICADO'] == True, 'PUNTAJE_VERIFICADO'] = 6

In [18]:
duplicates_subset.loc[duplicates_subset['VERIFICADO'] == False, 'PUNTAJE_VERIFICADO'] = 0

In [19]:
duplicates_subset.loc[duplicates_subset['PROPIETARIO_DATO'] == 'Propio', 'PUNTAJE_PROPIETARIO'] = 5

In [20]:
duplicates_subset.loc[duplicates_subset['PROPIETARIO_DATO'] == 'Ajeno_familiar', 'PUNTAJE_PROPIETARIO'] = 4

In [21]:
duplicates_subset.loc[duplicates_subset['PROPIETARIO_DATO'] == 'Ajeno_empleador', 'PUNTAJE_PROPIETARIO'] = 3

In [22]:
duplicates_subset.loc[duplicates_subset['PROPIETARIO_DATO'] == 'Ajeno', 'PUNTAJE_PROPIETARIO'] = 2

In [23]:
duplicates_subset.loc[duplicates_subset['SUBTIPO'] == 'PERSONAL', 'PUNTAJE_TIPO'] = 2

In [24]:
duplicates_subset.loc[duplicates_subset['SUBTIPO'] == 'LABORAL', 'PUNTAJE_TIPO'] = 0

In [25]:
duplicates_subset.loc[duplicates_subset['TIPO'] == 'EMAIL', 'PUNTAJE_SUBTIPO'] = 4

In [26]:
duplicates_subset.loc[duplicates_subset['TIPO'] == 'TEL.FIJO', 'PUNTAJE_SUBTIPO'] = 2

In [27]:
duplicates_subset.loc[duplicates_subset['TIPO'] == 'TEL.CELULAR', 'PUNTAJE_SUBTIPO'] = 4

## Suma de Puntajes

In [28]:
columns_to_sum = ['PUNTAJE_VERIFICADO','PUNTAJE_PROPIETARIO','PUNTAJE_TIPO','PUNTAJE_SUBTIPO']

In [29]:
duplicates_subset['PUNTAJE_TOTAL'] = duplicates_subset[columns_to_sum].sum(axis=1)

In [30]:
duplicates_subset.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO,PUNTAJE_VERIFICADO,PUNTAJE_PROPIETARIO,PUNTAJE_TIPO,PUNTAJE_SUBTIPO,PUNTAJE_TOTAL
0,DNI 29492319,DNI,29492319,NaN,EMAIL,PERSONAL,abartolome@expresooronegro.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0,11.0
1,DNI 12623904,DNI,12623904,NaN,EMAIL,PERSONAL,mledesma@unimoron.edu.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0,11.0
2,DNI 29492319,DNI,29492319,NaN,EMAIL,LABORAL,abartolome@expresooronegro.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,3.0,0.0,5.0,0.0,4.0,9.0
3,DNI 12623904,DNI,12623904,NaN,EMAIL,LABORAL,mledesma@unimoron.edu.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,3.0,0.0,5.0,0.0,4.0,9.0
4,DNI 26218371,DNI,26218371,NaN,EMAIL,PERSONAL,martin.chuquer@mastergarden.com.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0,11.0

In [31]:
duplicates_subset.shape

(22, 19)

In [32]:
duplicates_subset[duplicates_subset['IDMOROSO'] == 'DNI 4558814       ']

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO, PUNTAJE_VERIFICADO, PUNTAJE_PROPIETARIO, PUNTAJE_TIPO, PUNTAJE_SUBTIPO, PUNTAJE_TOTAL]
Index: []

## Agrupo

In [33]:
#duplicates_subset['ID'] = duplicates_subset['ID'].astype(str)

In [34]:
df_best = duplicates_subset.groupby(['IDMOROSO','DATO','PROVEEDOR_DATO'], as_index = False).max(numeric_only=True)

In [35]:
df_best

,IDMOROSO,DATO,PROVEEDOR_DATO,NRO_DOC,CUIT_CUIL,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO,PUNTAJE_VERIFICADO,PUNTAJE_PROPIETARIO,PUNTAJE_TIPO,PUNTAJE_SUBTIPO,PUNTAJE_TOTAL
0,DNI 12623904,mledesma@unimoron.edu.ar,AT,12623904,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0,11.0
1,DNI 19040588,rdiaz@securitasargentina.com,AT,19040588,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0,11.0
2,DNI 25597304,jmurua@mymultilevel.com,AT,25597304,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0,11.0
3,DNI 26218371,martin.chuquer@mastergarden.com.ar,AT,26218371,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0,11.0
4,DNI 27434972,briela@iclaro.com.ar,AT,27434972,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0,11.0
5,DNI 29492319,abartolome@expresooronegro.com,AT,29492319,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0,11.0
6,DNI 31595915,epmartinez@cnc.gov.ar,AT,31595915,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0,11.0
7,DNI 33747009,glopez@devspark.com,AT,33747009,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0,11.0
8,DNI 34317644,jimenamari@ggmail.com,AT,34317644,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0,11.0
9,DNI 42006682,nobrinda@nobrinda.com,AT,42006682,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0,11.0
10,LE 6755082,efpisatti@speedy.com.ar,AT,6755082,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0,11.0

# Join

In [36]:
df_joined = pd.merge(duplicates_subset,df_best,on=['IDMOROSO','DATO','PROVEEDOR_DATO','PUNTAJE_TOTAL'])

In [37]:
df_joined.shape

(11, 29)

In [38]:
df_joined.head(10)

,IDMOROSO,TIPO_DOC,NRO_DOC_x,CUIT_CUIL_x,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,...,NRO_DOC_y,CUIT_CUIL_y,VERIFICADO_y,FECHA_VERIFICACION_y,OPERADOR_VERIFICACION_y,SCORE_DATO_y,PUNTAJE_VERIFICADO_y,PUNTAJE_PROPIETARIO_y,PUNTAJE_TIPO_y,PUNTAJE_SUBTIPO_y
0,DNI 29492319,DNI,29492319,NaN,EMAIL,PERSONAL,abartolome@expresooronegro.com,Propio,AT,2021-01-14 15:44:04.774014,...,29492319,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0
1,DNI 12623904,DNI,12623904,NaN,EMAIL,PERSONAL,mledesma@unimoron.edu.ar,Propio,AT,2021-01-14 15:44:04.774014,...,12623904,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0
2,DNI 26218371,DNI,26218371,NaN,EMAIL,PERSONAL,martin.chuquer@mastergarden.com.ar,Propio,AT,2021-01-14 15:44:04.774014,...,26218371,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0
3,DNI 25597304,DNI,25597304,NaN,EMAIL,PERSONAL,jmurua@mymultilevel.com,Propio,AT,2021-01-14 15:44:04.774014,...,25597304,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0
4,LE 6755082,LE,6755082,NaN,EMAIL,PERSONAL,efpisatti@speedy.com.ar,Propio,AT,2021-01-14 15:44:04.774014,...,6755082,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0
5,DNI 27434972,DNI,27434972,NaN,EMAIL,PERSONAL,briela@iclaro.com.ar,Propio,AT,2021-01-14 15:44:04.774014,...,27434972,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0
6,DNI 19040588,DNI,19040588,NaN,EMAIL,PERSONAL,rdiaz@securitasargentina.com,Propio,AT,2021-01-14 15:44:04.774014,...,19040588,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0
7,DNI 31595915,DNI,31595915,NaN,EMAIL,PERSONAL,epmartinez@cnc.gov.ar,Propio,AT,2021-01-14 15:44:04.774014,...,31595915,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0
8,DNI 42006682,DNI,42006682,NaN,EMAIL,PERSONAL,nobrinda@nobrinda.com,Propio,AT,2021-01-14 15:44:04.774014,...,42006682,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0
9,DNI 34317644,DNI,34317644,NaN,EMAIL,PERSONAL,jimenamari@ggmail.com,Propio,AT,2021-01-14 15:44:04.774014,...,34317644,NaN,False,NaN,NaN,4.0,0.0,5.0,2.0,4.0

# Duplicados con diferentes fechas de ingreso

In [39]:
duplicates_subset[duplicates_subset['IDMOROSO'] == 'COL 14961623      ']

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO, PUNTAJE_VERIFICADO, PUNTAJE_PROPIETARIO, PUNTAJE_TIPO, PUNTAJE_SUBTIPO, PUNTAJE_TOTAL]
Index: []

In [40]:
duplicates_fecha = df_joined[df_joined.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [41]:
duplicates_fecha = duplicates_fecha.sort_values('FECHA_INGRESO_DATO').drop_duplicates('IDMOROSO',keep='first')

# Append

In [42]:
df_joined = df_joined[['IDMOROSO','TIPO_DOC','NRO_DOC_x','CUIT_CUIL_x','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO'
                               ,'PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO_x','FECHA_VERIFICACION_x'
                               ,'OPERADOR_VERIFICACION_x','SCORE_DATO_x']]

In [43]:
df_joined.head()

,IDMOROSO,TIPO_DOC,NRO_DOC_x,CUIT_CUIL_x,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO_x,FECHA_VERIFICACION_x,OPERADOR_VERIFICACION_x,SCORE_DATO_x
0,DNI 29492319,DNI,29492319,NaN,EMAIL,PERSONAL,abartolome@expresooronegro.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
1,DNI 12623904,DNI,12623904,NaN,EMAIL,PERSONAL,mledesma@unimoron.edu.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
2,DNI 26218371,DNI,26218371,NaN,EMAIL,PERSONAL,martin.chuquer@mastergarden.com.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
3,DNI 25597304,DNI,25597304,NaN,EMAIL,PERSONAL,jmurua@mymultilevel.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
4,LE 6755082,LE,6755082,NaN,EMAIL,PERSONAL,efpisatti@speedy.com.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0

In [44]:
df_joined.shape

(11, 14)

In [45]:
df_joined = df_joined.rename(columns={"VERIFICADO_x": "VERIFICADO", "SCORE_DATO_x": "SCORE_DATO"
                                     ,'NRO_DOC_x': 'NRO_DOC','CUIT_CUIL_x':'CUIT_CUIL'
                                     ,'FECHA_VERIFICACION_x':'FECHA_VERIFICACION'})

In [46]:
df_joined = df_joined[~df_joined.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [47]:
df_joined.shape

(11, 14)

In [48]:
duplicates_fecha = duplicates_fecha[['IDMOROSO','TIPO_DOC','NRO_DOC_x','CUIT_CUIL_x','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO'
                               ,'PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO_x','FECHA_VERIFICACION_x'
                               ,'OPERADOR_VERIFICACION_x','SCORE_DATO_x']]

In [49]:
duplicates_fecha.shape

(0, 14)

In [50]:
duplicates_fecha = duplicates_fecha.rename(columns={"VERIFICADO_x": "VERIFICADO", "SCORE_DATO_x": "SCORE_DATO"})

Dataframe inicial sin los duplicados

In [51]:
df.shape

(22, 14)

In [52]:
non_duplicates = df[~df.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [53]:
non_duplicates.shape

(0, 14)

Unimos los 3 dataframes y revisamos que no haya duplicados en el mismo subset IDMOROSO-DATO-PROVEEDOR

In [54]:
non_duplicates = non_duplicates.dropna(subset=['DATO'])

In [55]:
non_duplicates [non_duplicates['NRO_DOC'].isnull()]

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO]
Index: []

In [56]:
non_duplicates.head()

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO]
Index: []

In [57]:
#df_export = pd.concat([non_duplicates,df_joined,duplicates_fecha])
df_export = pd.concat([non_duplicates,df_joined])

In [58]:
df_export.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO,OPERADOR_VERIFICACION_x
0,DNI 29492319,DNI,29492319,NaN,EMAIL,PERSONAL,abartolome@expresooronegro.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0,NaN
1,DNI 12623904,DNI,12623904,NaN,EMAIL,PERSONAL,mledesma@unimoron.edu.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0,NaN
2,DNI 26218371,DNI,26218371,NaN,EMAIL,PERSONAL,martin.chuquer@mastergarden.com.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0,NaN
3,DNI 25597304,DNI,25597304,NaN,EMAIL,PERSONAL,jmurua@mymultilevel.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0,NaN
4,LE 6755082,LE,6755082,NaN,EMAIL,PERSONAL,efpisatti@speedy.com.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0,NaN

In [59]:
df_export.shape

(11, 15)

# QA Duplicados

In [60]:
qa_duplicados = df_export[df_export.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [61]:
qa_duplicados

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO, OPERADOR_VERIFICACION_x]
Index: []

In [62]:
df_export.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO,OPERADOR_VERIFICACION_x
0,DNI 29492319,DNI,29492319,NaN,EMAIL,PERSONAL,abartolome@expresooronegro.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0,NaN
1,DNI 12623904,DNI,12623904,NaN,EMAIL,PERSONAL,mledesma@unimoron.edu.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0,NaN
2,DNI 26218371,DNI,26218371,NaN,EMAIL,PERSONAL,martin.chuquer@mastergarden.com.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0,NaN
3,DNI 25597304,DNI,25597304,NaN,EMAIL,PERSONAL,jmurua@mymultilevel.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0,NaN
4,LE 6755082,LE,6755082,NaN,EMAIL,PERSONAL,efpisatti@speedy.com.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0,NaN

In [63]:
df_export['VERIFICADO'].value_counts()

False    11
Name: VERIFICADO, dtype: int64

In [64]:
non_duplicates['VERIFICADO'].value_counts()

Series([], Name: VERIFICADO, dtype: int64)

In [65]:
df_joined['VERIFICADO'].value_counts()

False    11
Name: VERIFICADO, dtype: int64

In [66]:
duplicates_fecha['VERIFICADO'].value_counts()

Series([], Name: VERIFICADO, dtype: int64)

In [67]:
df_export[df_export['IDMOROSO'] == 'DNI 4558814       ']

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO, OPERADOR_VERIFICACION_x]
Index: []

In [68]:
df[df['IDMOROSO'] == 'DNI 4558814       ']

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO]
Index: []

# Export a DAM_CONTACTABILIDAD

In [69]:
df_export = df_export[['IDMOROSO', 'TIPO_DOC','NRO_DOC','CUIT_CUIL','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO','PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO','FECHA_VERIFICACION','OPERADOR_VERIFICACION','SCORE_DATO']]

In [70]:
df_export.to_csv('D:\MOPC\Enriquecimiento de Datos\Data Cleaning\Active\Exports\DAM_CONTACTABILIDAD\subset_mails_non_dups.csv',index=False)