# 1) Datasets

Vamos a leer el dataset que envía PyP

In [1]:
import pandas as pd
import numpy as np
import re

In [2]:
df = pd.read_csv('D:/MOPC/Enriquecimiento de Datos/Data Cleaning/Active/Datasets/Active_actual_mails_1201.csv')

In [3]:
df.head()

,IDMOROSO,NRO_DOC,NOMBRE,DATO,TIPO,IDCLIENTE,PROVEEDOR_DATO
0,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,MAIL,AMEX_PARM,AT
1,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,MAIL,AMEX_QRPM,AT
2,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,MAIL,AMEX_TNCM,AT
3,RMS376686432352005,27172327759,LIC ADRIANA M BOSCO,abosco@estudiobosco.com.ar ...,MAIL,AMEX_PALM,AT
4,RMS376686339282008,20118625367,LUIS APOGLESSI,luis_apoglessi@hotmail.com ...,MAIL,AMEX_PALM,AT

In [4]:
df.shape

(446717, 7)

## 1.2) Data Cleaning: Datasets

Vamos a dropear aquellas columnas y filas que no tengan ningún valor (es decir, que sean todos NaNs)

In [5]:
df = df.dropna(axis=0, how='all')

In [6]:
df = df.dropna(axis=1, how='all')

In [7]:
df.shape

(446717, 7)

Ahora todas las columnas tienen al menos 1 dato.

# 2) Cleaning: Mails

Verificar teléfonos if DF TIPO is TELEFONO

In [8]:
df ['TIPO'].value_counts()

MAIL    446717
Name: TIPO, dtype: int64

In [9]:
df_mails = df[df['TIPO']== 'MAIL']

In [10]:
df_mails.head()

,IDMOROSO,NRO_DOC,NOMBRE,DATO,TIPO,IDCLIENTE,PROVEEDOR_DATO
0,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,MAIL,AMEX_PARM,AT
1,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,MAIL,AMEX_QRPM,AT
2,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,MAIL,AMEX_TNCM,AT
3,RMS376686432352005,27172327759,LIC ADRIANA M BOSCO,abosco@estudiobosco.com.ar ...,MAIL,AMEX_PALM,AT
4,RMS376686339282008,20118625367,LUIS APOGLESSI,luis_apoglessi@hotmail.com ...,MAIL,AMEX_PALM,AT

In [11]:
df_mails.shape

(446717, 7)

## Condiciones

In [12]:
df_mails = df_mails[df_mails['DATO'].str.contains("@")]

In [13]:
df_mails.shape

(446260, 7)

In [14]:
df_mails.head(20)

,IDMOROSO,NRO_DOC,NOMBRE,DATO,TIPO,IDCLIENTE,PROVEEDOR_DATO
0,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,MAIL,AMEX_PARM,AT
1,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,MAIL,AMEX_QRPM,AT
2,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,MAIL,AMEX_TNCM,AT
3,RMS376686432352005,27172327759,LIC ADRIANA M BOSCO,abosco@estudiobosco.com.ar ...,MAIL,AMEX_PALM,AT
4,RMS376686339282008,20118625367,LUIS APOGLESSI,luis_apoglessi@hotmail.com ...,MAIL,AMEX_PALM,AT
5,RMS376686766461000,20280263622,HUGO RODRIGUEZ,hugo_chevi@hotmail.com ...,MAIL,AMEX_PALM,AT
6,RMS376711256072008,23 22007910 4,MARTA VIDAL,kvidalmdq@gmail.com ...,MAIL,AMEX_TNLM,AT
7,RMS376686872491008,27148442180,ELICIA FLAMENCO,rollercica@hotmail.com ...,MAIL,AMEX_PALM,AT
8,DNI 35973322,DNI 35973322,SAN PEDRO GASTON,gastonsp@hotmail.com ...,MAIL,HSBC_LEGALES14,AT
9,DNI 35973322,DNI 35973322,SAN PEDRO GASTON,gastonsp@hotmail.com ...,MAIL,HSBC_LEGALES2016,AT
10,RMS376711575121007,27211417302,ANDREA CROCHE,andreacroche@hotmail.com ...,MAIL,AMEX_PALM,AT
11,RMS376686156762009,23179646889,MARCELO ROMANGNOLI,marceroma01@hotmail.com ...,MAIL,AMEX_PALM,AT
12,RMS376687474732005,20177361993,LUIS A CORDOBA,ing.alfredo.cordoba@gmail.com ...,MAIL,AMEX_TNLM,AT
13,RMS376686887441006,23057490454,RAMONA BEATRIZ BAZAN,bea.bazan@gmail.com ...,MAIL,AMEX_PALM,AT
14,RMS376686049212006,20131373857,EDUARDO JORGE FERRO,ejferro@gmail.com ...,MAIL,AMEX_TNLM,AT
15,RMS376633477623007,20044371252,NORBERTO J M SEVERO,NORBERTO.SEVERO@GMAIL.COM ...,MAIL,AMEX_TNLM,AT
16,RMS376686104731007,20161284557,RAUL WALTER OCHOA,RAULWALTEROCHOA@YAHOO.COM.AR ...,MAIL,AMEX_PALM,AT
17,RMS376408482081008,20245386614,GABRIEL VIAMONTE,guimonte@hotmail.com ...,MAIL,AMEX_PBRM,AT
18,RMS376408482081008,20245386614,GABRIEL VIAMONTE,guimonte@hotmail.com ...,MAIL,AMEX_TNRM,AT
19,RMS376711588171007,20246464287,ROBERTO FLORES,robertoflores1975@yahoo.com.ar ...,MAIL,AMEX_PALM,AT

In [15]:
#df_mails.to_csv('df_mails_test.csv')

## Columna Tipo

In [16]:
tipo_dato = 'EMAIL'

In [17]:
df_mails = df_mails.assign(TIPO=tipo_dato)

# 8) Columna Subtipo

Agregamos la columna SUBTIPO, que va a contener información sobre el tipo de mail que se encuentra en el campo Dato.

- Personal: @yahoo, @gmail, @hotmail, @outlook, @live.
- Laboral: el resto.

Llevamos toda la columna DATO a Lowercase

In [18]:
df_mails['DATO'] = df_mails['DATO'].str.lower()

Verificamos que la string contenga esos casos:

In [19]:
df_mails.loc[(df_mails['DATO'].str.contains('@yahoo', na=False)) | 
             (df_mails['DATO'].str.contains('@gmail', na=False)) |
             (df_mails['DATO'].str.contains('@outlook', na=False)) |
             (df_mails['DATO'].str.contains('@hotmail', na=False)) |
             (df_mails['DATO'].str.contains('@live', na=False)) , 'SUBTIPO'] = 'PERSONAL'

Para los mails laborales, evaluamos los casos contrarios:

In [20]:
df_mails.loc[~(df_mails['DATO'].str.contains('@yahoo', na=False)) & 
             ~(df_mails['DATO'].str.contains('@gmail', na=False)) &
             ~(df_mails['DATO'].str.contains('@outlook', na=False)) &
             ~(df_mails['DATO'].str.contains('@hotmail', na=False)) &
             ~(df_mails['DATO'].str.contains('@live', na=False)) , 'SUBTIPO'] = 'LABORAL'

In [21]:
df_mails.head()

,IDMOROSO,NRO_DOC,NOMBRE,DATO,TIPO,IDCLIENTE,PROVEEDOR_DATO,SUBTIPO
0,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_PARM,AT,PERSONAL
1,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_QRPM,AT,PERSONAL
2,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_TNCM,AT,PERSONAL
3,RMS376686432352005,27172327759,LIC ADRIANA M BOSCO,abosco@estudiobosco.com.ar ...,EMAIL,AMEX_PALM,AT,LABORAL
4,RMS376686339282008,20118625367,LUIS APOGLESSI,luis_apoglessi@hotmail.com ...,EMAIL,AMEX_PALM,AT,PERSONAL

# 9) Columna Score

El campo **Score** se construye en función de los datos obtenidos:

- Nivel 5: Dato que otorga la propia persona.
- Nivel 4: Dato que otorgan los clientes (los bancos) con subtipo Personal.
- Nivel 3: Dato que otorgan los clientes (los bancos) con subtipo Laboral.
- Nivel 2: Dato que otorga un proveedor externo (Informes Digitales en este caso), con subtipo "Personal".
- Nivel 1: Dato que otorga un proveedor externo, pero tiene como subtipo "Laboral".

In [22]:
# Nivel 1: Laboral, proveedor externo.

df_mails.loc[(df_mails['SUBTIPO'] == 'LABORAL') , 'SCORE_DATO'] = 3

In [23]:
# Nivel 2: Personal, proveedor externo.

df_mails.loc[(df_mails['SUBTIPO'] == 'PERSONAL') , 'SCORE_DATO'] = 4

In [24]:
df_mails.head()

,IDMOROSO,NRO_DOC,NOMBRE,DATO,TIPO,IDCLIENTE,PROVEEDOR_DATO,SUBTIPO,SCORE_DATO
0,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_PARM,AT,PERSONAL,4.0
1,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_QRPM,AT,PERSONAL,4.0
2,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_TNCM,AT,PERSONAL,4.0
3,RMS376686432352005,27172327759,LIC ADRIANA M BOSCO,abosco@estudiobosco.com.ar ...,EMAIL,AMEX_PALM,AT,LABORAL,3.0
4,RMS376686339282008,20118625367,LUIS APOGLESSI,luis_apoglessi@hotmail.com ...,EMAIL,AMEX_PALM,AT,PERSONAL,4.0

# 10) Columna Fecha

Para el campo FECHA_INGRESO_DATO, usamos la fecha en la que se hace la inserción de los datos:

In [25]:
fecha_ingreso = pd.to_datetime('today')

In [26]:
df_mails = df_mails.assign(FECHA_INGRESO_DATO=fecha_ingreso)

In [27]:
df_mails.head()

,IDMOROSO,NRO_DOC,NOMBRE,DATO,TIPO,IDCLIENTE,PROVEEDOR_DATO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO
0,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_PARM,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793
1,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_QRPM,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793
2,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_TNCM,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793
3,RMS376686432352005,27172327759,LIC ADRIANA M BOSCO,abosco@estudiobosco.com.ar ...,EMAIL,AMEX_PALM,AT,LABORAL,3.0,2021-01-15 13:51:42.812793
4,RMS376686339282008,20118625367,LUIS APOGLESSI,luis_apoglessi@hotmail.com ...,EMAIL,AMEX_PALM,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793

# 11) Campos adicionales

Creamos las columnas VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, que en principio van en nulls.

In [28]:
df_mails['VERIFICADO'] = False

In [29]:
df_mails['FECHA_VERIFICACION'] = np.nan

In [30]:
df_mails['OPERADOR_VERIFICACION'] = np.nan

In [31]:
df_mails.head()

,IDMOROSO,NRO_DOC,NOMBRE,DATO,TIPO,IDCLIENTE,PROVEEDOR_DATO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION
0,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_PARM,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793,False,NaN,NaN
1,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_QRPM,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793,False,NaN,NaN
2,RMS376418336611009,20126429380,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_TNCM,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793,False,NaN,NaN
3,RMS376686432352005,27172327759,LIC ADRIANA M BOSCO,abosco@estudiobosco.com.ar ...,EMAIL,AMEX_PALM,AT,LABORAL,3.0,2021-01-15 13:51:42.812793,False,NaN,NaN
4,RMS376686339282008,20118625367,LUIS APOGLESSI,luis_apoglessi@hotmail.com ...,EMAIL,AMEX_PALM,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793,False,NaN,NaN

# 12) Propietario del Dato

In [32]:
df_mails = df_mails.assign(PROPIETARIO_DATO='Propio')

Dropeamos aquellos que tengan NaN en la columna Telefono

In [33]:
df_mails = df_mails.dropna(subset=['DATO'])

In [34]:
df_mails.shape

(446260, 14)

## 12.2) DNI Cleaning

Limpiamos el dataframe __df_pyp__, ya que dentro de DATO_A_ENVIAR tenemos 9 tipos de casos diferentes de datos:

- DNI 12345678
- DNI12345678
- DNIE1234678
- LC  1234567
- LE  1234567
- CUIT00123456780
- 00123456780 --> Es un CUIT.
- 00 12345678 0 --> Es un CUIT.
- DNI 00123456780 --> Dice DNI pero es un CUIT de una persona __jurídica__ (TO DO)

Para eso definimos 5 funciones:

- __Tipo_DOC__: Se definen dos funciones para determinar el tipo de DNI. Una inicial, y otra para corregir sobre el dataframe resultante.
- __Standard DNI__: Estandariza los DNI para 7 de los casos. Esta función debe ejecutarse en primer lugar.
- __DNI Spaces__: Elimina los espacios.
- __DNI Zero__: Elimina los ceros iniciales de ciertos CUITs para que coincidan con los DNI.
- __Cuit__: Decisión sobre dejar un cuit o volverlo DNI

In [35]:
def tipo_doc_1 (string_dni):
    
    if 'DNI' in string_dni:
        tipo = 'DNI'
    
    elif 'LC' in string_dni:
        tipo = 'LC'
    
    elif 'LE' in string_dni:
        tipo = 'LE'
    
    elif 'DNIE' in string_dni:
        tipo = 'DNIE'    
    
    elif ((string_dni.startswith(('CUIT30','CUIT33','CUIT34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'
        
    elif ((string_dni.startswith(('30','33','34'))) & (len(string_dni)>8)):
        tipo = 'CUIT'

    elif ((string_dni.startswith(('20','23','24','27'))) & (len(string_dni)>8)):
        tipo = 'DNI'

    elif ((string_dni.startswith(('CUIT20','CUIT23','CUIT24','CUIT27'))) & (len(string_dni)>8)):
        tipo = 'DNI'
        
    else:
        tipo = 'DNI'
    
    return tipo

In [36]:
def tipo_doc_2 (string_dni, tipo_original):
    
    if (len(string_dni) > 8) & (tipo_original == 'DNI'):
        tipo = 'CUIT'
    else:
        tipo = tipo_original
    return tipo

In [37]:
def standard_dni (string_dni):
    """DNI separation by each case.
    """
    
    if 'DNI ' in string_dni:
        dni = string_dni.split('DNI ')[1]
        
    elif 'DNIE' in string_dni:
        dni = string_dni.split('DNIE')[1]
    
    elif 'DNI' in string_dni:
        dni = string_dni.split('DNI')[1]
    
    elif 'LC  ' in string_dni:
        dni = string_dni.split('LC  ')[1]
    
    elif 'LE  ' in string_dni:
        dni = string_dni.split('LE  ')[1]
    
    elif 'CUIT' in string_dni:
        dni = string_dni.split('CUIT')[1]
    
    elif 'COL ' in string_dni:
        dni = string_dni.split('COL ')[1]
        
    elif 'BBVA' in string_dni:
        dni = string_dni.split('BBVA')[1]
                
        
    else:
        dni = string_dni
        
    return dni

In [38]:
def dni_characters (string_dni):
    
    if ' ' in string_dni:
        dni = string_dni.replace(' ','')
        
    elif '-' in string_dni:
        dni = string_dni.replace('-','')

    else:
        dni = string_dni
    
    return dni

In [39]:
def cuit (string_dni):
    
    if ((string_dni.startswith('20')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('23')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]
        
    elif ((string_dni.startswith('24')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    elif ((string_dni.startswith('27')) & (len(string_dni)>8)):
        cuit = string_dni [2:-1]

    else:
        cuit = string_dni
        
    return cuit

In [40]:
def dni_zero (string_dni):
    
    if string_dni.startswith('0'):
        dni = string_dni [1:]

    else:
        dni = string_dni
    
    return dni

En primer lugar, trimmeamos los espacios que sobran:

In [41]:
df_mails ['IDCLIENTE'].value_counts()

FRANCES_2012            163037
AMEX_PLATINUM            55282
BSR_TARDIA               39691
PRISMA                   38323
FRANCES_IVR              27096
                         ...
GIGARED_VENTAS               2
BBVA_CEPO                    2
BACS_INSOLUTO                1
BBVA_ANSES                   1
PATAGONIA                    1
Name: IDCLIENTE, Length: 97, dtype: int64

**Dropeo los que no tienen IDCLIENTE**

In [42]:
#df_mails = df_mails.dropna (subset=['IDCLIENTE'])

In [43]:
df_mails.loc[df_mails['IDMOROSO'].str.startswith('BSOL',na=False), 'NRO_DOC'] = df_mails['IDMOROSO'].str.slice(start=4)

In [44]:
df_mails.loc[df_mails['IDMOROSO'].str.startswith('BRAIN',na=False), 'NRO_DOC'] = df_mails['IDMOROSO'].str.slice(start=5)

In [45]:
df_mails.loc[(df_mails['IDCLIENTE'].str.startswith('AMEX')) | 
             (df_mails['IDCLIENTE'].str.startswith ('CHUBB')), 'CUIT_CUIL'] = df_mails['NRO_DOC']

In [46]:
df_mails['NRO_DOC'] = df_mails['NRO_DOC'].str.strip()

Se implementan estas funciones:

Para determinar el __TIPO DE DOCUMENTO__ en primer lugar:

In [47]:
df_mails = df_mails.astype({'NRO_DOC': 'str'})

In [48]:
df_mails['TIPO_DOC'] = df_mails['NRO_DOC'].apply(tipo_doc_1)

Para la limpieza de DNIs:

In [49]:
df_mails['NRO_DOC'] = df_mails['NRO_DOC'].apply(standard_dni)

In [50]:
df_mails['NRO_DOC'] = df_mails['NRO_DOC'].apply(dni_characters)

In [51]:
df_mails['NRO_DOC'] = df_mails['NRO_DOC'].apply(cuit)

In [52]:
df_mails['NRO_DOC'] = df_mails['NRO_DOC'].apply(dni_zero)

Para corregir el __TIPO DE DOCUMENTO__ sobre el dataframe resultante

In [53]:
df_mails['TIPO_DOC'] = df_mails.apply(lambda x: tipo_doc_2(x['NRO_DOC'], x['TIPO_DOC']), axis=1)

In [54]:
df_mails.head()

,IDMOROSO,NRO_DOC,NOMBRE,DATO,TIPO,IDCLIENTE,PROVEEDOR_DATO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,PROPIETARIO_DATO,CUIT_CUIL,TIPO_DOC
0,RMS376418336611009,12642938,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_PARM,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793,False,NaN,NaN,Propio,20126429380,DNI
1,RMS376418336611009,12642938,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_QRPM,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793,False,NaN,NaN,Propio,20126429380,DNI
2,RMS376418336611009,12642938,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_TNCM,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793,False,NaN,NaN,Propio,20126429380,DNI
3,RMS376686432352005,17232775,LIC ADRIANA M BOSCO,abosco@estudiobosco.com.ar ...,EMAIL,AMEX_PALM,AT,LABORAL,3.0,2021-01-15 13:51:42.812793,False,NaN,NaN,Propio,27172327759,DNI
4,RMS376686339282008,11862536,LUIS APOGLESSI,luis_apoglessi@hotmail.com ...,EMAIL,AMEX_PALM,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793,False,NaN,NaN,Propio,20118625367,DNI

In [55]:
df_mails.shape

(446260, 16)

## Campos adicionales

Asigno campos adicionales que no tengo

In [56]:
#df_mails = df_mails.assign(CUIT_CUIL=np.nan)

In [57]:
df_mails.head()

,IDMOROSO,NRO_DOC,NOMBRE,DATO,TIPO,IDCLIENTE,PROVEEDOR_DATO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,PROPIETARIO_DATO,CUIT_CUIL,TIPO_DOC
0,RMS376418336611009,12642938,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_PARM,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793,False,NaN,NaN,Propio,20126429380,DNI
1,RMS376418336611009,12642938,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_QRPM,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793,False,NaN,NaN,Propio,20126429380,DNI
2,RMS376418336611009,12642938,OSCAR R CARLES,oscarles09@hotmail.com ...,EMAIL,AMEX_TNCM,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793,False,NaN,NaN,Propio,20126429380,DNI
3,RMS376686432352005,17232775,LIC ADRIANA M BOSCO,abosco@estudiobosco.com.ar ...,EMAIL,AMEX_PALM,AT,LABORAL,3.0,2021-01-15 13:51:42.812793,False,NaN,NaN,Propio,27172327759,DNI
4,RMS376686339282008,11862536,LUIS APOGLESSI,luis_apoglessi@hotmail.com ...,EMAIL,AMEX_PALM,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793,False,NaN,NaN,Propio,20118625367,DNI

# Export

In [58]:
df_export = df_mails[['IDMOROSO','TIPO_DOC','NRO_DOC','CUIT_CUIL','TIPO','SUBTIPO','DATO','PROPIETARIO_DATO','PROVEEDOR_DATO','FECHA_INGRESO_DATO','VERIFICADO','FECHA_VERIFICACION','OPERADOR_VERIFICACION','SCORE_DATO']]

In [59]:
df_export = df_export.drop_duplicates()

In [60]:
df_export.shape

(277329, 14)

In [61]:
duplicates = df_export [df_export.duplicated(subset=['IDMOROSO','DATO'],keep=False)]

In [62]:
duplicates.shape

(0, 14)

In [63]:
#non_duplicates = df_export[~df_export.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [64]:
#non_duplicates.shape

In [65]:
#df_export_at = pd.concat([non_duplicates,duplicates])
df_export_at = df_export

In [66]:
#df_export_at.shape

In [67]:
#df_export_at [df_export_at.duplicated(subset=['IDMOROSO','DATO'],keep=False)]

In [68]:
#df_export_at[df_export_at['IDMOROSO'] == 'DNIE95405894      ']

# Issue: quedarme con la string que tenga @

In [69]:
df_export_at ['DATO'] = df_export_at['DATO'].str.strip().str.split(' ')

In [70]:
df_export_at = df_export_at.explode('DATO')

In [71]:
df_export_at = df_export_at[df_export_at.DATO.str.contains("@")]

In [72]:
df_export_at[df_export_at['IDMOROSO'] == 'DNIE95405894      ']

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
116409,DNIE95405894,DNI,95405894,NaN,EMAIL,LABORAL,\tjerecundinocuero@gmai,Propio,AT,2021-01-15 13:51:42.812793,False,NaN,NaN,3.0

## Duplicados

In [73]:
df_export_at = df_export_at.drop_duplicates()

In [74]:
df_export_at[df_export_at.duplicated(subset=['IDMOROSO','DATO'])]

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
83416,DNI 29492319,DNI,29492319,NaN,EMAIL,LABORAL,abartolome@expresooronegro.com,Propio,AT,2021-01-15 13:51:42.812793,False,NaN,NaN,3.0
85804,DNI 12623904,DNI,12623904,NaN,EMAIL,LABORAL,mledesma@unimoron.edu.ar,Propio,AT,2021-01-15 13:51:42.812793,False,NaN,NaN,3.0
109593,DNI 26218371,DNI,26218371,NaN,EMAIL,LABORAL,martin.chuquer@mastergarden.com.ar,Propio,AT,2021-01-15 13:51:42.812793,False,NaN,NaN,3.0
181353,DNI 25597304,DNI,25597304,NaN,EMAIL,LABORAL,jmurua@mymultilevel.com,Propio,AT,2021-01-15 13:51:42.812793,False,NaN,NaN,3.0
257942,LE 6755082,LE,6755082,NaN,EMAIL,LABORAL,efpisatti@speedy.com.ar,Propio,AT,2021-01-15 13:51:42.812793,False,NaN,NaN,3.0
328206,DNI 31595915,DNI,31595915,NaN,EMAIL,LABORAL,epmartinez@cnc.gov.ar,Propio,AT,2021-01-15 13:51:42.812793,False,NaN,NaN,3.0
337597,DNI 34317644,DNI,34317644,NaN,EMAIL,LABORAL,jimenamari@ggmail.com,Propio,AT,2021-01-15 13:51:42.812793,False,NaN,NaN,3.0
339246,DNI 19040588,DNI,19040588,NaN,EMAIL,LABORAL,rdiaz@securitasargentina.com,Propio,AT,2021-01-15 13:51:42.812793,False,NaN,NaN,3.0
359895,DNI 42006682,DNI,42006682,NaN,EMAIL,LABORAL,nobrinda@nobrinda.com,Propio,AT,2021-01-15 13:51:42.812793,False,NaN,NaN,3.0
370659,DNI 27434972,DNI,27434972,NaN,EMAIL,LABORAL,briela@iclaro.com.ar,Propio,AT,2021-01-15 13:51:42.812793,False,NaN,NaN,3.0
374613,DNI 33747009,DNI,33747009,NaN,EMAIL,LABORAL,glopez@devspark.com,Propio,AT,2021-01-15 13:51:42.812793,False,NaN,NaN,3.0

In [75]:
dups_mail = df_export_at[df_export_at.duplicated(subset=['IDMOROSO','DATO'], keep=False)]

In [76]:
dups_mail.to_csv('dups_mail.csv',index=False)

In [77]:
df_mails[df_mails['IDMOROSO']== 'DNI 12623904      ']

,IDMOROSO,NRO_DOC,NOMBRE,DATO,TIPO,IDCLIENTE,PROVEEDOR_DATO,SUBTIPO,SCORE_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,PROPIETARIO_DATO,CUIT_CUIL,TIPO_DOC
66717,DNI 12623904,12623904,LEDESMA MIRTA ESTER,mledesma@unimoron.edu.ar eledesma@hotmail.com...,EMAIL,FRANCES_2012,AT,PERSONAL,4.0,2021-01-15 13:51:42.812793,False,NaN,NaN,Propio,NaN,DNI
85804,DNI 12623904,12623904,LEDESMA MIRTA ESTER,mledesma@unimoron.edu.ar ...,EMAIL,FRANCES_2012,AT,LABORAL,3.0,2021-01-15 13:51:42.812793,False,NaN,NaN,Propio,NaN,DNI

In [78]:
df[df['IDMOROSO']== 'DNI 12623904      ']

,IDMOROSO,NRO_DOC,NOMBRE,DATO,TIPO,IDCLIENTE,PROVEEDOR_DATO
66717,DNI 12623904,DNI 12623904,LEDESMA MIRTA ESTER,MLEDESMA@UNIMORON.EDU.AR ELEDESMA@HOTMAIL.COM...,MAIL,FRANCES_2012,AT
85804,DNI 12623904,DNI 12623904,LEDESMA MIRTA ESTER,MLEDESMA@UNIMORON.EDU.AR ...,MAIL,FRANCES_2012,AT

In [79]:
df_export_at.shape

(277589, 14)

In [80]:
dups_mail.shape

(22, 14)

Exportamos al pipeline de duplicados.

### Post pipeline Duplicados

In [81]:
subset_add_1 = pd.read_csv('D:\MOPC\Enriquecimiento de Datos\Data Cleaning\Active\Exports\DAM_CONTACTABILIDAD\subset_mails_non_dups.csv')

In [82]:
subset_add_1.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 29492319,DNI,29492319,NaN,EMAIL,PERSONAL,abartolome@expresooronegro.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
1,DNI 12623904,DNI,12623904,NaN,EMAIL,PERSONAL,mledesma@unimoron.edu.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
2,DNI 26218371,DNI,26218371,NaN,EMAIL,PERSONAL,martin.chuquer@mastergarden.com.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
3,DNI 25597304,DNI,25597304,NaN,EMAIL,PERSONAL,jmurua@mymultilevel.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
4,LE 6755082,LE,6755082,NaN,EMAIL,PERSONAL,efpisatti@speedy.com.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0

In [83]:
non_duplicates = df_export_at[~df_export_at.duplicated(subset=['IDMOROSO','DATO','PROVEEDOR_DATO'],keep=False)]

In [84]:
df_export_mails = pd.concat([subset_add_1,non_duplicates],ignore_index=True)

In [85]:
df_export_mails.shape

(277578, 14)

In [86]:
df_export_mails[df_export_mails.duplicated(subset=['IDMOROSO','DATO'],keep = False)]

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO]
Index: []

## Final Cleaning

IF BSOL en NRO_DOC, trimmear los primeros 4 caracteres.

In [87]:
#df_export_mails.loc[df_export_mails['IDMOROSO'].str.startswith('BSOL',na=False), 'NRO_DOC'] = df_export_mails['IDMOROSO'].str.slice(start=4)

In [88]:
df_export_mails.loc[df_export_mails['NRO_DOC'].str.startswith('Ing',na=False), 'NRO_DOC'] = np.nan

In [89]:
df_export_mails = df_export_mails.astype({'CUIT_CUIL': 'str'})

In [90]:
df_export_mails['CUIT_CUIL'] = df_export_mails['CUIT_CUIL'].str.strip()

In [91]:
df_export_mails.loc[df_export_mails['CUIT_CUIL'].str.startswith('Ing',na=False), 'CUIT_CUIL'] = np.nan

In [92]:
len(df_export_mails['CUIT_CUIL'][132678])

8

In [93]:
df_export_mails[df_export_mails['IDMOROSO']== 'RMS376408462261000']

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
132652,RMS376408462261000,DNI,6719393,6719393,EMAIL,PERSONAL,leobressi@gmail.com,Propio,AT,2021-01-15 13:51:42.812793,False,NaN,NaN,4.0

In [94]:
#df_export_mails.loc[df_export_mails['CUIT_CUIL'].str.len() < 11, 'CUIT_CUIL'] = np.nan

In [95]:
df_export_mails.loc[df_export_mails['IDMOROSO'].str.startswith('CUIT',na=False), 'CUIT_CUIL'] = df_export_mails['NRO_DOC']

In [96]:
df_export_mails[df_export_mails['IDMOROSO']== 'RMS376408462261000']

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
132652,RMS376408462261000,DNI,6719393,6719393,EMAIL,PERSONAL,leobressi@gmail.com,Propio,AT,2021-01-15 13:51:42.812793,False,NaN,NaN,4.0

In [97]:
df_export_mails[df_export_mails.index.duplicated()] #indices duplicados al hacer el concat

Empty DataFrame
Columns: [IDMOROSO, TIPO_DOC, NRO_DOC, CUIT_CUIL, TIPO, SUBTIPO, DATO, PROPIETARIO_DATO, PROVEEDOR_DATO, FECHA_INGRESO_DATO, VERIFICADO, FECHA_VERIFICACION, OPERADOR_VERIFICACION, SCORE_DATO]
Index: []

In [98]:
df_export_mails.loc[df_export_mails['NRO_DOC'].str.contains('$',regex=False,na=False), 'NRO_DOC'] = np.nan

In [99]:
df_export_mails.loc[df_export_mails['NRO_DOC'].str.contains('-',regex=False,na=False), 'NRO_DOC'] = np.nan

In [100]:
df_export_mails.loc[df_export_mails['CUIT_CUIL'].str.contains('$',regex=False,na=False), 'CUIT_CUIL'] = np.nan

In [101]:
df_export_mails.loc[df_export_mails['CUIT_CUIL'].str.contains('-',regex=False,na=False), 'CUIT_CUIL'] = np.nan

In [102]:
df_export_mails.loc[df_export_mails['NRO_DOC'] == 'nan', 'NRO_DOC'] = np.nan

In [103]:
df_export_mails.loc[df_export_mails['CUIT_CUIL'] == 'nan', 'CUIT_CUIL'] = np.nan

In [104]:
prefijos_dni = ('DNIF','DNIM')

In [105]:
df_export_mails.loc[df_export_mails['IDMOROSO'].str.startswith(prefijos_dni,na=False), 'TIPO_DOC'] = 'DNI'

In [106]:
def subst_char (string):
    x = re.sub("[^0-9]", "", str(string))
    return x

In [107]:
df_export_mails['NRO_DOC'] = df_export_mails.apply(lambda x: subst_char(x['NRO_DOC']), axis=1)

In [108]:
df_export_mails['CUIT_CUIL'] = df_export_mails.apply(lambda x: subst_char(x['CUIT_CUIL']), axis=1)

In [109]:
df_export_mails.shape

(277578, 14)

In [110]:
df_export_mails.loc[df_export_mails['CUIT_CUIL'].str.len() < 11, 'CUIT_CUIL'] = np.nan

## No tiene mail

In [111]:
df_export_mails.loc[df_export_mails['DATO'].str.contains('notiene',regex=False,na=False), 'DATO'] = np.nan

In [112]:
df_export_mails.loc[df_export_mails['DATO'].str.contains('sinmail',regex=False,na=False), 'DATO'] = np.nan

In [113]:
df_export_mails.loc[df_export_mails['DATO'] == 'no@no.com', 'DATO'] = np.nan

In [114]:
df_export_mails.loc[df_export_mails['DATO'] == 'nono@no.com', 'DATO'] = np.nan

In [115]:
df_export_mails.loc[df_export_mails['DATO'] == 'nono@nono.com', 'DATO'] = np.nan

In [116]:
df_export_mails.loc[df_export_mails['DATO'] == 'nonono@no.com', 'DATO'] = np.nan

In [117]:
df_export_mails.loc[df_export_mails['DATO'] == 'no@no.com.ar', 'DATO'] = np.nan

In [118]:
df_export_mails = df_export_mails.dropna(subset=['DATO'])

In [119]:
df_export_mails['DATO'] = df_export_mails['DATO'].str.slice(stop=100)

In [120]:
df_export_mails.shape

(276496, 14)

# Issue

Hay 36 casos que tienen una string demasiado larga y hay problemas con la inserción.

In [121]:
issued_data = df_export_mails[df_export_mails['DATO'].str.len()>50]

In [122]:
df_export_mails = df_export_mails[df_export_mails['DATO'].str.len()<=50]

In [123]:
df_export_mails.shape

(276460, 14)

In [124]:
issued_data.shape

(36, 14)

In [125]:
df_export_mails.head()

,IDMOROSO,TIPO_DOC,NRO_DOC,CUIT_CUIL,TIPO,SUBTIPO,DATO,PROPIETARIO_DATO,PROVEEDOR_DATO,FECHA_INGRESO_DATO,VERIFICADO,FECHA_VERIFICACION,OPERADOR_VERIFICACION,SCORE_DATO
0,DNI 29492319,DNI,29492319,NaN,EMAIL,PERSONAL,abartolome@expresooronegro.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
1,DNI 12623904,DNI,12623904,NaN,EMAIL,PERSONAL,mledesma@unimoron.edu.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
2,DNI 26218371,DNI,26218371,NaN,EMAIL,PERSONAL,martin.chuquer@mastergarden.com.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
3,DNI 25597304,DNI,25597304,NaN,EMAIL,PERSONAL,jmurua@mymultilevel.com,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0
4,LE 6755082,LE,6755082,NaN,EMAIL,PERSONAL,efpisatti@speedy.com.ar,Propio,AT,2021-01-14 15:44:04.774014,False,NaN,NaN,4.0

In [126]:
df_export_mails.to_csv('D:\MOPC\Enriquecimiento de Datos\Data Cleaning\Active\Exports\DAM_CONTACTABILIDAD\AT_DAM_CONTACTABILIDAD_mails_1501.csv',index=False)

In [127]:
issued_data.to_csv('D:\MOPC\Enriquecimiento de Datos\Data Cleaning\Active\Exports\DAM_CONTACTABILIDAD\AT_DAM_CONTACTABILIDAD_mails_1501_2.csv',index=False)