In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Base Enriquecida - completa - v2.csv')

In [3]:
df ['DOCUMENTO'] = df['DOCUMENTO'].astype(str)

In [4]:
df.DOCUMENTO = df.DOCUMENTO.str.strip()

In [5]:
df[df['DOCUMENTO'] == '41277861']

     DOCUMENTO            IDMOROSO         TIPO           DATO  SCORE_DATO
5899  41277861        DNI 41277861  TEL.CELULAR     3624603039        77.0
5900  41277861  DNI 41277861           TEL.FIJO  0362154360701       103.0
5901  41277861        DNI 41277861  TEL.CELULAR     3625265226        90.0
5902  41277861        DNI 41277861  TEL.CELULAR     3624540964        77.0
5903  41277861        DNI 41277861  TEL.CELULAR     3624666014        77.0
5904  41277861        DNI 41277861  TEL.CELULAR     3624007069        90.0
5905  41277861        DNI 41277861  TEL.CELULAR     3624624087        77.0
5906  41277861        DNI 41277861  TEL.CELULAR     3624065605        77.0

Vamos a generar 3 dataframes. 

- Uno para celulares.
- Otro para fijos.
- Otro para mails.

En cada uno, vamos a quedarnos solamente con un Ãºnico dato por moroso. 
Finalmente, unimos los 3 dataframes.

In [6]:
df_celular = df [df['TIPO'] == 'TEL.CELULAR']

In [7]:
df_fijo = df [df['TIPO'] == 'TEL.FIJO']

In [8]:
df_email = df [df['TIPO'] == 'EMAIL']

## Celular

In [9]:
df_celular.shape

(2617, 5)

In [10]:
df_celular = df_celular.sort_values (by=['SCORE_DATO'],ascending=False)

In [11]:
df_celular = df_celular.drop_duplicates(subset=['DOCUMENTO'], keep='first')

In [12]:
df_celular['DOCUMENTO'].value_counts().max()

1

Tenemos 1 dato por documento

## Fijos

In [13]:
df_fijo.shape

(3910, 5)

In [14]:
df_fijo = df_fijo.sort_values (by=['SCORE_DATO'], ascending=False)

In [15]:
df_fijo.head(15)

     DOCUMENTO            IDMOROSO      TIPO           DATO  SCORE_DATO
4230  31704997  DNI 31704997        TEL.FIJO     1532596668       125.0
1125  17862321  DNI 17862321        TEL.FIJO     1551502599       125.0
3925  30451381  DNI 30451381        TEL.FIJO  0223155283282       120.0
105   10952009  DNI 10952009        TEL.FIJO       43411000       120.0
3756  29658062  DNI 29658062        TEL.FIJO    03416791192       120.0
5487  38328690  DNI 38328690        TEL.FIJO  0351156147259       120.0
5973  41912247  DNI 41912247        TEL.FIJO       42394100       120.0
1201  18155908  DNI 18155908        TEL.FIJO       46041039       120.0
3083  27068054  DNI 27068054        TEL.FIJO       44545511       120.0
1230  18245278  DNI 18245278        TEL.FIJO       46210528       120.0
4434  32546583  DNI 32546583        TEL.FIJO    03414555525       120.0
1733  21983088  DNI 21983088        TEL.FIJO     1132265457       120.0
5422  37882180  DNI 37882180        TEL.FIJO  0379154158724       120.0
5517  38453878  DNI 38453878        TEL.FIJO  0221153094437       120.0
102   10939067  DNI 10939067        TEL.FIJO       46351894       120.0

In [16]:
df_fijo = df_fijo.drop_duplicates(subset=['DOCUMENTO'], keep='first')

In [17]:
df_fijo['DOCUMENTO'].value_counts().max()

1

In [18]:
df_fijo.head(15)

     DOCUMENTO            IDMOROSO      TIPO           DATO  SCORE_DATO
4230  31704997  DNI 31704997        TEL.FIJO     1532596668       125.0
1125  17862321  DNI 17862321        TEL.FIJO     1551502599       125.0
3925  30451381  DNI 30451381        TEL.FIJO  0223155283282       120.0
105   10952009  DNI 10952009        TEL.FIJO       43411000       120.0
3756  29658062  DNI 29658062        TEL.FIJO    03416791192       120.0
5487  38328690  DNI 38328690        TEL.FIJO  0351156147259       120.0
5973  41912247  DNI 41912247        TEL.FIJO       42394100       120.0
1201  18155908  DNI 18155908        TEL.FIJO       46041039       120.0
3083  27068054  DNI 27068054        TEL.FIJO       44545511       120.0
1230  18245278  DNI 18245278        TEL.FIJO       46210528       120.0
4434  32546583  DNI 32546583        TEL.FIJO    03414555525       120.0
1733  21983088  DNI 21983088        TEL.FIJO     1132265457       120.0
5422  37882180  DNI 37882180        TEL.FIJO  0379154158724       120.0
5517  38453878  DNI 38453878        TEL.FIJO  0221153094437       120.0
102   10939067  DNI 10939067        TEL.FIJO       46351894       120.0

## Mails

In [19]:
df_email.shape

(164, 5)

In [20]:
df_email = df_email.sort_values (by=['SCORE_DATO'], ascending=False)

In [21]:
df_email = df_email.drop_duplicates(subset=['DOCUMENTO'], keep='first')

In [22]:
df_email['DOCUMENTO'].value_counts().max()

1

## ConcatenaciÃ³n de dataframes

In [23]:
df_tels = pd.concat([df_fijo, df_celular])

In [24]:
df_total = pd.concat([df_tels, df_email])

In [25]:
df_total.head()

     DOCUMENTO            IDMOROSO      TIPO           DATO  SCORE_DATO
4230  31704997  DNI 31704997        TEL.FIJO     1532596668       125.0
1125  17862321  DNI 17862321        TEL.FIJO     1551502599       125.0
3925  30451381  DNI 30451381        TEL.FIJO  0223155283282       120.0
105   10952009  DNI 10952009        TEL.FIJO       43411000       120.0
3756  29658062  DNI 29658062        TEL.FIJO    03416791192       120.0

In [26]:
df_total = df_total.sort_values (by=['DOCUMENTO'])

In [27]:
df_total = df_total [['DOCUMENTO','TIPO','DATO']]

In [28]:
df_total.shape

(5731, 3)

In [29]:
df_total.to_excel ('Devolucion Base Enriquecida.xlsx',index = False)

In [34]:
df2 = df_total

In [35]:
df2.loc[df2['TIPO'] == 'TEL.FIJO','TEL.FIJO'] = df2['DATO']

In [37]:
df2.loc[df2['TIPO'] == 'TEL.CELULAR','TEL.CELULAR'] = df2['DATO']

In [38]:
df2.loc[df2['TIPO'] == 'EMAIL','EMAIL'] = df2['DATO']

In [40]:
df2 = df2 [['DOCUMENTO','TEL.FIJO','TEL.CELULAR','EMAIL']]

In [52]:
df2.to_excel ('Devolucion Base Enriquecida - 2.xlsx',index = False)

In [50]:
df2 = df2.groupby('DOCUMENTO').sum(['TEL.FIJO','TEL.CELULAR','EMAIL'])